modules/step-functions/s3/run_batch_replication.asl.json
{
  "Comment": "Dispatches a single S3 Batch Operations job (S3ReplicateObject) to backfill existing objects on the source bucket, reusing the live ReplicationConfiguration posted by setup (replicates to ALL configured destinations in one job, REPL-05). Uses S3JobManifestGenerator (no S3 Inventory precondition) filtering objects with replication status NONE/FAILED. Native SDK only (no Lambda, REPL-06). The createJob Task assumes the source role imperatively via Credentials.RoleArn.$, passes AccountId explicitly, and supplies a fresh ClientRequestToken via States.UUID() with ConfirmationRequired:false (idempotency, T-07-04). A report is emitted only when a ReportBucketArn is provided (O1: this generic module owns no report bucket).",
  "StartAt": "ShouldEnableReport",
  "States": {
    "ShouldEnableReport": {
      "Type": "Choice",
      "Comment": "O1: branch on optional report bucket. The generic module owns no bucket, so when ReportBucketArn is absent the job runs with Report.Enabled:false (the Report block is still required by the CreateJob API).",
      "Choices": [
        {
          "Variable": "$.ReportBucketArn",
          "IsPresent": true,
          "Next": "CreateBatchJobWithReport"
        }
      ],
      "Default": "CreateBatchJobNoReport"
    },
    "CreateBatchJobWithReport": {
      "Type": "Task",
      "Comment": "Create the S3 Batch Replication job with a completion report. Same-region only (Pitfall 5): AccountId and ExpectedBucketOwner are the source account; the SFN runs in the source region. SourceBucket and Report.Bucket are bucket ARNs, not names.",
      "Resource": "arn:aws:states:::aws-sdk:s3control:createJob",
      "Parameters": {
        "AccountId.$": "$.SourceAccount.AccountId",
        "ConfirmationRequired": false,
        "Priority": 1,
        "ClientRequestToken.$": "States.UUID()",
        "RoleArn.$": "$.BatchReplicationRoleArn",
        "Operation": {
          "S3ReplicateObject": {}
        },
        "Report": {
          "Enabled": true,
          "Bucket.$": "$.ReportBucketArn",
          "Prefix": "batch-replication-report",
          "Format": "Report_CSV_20180820",
          "ReportScope": "AllTasks"
        },
        "ManifestGenerator": {
          "S3JobManifestGenerator": {
            "ExpectedBucketOwner.$": "$.SourceAccount.AccountId",
            "SourceBucket.$": "$.SourceBucketArn",
            "EnableManifestOutput": false,
            "Filter": {
              "EligibleForReplication": true,
              "ObjectReplicationStatuses": ["NONE", "FAILED"]
            }
          }
        }
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultSelector": {
        "JobId.$": "$.JobId"
      },
      "ResultPath": "$.BatchJob",
      "Next": "PrepareOutput",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "BatchJobFailed"
        }
      ]
    },
    "CreateBatchJobNoReport": {
      "Type": "Task",
      "Comment": "Identical to CreateBatchJobWithReport but with Report.Enabled:false (the Report object is still required by the CreateJob API) and no Report.Bucket. Used when no ReportBucketArn is supplied (O1).",
      "Resource": "arn:aws:states:::aws-sdk:s3control:createJob",
      "Parameters": {
        "AccountId.$": "$.SourceAccount.AccountId",
        "ConfirmationRequired": false,
        "Priority": 1,
        "ClientRequestToken.$": "States.UUID()",
        "RoleArn.$": "$.BatchReplicationRoleArn",
        "Operation": {
          "S3ReplicateObject": {}
        },
        "Report": {
          "Enabled": false
        },
        "ManifestGenerator": {
          "S3JobManifestGenerator": {
            "ExpectedBucketOwner.$": "$.SourceAccount.AccountId",
            "SourceBucket.$": "$.SourceBucketArn",
            "EnableManifestOutput": false,
            "Filter": {
              "EligibleForReplication": true,
              "ObjectReplicationStatuses": ["NONE", "FAILED"]
            }
          }
        }
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultSelector": {
        "JobId.$": "$.JobId"
      },
      "ResultPath": "$.BatchJob",
      "Next": "PrepareOutput",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "BatchJobFailed"
        }
      ]
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Comment": "Normalize the success output. Surfaces the JobId for check_batch_replication to consume via $.BatchJob.JobId.",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "run_batch_replication",
        "JobId.$": "$.BatchJob.JobId"
      },
      "ResultPath": "$.Output",
      "Next": "BatchSucceeded"
    },
    "BatchSucceeded": {
      "Type": "Succeed"
    },
    "BatchJobFailed": {
      "Type": "Fail",
      "Error": "BatchReplicationJobFailed",
      "Cause": "Failed to create the S3 Batch Replication job (s3control:createJob). See $.Error for the underlying error."
    }
  }
}
