step-functions/compare/k8s-pvc-compare.asl.json
{
  "Comment": "Compares K8s PVC status between Source and Destination environments. Reads state from DynamoDB and generates comparison report. Handles missing data gracefully with 'pending' status.",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Choice",
      "Comment": "Validate required parameters are present",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.Project",
              "IsPresent": true
            },
            {
              "Variable": "$.SourceEnv",
              "IsPresent": true
            },
            {
              "Variable": "$.DestinationEnv",
              "IsPresent": true
            },
            {
              "Variable": "$.SourceStateKey",
              "IsPresent": true
            },
            {
              "Variable": "$.DestinationStateKey",
              "IsPresent": true
            }
          ],
          "Next": "FetchBothStates"
        }
      ],
      "Default": "ValidationFailed"
    },

    "ValidationFailed": {
      "Type": "Fail",
      "Error": "ValidationError",
      "Cause": "Missing required parameters: Project, SourceEnv, DestinationEnv, SourceStateKey, and DestinationStateKey are required"
    },

    "FetchBothStates": {
      "Type": "Parallel",
      "Comment": "Fetch Source and Destination states in parallel from DynamoDB",
      "Branches": [
        {
          "StartAt": "ParseSourceKey",
          "States": {
            "ParseSourceKey": {
              "Type": "Pass",
              "Comment": "Parse Source state key (format: project#env|check_type)",
              "Parameters": {
                "pk.$": "States.ArrayGetItem(States.StringSplit($.SourceStateKey, '|'), 0)",
                "check_type.$": "States.ArrayGetItem(States.StringSplit($.SourceStateKey, '|'), 1)",
                "source": "source"
              },
              "Next": "FetchSourceState"
            },
            "FetchSourceState": {
              "Type": "Task",
              "Comment": "Fetch Source state from DynamoDB",
              "Resource": "arn:aws:states:::dynamodb:getItem",
              "Parameters": {
                "TableName": "${StateTableName}",
                "Key": {
                  "pk": {
                    "S.$": "$.pk"
                  },
                  "sk": {
                    "S.$": "States.Format('check:{}:current', $.check_type)"
                  }
                }
              },
              "ResultPath": "$.dynamoResult",
              "Next": "CheckSourceDataExists",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "SourceFetchError"
                }
              ]
            },
            "CheckSourceDataExists": {
              "Type": "Choice",
              "Comment": "Check if DynamoDB returned an item",
              "Choices": [
                {
                  "Variable": "$.dynamoResult.Item",
                  "IsPresent": true,
                  "Next": "FormatSourceResult"
                }
              ],
              "Default": "SourceNoData"
            },
            "FormatSourceResult": {
              "Type": "Pass",
              "Comment": "Format result when data exists",
              "Parameters": {
                "source": "source",
                "hasData": true,
                "itemData.$": "$.dynamoResult.Item"
              },
              "End": true
            },
            "SourceNoData": {
              "Type": "Pass",
              "Comment": "Return no-data indicator",
              "Parameters": {
                "source": "source",
                "hasData": false,
                "itemData": null,
                "reason": "No checker data available"
              },
              "End": true
            },
            "SourceFetchError": {
              "Type": "Pass",
              "Comment": "Handle fetch error",
              "Parameters": {
                "source": "source",
                "hasData": false,
                "itemData": null,
                "error.$": "$.error.Error",
                "reason": "DynamoDB fetch failed"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "ParseDestinationKey",
          "States": {
            "ParseDestinationKey": {
              "Type": "Pass",
              "Comment": "Parse Destination state key (format: project#env|check_type)",
              "Parameters": {
                "pk.$": "States.ArrayGetItem(States.StringSplit($.DestinationStateKey, '|'), 0)",
                "check_type.$": "States.ArrayGetItem(States.StringSplit($.DestinationStateKey, '|'), 1)",
                "source": "destination"
              },
              "Next": "FetchDestinationState"
            },
            "FetchDestinationState": {
              "Type": "Task",
              "Comment": "Fetch Destination state from DynamoDB",
              "Resource": "arn:aws:states:::dynamodb:getItem",
              "Parameters": {
                "TableName": "${StateTableName}",
                "Key": {
                  "pk": {
                    "S.$": "$.pk"
                  },
                  "sk": {
                    "S.$": "States.Format('check:{}:current', $.check_type)"
                  }
                }
              },
              "ResultPath": "$.dynamoResult",
              "Next": "CheckDestinationDataExists",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "DestinationFetchError"
                }
              ]
            },
            "CheckDestinationDataExists": {
              "Type": "Choice",
              "Comment": "Check if DynamoDB returned an item",
              "Choices": [
                {
                  "Variable": "$.dynamoResult.Item",
                  "IsPresent": true,
                  "Next": "FormatDestinationResult"
                }
              ],
              "Default": "DestinationNoData"
            },
            "FormatDestinationResult": {
              "Type": "Pass",
              "Comment": "Format result when data exists",
              "Parameters": {
                "source": "destination",
                "hasData": true,
                "itemData.$": "$.dynamoResult.Item"
              },
              "End": true
            },
            "DestinationNoData": {
              "Type": "Pass",
              "Comment": "Return no-data indicator",
              "Parameters": {
                "source": "destination",
                "hasData": false,
                "itemData": null,
                "reason": "No checker data available"
              },
              "End": true
            },
            "DestinationFetchError": {
              "Type": "Pass",
              "Comment": "Handle fetch error",
              "Parameters": {
                "source": "destination",
                "hasData": false,
                "itemData": null,
                "error.$": "$.error.Error",
                "reason": "DynamoDB fetch failed"
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.FetchResults",
      "Next": "CheckDataAvailable",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.FetchError",
          "Next": "FetchFailed"
        }
      ]
    },

    "FetchFailed": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "error": "FetchFailed",
        "message.$": "States.Format('Failed to fetch states: {}', $.FetchError.Error)",
        "project.$": "$.Project",
        "sourceEnv.$": "$.SourceEnv",
        "destinationEnv.$": "$.DestinationEnv"
      },
      "End": true
    },

    "CheckDataAvailable": {
      "Type": "Choice",
      "Comment": "Check if both source and destination have data available",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.FetchResults[0].hasData",
              "BooleanEquals": true
            },
            {
              "Variable": "$.FetchResults[1].hasData",
              "BooleanEquals": true
            }
          ],
          "Next": "CompareStates"
        }
      ],
      "Default": "ReturnPendingStatus"
    },

    "ReturnPendingStatus": {
      "Type": "Pass",
      "Comment": "Return pending status when checker data is missing",
      "Parameters": {
        "status": "pending",
        "project.$": "$.Project",
        "sourceEnv.$": "$.SourceEnv",
        "destinationEnv.$": "$.DestinationEnv",
        "category": "k8s",
        "check_type": "pvc",
        "message": "Waiting for checker data - run checkers first",
        "dataStatus": {
          "sourceHasData.$": "$.FetchResults[0].hasData",
          "sourceReason.$": "$.FetchResults[0].reason",
          "destinationHasData.$": "$.FetchResults[1].hasData",
          "destinationReason.$": "$.FetchResults[1].reason"
        }
      },
      "Next": "SavePendingState"
    },

    "SavePendingState": {
      "Type": "Task",
      "Comment": "Save pending status to DynamoDB so frontend shows correct state",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SaveStateLambdaArn}",
        "Payload": {
          "project.$": "$.project",
          "env.$": "States.Format('comparison:{}:{}', $.sourceEnv, $.destinationEnv)",
          "category.$": "$.category",
          "check_type.$": "$.check_type",
          "payload": {
            "status": "pending",
            "message.$": "$.message",
            "dataStatus.$": "$.dataStatus"
          },
          "updated_by": "step-function:k8s-pvc-compare"
        }
      },
      "ResultSelector": {
        "state_update.$": "$.Payload"
      },
      "ResultPath": "$.SaveResult",
      "Next": "FormatPendingResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.SaveError",
          "Next": "FormatPendingResult"
        }
      ]
    },

    "FormatPendingResult": {
      "Type": "Pass",
      "Comment": "Format pending result for output",
      "Parameters": {
        "status": "pending",
        "project.$": "$.project",
        "sourceEnv.$": "$.sourceEnv",
        "destinationEnv.$": "$.destinationEnv",
        "category.$": "$.category",
        "check_type.$": "$.check_type",
        "message.$": "$.message",
        "dataStatus.$": "$.dataStatus"
      },
      "End": true
    },

    "CompareStates": {
      "Type": "Task",
      "Comment": "Compare Source and Destination states using Lambda",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ComparePvcLambdaArn}",
        "Payload": {
          "project.$": "$.Project",
          "sourceEnv.$": "$.SourceEnv",
          "destinationEnv.$": "$.DestinationEnv",
          "source_state.$": "$.FetchResults[0]",
          "destination_state.$": "$.FetchResults[1]"
        }
      },
      "ResultSelector": {
        "comparison.$": "$.Payload"
      },
      "ResultPath": "$.ComparisonResult",
      "Next": "PrepareComparisonPayload",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CompareError",
          "Next": "CompareFailed"
        }
      ]
    },

    "CompareFailed": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "error": "CompareFailed",
        "message.$": "States.Format('Failed to compare states: {}', $.CompareError.Error)",
        "project.$": "$.Project",
        "sourceEnv.$": "$.SourceEnv",
        "destinationEnv.$": "$.DestinationEnv"
      },
      "End": true
    },

    "PrepareComparisonPayload": {
      "Type": "Pass",
      "Comment": "Prepare comparison payload for DynamoDB in new Dashborion format",
      "Parameters": {
        "project.$": "$.Project",
        "env.$": "States.Format('comparison:{}:{}', $.SourceEnv, $.DestinationEnv)",
        "category": "k8s",
        "check_type": "pvc",
        "payload.$": "$.ComparisonResult.comparison",
        "metadata": {
          "sourceEnv.$": "$.SourceEnv",
          "destinationEnv.$": "$.DestinationEnv",
          "source_key.$": "$.SourceStateKey",
          "destination_key.$": "$.DestinationStateKey"
        },
        "updated_by": "step-function:k8s-pvc-compare"
      },
      "Next": "SaveComparisonState"
    },

    "SaveComparisonState": {
      "Type": "Task",
      "Comment": "Save comparison result to DynamoDB",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SaveStateLambdaArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "state_update.$": "$.Payload"
      },
      "ResultPath": "$.SaveResult",
      "Next": "CheckComparisonStatus",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.SaveError",
          "Next": "SaveFailed"
        }
      ]
    },

    "SaveFailed": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "error": "SaveFailed",
        "message.$": "States.Format('Failed to save comparison: {}', $.SaveError.Error)",
        "project.$": "$.project",
        "env.$": "$.env"
      },
      "End": true
    },

    "CheckComparisonStatus": {
      "Type": "Choice",
      "Comment": "Check if comparison returned an error",
      "Choices": [
        {
          "Variable": "$.payload.status",
          "StringEquals": "error",
          "Next": "FormatErrorResult"
        }
      ],
      "Default": "FormatSuccessResult"
    },

    "FormatErrorResult": {
      "Type": "Pass",
      "Comment": "Format error comparison result",
      "Parameters": {
        "status": "error",
        "project.$": "$.project",
        "env.$": "$.env",
        "category.$": "$.category",
        "check_type.$": "$.check_type",
        "error": {
          "type.$": "$.payload.error",
          "message.$": "$.payload.message"
        },
        "state_update.$": "$.SaveResult.state_update"
      },
      "End": true
    },

    "FormatSuccessResult": {
      "Type": "Pass",
      "Comment": "Format successful comparison result",
      "Parameters": {
        "status": "success",
        "project.$": "$.project",
        "env.$": "$.env",
        "category.$": "$.category",
        "check_type.$": "$.check_type",
        "result": {
          "comparison_status.$": "$.payload.status",
          "summary.$": "$.payload.summary"
        },
        "state_update.$": "$.SaveResult.state_update"
      },
      "End": true
    }
  }
}
