modules/step-functions/orchestrator/refresh_orchestrator.asl.json
{
  "Comment": "Cross-Account Refresh Orchestrator - Full 5-phase flow with database, EFS, and EKS operations",
  "StartAt": "LoadConfiguration",
  "States": {
    "LoadConfiguration": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ConfigS3Path",
          "IsPresent": true,
          "Next": "LoadConfigFromS3"
        }
      ],
      "Default": "ValidateInputs"
    },
    "LoadConfigFromS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Parameters": {
        "Bucket.$": "$.ConfigS3Bucket",
        "Key.$": "$.ConfigS3Path"
      },
      "ResultSelector": {
        "config.$": "States.StringToJson($.Body)"
      },
      "OutputPath": "$.config",
      "Next": "ValidateInputs",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Error",
          "Next": "ConfigLoadFailed"
        }
      ]
    },
    "ValidateInputs": {
      "Type": "Task",
      "Comment": "Validate all inputs and required resources before starting refresh",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.ValidateRefreshConfig",
        "Input": {
          "Database.$": "$.Database",
          "EFS.$": "$.EFS",
          "EKS.$": "$.EKS",
          "SourceAccount.$": "$.SourceAccount",
          "DestinationAccount.$": "$.DestinationAccount",
          "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
          "StepFunctions.$": "$.StepFunctions",
          "Notifications.$": "$.Notifications",
          "Tags.$": "$.Tags"
        },
        "Name.$": "States.Format('{}-ValidateInputs', $$.Execution.Name)"
      },
      "ResultSelector": {
        "ValidationStatus.$": "$.Output.ValidationStatus",
        "Results.$": "$.Output.Results"
      },
      "ResultPath": "$.ValidationResult",
      "Next": "CheckValidationStatus",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.ValidationError",
          "Next": "CheckNotifyEnabled_Failure"
        }
      ]
    },
    "CheckValidationStatus": {
      "Type": "Choice",
      "Comment": "If validation failed, route to failure notification. Otherwise check DryRun mode.",
      "Choices": [
        {
          "Variable": "$.ValidationResult.ValidationStatus",
          "StringEquals": "FAILED",
          "Next": "CheckNotifyEnabled_Failure"
        }
      ],
      "Default": "CheckDryRunMode"
    },
    "CheckDryRunMode": {
      "Type": "Choice",
      "Comment": "If DryRun=true, return validation report without executing refresh",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.DryRun",
              "IsPresent": true
            },
            {
              "Variable": "$.DryRun",
              "BooleanEquals": true
            }
          ],
          "Next": "DryRunComplete"
        }
      ],
      "Default": "PrepareRefresh"
    },
    "DryRunComplete": {
      "Type": "Pass",
      "Comment": "Return validation report for dry-run mode",
      "Parameters": {
        "Status": "DRY_RUN_COMPLETE",
        "ValidationResult.$": "$.ValidationResult"
      },
      "Next": "RefreshComplete"
    },
    "PrepareRefresh": {
      "Type": "Task",
      "Comment": "Prepare resource names and retrieve current tags from destination account",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.PrepareRefresh",
        "Input": {
          "Database.$": "$.Database",
          "EFS.$": "$.EFS",
          "Tags.$": "$.Tags",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-PrepareRefresh', $$.Execution.Name)"
      },
      "ResultSelector": {
        "ResourceNames.$": "$.Output.ResourceNames",
        "CurrentDatabaseTags.$": "$.Output.CurrentDatabaseTags",
        "CurrentEfsTags.$": "$.Output.CurrentEfsTags",
        "OldEfsFileSystemId.$": "$.Output.OldEfsFileSystemId"
      },
      "ResultPath": "$.PrepareResult",
      "Next": "MergePrepareResults",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.PrepareError",
          "Next": "Phase1DataRefresh"
        }
      ]
    },
    "MergePrepareResults": {
      "Type": "Pass",
      "Parameters": {
        "Database.$": "$.Database",
        "EFS.$": "$.EFS",
        "EKS.$": "$.EKS",
        "Tags.$": "$.Tags",
        "SourceAccount.$": "$.SourceAccount",
        "DestinationAccount.$": "$.DestinationAccount",
        "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
        "StepFunctions.$": "$.StepFunctions",
        "Notifications.$": "$.Notifications",
        "ResourceNames.$": "$.PrepareResult.ResourceNames",
        "CurrentDatabaseTags.$": "$.PrepareResult.CurrentDatabaseTags",
        "CurrentEfsTags.$": "$.PrepareResult.CurrentEfsTags",
        "OldEfsFileSystemId.$": "$.PrepareResult.OldEfsFileSystemId",
        "MergedDatabaseTags.$": "$.Tags",
        "MergedEfsTags.$": "$.Tags",
        "ConfigSync.$": "$.ConfigSync",
        "ComputedDumpSubPath.$": "States.Format('refresh-mysqldump-{}-{}', $.EKS.Namespace, $$.Execution.Name)"
      },
      "Next": "CheckEFSReplicationMode"
    },
    "CheckEFSReplicationMode": {
      "Type": "Choice",
      "Comment": "When EFS cross-account replication is active, use synchronized cutoff flow to ensure DB snapshot and EFS data are from the same point in time. Otherwise use standard parallel flow.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.EFS.Enabled",
              "IsPresent": true
            },
            {
              "Variable": "$.EFS.Enabled",
              "BooleanEquals": true
            },
            {
              "Variable": "$.EFS.Source.Account.AccountId",
              "IsPresent": true
            },
            {
              "Not": {
                "Variable": "$.EFS.Source.Account.AccountId",
                "StringEqualsPath": "$.DestinationAccount.AccountId"
              }
            }
          ],
          "Next": "Phase1WithReplication"
        }
      ],
      "Default": "Phase1DataRefresh"
    },
    "Phase1WithReplication": {
      "Type": "Parallel",
      "Comment": "Phase 1 (replication mode): Run mysqldump and EFS replication+sync in parallel. DB restore is deferred to SynchronizedCutoffAndRestore to ensure temporal consistency between DB snapshot and EFS data.",
      "Branches": [
        {
          "Comment": "Branch A: MySQLDump on old cluster (same as standard path)",
          "StartAt": "CheckMysqlDumpOption_Repl",
          "States": {
            "CheckMysqlDumpOption_Repl": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.Database.Options.RunMysqlDumpOldCluster",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.Database.Options.RunMysqlDumpOldCluster",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "RunMysqlDump_Repl"
                }
              ],
              "Default": "MysqlDumpSkipped_Repl"
            },
            "RunMysqlDump_Repl": {
              "Type": "Task",
              "Comment": "Dump tables from old cluster to EFS before restore",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.RunMysqldumpOnEks",
                "Input": {
                  "DbClusterIdentifier.$": "$.Database.Target.ClusterIdentifier",
                  "TablesToDump.$": "$.Database.MySQLOperations.TablesToDump",
                  "EfsPvcName.$": "$.Database.MySQLOperations.EfsPvcName",
                  "DumpSubPath.$": "$.ComputedDumpSubPath",
                  "EKS.$": "$.EKS",
                  "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
                  "StepFunctions.$": "$.StepFunctions",
                  "OrchestratorExecutionName.$": "$$.Execution.Name",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-RunMysqlDump', $$.Execution.Name)"
              },
              "ResultPath": null,
              "Next": "MysqlDumpComplete_Repl",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.DumpError",
                  "Next": "MysqlDumpFailed_Repl"
                }
              ]
            },
            "MysqlDumpComplete_Repl": {
              "Type": "Succeed"
            },
            "MysqlDumpSkipped_Repl": {
              "Type": "Succeed"
            },
            "MysqlDumpFailed_Repl": {
              "Type": "Fail",
              "Error": "MysqlDumpFailed",
              "Cause": "MySQLDump on old cluster failed"
            }
          }
        },
        {
          "Comment": "Branch B: EFS cross-account replication setup, wait for sync, create mount targets, and optionally store SSM",
          "StartAt": "SetupCrossAccountReplication_Repl",
          "States": {
            "SetupCrossAccountReplication_Repl": {
              "Type": "Task",
              "QueryLanguage": "JSONata",
              "Comment": "Setup EFS replication from source to destination account (supports cross-region via ProxyLambdaArn and existing destination EFS via CreateDestinationEFS/DestinationFileSystemId)",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Arguments": {
                "StateMachineArn": "{% $states.input.StepFunctions.EFS.SetupCrossAccountReplication %}",
                "Input": "{% $merge([{'SourceFileSystemId': $states.input.EFS.Source.FileSystemId, 'SourceAccount': $states.input.EFS.Source.Account, 'DestinationAccount': $states.input.DestinationAccount, 'DestinationRegion': $states.input.EFS.Replication.DestinationRegion, 'ReplicationRoleArn': $states.input.EFS.Replication.RoleArn, 'ExistingFileSystemName': $states.input.EFS.Name, 'PerformanceMode': 'generalPurpose', 'Encrypted': true, 'Tags': $states.input.EFS.Tags}, $exists($states.input.EFS.CsiDriverRoleArn) ? {'CsiDriverRoleArn': $states.input.EFS.CsiDriverRoleArn} : {}, $exists($states.input.EFS.Replication.DestinationKmsKeyId) ? {'DestinationKmsKeyId': $states.input.EFS.Replication.DestinationKmsKeyId} : {}, $exists($states.input.EFS.Replication.ProxyLambdaArn) ? {'ProxyLambdaArn': $states.input.EFS.Replication.ProxyLambdaArn} : {}, $exists($states.input.EFS.Replication.CreateDestinationEFS) ? {'CreateDestinationEFS': $states.input.EFS.Replication.CreateDestinationEFS} : {}, ($exists($states.input.EFS.Replication.DestinationFileSystemId) and $states.input.EFS.Replication.DestinationFileSystemId != '') ? {'DestinationFileSystemId': $states.input.EFS.Replication.DestinationFileSystemId} : {}, $exists($states.input.EFS.Replication.UpdateSourcePolicy) ? {'UpdateSourcePolicy': $states.input.EFS.Replication.UpdateSourcePolicy} : {}, $exists($states.input.EFS.Replication.UpdateDestinationPolicy) ? {'UpdateDestinationPolicy': $states.input.EFS.Replication.UpdateDestinationPolicy} : {}]) %}",
                "Name": "{% $states.context.Execution.Name & '-SetupReplication' %}"
              },
              "Output": "{% $merge([$states.input, {'ReplicationSetupResult': $states.result}]) %}",
              "Next": "CheckReplicationSync_Repl",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Output": "{% $merge([$states.input, {'Error': $states.errorOutput}]) %}",
                  "Next": "EFSReplicationFailed_Repl"
                }
              ]
            },
            "CheckReplicationSync_Repl": {
              "Type": "Task",
              "Comment": "Wait for EFS replication to reach near-realtime sync before cutoff",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.CheckReplicationSync",
                "Input": {
                  "SourceFileSystemId.$": "$.EFS.Source.FileSystemId",
                  "DestinationFileSystemId.$": "$.ReplicationSetupResult.Output.DestinationFileSystemId",
                  "SourceAccount.$": "$.EFS.Source.Account",
                  "DestinationAccount.$": "$.DestinationAccount",
                  "Context.$": "$.EFS.Context",
                  "LambdaConfig.$": "$.EFS.LambdaConfig",
                  "SourceSubpathSSMParameter.$": "$.EFS.SSMParameters.SourceEfsSubPath",
                  "Mode": "wait"
                },
                "Name.$": "States.Format('{}-CheckReplSync', $$.Execution.Name)"
              },
              "ResultPath": "$.ReplicationSyncResult",
              "Next": "PrepareEfsResult_Repl",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.Error",
                  "Next": "EFSReplicationFailed_Repl"
                }
              ]
            },
            "PrepareEfsResult_Repl": {
              "Type": "Pass",
              "Comment": "Format replication result to match standard EFS output structure",
              "Parameters": {
                "Output": {
                  "FileSystemId.$": "$.ReplicationSetupResult.Output.DestinationFileSystemId",
                  "FileSystemArn.$": "States.Format('arn:aws:elasticfilesystem:{}:{}:file-system/{}', $.EFS.Replication.DestinationRegion, $.DestinationAccount.AccountId, $.ReplicationSetupResult.Output.DestinationFileSystemId)",
                  "SourceFileSystemId.$": "$.EFS.Source.FileSystemId",
                  "Mode": "cross-account-replication"
                }
              },
              "ResultPath": "$.EfsRestoreResult",
              "Next": "CreateEFSMountTargets_Repl"
            },
            "CreateEFSMountTargets_Repl": {
              "Type": "Task",
              "QueryLanguage": "JSONata",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Arguments": {
                "StateMachineArn": "{% $states.input.StepFunctions.EFS.CreateFilesystem %}",
                "Input": "{% $merge([{'FileSystemId': $states.input.EfsRestoreResult.Output.FileSystemId, 'SubnetIds': $states.input.EFS.Network.SubnetIds, 'SecurityGroupIds': $states.input.EFS.Network.SecurityGroupIds, 'DestinationAccount': $states.input.DestinationAccount}, $exists($states.input.EFS.Lifecycle) ? {'LifecyclePolicies': $states.input.EFS.Lifecycle} : {}]) %}",
                "Name": "{% $states.context.Execution.Name & '-CreateMountTargets' %}"
              },
              "Output": "{% $merge([$states.input, {'EfsConfigureResult': $states.result}]) %}",
              "Next": "CheckStoreInSSM_Repl",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Output": "{% $merge([$states.input, {'Error': $states.errorOutput}]) %}",
                  "Next": "EFSReplicationFailed_Repl"
                }
              ]
            },
            "CheckStoreInSSM_Repl": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.EFS.Options.StoreInSSM",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.EFS.Options.StoreInSSM",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "StoreSubpathInSSM_Repl"
                }
              ],
              "Default": "EFSReplicationComplete_Repl"
            },
            "StoreSubpathInSSM_Repl": {
              "Type": "Task",
              "Comment": "Find EFS subpath and store both EFS ID and subpath in SSM",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.GetSubpathAndStoreInSSM",
                "Input": {
                  "FileSystemId.$": "$.EfsRestoreResult.Output.FileSystemId",
                  "FileSystemArn.$": "States.Format('arn:aws:elasticfilesystem:{}:{}:file-system/{}', $.DestinationAccount.Region, $.DestinationAccount.AccountId, $.EfsRestoreResult.Output.FileSystemId)",
                  "Context.$": "$.EFS.Context",
                  "LambdaConfig.$": "$.EFS.LambdaConfig",
                  "EfsIdSSMParameterName.$": "$.EFS.SSMParameters.EfsId",
                  "EfsSubPathSSMParameterName.$": "$.EFS.SSMParameters.EfsSubPath",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-StoreSubpathInSSM', $$.Execution.Name)"
              },
              "ResultPath": "$.StoreSSMResult",
              "Next": "EFSReplicationComplete_Repl",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.StoreSSMError",
                  "Next": "EFSReplicationComplete_Repl"
                }
              ]
            },
            "EFSReplicationComplete_Repl": {
              "Type": "Succeed"
            },
            "EFSReplicationFailed_Repl": {
              "Type": "Fail",
              "Error": "EFSReplicationFailed",
              "Cause": "EFS replication process failed"
            }
          }
        }
      ],
      "ResultPath": "$.ReplicationPhase1",
      "Next": "SynchronizedCutoffAndRestore",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Phase1Error",
          "Next": "CheckNotifyEnabled_Failure"
        }
      ]
    },
    "SynchronizedCutoffAndRestore": {
      "Type": "Parallel",
      "Comment": "Synchronized cutoff: delete EFS replication and create manual DB snapshot simultaneously, then restore DB from that snapshot. Both operations start at the same instant T, ensuring DB and EFS data are temporally consistent.",
      "Branches": [
        {
          "Comment": "Branch A: Delete EFS replication to freeze EFS data at time T",
          "StartAt": "DeleteEFSReplication_Sync",
          "States": {
            "DeleteEFSReplication_Sync": {
              "Type": "Task",
              "QueryLanguage": "JSONata",
              "Comment": "Delete replication to make destination EFS writable and freeze data at time T (supports cross-region via destination-side deletion)",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Arguments": {
                "StateMachineArn": "{% $states.input.StepFunctions.EFS.DeleteReplication %}",
                "Input": "{% $merge([{'SourceFileSystemId': $states.input.EFS.Source.FileSystemId, 'SourceAccount': $states.input.EFS.Source.Account, 'DestinationAccount': $states.input.DestinationAccount, 'DeleteDestinationFileSystem': false}, $exists($states.input.ReplicationPhase1[1].EfsRestoreResult.Output.FileSystemId) ? {'DestinationFileSystemId': $states.input.ReplicationPhase1[1].EfsRestoreResult.Output.FileSystemId} : ($exists($states.input.EFS.Replication.DestinationFileSystemId) and $states.input.EFS.Replication.DestinationFileSystemId != '') ? {'DestinationFileSystemId': $states.input.EFS.Replication.DestinationFileSystemId} : {}]) %}",
                "Name": "{% $states.context.Execution.Name & '-DelReplSync' %}"
              },
              "Output": "{% $merge([$states.input, {'DeleteReplicationResult': $states.result}]) %}",
              "Next": "ReplicationDeleteComplete_Sync",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Output": "{% $merge([$states.input, {'DeleteReplicationError': $states.errorOutput}]) %}",
                  "Next": "ReplicationDeleteFailed_Sync"
                }
              ]
            },
            "ReplicationDeleteComplete_Sync": {
              "Type": "Succeed"
            },
            "ReplicationDeleteFailed_Sync": {
              "Type": "Fail",
              "Error": "DeleteReplicationFailed",
              "Cause": "Failed to delete EFS replication during synchronized cutoff"
            }
          }
        },
        {
          "Comment": "Branch B: Clean up leftover restore cluster, then restore DB from a fresh manual snapshot created at time T",
          "StartAt": "EnsureRestoreClusterNotExists_Sync",
          "States": {
            "EnsureRestoreClusterNotExists_Sync": {
              "Type": "Task",
              "Comment": "Clean up any leftover -restore cluster from failed refresh",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.EnsureClusterNotExists",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "OrchestratorExecutionName.$": "$$.Execution.Name",
                  "StepFunctions.$": "$.StepFunctions",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-EnsureNoRestore', $$.Execution.Name)"
              },
              "ResultPath": "$.CleanupResult",
              "Next": "RestoreDatabase_Sync",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.CleanupError",
                  "Next": "RestoreDatabase_Sync"
                }
              ]
            },
            "RestoreDatabase_Sync": {
              "Type": "Task",
              "QueryLanguage": "JSONata",
              "Comment": "Restore database from a fresh manual snapshot - snapshot is created NOW at time T, synchronized with EFS replication cutoff (supports cross-region via ProxyLambdaArn)",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Arguments": {
                "StateMachineArn": "{% $states.input.StepFunctions.Database.RestoreCluster %}",
                "Input": "{% $merge([{'RestoreType': $states.input.Database.Source.RestoreType, 'SnapshotMode': 'create-manual', 'PrepareSnapshotStateMachineArn': $states.input.StepFunctions.Database.PrepareSnapshotForRestore, 'SourceDBClusterIdentifier': $states.input.Database.Source.ClusterIdentifier, 'TmpDbClusterIdentifier': $states.input.ResourceNames.TmpDbClusterIdentifier, 'DbInstanceClass': $states.input.Database.Target.InstanceClass, 'AuroraServerlessMinCapacity': $states.input.Database.Target.ServerlessConfig.MinCapacity, 'AuroraServerlessMaxCapacity': $states.input.Database.Target.ServerlessConfig.MaxCapacity, 'DbSubnetGroupName': $states.input.Database.Network.SubnetGroupName, 'VpcSecurityGroupIds': $states.input.Database.Network.SecurityGroupIds, 'DbClusterParameterGroupName': $states.input.Database.Parameters.ClusterParameterGroupName, 'KmsKeyId': $states.input.Database.Secrets.KmsKeyId, 'SourceAccount': $states.input.SourceAccount, 'DestinationAccount': $states.input.DestinationAccount}, $exists($states.input.Database.Source.ProxyLambdaArn) ? {'ProxyLambdaArn': $states.input.Database.Source.ProxyLambdaArn} : {}, $exists($states.input.Database.ClusterSettings) ? {'ClusterSettings': $states.input.Database.ClusterSettings} : {}]) %}",
                "Name": "{% $states.context.Execution.Name & '-RestoreDatabase' %}"
              },
              "Output": "{% $merge([$states.input, {'RestoreResult': $states.result}]) %}",
              "Next": "CreateDBInstance_Sync",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Output": "{% $merge([$states.input, {'Error': $states.errorOutput}]) %}",
                  "Next": "DatabaseRefreshFailed_Sync"
                }
              ]
            },
            "CreateDBInstance_Sync": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.CreateInstance",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "DbInstanceIdentifierPrefix.$": "$.ResourceNames.TmpInstanceIdentifierPrefix",
                  "DbInstances.$": "$.Database.Target.Instances",
                  "DbParameterGroupName.$": "$.Database.Parameters.InstanceParameterGroupName",
                  "DbSubnetGroupName.$": "$.Database.Network.SubnetGroupName",
                  "Tags.$": "$.Database.Target.Tags",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-CreateDBInstance', $$.Execution.Name)"
              },
              "ResultPath": "$.CreateInstanceResult",
              "Next": "EnableMasterSecret_Sync",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.Error",
                  "Next": "DatabaseRefreshFailed_Sync"
                }
              ]
            },
            "EnableMasterSecret_Sync": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.EnableMasterSecret",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "MasterUserSecretKmsKeyId.$": "$.Database.Secrets.MasterUserSecretKmsKeyId",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-EnableMasterSecret', $$.Execution.Name)"
              },
              "ResultPath": "$.EnableSecretResult",
              "Next": "ConfigureS3Integration_Sync",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.Error",
                  "Next": "DatabaseRefreshFailed_Sync"
                }
              ]
            },
            "ConfigureS3Integration_Sync": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.ConfigureS3Integration",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "DbClusterParameterGroupName.$": "$.Database.Parameters.ClusterParameterGroupName",
                  "RoleArn.$": "$.Database.S3Integration.RoleArn",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-CfgS3Integration', $$.Execution.Name)"
              },
              "ResultPath": "$.S3IntegrationResult",
              "Next": "DatabaseRefreshComplete_Sync",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.S3Error",
                  "Next": "DatabaseRefreshComplete_Sync"
                }
              ]
            },
            "DatabaseRefreshComplete_Sync": {
              "Type": "Succeed"
            },
            "DatabaseRefreshFailed_Sync": {
              "Type": "Fail",
              "Error": "DatabaseRestoreFailed",
              "Cause": "Database restore process failed during synchronized cutoff"
            }
          }
        }
      ],
      "ResultPath": "$.SyncCutoffResults",
      "Next": "MergeResultsFromReplication",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.SyncCutoffError",
          "Next": "CheckNotifyEnabled_Failure"
        }
      ]
    },
    "MergeResultsFromReplication": {
      "Type": "Pass",
      "Comment": "Normalize results from replication path to match standard Phase1Results format: [0]=mysqldump, [1]=DB, [2]=EFS. This allows downstream states to use the same JSONPath references regardless of which path was taken.",
      "Parameters": {
        "Phase1Results.$": "States.Array($.ReplicationPhase1[0], $.SyncCutoffResults[1], $.ReplicationPhase1[1])",
        "ReplicationAlreadyDeleted": true,
        "Database.$": "$.Database",
        "EFS.$": "$.EFS",
        "EKS.$": "$.EKS",
        "Tags.$": "$.Tags",
        "SourceAccount.$": "$.SourceAccount",
        "DestinationAccount.$": "$.DestinationAccount",
        "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
        "StepFunctions.$": "$.StepFunctions",
        "Notifications.$": "$.Notifications",
        "ResourceNames.$": "$.ResourceNames",
        "CurrentDatabaseTags.$": "$.CurrentDatabaseTags",
        "CurrentEfsTags.$": "$.CurrentEfsTags",
        "OldEfsFileSystemId.$": "$.OldEfsFileSystemId",
        "MergedDatabaseTags.$": "$.MergedDatabaseTags",
        "MergedEfsTags.$": "$.MergedEfsTags",
        "ComputedDumpSubPath.$": "$.ComputedDumpSubPath"
      },
      "Next": "CheckRunSqlScriptsOption"
    },
    "Phase1DataRefresh": {
      "Type": "Parallel",
      "Comment": "Phase 1: Restore database and EFS in parallel, optionally run mysqldump on old cluster",
      "Branches": [
        {
          "Comment": "Branch A: MySQLDump on old cluster (optional, runs in parallel with restore)",
          "StartAt": "CheckMysqlDumpOption",
          "States": {
            "CheckMysqlDumpOption": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.Database.Options.RunMysqlDumpOldCluster",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.Database.Options.RunMysqlDumpOldCluster",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "RunMysqlDump"
                }
              ],
              "Default": "MysqlDumpSkipped"
            },
            "RunMysqlDump": {
              "Type": "Task",
              "Comment": "Dump tables from old cluster to EFS before restore completes",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.RunMysqldumpOnEks",
                "Input": {
                  "DbClusterIdentifier.$": "$.Database.Target.ClusterIdentifier",
                  "TablesToDump.$": "$.Database.MySQLOperations.TablesToDump",
                  "EfsPvcName.$": "$.Database.MySQLOperations.EfsPvcName",
                  "DumpSubPath.$": "$.ComputedDumpSubPath",
                  "EKS.$": "$.EKS",
                  "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
                  "StepFunctions.$": "$.StepFunctions",
                  "OrchestratorExecutionName.$": "$$.Execution.Name",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-RunMysqlDump', $$.Execution.Name)"
              },
              "ResultPath": null,
              "Next": "MysqlDumpComplete",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.DumpError",
                  "Next": "MysqlDumpFailed"
                }
              ]
            },
            "MysqlDumpComplete": {
              "Type": "Succeed"
            },
            "MysqlDumpSkipped": {
              "Type": "Succeed"
            },
            "MysqlDumpFailed": {
              "Type": "Fail",
              "Error": "MysqlDumpFailed",
              "Cause": "MySQLDump on old cluster failed"
            }
          }
        },
        {
          "Comment": "Branch B: Database Restore chain",
          "StartAt": "CheckDatabaseEnabled_Restore",
          "States": {
            "CheckDatabaseEnabled_Restore": {
              "Type": "Choice",
              "Comment": "Skip DB restore if Database.Enabled is false",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.Database.Enabled",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.Database.Enabled",
                      "BooleanEquals": false
                    }
                  ],
                  "Next": "DatabaseRefreshComplete"
                }
              ],
              "Default": "EnsureRestoreClusterNotExists"
            },
            "EnsureRestoreClusterNotExists": {
              "Type": "Task",
              "Comment": "Clean up any leftover -restore cluster from failed refresh",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.EnsureClusterNotExists",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "OrchestratorExecutionName.$": "$$.Execution.Name",
                  "StepFunctions.$": "$.StepFunctions",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-EnsureNoRestore', $$.Execution.Name)"
              },
              "ResultPath": "$.CleanupResult",
              "Next": "RestoreDatabase",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.CleanupError",
                  "Next": "RestoreDatabase"
                }
              ]
            },
            "RestoreDatabase": {
              "Type": "Task",
              "Comment": "Restore database from source snapshot to destination account",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.RestoreCluster",
                "Input": {
                  "RestoreType.$": "$.Database.Source.RestoreType",
                  "SnapshotMode.$": "$.Database.Source.SnapshotMode",
                  "PrepareSnapshotStateMachineArn.$": "$.StepFunctions.Database.PrepareSnapshotForRestore",
                  "SourceDBClusterIdentifier.$": "$.Database.Source.ClusterIdentifier",
                  "TmpDbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "DbInstanceClass.$": "$.Database.Target.InstanceClass",
                  "AuroraServerlessMinCapacity.$": "$.Database.Target.ServerlessConfig.MinCapacity",
                  "AuroraServerlessMaxCapacity.$": "$.Database.Target.ServerlessConfig.MaxCapacity",
                  "DbSubnetGroupName.$": "$.Database.Network.SubnetGroupName",
                  "VpcSecurityGroupIds.$": "$.Database.Network.SecurityGroupIds",
                  "DbClusterParameterGroupName.$": "$.Database.Parameters.ClusterParameterGroupName",
                  "KmsKeyId.$": "$.Database.Secrets.KmsKeyId",
                  "ClusterSettings.$": "$.Database.ClusterSettings",
                  "SourceAccount.$": "$.SourceAccount",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-RestoreDatabase', $$.Execution.Name)"
              },
              "ResultPath": "$.RestoreResult",
              "Next": "CreateDBInstance",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.Error",
                  "Next": "DatabaseRefreshFailed"
                }
              ]
            },
            "CreateDBInstance": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.CreateInstance",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "DbInstanceIdentifierPrefix.$": "$.ResourceNames.TmpInstanceIdentifierPrefix",
                  "DbInstances.$": "$.Database.Target.Instances",
                  "DbParameterGroupName.$": "$.Database.Parameters.InstanceParameterGroupName",
                  "DbSubnetGroupName.$": "$.Database.Network.SubnetGroupName",
                  "Tags.$": "$.Database.Target.Tags",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-CreateDBInstance', $$.Execution.Name)"
              },
              "ResultPath": "$.CreateInstanceResult",
              "Next": "EnableMasterSecret",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.Error",
                  "Next": "DatabaseRefreshFailed"
                }
              ]
            },
            "EnableMasterSecret": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.EnableMasterSecret",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "MasterUserSecretKmsKeyId.$": "$.Database.Secrets.MasterUserSecretKmsKeyId",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-EnableMasterSecret', $$.Execution.Name)"
              },
              "ResultPath": "$.EnableSecretResult",
              "Next": "ConfigureS3Integration",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.Error",
                  "Next": "DatabaseRefreshFailed"
                }
              ]
            },
            "ConfigureS3Integration": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.ConfigureS3Integration",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "DbClusterParameterGroupName.$": "$.Database.Parameters.ClusterParameterGroupName",
                  "RoleArn.$": "$.Database.S3Integration.RoleArn",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-CfgS3Integration', $$.Execution.Name)"
              },
              "ResultPath": "$.S3IntegrationResult",
              "Next": "DatabaseRefreshComplete",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.S3Error",
                  "Next": "DatabaseRefreshComplete"
                }
              ]
            },
            "DatabaseRefreshComplete": {
              "Type": "Succeed"
            },
            "DatabaseRefreshFailed": {
              "Type": "Fail",
              "Error": "DatabaseRestoreFailed",
              "Cause": "Database restore process failed"
            }
          }
        },
        {
          "Comment": "Branch C: EFS Restore chain with optional SSM subpath storage",
          "StartAt": "CheckEFSEnabled",
          "States": {
            "CheckEFSEnabled": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.EFS.Enabled",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.EFS.Enabled",
                      "BooleanEquals": false
                    }
                  ],
                  "Next": "EFSRefreshComplete"
                }
              ],
              "Default": "CheckEFSCrossAccount"
            },
            "CheckEFSCrossAccount": {
              "Type": "Choice",
              "Comment": "Check if EFS is cross-account by comparing Source.Account.AccountId with DestinationAccount.AccountId",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.EFS.Source.Account.AccountId",
                      "IsPresent": true
                    },
                    {
                      "Not": {
                        "Variable": "$.EFS.Source.Account.AccountId",
                        "StringEqualsPath": "$.DestinationAccount.AccountId"
                      }
                    }
                  ],
                  "Next": "SetupCrossAccountReplication"
                }
              ],
              "Default": "RestoreEFS"
            },
            "SetupCrossAccountReplication": {
              "Type": "Task",
              "Comment": "Cross-account: Setup EFS replication from source to destination",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.SetupCrossAccountReplication",
                "Input": {
                  "SourceFileSystemId.$": "$.EFS.Source.FileSystemId",
                  "SourceAccount.$": "$.EFS.Source.Account",
                  "DestinationAccount.$": "$.DestinationAccount",
                  "DestinationRegion.$": "$.EFS.Replication.DestinationRegion",
                  "DestinationKmsKeyId.$": "$.EFS.Replication.DestinationKmsKeyId",
                  "ReplicationRoleArn.$": "$.EFS.Replication.RoleArn",
                  "ExistingFileSystemName.$": "$.EFS.Name",
                  "CsiDriverRoleArn.$": "$.EFS.CsiDriverRoleArn",
                  "CreateDestinationEFS.$": "$.EFS.Replication.CreateDestinationEFS",
                  "UpdateSourcePolicy.$": "$.EFS.Replication.UpdateSourcePolicy",
                  "PerformanceMode": "generalPurpose",
                  "Encrypted": true,
                  "Tags.$": "$.EFS.Tags"
                },
                "Name.$": "States.Format('{}-SetupReplication', $$.Execution.Name)"
              },
              "ResultPath": "$.ReplicationSetupResult",
              "Next": "CheckReplicationSyncInitial",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.Error",
                  "Next": "EFSRefreshFailed"
                }
              ]
            },
            "CheckReplicationSyncInitial": {
              "Type": "Task",
              "Comment": "Cross-account: Wait for initial replication to complete",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.CheckReplicationSync",
                "Input": {
                  "SourceFileSystemId.$": "$.EFS.Source.FileSystemId",
                  "DestinationFileSystemId.$": "$.ReplicationSetupResult.Output.DestinationFileSystemId",
                  "SourceAccount.$": "$.EFS.Source.Account",
                  "DestinationAccount.$": "$.DestinationAccount",
                  "Context.$": "$.EFS.Context",
                  "LambdaConfig.$": "$.EFS.LambdaConfig",
                  "SourceSubpathSSMParameter.$": "$.EFS.SSMParameters.SourceEfsSubPath",
                  "Mode": "wait"
                },
                "Name.$": "States.Format('{}-CheckReplSyncInit', $$.Execution.Name)"
              },
              "ResultPath": "$.ReplicationSyncResult",
              "Next": "PrepareEfsResultFromReplication",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.Error",
                  "Next": "EFSRefreshFailed"
                }
              ]
            },
            "PrepareEfsResultFromReplication": {
              "Type": "Pass",
              "Comment": "Format replication result to match RestoreEFS output structure",
              "Parameters": {
                "Output": {
                  "FileSystemId.$": "$.ReplicationSetupResult.Output.DestinationFileSystemId",
                  "FileSystemArn.$": "States.Format('arn:aws:elasticfilesystem:{}:{}:file-system/{}', $.EFS.Replication.DestinationRegion, $.DestinationAccount.AccountId, $.ReplicationSetupResult.Output.DestinationFileSystemId)",
                  "SourceFileSystemId.$": "$.EFS.Source.FileSystemId",
                  "Mode": "cross-account-replication"
                }
              },
              "ResultPath": "$.EfsRestoreResult",
              "Next": "CreateEFSMountTargets"
            },
            "RestoreEFS": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.RestoreFromBackup",
                "Input": {
                  "SourceEFSName.$": "$.EFS.Source.Name",
                  "AWSBackupRoleArn.$": "$.EFS.Backup.RoleArn",
                  "Encrypted": "true",
                  "KmsKeyId.$": "$.EFS.Security.KmsKeyId",
                  "NewFileSystem": "true",
                  "ItemsToRestore.$": "$.EFS.Backup.ItemsToRestore",
                  "Tags.$": "$.EFS.Tags",
                  "SourceAccount.$": "$.SourceAccount",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-RestoreEFS', $$.Execution.Name)"
              },
              "ResultPath": "$.EfsRestoreResult",
              "Next": "CreateEFSMountTargets",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.Error",
                  "Next": "EFSRefreshFailed"
                }
              ]
            },
            "CreateEFSMountTargets": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.CreateFilesystem",
                "Input": {
                  "FileSystemId.$": "$.EfsRestoreResult.Output.FileSystemId",
                  "SubnetIds.$": "$.EFS.Network.SubnetIds",
                  "SecurityGroupIds.$": "$.EFS.Network.SecurityGroupIds",
                  "LifecyclePolicies.$": "$.EFS.Lifecycle",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-CreateMountTargets', $$.Execution.Name)"
              },
              "ResultPath": "$.EfsConfigureResult",
              "Next": "CheckStoreInSSMOption",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.Error",
                  "Next": "EFSRefreshFailed"
                }
              ]
            },
            "CheckStoreInSSMOption": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.EFS.Options.StoreInSSM",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.EFS.Options.StoreInSSM",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "StoreSubpathInSSM"
                }
              ],
              "Default": "EFSRefreshComplete"
            },
            "StoreSubpathInSSM": {
              "Type": "Task",
              "Comment": "Find EFS subpath and store both EFS ID and subpath in SSM",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.GetSubpathAndStoreInSSM",
                "Input": {
                  "FileSystemId.$": "$.EfsRestoreResult.Output.FileSystemId",
                  "FileSystemArn.$": "States.Format('arn:aws:elasticfilesystem:{}:{}:file-system/{}', $.DestinationAccount.Region, $.DestinationAccount.AccountId, $.EfsRestoreResult.Output.FileSystemId)",
                  "Context.$": "$.EFS.Context",
                  "LambdaConfig.$": "$.EFS.LambdaConfig",
                  "EfsIdSSMParameterName.$": "$.EFS.SSMParameters.EfsId",
                  "EfsSubPathSSMParameterName.$": "$.EFS.SSMParameters.EfsSubPath",
                  "DestinationAccount.$": "$.DestinationAccount"
                },
                "Name.$": "States.Format('{}-StoreSubpathInSSM', $$.Execution.Name)"
              },
              "ResultPath": "$.StoreSSMResult",
              "Next": "EFSRefreshComplete",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.StoreSSMError",
                  "Next": "EFSRefreshComplete"
                }
              ]
            },
            "EFSRefreshComplete": {
              "Type": "Succeed"
            },
            "EFSRefreshFailed": {
              "Type": "Fail",
              "Error": "EFSRefreshFailed",
              "Cause": "EFS restore process failed"
            }
          }
        }
      ],
      "ResultPath": "$.Phase1Results",
      "Next": "CheckRunSqlScriptsOption",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Phase1Error",
          "Next": "CheckNotifyEnabled_Failure"
        }
      ]
    },
    "CheckRunSqlScriptsOption": {
      "Type": "Choice",
      "Comment": "Phase 1 post-process: optionally run SQL scripts on restored cluster",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.Database.Options.RunSqlScripts",
              "IsPresent": true
            },
            {
              "Variable": "$.Database.Options.RunSqlScripts",
              "BooleanEquals": true
            }
          ],
          "Next": "RunSqlScripts"
        }
      ],
      "Default": "CheckMysqlImportOption"
    },
    "RunSqlScripts": {
      "Type": "Task",
      "Comment": "Execute SQL scripts from S3 on the restored cluster via run-sql Lambda",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.RunSqlFromS3",
        "Input": {
          "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
          "DatabaseName.$": "$.Database.MySQLOperations.DatabaseName",
          "MasterUserSecretArn.$": "$.Phase1Results[1].EnableSecretResult.Output.SecretArn",
          "LambdaFunctionName.$": "$.Database.SqlScripts.LambdaFunctionName",
          "S3Bucket.$": "$.Database.SqlScripts.Bucket",
          "S3Prefix.$": "$.Database.SqlScripts.Prefix",
          "ExportResults": false,
          "ExportBucket": "",
          "ExportPrefix": "",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-RunSqlScripts', $$.Execution.Name)"
      },
      "ResultPath": "$.SqlScriptsResult",
      "Next": "CheckMysqlImportOption",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.SqlScriptsError",
          "Next": "CheckMysqlImportOption"
        }
      ]
    },
    "CheckMysqlImportOption": {
      "Type": "Choice",
      "Comment": "Phase 1 post-process: optionally import mysqldump data into restored cluster",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.Database.Options.RunMysqlImportCluster",
              "IsPresent": true
            },
            {
              "Variable": "$.Database.Options.RunMysqlImportCluster",
              "BooleanEquals": true
            }
          ],
          "Next": "RunMysqlImport"
        }
      ],
      "Default": "Phase2PreSwitchEKS"
    },
    "RunMysqlImport": {
      "Type": "Task",
      "Comment": "Import mysqldump data into restored cluster via EKS job",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.RunMysqlimportOnEks",
        "Input": {
          "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
          "DatabaseName.$": "$.Database.MySQLOperations.ImportDatabaseName",
          "EfsPvcName.$": "$.Database.MySQLOperations.EfsPvcName",
          "DumpSubPath.$": "$.ComputedDumpSubPath",
          "RefreshBucket.$": "$.Database.MySQLOperations.RefreshBucket",
          "RefreshBucketPrefix.$": "$.Database.MySQLOperations.RefreshBucketPrefix",
          "EKS.$": "$.EKS",
          "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
          "StepFunctions.$": "$.StepFunctions",
          "OrchestratorExecutionName.$": "$$.Execution.Name",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-RunMysqlImport', $$.Execution.Name)"
      },
      "ResultPath": "$.MysqlImportResult",
      "Next": "Phase2PreSwitchEKS",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.MysqlImportError",
          "Next": "CheckNotifyEnabled_Failure"
        }
      ]
    },
    "Phase2PreSwitchEKS": {
      "Type": "Pass",
      "Comment": "Phase 2: Scale down EKS services and delete storage before cluster switch",
      "Next": "CheckEKSEnabled_PreSwitch"
    },
    "CheckEKSEnabled_PreSwitch": {
      "Type": "Choice",
      "Comment": "Check if ScaleServices is enabled for pre-switch scale down",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.EKS.Options.ScaleServices",
              "IsPresent": true
            },
            {
              "Variable": "$.EKS.Options.ScaleServices",
              "BooleanEquals": true
            }
          ],
          "Next": "ScaleDownServices"
        }
      ],
      "Default": "CheckManageStoragePreSwitch"
    },
    "CheckManageStoragePreSwitch": {
      "Type": "Choice",
      "Comment": "Check if ManageStorage is enabled for pre-switch storage deletion",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.EKS.Options.ManageStorage",
              "IsPresent": true
            },
            {
              "Variable": "$.EKS.Options.ManageStorage",
              "BooleanEquals": true
            }
          ],
          "Next": "DeleteEKSStorage"
        }
      ],
      "Default": "CheckEFSCrossAccountFinalSync"
    },
    "ScaleDownServices": {
      "Type": "Task",
      "Comment": "Scale down all EKS services to 0 replicas before storage switch",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.ScaleServices",
        "Input": {
          "EKS.$": "$.EKS",
          "Replicas": 0,
          "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-ScaleDownServices', $$.Execution.Name)"
      },
      "ResultPath": "$.ScaleDownResult",
      "Next": "CheckManageStoragePreSwitch",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.ScaleDownError",
          "Next": "CheckManageStoragePreSwitch"
        }
      ]
    },
    "DeleteEKSStorage": {
      "Type": "Task",
      "Comment": "Delete PVC/PV/StorageClass for old EFS before cluster switch",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.ManageStorage",
        "Input": {
          "EKS.$": "$.EKS",
          "FileSystemName.$": "$.EFS.Name",
          "PvcName.$": "$.EKS.Storage.PvcName",
          "PvName.$": "$.EKS.Storage.PvName",
          "StorageClassName.$": "$.EKS.Storage.StorageClassName",
          "Action": "Delete",
          "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-DeleteEKSStorage', $$.Execution.Name)"
      },
      "ResultPath": "$.DeleteStorageResult",
      "Next": "CheckEFSCrossAccountFinalSync",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.DeleteStorageError",
          "Next": "CheckEFSCrossAccountFinalSync"
        }
      ]
    },
    "CheckEFSCrossAccountFinalSync": {
      "Type": "Choice",
      "Comment": "Check if EFS cross-account replication needs final sync and deletion before switch. Skip if replication was already deleted during synchronized cutoff (replication path).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.ReplicationAlreadyDeleted",
              "IsPresent": true
            },
            {
              "Variable": "$.ReplicationAlreadyDeleted",
              "BooleanEquals": true
            }
          ],
          "Next": "ExecuteClusterSwitchSequence"
        },
        {
          "And": [
            {
              "Variable": "$.EFS.Enabled",
              "IsPresent": true
            },
            {
              "Variable": "$.EFS.Enabled",
              "BooleanEquals": true
            },
            {
              "Variable": "$.EFS.Source.Account.AccountId",
              "IsPresent": true
            },
            {
              "Not": {
                "Variable": "$.EFS.Source.Account.AccountId",
                "StringEqualsPath": "$.DestinationAccount.AccountId"
              }
            }
          ],
          "Next": "CheckReplicationSyncFinal"
        }
      ],
      "Default": "ExecuteClusterSwitchSequence"
    },
    "CheckReplicationSyncFinal": {
      "Type": "Task",
      "Comment": "Cross-account: Final sync check with flag file verification before deleting replication",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EFS.CheckReplicationSync",
        "Input": {
          "SourceFileSystemId.$": "$.EFS.Source.FileSystemId",
          "DestinationFileSystemId.$": "$.Phase1Results[2].EfsRestoreResult.Output.FileSystemId",
          "SourceAccount.$": "$.EFS.Source.Account",
          "DestinationAccount.$": "$.DestinationAccount",
          "Context.$": "$.EFS.Context",
          "LambdaConfig.$": "$.EFS.LambdaConfig",
          "SourceSubpathSSMParameter.$": "$.EFS.SSMParameters.EfsSubPath",
          "Mode": "wait"
        },
        "Name.$": "States.Format('{}-CheckReplSyncFin', $$.Execution.Name)"
      },
      "ResultPath": "$.FinalSyncResult",
      "Next": "DeleteEFSReplication",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.FinalSyncError",
          "Next": "DeleteEFSReplication"
        }
      ]
    },
    "DeleteEFSReplication": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Cross-account: Delete replication to make destination EFS writable",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "{% $states.input.StepFunctions.EFS.DeleteReplication %}",
        "Input": "{% $merge([{'SourceFileSystemId': $states.input.EFS.Source.FileSystemId, 'SourceAccount': $states.input.EFS.Source.Account, 'DestinationAccount': $states.input.DestinationAccount, 'DeleteDestinationFileSystem': false}, $exists($states.input.Phase1Results[2].EfsRestoreResult.Output.FileSystemId) ? {'DestinationFileSystemId': $states.input.Phase1Results[2].EfsRestoreResult.Output.FileSystemId} : ($exists($states.input.EFS.Replication.DestinationFileSystemId) and $states.input.EFS.Replication.DestinationFileSystemId != '') ? {'DestinationFileSystemId': $states.input.EFS.Replication.DestinationFileSystemId} : {}]) %}",
        "Name": "{% $states.context.Execution.Name & '-DelEFSReplication' %}"
      },
      "Output": "{% $merge([$states.input, {'DeleteReplicationResult': $states.result}]) %}",
      "Next": "ExecuteClusterSwitchSequence",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Output": "{% $merge([$states.input, {'DeleteReplicationError': $states.errorOutput}]) %}",
          "Next": "ExecuteClusterSwitchSequence"
        }
      ]
    },
    "ExecuteClusterSwitchSequence": {
      "Type": "Task",
      "Comment": "Phase 3: Execute cluster switch via ClusterSwitchSequence sub-SFN (rename old, tag, rename new)",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${cluster_switch_sequence_arn}",
        "Input": {
          "TargetClusterIdentifier.$": "$.Database.Target.ClusterIdentifier",
          "TmpClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
          "OldClusterIdentifier.$": "$.ResourceNames.OldDbClusterIdentifier",
          "OldInstanceIdentifierPrefix.$": "$.ResourceNames.OldInstanceIdentifierPrefix",
          "TargetInstanceIdentifierPrefix.$": "$.Database.Target.InstanceIdentifierPrefix",
          "Options": {
            "RenameOldCluster.$": "$.Database.Options.RenameOldCluster",
            "DeleteOldCluster.$": "$.Database.Options.DeleteOldCluster"
          },
          "StepFunctions.$": "$.StepFunctions",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-ClusterSwitch', $$.Execution.Name)"
      },
      "ResultSelector": {
        "TargetClusterIdentifier.$": "$.Output.TargetClusterIdentifier",
        "DbClusterArn.$": "$.Output.DbClusterArn",
        "Status.$": "$.Output.Status",
        "SwitchCompletedAt.$": "$.Output.SwitchCompletedAt"
      },
      "ResultPath": "$.RenameNewResult",
      "Next": "CheckRotateSecretsOption",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.ClusterSwitchError",
          "Next": "CheckNotifyEnabled_Failure"
        }
      ]
    },
    "CheckRotateSecretsOption": {
      "Type": "Choice",
      "Comment": "Check for unified Database.Secrets.Sync (new) or legacy Database.Options.RotateSecrets",
      "Choices": [
        {
          "And": [
            { "Variable": "$.Database.Secrets.Sync.Enabled", "IsPresent": true },
            { "Variable": "$.Database.Secrets.Sync.Enabled", "BooleanEquals": true }
          ],
          "Next": "SyncDatabaseSecrets"
        },
        {
          "Variable": "$.Database.Options.RotateSecrets",
          "BooleanEquals": true,
          "Next": "SyncDatabaseSecrets"
        }
      ],
      "Default": "CheckConfigSyncOption"
    },
    "SyncDatabaseSecrets": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Sync DB user secrets from source to destination (password + endpoints). Optionally rotate via Lambda.",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "{% $states.input.StepFunctions.Database.RotateSecrets %}",
        "Input": "{% $merge([{'DbClusterIdentifier': $states.input.Database.Target.ClusterIdentifier, 'SourceAccount': $states.input.SourceAccount, 'DestinationAccount': $states.input.DestinationAccount}, $exists($states.input.Database.Secrets.Sync.Items) ? {'DatabaseUsersSecrets': $states.input.Database.Secrets.Sync.Items} : $exists($states.input.Database.Secrets.UserSecrets) ? {'DatabaseUsersSecrets': $states.input.Database.Secrets.UserSecrets} : {}, $exists($states.input.Database.Secrets.Sync.Rotate) ? {'Rotate': $states.input.Database.Secrets.Sync.Rotate} : {}, $exists($states.input.Database.Secrets.Sync.RotationLambdaName) and $states.input.Database.Secrets.Sync.RotationLambdaName != '' ? {'RotationLambdaName': $states.input.Database.Secrets.Sync.RotationLambdaName, 'Region': $states.input.DestinationAccount.Region} : $exists($states.input.Database.Secrets.RotationLambdaName) ? {'RotationLambdaName': $states.input.Database.Secrets.RotationLambdaName, 'Region': $states.input.DestinationAccount.Region} : {}, $exists($states.input.Database.Secrets.KmsKeyId) and $states.input.Database.Secrets.KmsKeyId != '' ? {'KmsKeyId': $states.input.Database.Secrets.KmsKeyId} : {}]) %}",
        "Name": "{% $states.context.Execution.Name & '-SyncSecrets' %}"
      },
      "Output": "{% $merge([$states.input, {'SyncSecretsResult': $states.result}]) %}",
      "Next": "CheckRefreshExternalSecrets",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Output": "{% $merge([$states.input, {'SyncSecretsError': $states.errorOutput}]) %}",
          "Next": "CheckConfigSyncOption"
        }
      ]
    },
    "CheckRefreshExternalSecrets": {
      "Type": "Choice",
      "Comment": "Refresh ExternalSecrets in K8s to pick up updated Secrets Manager values immediately",
      "Choices": [
        {
          "And": [
            { "Variable": "$.Database.Secrets.Sync.RefreshExternalSecrets", "IsPresent": true },
            { "Variable": "$.Database.Secrets.Sync.RefreshExternalSecrets", "BooleanEquals": true },
            { "Variable": "$.EKS.Options.ScaleServices", "IsPresent": true },
            { "Variable": "$.EKS.Options.ScaleServices", "BooleanEquals": true }
          ],
          "Next": "RefreshExternalSecrets"
        }
      ],
      "Default": "CheckConfigSyncOption"
    },
    "RefreshExternalSecrets": {
      "Type": "Map",
      "QueryLanguage": "JSONata",
      "Comment": "Annotate ExternalSecrets to force immediate resync from Secrets Manager",
      "Items": "{% $filter($states.input.Database.Secrets.Sync.Items, function($item) { $exists($item.ExternalSecretName) and $item.ExternalSecretName != '' }) %}",
      "MaxConcurrency": 1,
      "ItemSelector": "{% {'ExternalSecretName': $states.context.Map.Item.Value.ExternalSecretName, 'Namespace': $states.input.EKS.Namespace, 'ClusterName': $states.input.EKS.ClusterName, 'K8sProxyLambdaArn': $states.input.K8sProxyLambdaArn, 'DestinationAccountRoleArn': $states.input.DestinationAccount.RoleArn, 'Timestamp': $states.context.State.EnteredTime} %}",
      "ItemProcessor": {
        "ProcessorConfig": { "Mode": "INLINE" },
        "StartAt": "AnnotateExternalSecret",
        "States": {
          "AnnotateExternalSecret": {
            "Type": "Task",
            "Comment": "PATCH ExternalSecret to add force-sync annotation, triggering immediate reconciliation",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName.$": "$.K8sProxyLambdaArn",
              "Payload": {
                "Action": "call",
                "ClusterName.$": "$.ClusterName",
                "Method": "PATCH",
                "Path.$": "States.Format('/apis/external-secrets.io/v1beta1/namespaces/{}/externalsecrets/{}', $.Namespace, $.ExternalSecretName)",
                "RequestBody": {
                  "metadata": {
                    "annotations": {
                      "force-sync.$": "$.Timestamp"
                    }
                  }
                },
                "ContentType": "application/merge-patch+json"
              }
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": null,
            "End": true,
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": null,
                "Comment": "Non-blocking: continue even if ExternalSecret refresh fails",
                "End": true
              }
            ]
          }
        }
      },
      "Output": "{% $states.input %}",
      "Next": "CheckConfigSyncOption",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Output": "{% $states.input %}",
          "Next": "CheckConfigSyncOption"
        }
      ]
    },
    "CheckConfigSyncOption": {
      "Type": "Choice",
      "Comment": "Optionally sync config items (secrets/parameters) to destination account",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.ConfigSync.Enabled",
              "IsPresent": true
            },
            {
              "Variable": "$.ConfigSync.Enabled",
              "BooleanEquals": true
            }
          ],
          "Next": "DescribeSourceClusterForSync"
        }
      ],
      "Default": "Phase4PostSwitchEKS"
    },
    "DescribeSourceClusterForSync": {
      "Type": "Task",
      "Comment": "Get source cluster endpoints (writer + reader) for host replacement transforms",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Parameters": {
        "Filters": [
          {
            "Name": "db-cluster-id",
            "Values.$": "States.Array($.Database.Source.ClusterIdentifier)"
          }
        ]
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultSelector": {
        "WriterEndpoint.$": "$.DbClusters[0].Endpoint",
        "ReaderEndpoint.$": "$.DbClusters[0].ReaderEndpoint"
      },
      "ResultPath": "$.SyncSourceEndpoints",
      "Next": "DescribeDestClusterForSync",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.SyncSourceEndpointsError",
          "Next": "ExecuteSyncConfigItems"
        }
      ]
    },
    "DescribeDestClusterForSync": {
      "Type": "Task",
      "Comment": "Get destination (restored) cluster endpoints for host replacement transforms",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Parameters": {
        "Filters": [
          {
            "Name": "db-cluster-id",
            "Values.$": "States.Array($.ResourceNames.TmpDbClusterIdentifier)"
          }
        ]
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "WriterEndpoint.$": "$.DbClusters[0].Endpoint",
        "ReaderEndpoint.$": "$.DbClusters[0].ReaderEndpoint"
      },
      "ResultPath": "$.SyncDestEndpoints",
      "Next": "InjectHostTransforms",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.SyncDestEndpointsError",
          "Next": "ExecuteSyncConfigItems"
        }
      ]
    },
    "InjectHostTransforms": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Inject dynamic host replace transforms into ConfigSync items that have Type=SecretsManager and contain database paths. Replaces full writer and reader hostnames from source to destination.",
      "Output": "{% ( $srcWriter := $states.input.SyncSourceEndpoints.WriterEndpoint; $srcReader := $states.input.SyncSourceEndpoints.ReaderEndpoint; $dstWriter := $states.input.SyncDestEndpoints.WriterEndpoint; $dstReader := $states.input.SyncDestEndpoints.ReaderEndpoint; $hostTransforms := { 'host': {'replace': [{'from': $srcWriter, 'to': $dstWriter}]}, 'host_ro': {'replace': [{'from': $srcReader, 'to': $dstReader}]}, 'jdbcUrl': {'replace': [{'from': $srcWriter, 'to': $dstWriter}]}, 'jdbcReadOnlyUrl': {'replace': [{'from': $srcReader, 'to': $dstReader}]}, 'dbClusterIdentifier': {'replace': [{'from': $states.input.Database.Source.ClusterIdentifier, 'to': $states.input.ResourceNames.TmpDbClusterIdentifier}]}, 'masterarn': {'skip': true}, 'password': {'skip': true}, 'username': {'skip': true} }; $enrichedItems := $map($states.input.ConfigSync.Items, function($item) { $item.Type = 'SecretsManager' and $contains($item.SourcePath, $states.input.Database.Source.ClusterIdentifier) ? $merge([$item, {'Transforms': $merge([$item.Transforms, $hostTransforms])}]) : $item }); $merge([$states.input, {'ConfigSync': $merge([$states.input.ConfigSync, {'Items': $enrichedItems}])}]) ) %}",
      "Next": "ExecuteSyncConfigItems"
    },
    "ExecuteSyncConfigItems": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Sync secrets and parameters from source to destination account",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${sync_config_items_arn}",
        "Input": {
          "ConfigSync": {
            "Enabled": true,
            "DryRun": "{% $exists($states.input.ConfigSync.DryRun) ? $states.input.ConfigSync.DryRun : false %}",
            "Items": "{% $states.input.ConfigSync.Items %}",
            "SourceAccount": "{% $states.input.SourceAccount %}",
            "DestinationAccount": "{% $states.input.DestinationAccount %}"
          }
        },
        "Name": "{% $states.context.Execution.Name & '-SyncConfigItems' %}"
      },
      "Output": "{% $merge([$states.input, {'SyncResult': {'Status': $states.result.Output.Status, 'Results': $states.result.Output.Results}}]) %}",
      "Next": "Phase4PostSwitchEKS",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Output": "{% $merge([$states.input, {'SyncError': $states.errorOutput}]) %}",
          "Next": "Phase4PostSwitchEKS"
        }
      ]
    },
    "Phase4PostSwitchEKS": {
      "Type": "Pass",
      "Comment": "Phase 4: Create new EKS storage, scale up services, verify and restart",
      "Next": "CheckEKSEnabled_PostSwitch"
    },
    "CheckEKSEnabled_PostSwitch": {
      "Type": "Choice",
      "Comment": "Check if ManageStorage is enabled for post-switch storage creation",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.EKS.Options.ManageStorage",
              "IsPresent": true
            },
            {
              "Variable": "$.EKS.Options.ManageStorage",
              "BooleanEquals": true
            }
          ],
          "Next": "CreateEKSStorage"
        }
      ],
      "Default": "CheckScaleServicesPostSwitch"
    },
    "CheckScaleServicesPostSwitch": {
      "Type": "Choice",
      "Comment": "Check if ScaleServices is enabled for post-switch scale up",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.EKS.Options.ScaleServices",
              "IsPresent": true
            },
            {
              "Variable": "$.EKS.Options.ScaleServices",
              "BooleanEquals": true
            }
          ],
          "Next": "ScaleUpServices"
        }
      ],
      "Default": "Phase5Cleanup"
    },
    "CreateEKSStorage": {
      "Type": "Task",
      "Comment": "Create PVC/PV/StorageClass for new EFS (reads EFS ID from SSM)",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.ManageStorage",
        "Input": {
          "EKS.$": "$.EKS",
          "FileSystemName.$": "$.EFS.Name",
          "PvcName.$": "$.EKS.Storage.PvcName",
          "PvName.$": "$.EKS.Storage.PvName",
          "StorageClassName.$": "$.EKS.Storage.StorageClassName",
          "Action": "Create",
          "EfsIdSSMParameterName.$": "$.EFS.SSMParameters.EfsId",
          "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-CreateEKSStorage', $$.Execution.Name)"
      },
      "ResultPath": "$.CreateStorageResult",
      "Next": "CheckScaleServicesPostSwitch",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.CreateStorageError",
          "Next": "CheckScaleServicesPostSwitch"
        }
      ]
    },
    "ScaleUpServices": {
      "Type": "Task",
      "Comment": "Scale up EKS services to 1 replica with optional secret cleanup",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.ScaleServices",
        "Input": {
          "EKS.$": "$.EKS",
          "Replicas": 1,
          "CleanupSecret": true,
          "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-ScaleUpServices', $$.Execution.Name)"
      },
      "ResultPath": "$.ScaleUpResult",
      "Next": "VerifyAndRestartServices",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.ScaleUpError",
          "Next": "Phase5Cleanup"
        }
      ]
    },
    "VerifyAndRestartServices": {
      "Type": "Task",
      "Comment": "Verify EFS subpath on services and restart if mismatch",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.VerifyAndRestartServices",
        "Input": {
          "EKS.$": "$.EKS",
          "SSMParameters": {
            "EfsSubPath.$": "$.EFS.SSMParameters.EfsSubPath"
          },
          "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-VerifyRestart', $$.Execution.Name)"
      },
      "ResultPath": "$.VerifyResult",
      "Next": "CheckArchiveJobOption",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.VerifyError",
          "Next": "CheckArchiveJobOption"
        }
      ]
    },
    "CheckArchiveJobOption": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.EKS.Options.RunArchiveJob",
              "IsPresent": true
            },
            {
              "Variable": "$.EKS.Options.RunArchiveJob",
              "BooleanEquals": true
            }
          ],
          "Next": "RunArchiveJob"
        }
      ],
      "Default": "Phase5Cleanup"
    },
    "RunArchiveJob": {
      "Type": "Task",
      "Comment": "Sync MySQL dumps and media files to S3",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.RunArchiveJob",
        "Input": {
          "DbClusterIdentifier.$": "$.Database.Target.ClusterIdentifier",
          "EKS.$": "$.EKS",
          "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
          "StepFunctions.$": "$.StepFunctions",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-RunArchiveJob', $$.Execution.Name)"
      },
      "ResultPath": "$.ArchiveResult",
      "Next": "Phase5Cleanup",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.ArchiveError",
          "Next": "Phase5Cleanup"
        }
      ]
    },
    "Phase5Cleanup": {
      "Type": "Task",
      "Comment": "Phase 5: Cleanup old resources (delete/stop old cluster, delete old EFS, scale down nodegroup)",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.CleanupAndStop",
        "Input": {
          "Database.$": "$.Database",
          "EFS.$": "$.EFS",
          "EKS.$": "$.EKS",
          "ResourceNames.$": "$.ResourceNames",
          "RenameNewResult.$": "$.RenameNewResult",
          "CurrentDatabaseTags.$": "$.CurrentDatabaseTags",
          "CurrentEfsTags.$": "$.CurrentEfsTags",
          "MergedEfsTags.$": "$.MergedEfsTags",
          "OldEfsFileSystemId.$": "$.OldEfsFileSystemId",
          "MergedDatabaseTags.$": "$.MergedDatabaseTags",
          "OrchestratorExecutionName.$": "$$.Execution.Name",
          "StepFunctions.$": "$.StepFunctions",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-Phase5Cleanup', $$.Execution.Name)"
      },
      "ResultPath": "$.CleanupResult",
      "Next": "CheckNotifyEnabled_Success",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.CleanupError",
          "Next": "CheckNotifyEnabled_Success"
        }
      ]
    },
    "CheckNotifyEnabled_Success": {
      "Type": "Choice",
      "Comment": "Skip notification if Notifications.Enabled is false or absent",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.Notifications.Enabled",
              "IsPresent": true
            },
            {
              "Variable": "$.Notifications.Enabled",
              "BooleanEquals": true
            }
          ],
          "Next": "SendSuccessNotification"
        }
      ],
      "Default": "RefreshComplete"
    },
    "SendSuccessNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.Notify",
        "Input": {
          "DynamoDBTableName.$": "$.Notifications.DynamoDB.TableName",
          "Item": {
            "ExecutionId": {
              "S.$": "$$.Execution.Id"
            },
            "Timestamp": {
              "S.$": "$$.State.EnteredTime"
            },
            "Status": {
              "S": "COMPLETED"
            }
          },
          "SNSTopicArn.$": "$.Notifications.SNS.TopicArn",
          "SNSSubject": "Refresh Completed Successfully",
          "SNSMessage.$": "States.Format('Database refresh completed for {}', $.Database.Target.ClusterIdentifier)"
        },
        "Name.$": "States.Format('{}-NotifySuccess', $$.Execution.Name)"
      },
      "ResultPath": null,
      "Next": "RefreshComplete",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.NotifyError",
          "Next": "RefreshComplete"
        }
      ]
    },
    "CheckNotifyEnabled_Failure": {
      "Type": "Choice",
      "Comment": "Skip notification if Notifications.Enabled is false or absent",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.Notifications.Enabled",
              "IsPresent": true
            },
            {
              "Variable": "$.Notifications.Enabled",
              "BooleanEquals": true
            }
          ],
          "Next": "SendFailureNotification"
        }
      ],
      "Default": "RefreshFailed"
    },
    "SendFailureNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.Notify",
        "Input": {
          "DynamoDBTableName.$": "$.Notifications.DynamoDB.TableName",
          "Item": {
            "ExecutionId": {
              "S.$": "$$.Execution.Id"
            },
            "Timestamp": {
              "S.$": "$$.State.EnteredTime"
            },
            "Status": {
              "S": "FAILED"
            }
          },
          "SNSTopicArn.$": "$.Notifications.SNS.TopicArn",
          "SNSSubject": "Refresh Failed",
          "SNSMessage.$": "States.Format('Database refresh FAILED for {}', $.Database.Target.ClusterIdentifier)"
        },
        "Name.$": "States.Format('{}-NotifyFailure', $$.Execution.Name)"
      },
      "ResultPath": null,
      "Next": "RefreshFailed",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.NotifyError",
          "Next": "RefreshFailed"
        }
      ]
    },
    "ConfigLoadFailed": {
      "Type": "Fail",
      "Error": "ConfigLoadFailed",
      "Cause": "Failed to load configuration from S3"
    },
    "RefreshFailed": {
      "Type": "Fail",
      "Error": "RefreshFailed",
      "Cause": "The refresh process encountered an error"
    },
    "RefreshComplete": {
      "Type": "Succeed"
    }
  }
}
