modules/step-functions/orchestrator/refresh_orchestrator.asl.json
{
  "Comment": "Cross-Account Refresh Orchestrator - Full 5-phase flow with database, EFS, and EKS operations",
  "StartAt": "LoadConfiguration",
  "States": {

    "LoadConfiguration": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ConfigS3Path",
          "IsPresent": true,
          "Next": "LoadConfigFromS3"
        }
      ],
      "Default": "ValidateInputs"
    },
    "LoadConfigFromS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Parameters": {
        "Bucket.$": "$.ConfigS3Bucket",
        "Key.$": "$.ConfigS3Path"
      },
      "ResultSelector": {
        "config.$": "States.StringToJson($.Body)"
      },
      "OutputPath": "$.config",
      "Next": "ValidateInputs",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ConfigLoadFailed"
        }
      ]
    },

    "ValidateInputs": {
      "Type": "Task",
      "Comment": "Validate all inputs and required resources before starting refresh",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.ValidateRefreshConfig",
        "Input": {
          "Database.$": "$.Database",
          "EFS.$": "$.EFS",
          "EKS.$": "$.EKS",
          "SourceAccount.$": "$.SourceAccount",
          "DestinationAccount.$": "$.DestinationAccount",
          "StepFunctions.$": "$.StepFunctions"
        }
      },
      "ResultSelector": {
        "ValidationStatus.$": "$.Output.ValidationStatus",
        "Results.$": "$.Output.Results"
      },
      "ResultPath": "$.ValidationResult",
      "Next": "CheckValidationStatus",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.ValidationError",
        "Next": "CheckNotifyEnabled_Failure"
      }]
    },
    "CheckValidationStatus": {
      "Type": "Choice",
      "Comment": "If validation failed, route to failure notification. Otherwise check DryRun mode.",
      "Choices": [{
        "Variable": "$.ValidationResult.ValidationStatus",
        "StringEquals": "FAILED",
        "Next": "CheckNotifyEnabled_Failure"
      }],
      "Default": "CheckDryRunMode"
    },
    "CheckDryRunMode": {
      "Type": "Choice",
      "Comment": "If DryRun=true, return validation report without executing refresh",
      "Choices": [{
        "And": [
          {"Variable": "$.DryRun", "IsPresent": true},
          {"Variable": "$.DryRun", "BooleanEquals": true}
        ],
        "Next": "DryRunComplete"
      }],
      "Default": "PrepareRefresh"
    },
    "DryRunComplete": {
      "Type": "Pass",
      "Comment": "Return validation report for dry-run mode",
      "Parameters": {
        "Status": "DRY_RUN_COMPLETE",
        "ValidationResult.$": "$.ValidationResult"
      },
      "Next": "RefreshComplete"
    },

    "PrepareRefresh": {
      "Type": "Task",
      "Comment": "Prepare resource names and retrieve current tags from destination account",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.PrepareRefresh",
        "Input": {
          "Database.$": "$.Database",
          "EFS.$": "$.EFS",
          "Tags.$": "$.Tags",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultSelector": {
        "ResourceNames.$": "$.Output.ResourceNames",
        "CurrentDatabaseTags.$": "$.Output.CurrentDatabaseTags",
        "CurrentEfsTags.$": "$.Output.CurrentEfsTags",
        "OldEfsFileSystemId.$": "$.Output.OldEfsFileSystemId"
      },
      "ResultPath": "$.PrepareResult",
      "Next": "MergePrepareResults",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.PrepareError",
          "Next": "Phase1DataRefresh"
        }
      ]
    },
    "MergePrepareResults": {
      "Type": "Pass",
      "Parameters": {
        "Database.$": "$.Database",
        "EFS.$": "$.EFS",
        "EKS.$": "$.EKS",
        "Tags.$": "$.Tags",
        "SourceAccount.$": "$.SourceAccount",
        "DestinationAccount.$": "$.DestinationAccount",
        "StepFunctions.$": "$.StepFunctions",
        "Notifications.$": "$.Notifications",
        "ResourceNames.$": "$.PrepareResult.ResourceNames",
        "CurrentDatabaseTags.$": "$.PrepareResult.CurrentDatabaseTags",
        "CurrentEfsTags.$": "$.PrepareResult.CurrentEfsTags",
        "OldEfsFileSystemId.$": "$.PrepareResult.OldEfsFileSystemId",
        "MergedDatabaseTags.$": "$.Tags",
        "MergedEfsTags.$": "$.Tags"
      },
      "Next": "Phase1DataRefresh"
    },

    "Phase1DataRefresh": {
      "Type": "Parallel",
      "Comment": "Phase 1: Restore database and EFS in parallel, optionally run mysqldump on old cluster",
      "Branches": [
        {
          "Comment": "Branch A: MySQLDump on old cluster (optional, runs in parallel with restore)",
          "StartAt": "CheckMysqlDumpOption",
          "States": {
            "CheckMysqlDumpOption": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Options.RunMysqlDumpOldCluster", "IsPresent": true},
                    {"Variable": "$.Database.Options.RunMysqlDumpOldCluster", "BooleanEquals": true}
                  ],
                  "Next": "RunMysqlDump"
                }
              ],
              "Default": "MysqlDumpSkipped"
            },
            "RunMysqlDump": {
              "Type": "Task",
              "Comment": "Dump tables from old cluster to EFS before restore completes",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.RunMysqldumpOnEks",
                "Input": {
                  "DbClusterIdentifier.$": "$.Database.Target.ClusterIdentifier",
                  "TablesToDump.$": "$.Database.MySQLOperations.TablesToDump",
                  "EfsPvcName.$": "$.Database.MySQLOperations.EfsPvcName",
                  "DumpSubPath.$": "$.Database.MySQLOperations.DumpSubPath",
                  "EKS.$": "$.EKS",
                  "StepFunctions.$": "$.StepFunctions",
                  "OrchestratorExecutionName.$": "$$.Execution.Name",
                  "DestinationAccount.$": "$.DestinationAccount"
                }
              },
              "ResultPath": null,
              "Next": "MysqlDumpComplete",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.DumpError",
                  "Next": "MysqlDumpFailed"
                }
              ]
            },
            "MysqlDumpComplete": {
              "Type": "Succeed"
            },
            "MysqlDumpSkipped": {
              "Type": "Succeed"
            },
            "MysqlDumpFailed": {
              "Type": "Fail",
              "Error": "MysqlDumpFailed",
              "Cause": "MySQLDump on old cluster failed"
            }
          }
        },
        {
          "Comment": "Branch B: Database Restore chain",
          "StartAt": "EnsureRestoreClusterNotExists",
          "States": {
            "EnsureRestoreClusterNotExists": {
              "Type": "Task",
              "Comment": "Clean up any leftover -restore cluster from failed refresh",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.EnsureClusterNotExists",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "OrchestratorExecutionName.$": "$$.Execution.Name",
                  "StepFunctions.$": "$.StepFunctions",
                  "DestinationAccount.$": "$.DestinationAccount"
                }
              },
              "ResultPath": "$.CleanupResult",
              "Next": "RestoreDatabase",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.CleanupError",
                  "Next": "RestoreDatabase"
                }
              ]
            },
            "RestoreDatabase": {
              "Type": "Task",
              "Comment": "Restore database from source snapshot to destination account",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.RestoreCluster",
                "Input": {
                  "RestoreType.$": "$.Database.Source.RestoreType",
                  "SnapshotMode.$": "$.Database.Source.SnapshotMode",
                  "PrepareSnapshotStateMachineArn.$": "$.StepFunctions.Database.PrepareSnapshotForRestore",
                  "SourceDBClusterIdentifier.$": "$.Database.Source.ClusterIdentifier",
                  "TmpDbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "DbInstanceClass.$": "$.Database.Target.InstanceClass",
                  "AuroraServerlessMinCapacity.$": "$.Database.Target.ServerlessConfig.MinCapacity",
                  "AuroraServerlessMaxCapacity.$": "$.Database.Target.ServerlessConfig.MaxCapacity",
                  "DbSubnetGroupName.$": "$.Database.Network.SubnetGroupName",
                  "VpcSecurityGroupIds.$": "$.Database.Network.SecurityGroupIds",
                  "DbClusterParameterGroupName.$": "$.Database.Parameters.ClusterParameterGroupName",
                  "KmsKeyId.$": "$.Database.Secrets.KmsKeyId",
                  "SourceAccount.$": "$.SourceAccount",
                  "DestinationAccount.$": "$.DestinationAccount"
                }
              },
              "ResultPath": "$.RestoreResult",
              "Next": "CreateDBInstance",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "DatabaseRefreshFailed"
                }
              ]
            },
            "CreateDBInstance": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.CreateInstance",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "DbInstanceIdentifierPrefix.$": "$.ResourceNames.TmpInstanceIdentifierPrefix",
                  "DbInstances.$": "$.Database.Target.Instances",
                  "DbParameterGroupName.$": "$.Database.Parameters.InstanceParameterGroupName",
                  "DbSubnetGroupName.$": "$.Database.Network.SubnetGroupName",
                  "Tags.$": "$.Database.Target.Tags",
                  "DestinationAccount.$": "$.DestinationAccount"
                }
              },
              "ResultPath": "$.CreateInstanceResult",
              "Next": "EnableMasterSecret",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "DatabaseRefreshFailed"
                }
              ]
            },
            "EnableMasterSecret": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.EnableMasterSecret",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "MasterUserSecretKmsKeyId.$": "$.Database.Secrets.MasterUserSecretKmsKeyId",
                  "DestinationAccount.$": "$.DestinationAccount"
                }
              },
              "ResultPath": "$.EnableSecretResult",
              "Next": "ConfigureS3Integration",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "DatabaseRefreshFailed"
                }
              ]
            },
            "ConfigureS3Integration": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.Database.ConfigureS3Integration",
                "Input": {
                  "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
                  "DbClusterParameterGroupName.$": "$.Database.Parameters.ClusterParameterGroupName",
                  "RoleArn.$": "$.Database.S3Integration.RoleArn",
                  "DestinationAccount.$": "$.DestinationAccount"
                }
              },
              "ResultPath": "$.S3IntegrationResult",
              "Next": "DatabaseRefreshComplete",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.S3Error",
                  "Next": "DatabaseRefreshComplete"
                }
              ]
            },
            "DatabaseRefreshComplete": {
              "Type": "Succeed"
            },
            "DatabaseRefreshFailed": {
              "Type": "Fail",
              "Error": "DatabaseRestoreFailed",
              "Cause": "Database restore process failed"
            }
          }
        },
        {
          "Comment": "Branch C: EFS Restore chain with optional SSM subpath storage",
          "StartAt": "CheckEFSEnabled",
          "States": {
            "CheckEFSEnabled": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.Enabled", "IsPresent": true},
                    {"Variable": "$.EFS.Enabled", "BooleanEquals": false}
                  ],
                  "Next": "EFSRefreshComplete"
                }
              ],
              "Default": "CheckEFSCrossAccount"
            },
            "CheckEFSCrossAccount": {
              "Type": "Choice",
              "Comment": "Check if EFS is cross-account by comparing Source.Account.AccountId with DestinationAccount.AccountId",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.Source.Account.AccountId", "IsPresent": true},
                    {"Not": {"Variable": "$.EFS.Source.Account.AccountId", "StringEqualsPath": "$.DestinationAccount.AccountId"}}
                  ],
                  "Next": "SetupCrossAccountReplication"
                }
              ],
              "Default": "RestoreEFS"
            },
            "SetupCrossAccountReplication": {
              "Type": "Task",
              "Comment": "Cross-account: Setup EFS replication from source to destination",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.SetupCrossAccountReplication",
                "Input": {
                  "SourceFileSystemId.$": "$.EFS.Source.FileSystemId",
                  "SourceAccount.$": "$.EFS.Source.Account",
                  "DestinationAccount.$": "$.DestinationAccount",
                  "DestinationRegion.$": "$.EFS.Replication.DestinationRegion",
                  "DestinationKmsKeyId.$": "$.EFS.Replication.DestinationKmsKeyId",
                  "ReplicationRoleArn.$": "$.EFS.Replication.RoleArn",
                  "PerformanceMode": "generalPurpose",
                  "Encrypted": true,
                  "Tags.$": "$.EFS.Tags"
                }
              },
              "ResultPath": "$.ReplicationSetupResult",
              "Next": "CheckReplicationSyncInitial",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "EFSRefreshFailed"
                }
              ]
            },
            "CheckReplicationSyncInitial": {
              "Type": "Task",
              "Comment": "Cross-account: Wait for initial replication to complete",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.CheckReplicationSync",
                "Input": {
                  "SourceFileSystemId.$": "$.EFS.Source.FileSystemId",
                  "DestinationFileSystemId.$": "$.ReplicationSetupResult.Output.DestinationFileSystemId",
                  "SourceAccount.$": "$.EFS.Source.Account",
                  "DestinationAccount.$": "$.DestinationAccount",
                  "Context.$": "$.EFS.Context",
                  "LambdaConfig.$": "$.EFS.LambdaConfig",
                  "Mode": "wait"
                }
              },
              "ResultPath": "$.ReplicationSyncResult",
              "Next": "PrepareEfsResultFromReplication",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "EFSRefreshFailed"
                }
              ]
            },
            "PrepareEfsResultFromReplication": {
              "Type": "Pass",
              "Comment": "Format replication result to match RestoreEFS output structure",
              "Parameters": {
                "Output": {
                  "FileSystemId.$": "$.ReplicationSetupResult.Output.DestinationFileSystemId",
                  "FileSystemArn.$": "States.Format('arn:aws:elasticfilesystem:{}:{}:file-system/{}', $.EFS.Replication.DestinationRegion, $.DestinationAccount.AccountId, $.ReplicationSetupResult.Output.DestinationFileSystemId)",
                  "SourceFileSystemId.$": "$.EFS.Source.FileSystemId",
                  "Mode": "cross-account-replication"
                }
              },
              "ResultPath": "$.EfsRestoreResult",
              "Next": "CreateEFSMountTargets"
            },
            "RestoreEFS": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.RestoreFromBackup",
                "Input": {
                  "SourceEFSName.$": "$.EFS.Source.Name",
                  "AWSBackupRoleArn.$": "$.EFS.Backup.RoleArn",
                  "Encrypted": "true",
                  "KmsKeyId.$": "$.EFS.Security.KmsKeyId",
                  "NewFileSystem": "true",
                  "ItemsToRestore.$": "$.EFS.Backup.ItemsToRestore",
                  "Tags.$": "$.EFS.Tags",
                  "SourceAccount.$": "$.SourceAccount",
                  "DestinationAccount.$": "$.DestinationAccount"
                }
              },
              "ResultPath": "$.EfsRestoreResult",
              "Next": "CreateEFSMountTargets",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "EFSRefreshFailed"
                }
              ]
            },
            "CreateEFSMountTargets": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.CreateFilesystem",
                "Input": {
                  "FileSystemId.$": "$.EfsRestoreResult.Output.FileSystemId",
                  "SubnetIds.$": "$.EFS.Network.SubnetIds",
                  "SecurityGroupIds.$": "$.EFS.Network.SecurityGroupIds",
                  "LifecyclePolicies.$": "$.EFS.Lifecycle",
                  "DestinationAccount.$": "$.DestinationAccount"
                }
              },
              "ResultPath": "$.EfsConfigureResult",
              "Next": "CheckStoreInSSMOption",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "EFSRefreshFailed"
                }
              ]
            },
            "CheckStoreInSSMOption": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.Options.StoreInSSM", "IsPresent": true},
                    {"Variable": "$.EFS.Options.StoreInSSM", "BooleanEquals": true}
                  ],
                  "Next": "StoreSubpathInSSM"
                }
              ],
              "Default": "EFSRefreshComplete"
            },
            "StoreSubpathInSSM": {
              "Type": "Task",
              "Comment": "Find EFS subpath and store both EFS ID and subpath in SSM",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.StepFunctions.EFS.GetSubpathAndStoreInSSM",
                "Input": {
                  "FileSystemId.$": "$.EfsRestoreResult.Output.FileSystemId",
                  "FileSystemArn.$": "States.Format('arn:aws:elasticfilesystem:{}:{}:file-system/{}', $.DestinationAccount.Region, $.DestinationAccount.AccountId, $.EfsRestoreResult.Output.FileSystemId)",
                  "Context.$": "$.EFS.Context",
                  "LambdaConfig.$": "$.EFS.LambdaConfig",
                  "EfsIdSSMParameterName.$": "$.EFS.SSMParameters.EfsId",
                  "EfsSubPathSSMParameterName.$": "$.EFS.SSMParameters.EfsSubPath",
                  "DestinationAccount.$": "$.DestinationAccount"
                }
              },
              "ResultPath": "$.StoreSSMResult",
              "Next": "EFSRefreshComplete",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.StoreSSMError",
                  "Next": "EFSRefreshComplete"
                }
              ]
            },
            "EFSRefreshComplete": {
              "Type": "Succeed"
            },
            "EFSRefreshFailed": {
              "Type": "Fail",
              "Error": "EFSRefreshFailed",
              "Cause": "EFS restore process failed"
            }
          }
        }
      ],
      "ResultPath": "$.Phase1Results",
      "Next": "CheckRunSqlScriptsOption",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Phase1Error",
          "Next": "CheckNotifyEnabled_Failure"
        }
      ]
    },

    "CheckRunSqlScriptsOption": {
      "Type": "Choice",
      "Comment": "Phase 1 post-process: optionally run SQL scripts on restored cluster",
      "Choices": [
        {
          "And": [
            {"Variable": "$.Database.Options.RunSqlScripts", "IsPresent": true},
            {"Variable": "$.Database.Options.RunSqlScripts", "BooleanEquals": true}
          ],
          "Next": "RunSqlScripts"
        }
      ],
      "Default": "CheckMysqlImportOption"
    },
    "RunSqlScripts": {
      "Type": "Task",
      "Comment": "Execute SQL scripts from S3 on the restored cluster via run-sql Lambda",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.RunSqlFromS3",
        "Input": {
          "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
          "DatabaseName.$": "$.Database.MySQLOperations.DatabaseName",
          "MasterUserSecretArn.$": "$.Phase1Results[1].EnableSecretResult.Output.SecretArn",
          "LambdaFunctionName.$": "$.Database.SqlScripts.LambdaFunctionName",
          "S3Bucket.$": "$.Database.SqlScripts.Bucket",
          "S3Prefix.$": "$.Database.SqlScripts.Prefix",
          "ExportResults": false,
          "ExportBucket": "",
          "ExportPrefix": "",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.SqlScriptsResult",
      "Next": "CheckMysqlImportOption",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.SqlScriptsError",
          "Next": "CheckMysqlImportOption"
        }
      ]
    },
    "CheckMysqlImportOption": {
      "Type": "Choice",
      "Comment": "Phase 1 post-process: optionally import mysqldump data into restored cluster",
      "Choices": [
        {
          "And": [
            {"Variable": "$.Database.Options.RunMysqlImportCluster", "IsPresent": true},
            {"Variable": "$.Database.Options.RunMysqlImportCluster", "BooleanEquals": true}
          ],
          "Next": "RunMysqlImport"
        }
      ],
      "Default": "Phase2PreSwitchEKS"
    },
    "RunMysqlImport": {
      "Type": "Task",
      "Comment": "Import mysqldump data into restored cluster via EKS job",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.RunMysqlimportOnEks",
        "Input": {
          "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
          "DatabaseName.$": "$.Database.MySQLOperations.ImportDatabaseName",
          "EfsPvcName.$": "$.Database.MySQLOperations.EfsPvcName",
          "DumpSubPath.$": "$.Database.MySQLOperations.DumpSubPath",
          "RefreshBucket.$": "$.Database.MySQLOperations.RefreshBucket",
          "RefreshBucketPrefix.$": "$.Database.MySQLOperations.RefreshBucketPrefix",
          "EKS.$": "$.EKS",
          "StepFunctions.$": "$.StepFunctions",
          "OrchestratorExecutionName.$": "$$.Execution.Name",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.MysqlImportResult",
      "Next": "Phase2PreSwitchEKS",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.MysqlImportError",
          "Next": "CheckNotifyEnabled_Failure"
        }
      ]
    },

    "Phase2PreSwitchEKS": {
      "Type": "Pass",
      "Comment": "Phase 2: Scale down EKS services and delete storage before cluster switch",
      "Next": "CheckEKSEnabled_PreSwitch"
    },
    "CheckEKSEnabled_PreSwitch": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {"Variable": "$.EKS.Enabled", "IsPresent": true},
            {"Variable": "$.EKS.Enabled", "BooleanEquals": true}
          ],
          "Next": "ScaleDownServices"
        }
      ],
      "Default": "CheckEFSCrossAccountFinalSync"
    },
    "ScaleDownServices": {
      "Type": "Task",
      "Comment": "Scale down all EKS services to 0 replicas before storage switch",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.ScaleServices",
        "Input": {
          "EksClusterName.$": "$.EKS.ClusterName",
          "Namespace.$": "$.EKS.Namespace",
          "Services.$": "$.EKS.Services",
          "Replicas": 0,
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.ScaleDownResult",
      "Next": "DeleteEKSStorage",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ScaleDownError",
          "Next": "DeleteEKSStorage"
        }
      ]
    },
    "DeleteEKSStorage": {
      "Type": "Task",
      "Comment": "Delete PVC/PV/StorageClass for old EFS before cluster switch",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.ManageStorage",
        "Input": {
          "EksClusterName.$": "$.EKS.ClusterName",
          "Namespace.$": "$.EKS.Namespace",
          "FileSystemName.$": "$.EFS.Name",
          "Action": "Delete",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.DeleteStorageResult",
      "Next": "CheckEFSCrossAccountFinalSync",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.DeleteStorageError",
          "Next": "CheckEFSCrossAccountFinalSync"
        }
      ]
    },

    "CheckEFSCrossAccountFinalSync": {
      "Type": "Choice",
      "Comment": "Check if EFS cross-account replication needs final sync and deletion before switch",
      "Choices": [
        {
          "And": [
            {"Variable": "$.EFS.Enabled", "IsPresent": true},
            {"Variable": "$.EFS.Enabled", "BooleanEquals": true},
            {"Variable": "$.EFS.Source.Account.AccountId", "IsPresent": true},
            {"Not": {"Variable": "$.EFS.Source.Account.AccountId", "StringEqualsPath": "$.DestinationAccount.AccountId"}}
          ],
          "Next": "CheckReplicationSyncFinal"
        }
      ],
      "Default": "Phase3ClusterSwitch"
    },
    "CheckReplicationSyncFinal": {
      "Type": "Task",
      "Comment": "Cross-account: Final sync check with flag file verification before deleting replication",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EFS.CheckReplicationSync",
        "Input": {
          "SourceFileSystemId.$": "$.EFS.Source.FileSystemId",
          "DestinationFileSystemId.$": "$.Phase1Results[1].EfsRestoreResult.Output.FileSystemId",
          "SourceAccount.$": "$.EFS.Source.Account",
          "DestinationAccount.$": "$.DestinationAccount",
          "Context.$": "$.EFS.Context",
          "LambdaConfig.$": "$.EFS.LambdaConfig",
          "Mode": "wait"
        }
      },
      "ResultPath": "$.FinalSyncResult",
      "Next": "DeleteEFSReplication",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.FinalSyncError",
          "Next": "DeleteEFSReplication"
        }
      ]
    },
    "DeleteEFSReplication": {
      "Type": "Task",
      "Comment": "Cross-account: Delete replication to make destination EFS writable",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EFS.DeleteReplication",
        "Input": {
          "SourceFileSystemId.$": "$.EFS.Source.FileSystemId",
          "SourceAccount.$": "$.EFS.Source.Account",
          "DestinationAccount.$": "$.DestinationAccount",
          "DeleteDestinationFileSystem": false
        }
      },
      "ResultPath": "$.DeleteReplicationResult",
      "Next": "Phase3ClusterSwitch",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.DeleteReplicationError",
          "Next": "Phase3ClusterSwitch"
        }
      ]
    },

    "Phase3ClusterSwitch": {
      "Type": "Pass",
      "Comment": "Phase 3: Switch clusters (rename old to -old, tag, rename new to target)",
      "Next": "CheckRenameOldClusterOption"
    },
    "CheckRenameOldClusterOption": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Database.Options.RenameOldCluster",
          "BooleanEquals": true,
          "Next": "EnsureOldClusterNotExists"
        }
      ],
      "Default": "CheckDeleteOldClusterOption"
    },
    "CheckDeleteOldClusterOption": {
      "Type": "Choice",
      "Comment": "If not renaming, check if we should delete old cluster to free target name. If neither rename nor delete, skip cluster switch entirely (test mode).",
      "Choices": [
        {
          "Variable": "$.Database.Options.DeleteOldCluster",
          "BooleanEquals": true,
          "Next": "DeleteOldCluster"
        }
      ],
      "Default": "SkipClusterSwitch"
    },
    "DeleteOldCluster": {
      "Type": "Task",
      "Comment": "Delete old cluster to free up target name for rename",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.DeleteCluster",
        "Input": {
          "DbClusterIdentifier.$": "$.Database.Target.ClusterIdentifier",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.DeleteOldClusterResult",
      "Next": "EnsureTargetClusterAvailable",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.DeleteOldClusterError",
          "Next": "CheckNotifyEnabled_Failure"
        }
      ]
    },
    "SkipClusterSwitch": {
      "Type": "Pass",
      "Comment": "Test mode: both RenameOldCluster and DeleteOldCluster are false. Restored cluster keeps its temporary name.",
      "Result": "SKIPPED",
      "ResultPath": "$.ClusterSwitchResult",
      "Next": "CheckRotateSecretsOption"
    },
    "EnsureOldClusterNotExists": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.EnsureClusterNotExists",
        "Input": {
          "DbClusterIdentifier.$": "$.ResourceNames.OldDbClusterIdentifier",
          "OrchestratorExecutionName.$": "$$.Execution.Name",
          "StepFunctions.$": "$.StepFunctions",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.EnsureOldNotExistsResult",
      "Next": "RenameOldCluster",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.EnsureOldError",
          "Next": "EnsureTargetClusterAvailable"
        }
      ]
    },
    "RenameOldCluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.RenameCluster",
        "Input": {
          "DbClusterIdentifier.$": "$.Database.Target.ClusterIdentifier",
          "NewDbClusterIdentifier.$": "$.ResourceNames.OldDbClusterIdentifier",
          "NewInstanceIdentifierPrefix.$": "$.ResourceNames.OldInstanceIdentifierPrefix",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.RenameOldResult",
      "Next": "TagOldClusterRefreshTrue",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.RenameOldError",
          "Next": "EnsureTargetClusterAvailable"
        }
      ]
    },
    "TagOldClusterRefreshTrue": {
      "Type": "Task",
      "Comment": "Fix: Tag renamed -old cluster with refresh:true so next EnsureClusterNotExists can delete it",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.TagResources",
        "Input": {
          "ResourceARNList.$": "States.Array($.RenameOldResult.Output.DbClusterArn)",
          "ConfigTags": {
            "refresh": "true"
          },
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.TagOldClusterResult",
      "Next": "EnsureTargetClusterAvailable",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.TagOldClusterError",
          "Next": "EnsureTargetClusterAvailable"
        }
      ]
    },
    "EnsureTargetClusterAvailable": {
      "Type": "Task",
      "Comment": "Ensure target cluster is available (start if stopped) before rename",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.EnsureClusterAvailable",
        "Input": {
          "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.EnsureTargetAvailableResult",
      "Next": "RenameNewCluster",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.EnsureTargetAvailableError",
          "Next": "RenameNewCluster"
        }
      ]
    },
    "RenameNewCluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.RenameCluster",
        "Input": {
          "DbClusterIdentifier.$": "$.ResourceNames.TmpDbClusterIdentifier",
          "NewDbClusterIdentifier.$": "$.Database.Target.ClusterIdentifier",
          "NewInstanceIdentifierPrefix.$": "$.Database.Target.InstanceIdentifierPrefix",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.RenameNewResult",
      "Next": "CheckRotateSecretsOption",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.RenameNewError",
          "Next": "CheckNotifyEnabled_Failure"
        }
      ]
    },
    "CheckRotateSecretsOption": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Database.Options.RotateSecrets",
          "BooleanEquals": true,
          "Next": "RotateDatabaseSecrets"
        }
      ],
      "Default": "Phase4PostSwitchEKS"
    },
    "RotateDatabaseSecrets": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.RotateSecrets",
        "Input": {
          "DbClusterIdentifier.$": "$.Database.Target.ClusterIdentifier",
          "DatabaseUsersSecrets.$": "$.Database.Secrets.UserSecrets",
          "RotationLambdaName.$": "$.Database.Secrets.RotationLambdaName",
          "KmsKeyId.$": "$.Database.Secrets.KmsKeyId",
          "Region.$": "$.Region",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.RotateSecretsResult",
      "Next": "Phase4PostSwitchEKS",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.RotateSecretsError",
          "Next": "Phase4PostSwitchEKS"
        }
      ]
    },

    "Phase4PostSwitchEKS": {
      "Type": "Pass",
      "Comment": "Phase 4: Create new EKS storage, scale up services, verify and restart",
      "Next": "CheckEKSEnabled_PostSwitch"
    },
    "CheckEKSEnabled_PostSwitch": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {"Variable": "$.EKS.Enabled", "IsPresent": true},
            {"Variable": "$.EKS.Enabled", "BooleanEquals": true}
          ],
          "Next": "CreateEKSStorage"
        }
      ],
      "Default": "Phase5Cleanup"
    },
    "CreateEKSStorage": {
      "Type": "Task",
      "Comment": "Create PVC/PV/StorageClass for new EFS (reads EFS ID from SSM)",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.ManageStorage",
        "Input": {
          "EksClusterName.$": "$.EKS.ClusterName",
          "Namespace.$": "$.EKS.Namespace",
          "FileSystemName.$": "$.EFS.Name",
          "Action": "Create",
          "EfsIdSSMParameterName.$": "$.EFS.SSMParameters.EfsId",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.CreateStorageResult",
      "Next": "ScaleUpServices",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CreateStorageError",
          "Next": "Phase5Cleanup"
        }
      ]
    },
    "ScaleUpServices": {
      "Type": "Task",
      "Comment": "Scale up EKS services to 1 replica with optional secret cleanup",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.ScaleServices",
        "Input": {
          "EksClusterName.$": "$.EKS.ClusterName",
          "Namespace.$": "$.EKS.Namespace",
          "Services.$": "$.EKS.Services",
          "Replicas": 1,
          "CleanupSecret": true,
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.ScaleUpResult",
      "Next": "VerifyAndRestartServices",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ScaleUpError",
          "Next": "Phase5Cleanup"
        }
      ]
    },
    "VerifyAndRestartServices": {
      "Type": "Task",
      "Comment": "Verify EFS subpath on services and restart if mismatch",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.VerifyAndRestartServices",
        "Input": {
          "EksClusterName.$": "$.EKS.ClusterName",
          "Namespace.$": "$.EKS.Namespace",
          "Services.$": "$.EKS.Services",
          "SSMParameters": {
            "EfsSubPath.$": "$.EFS.SSMParameters.EfsSubPath"
          },
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.VerifyResult",
      "Next": "CheckArchiveJobOption",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.VerifyError",
          "Next": "CheckArchiveJobOption"
        }
      ]
    },
    "CheckArchiveJobOption": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {"Variable": "$.EKS.Options.RunArchiveJob", "IsPresent": true},
            {"Variable": "$.EKS.Options.RunArchiveJob", "BooleanEquals": true}
          ],
          "Next": "RunArchiveJob"
        }
      ],
      "Default": "Phase5Cleanup"
    },
    "RunArchiveJob": {
      "Type": "Task",
      "Comment": "Sync MySQL dumps and media files to S3",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.RunArchiveJob",
        "Input": {
          "DbClusterIdentifier.$": "$.Database.Target.ClusterIdentifier",
          "EKS.$": "$.EKS",
          "StepFunctions.$": "$.StepFunctions",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.ArchiveResult",
      "Next": "Phase5Cleanup",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ArchiveError",
          "Next": "Phase5Cleanup"
        }
      ]
    },

    "Phase5Cleanup": {
      "Type": "Task",
      "Comment": "Phase 5: Cleanup old resources (delete/stop old cluster, delete old EFS, scale down nodegroup)",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.CleanupAndStop",
        "Input": {
          "Database.$": "$.Database",
          "EFS.$": "$.EFS",
          "EKS.$": "$.EKS",
          "ResourceNames.$": "$.ResourceNames",
          "RenameNewResult.$": "$.RenameNewResult",
          "CurrentDatabaseTags.$": "$.CurrentDatabaseTags",
          "CurrentEfsTags.$": "$.CurrentEfsTags",
          "MergedEfsTags.$": "$.MergedEfsTags",
          "OldEfsFileSystemId.$": "$.OldEfsFileSystemId",
          "MergedDatabaseTags.$": "$.MergedDatabaseTags",
          "OrchestratorExecutionName.$": "$$.Execution.Name",
          "StepFunctions.$": "$.StepFunctions",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.CleanupResult",
      "Next": "CheckNotifyEnabled_Success",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CleanupError",
          "Next": "CheckNotifyEnabled_Success"
        }
      ]
    },

    "CheckNotifyEnabled_Success": {
      "Type": "Choice",
      "Comment": "Skip notification if Notifications.Enabled is false or absent",
      "Choices": [
        {
          "And": [
            {"Variable": "$.Notifications.Enabled", "IsPresent": true},
            {"Variable": "$.Notifications.Enabled", "BooleanEquals": true}
          ],
          "Next": "SendSuccessNotification"
        }
      ],
      "Default": "RefreshComplete"
    },
    "SendSuccessNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.Notify",
        "Input": {
          "DynamoDBTableName.$": "$.Notifications.DynamoDB.TableName",
          "Item": {
            "ExecutionId": {"S.$": "$$.Execution.Id"},
            "Timestamp": {"S.$": "$$.State.EnteredTime"},
            "Status": {"S": "COMPLETED"}
          },
          "SNSTopicArn.$": "$.Notifications.SNS.TopicArn",
          "SNSSubject": "Refresh Completed Successfully",
          "SNSMessage.$": "States.Format('Database refresh completed for {}', $.Database.Target.ClusterIdentifier)"
        }
      },
      "ResultPath": null,
      "Next": "RefreshComplete",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.NotifyError",
          "Next": "RefreshComplete"
        }
      ]
    },
    "CheckNotifyEnabled_Failure": {
      "Type": "Choice",
      "Comment": "Skip notification if Notifications.Enabled is false or absent",
      "Choices": [
        {
          "And": [
            {"Variable": "$.Notifications.Enabled", "IsPresent": true},
            {"Variable": "$.Notifications.Enabled", "BooleanEquals": true}
          ],
          "Next": "SendFailureNotification"
        }
      ],
      "Default": "RefreshFailed"
    },
    "SendFailureNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.Notify",
        "Input": {
          "DynamoDBTableName.$": "$.Notifications.DynamoDB.TableName",
          "Item": {
            "ExecutionId": {"S.$": "$$.Execution.Id"},
            "Timestamp": {"S.$": "$$.State.EnteredTime"},
            "Status": {"S": "FAILED"}
          },
          "SNSTopicArn.$": "$.Notifications.SNS.TopicArn",
          "SNSSubject": "Refresh Failed",
          "SNSMessage.$": "States.Format('Database refresh FAILED for {}', $.Database.Target.ClusterIdentifier)"
        }
      },
      "ResultPath": null,
      "Next": "RefreshFailed",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.NotifyError",
          "Next": "RefreshFailed"
        }
      ]
    },

    "ConfigLoadFailed": {
      "Type": "Fail",
      "Error": "ConfigLoadFailed",
      "Cause": "Failed to load configuration from S3"
    },
    "RefreshFailed": {
      "Type": "Fail",
      "Error": "RefreshFailed",
      "Cause": "The refresh process encountered an error"
    },
    "RefreshComplete": {
      "Type": "Succeed"
    }
  }
}
