modules/step-functions/eks/manage_storage.asl.json
{
  "Comment": "Creates or Deletes EKS storage resources (StorageClass, PersistentVolume, PersistentVolumeClaim) in destination account. Supports both public (eks:call) and private (k8s-proxy Lambda) access modes via CheckAccessMode routing on $.EKS.AccessMode.",
  "StartAt": "InitStorageNames",
  "States": {
    "InitStorageNames": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Resolve storage resource names. Uses PvcName/PvName/StorageClassName from input if provided, otherwise falls back to FileSystemName for backwards compatibility.",
      "Output": "{% $merge([$states.input, {'ResolvedNames': {'Pvc': $exists($states.input.PvcName) ? $states.input.PvcName : $states.input.FileSystemName, 'Pv': $exists($states.input.PvName) ? $states.input.PvName : $states.input.FileSystemName, 'StorageClass': $exists($states.input.StorageClassName) ? $states.input.StorageClassName : $states.input.FileSystemName}}]) %}",
      "Next": "CheckAccessMode"
    },
    "CheckAccessMode": {
      "Type": "Choice",
      "Comment": "Route to public (eks:call via GetEksClusterInfo) or private (lambda:invoke) flow based on EKS.AccessMode",
      "Choices": [
        {
          "Variable": "$.EKS.AccessMode",
          "StringEquals": "public",
          "Next": "GetEksClusterInfo"
        }
      ],
      "Default": "ChooseActionPrivate"
    },
    "GetEksClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eks:describeCluster",
      "Parameters": {
        "Name.$": "$.EKS.ClusterName"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.EksCluster",
      "Next": "ChooseAction",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ProcessFailed"
        }
      ]
    },

    "ChooseAction": {
      "Type": "Choice",
      "Comment": "Public branch: route to Create or Delete flow using eks:call",
      "Choices": [
        {
          "Variable": "$.Action",
          "StringEquals": "Create",
          "Next": "GetEfsIdFromSsm"
        },
        {
          "Variable": "$.Action",
          "StringEquals": "Delete",
          "Next": "DeletePvc"
        }
      ],
      "Default": "ProcessFailed"
    },
    "ChooseActionPrivate": {
      "Type": "Choice",
      "Comment": "Private branch: route to Create or Delete flow using lambda:invoke",
      "Choices": [
        {
          "Variable": "$.Action",
          "StringEquals": "Create",
          "Next": "GetEfsIdFromSsmPrivate"
        },
        {
          "Variable": "$.Action",
          "StringEquals": "Delete",
          "Next": "DeletePvcPrivate"
        }
      ],
      "Default": "ProcessFailed"
    },

    "DeletePvc": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:call",
      "Parameters": {
        "ClusterName.$": "$.EksCluster.Cluster.Name",
        "CertificateAuthority.$": "$.EksCluster.Cluster.CertificateAuthority.Data",
        "Endpoint.$": "$.EksCluster.Cluster.Endpoint",
        "Method": "DELETE",
        "Path.$": "States.Format('/api/v1/namespaces/{}/persistentvolumeclaims/{}', $.EKS.Namespace, $.ResolvedNames.Pvc)"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitForPvcDelete",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["EKS.404"],
          "ResultPath": "$.PvcNotFound",
          "Next": "DeletePv"
        }
      ]
    },
    "DeletePvcPrivate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "call",
          "ClusterName.$": "$.EKS.ClusterName",
          "Method": "DELETE",
          "Path.$": "States.Format('/api/v1/namespaces/{}/persistentvolumeclaims/{}', $.EKS.Namespace, $.ResolvedNames.Pvc)"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitForPvcDelete",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "ResultPath": "$.PvcNotFound",
          "Next": "DeletePvPrivate"
        }
      ]
    },
    "WaitForPvcDelete": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "CheckAccessModeForDeletePv"
    },
    "CheckAccessModeForDeletePv": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.EKS.AccessMode",
          "StringEquals": "public",
          "Next": "DeletePv"
        }
      ],
      "Default": "DeletePvPrivate"
    },
    "DeletePv": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:call",
      "Parameters": {
        "ClusterName.$": "$.EksCluster.Cluster.Name",
        "CertificateAuthority.$": "$.EksCluster.Cluster.CertificateAuthority.Data",
        "Endpoint.$": "$.EksCluster.Cluster.Endpoint",
        "Method": "DELETE",
        "Path.$": "States.Format('/api/v1/persistentvolumes/{}', $.ResolvedNames.Pv)"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitForPvDelete",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["EKS.404"],
          "ResultPath": "$.PvNotFound",
          "Next": "DeleteSc"
        }
      ]
    },
    "DeletePvPrivate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "call",
          "ClusterName.$": "$.EKS.ClusterName",
          "Method": "DELETE",
          "Path.$": "States.Format('/api/v1/persistentvolumes/{}', $.ResolvedNames.Pv)"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitForPvDelete",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "ResultPath": "$.PvNotFound",
          "Next": "DeleteScPrivate"
        }
      ]
    },
    "WaitForPvDelete": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "CheckAccessModeForDeleteSc"
    },
    "CheckAccessModeForDeleteSc": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.EKS.AccessMode",
          "StringEquals": "public",
          "Next": "DeleteSc"
        }
      ],
      "Default": "DeleteScPrivate"
    },
    "DeleteSc": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:call",
      "Parameters": {
        "ClusterName.$": "$.EksCluster.Cluster.Name",
        "CertificateAuthority.$": "$.EksCluster.Cluster.CertificateAuthority.Data",
        "Endpoint.$": "$.EksCluster.Cluster.Endpoint",
        "Method": "DELETE",
        "Path.$": "States.Format('/apis/storage.k8s.io/v1/storageclasses/{}', $.ResolvedNames.StorageClass)"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "PrepareDeleteOutput",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["EKS.404"],
          "ResultPath": "$.ScNotFound",
          "Next": "PrepareDeleteOutput"
        }
      ]
    },
    "DeleteScPrivate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "call",
          "ClusterName.$": "$.EKS.ClusterName",
          "Method": "DELETE",
          "Path.$": "States.Format('/apis/storage.k8s.io/v1/storageclasses/{}', $.ResolvedNames.StorageClass)"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "PrepareDeleteOutput",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "ResultPath": "$.ScNotFound",
          "Next": "PrepareDeleteOutput"
        }
      ]
    },
    "PrepareDeleteOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "manage_storage",
        "Action": "Delete",
        "EksClusterName.$": "$.EKS.ClusterName"
      },
      "Next": "ProcessSucceeded"
    },

    "GetEfsIdFromSsm": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Parameters": {
        "Name.$": "$.EfsIdSSMParameterName"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "Id.$": "$.Parameter.Value"
      },
      "ResultPath": "$.EfsInfo",
      "Next": "CreateSc",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ProcessFailed"
        }
      ]
    },
    "GetEfsIdFromSsmPrivate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Parameters": {
        "Name.$": "$.EfsIdSSMParameterName"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "Id.$": "$.Parameter.Value"
      },
      "ResultPath": "$.EfsInfo",
      "Next": "CreateScPrivate",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ProcessFailed"
        }
      ]
    },
    "CreateSc": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:call",
      "Parameters": {
        "ClusterName.$": "$.EksCluster.Cluster.Name",
        "CertificateAuthority.$": "$.EksCluster.Cluster.CertificateAuthority.Data",
        "Endpoint.$": "$.EksCluster.Cluster.Endpoint",
        "Method": "POST",
        "Path": "/apis/storage.k8s.io/v1/storageclasses",
        "RequestBody": {
          "apiVersion": "storage.k8s.io/v1",
          "kind": "StorageClass",
          "metadata": {
            "name.$": "$.ResolvedNames.StorageClass"
          },
          "provisioner": "efs.csi.aws.com",
          "parameters": {
            "provisioningMode": "efs-ap",
            "fileSystemId.$": "$.EfsInfo.Id",
            "directoryPerms": "0755"
          },
          "reclaimPolicy": "Delete",
          "allowVolumeExpansion": true,
          "volumeBindingMode": "Immediate"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitForStorageClass",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ProcessFailed"
        }
      ]
    },
    "CreateScPrivate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "call",
          "ClusterName.$": "$.EKS.ClusterName",
          "Method": "POST",
          "Path": "/apis/storage.k8s.io/v1/storageclasses",
          "RequestBody": {
            "apiVersion": "storage.k8s.io/v1",
            "kind": "StorageClass",
            "metadata": {
              "name.$": "$.ResolvedNames.StorageClass"
            },
            "provisioner": "efs.csi.aws.com",
            "parameters": {
              "provisioningMode": "efs-ap",
              "fileSystemId.$": "$.EfsInfo.Id",
              "directoryPerms": "0755"
            },
            "reclaimPolicy": "Delete",
            "allowVolumeExpansion": true,
            "volumeBindingMode": "Immediate"
          }
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitForStorageClass",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ProcessFailed"
        }
      ]
    },
    "WaitForStorageClass": {
      "Type": "Wait",
      "Seconds": 3,
      "Next": "CheckAccessModeForCreatePv"
    },
    "CheckAccessModeForCreatePv": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.EKS.AccessMode",
          "StringEquals": "public",
          "Next": "CreatePv"
        }
      ],
      "Default": "CreatePvPrivate"
    },
    "CreatePv": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:call",
      "Parameters": {
        "ClusterName.$": "$.EksCluster.Cluster.Name",
        "CertificateAuthority.$": "$.EksCluster.Cluster.CertificateAuthority.Data",
        "Endpoint.$": "$.EksCluster.Cluster.Endpoint",
        "Method": "POST",
        "Path": "/api/v1/persistentvolumes",
        "RequestBody": {
          "apiVersion": "v1",
          "kind": "PersistentVolume",
          "metadata": {
            "name.$": "$.ResolvedNames.Pv"
          },
          "spec": {
            "capacity": {
              "storage": "20Gi"
            },
            "volumeMode": "Filesystem",
            "accessModes": ["ReadWriteMany"],
            "persistentVolumeReclaimPolicy": "Retain",
            "storageClassName.$": "$.ResolvedNames.StorageClass",
            "csi": {
              "driver": "efs.csi.aws.com",
              "volumeHandle.$": "$.EfsInfo.Id"
            }
          }
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitForPersistentVolume",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ProcessFailed"
        }
      ]
    },
    "CreatePvPrivate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "call",
          "ClusterName.$": "$.EKS.ClusterName",
          "Method": "POST",
          "Path": "/api/v1/persistentvolumes",
          "RequestBody": {
            "apiVersion": "v1",
            "kind": "PersistentVolume",
            "metadata": {
              "name.$": "$.ResolvedNames.Pv"
            },
            "spec": {
              "capacity": {
                "storage": "20Gi"
              },
              "volumeMode": "Filesystem",
              "accessModes": ["ReadWriteMany"],
              "persistentVolumeReclaimPolicy": "Retain",
              "storageClassName.$": "$.ResolvedNames.StorageClass",
              "csi": {
                "driver": "efs.csi.aws.com",
                "volumeHandle.$": "$.EfsInfo.Id"
              }
            }
          }
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitForPersistentVolume",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ProcessFailed"
        }
      ]
    },
    "WaitForPersistentVolume": {
      "Type": "Wait",
      "Seconds": 3,
      "Next": "CheckAccessModeForCreatePvc"
    },
    "CheckAccessModeForCreatePvc": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.EKS.AccessMode",
          "StringEquals": "public",
          "Next": "CreatePvc"
        }
      ],
      "Default": "CreatePvcPrivate"
    },
    "CreatePvc": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:call",
      "Parameters": {
        "ClusterName.$": "$.EksCluster.Cluster.Name",
        "CertificateAuthority.$": "$.EksCluster.Cluster.CertificateAuthority.Data",
        "Endpoint.$": "$.EksCluster.Cluster.Endpoint",
        "Method": "POST",
        "Path.$": "States.Format('/api/v1/namespaces/{}/persistentvolumeclaims', $.EKS.Namespace)",
        "RequestBody": {
          "apiVersion": "v1",
          "kind": "PersistentVolumeClaim",
          "metadata": {
            "name.$": "$.ResolvedNames.Pvc"
          },
          "spec": {
            "accessModes": ["ReadWriteMany"],
            "storageClassName.$": "$.ResolvedNames.StorageClass",
            "resources": {
              "requests": {
                "storage": "20Gi"
              }
            },
            "volumeName.$": "$.ResolvedNames.Pv"
          }
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitForPvcBinding",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ProcessFailed"
        }
      ]
    },
    "CreatePvcPrivate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "call",
          "ClusterName.$": "$.EKS.ClusterName",
          "Method": "POST",
          "Path.$": "States.Format('/api/v1/namespaces/{}/persistentvolumeclaims', $.EKS.Namespace)",
          "RequestBody": {
            "apiVersion": "v1",
            "kind": "PersistentVolumeClaim",
            "metadata": {
              "name.$": "$.ResolvedNames.Pvc"
            },
            "spec": {
              "accessModes": ["ReadWriteMany"],
              "storageClassName.$": "$.ResolvedNames.StorageClass",
              "resources": {
                "requests": {
                  "storage": "20Gi"
                }
              },
              "volumeName.$": "$.ResolvedNames.Pv"
            }
          }
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitForPvcBinding",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ProcessFailed"
        }
      ]
    },
    "WaitForPvcBinding": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "PrepareCreateOutput"
    },
    "PrepareCreateOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "manage_storage",
        "Action": "Create",
        "EksClusterName.$": "$.EKS.ClusterName",
        "EfsFileSystemId.$": "$.EfsInfo.Id"
      },
      "Next": "ProcessSucceeded"
    },
    "ProcessFailed": {
      "Type": "Fail",
      "Error": "ManageStorageFailed",
      "Cause": "Failed to manage EKS storage resources"
    },
    "ProcessSucceeded": {
      "Type": "Succeed"
    }
  }
}
