modules/step-functions/eks/scale_services_private.asl.json
{
  "Comment": "Cross-account: Scales a list of EKS services (Deployments, StatefulSets) to a specified number of replicas. Private variant using k8s-proxy Lambda instead of eks:call.",
  "StartAt": "ScaleServicesMap",
  "States": {
    "ScaleServicesMap": {
      "Type": "Map",
      "ItemsPath": "$.Services",
      "ItemSelector": {
        "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
        "EksClusterName.$": "$.EksClusterName",
        "Namespace.$": "$.Namespace",
        "Replicas.$": "$.Replicas",
        "ServiceName.$": "$$.Map.Item.Value.ServiceName",
        "ServiceType.$": "$$.Map.Item.Value.ServiceType",
        "DestinationAccount.$": "$.DestinationAccount"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "PatchService",
        "States": {
          "PatchService": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName.$": "$.K8sProxyLambdaArn",
              "Payload": {
                "Action": "call",
                "ClusterName.$": "$.EksClusterName",
                "Method": "PATCH",
                "Path.$": "States.Format('/apis/apps/v1/namespaces/{}/{}/{}/scale', $.Namespace, $.ServiceType, $.ServiceName)",
                "RequestBody": {
                  "spec": {
                    "replicas.$": "$.Replicas"
                  }
                }
              }
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccount.RoleArn"
            },
            "ResultSelector": {
              "ResponseBody.$": "$.Payload.ResponseBody",
              "StatusCode.$": "$.Payload.StatusCode"
            },
            "ResultPath": "$.PatchResult",
            "Next": "WaitForScale",
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "ResultPath": "$.PatchError",
                "Next": "ServiceNotFoundSkip"
              }
            ]
          },
          "ServiceNotFoundSkip": {
            "Type": "Pass",
            "Parameters": {
              "ServiceName.$": "$.ServiceName",
              "Status": "Skipped",
              "Reason": "Service not found"
            },
            "End": true
          },
          "WaitForScale": {
            "Type": "Wait",
            "Seconds": 5,
            "End": true
          }
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ScaleFailed"
        }
      ],
      "ResultPath": "$.MapResult",
      "Next": "WaitAfterScaling"
    },
    "WaitAfterScaling": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckCleanupSecret"
    },
    "CheckCleanupSecret": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.CleanupSecret",
              "IsPresent": true
            },
            {
              "Variable": "$.CleanupSecret",
              "BooleanEquals": true
            },
            {
              "Variable": "$.Replicas",
              "NumericGreaterThan": 0
            }
          ],
          "Next": "GetSecret"
        }
      ],
      "Default": "PrepareOutput"
    },
    "GetSecret": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "call",
          "ClusterName.$": "$.EksClusterName",
          "Method": "GET",
          "Path.$": "States.Format('/api/v1/namespaces/{}/secrets/shared-data-media-sub-path', $.Namespace)"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "ResponseBody.$": "$.Payload.ResponseBody",
        "StatusCode.$": "$.Payload.StatusCode"
      },
      "ResultPath": "$.SecretResult",
      "Next": "DeleteSecret",
      "Catch": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "ResultPath": "$.SecretError",
          "Next": "PrepareOutput"
        }
      ]
    },
    "DeleteSecret": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "call",
          "ClusterName.$": "$.EksClusterName",
          "Method": "DELETE",
          "Path.$": "States.Format('/api/v1/namespaces/{}/secrets/shared-data-media-sub-path', $.Namespace)"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "ResponseBody.$": "$.Payload.ResponseBody",
        "StatusCode.$": "$.Payload.StatusCode"
      },
      "ResultPath": "$.SecretDeleteResult",
      "Next": "PrepareOutput",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.SecretDeleteError",
          "Next": "PrepareOutput"
        }
      ]
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "scale_services",
        "PrimaryIdentifier.$": "$.EksClusterName",
        "Replicas.$": "$.Replicas"
      },
      "Next": "ScaleSucceeded"
    },
    "ScaleFailed": {
      "Type": "Fail",
      "Error": "ScaleFailed",
      "Cause": "Failed to scale EKS services"
    },
    "ScaleSucceeded": {
      "Type": "Succeed"
    }
  }
}
