modules/step-functions/eks/scale_nodegroup_asg.asl.json
{
  "Comment": "Finds EKS node group by NodeSelector (labels) and/or Tolerations (taints) and scales the underlying Auto Scaling Group in destination account",
  "StartAt": "PrepareInput",
  "States": {
    "PrepareInput": {
      "Type": "Pass",
      "Comment": "Initialize NodeSelector and Tolerations with default values if not present",
      "QueryLanguage": "JSONata",
      "Output": "{% $merge([$states.input, { \"NodeSelector\": $exists($states.input.NodeSelector) ? $states.input.NodeSelector : {}, \"Tolerations\": $exists($states.input.Tolerations) ? $states.input.Tolerations : [] }]) %}",
      "Next": "ListNodeGroups"
    },
    "ListNodeGroups": {
      "Type": "Task",
      "Comment": "List all node groups in the EKS cluster",
      "Resource": "arn:aws:states:::aws-sdk:eks:listNodegroups",
      "Parameters": {
        "ClusterName.$": "$.ClusterName"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.NodeGroupsList",
      "Next": "FindMatchingNodeGroup",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ListNodeGroupsError",
          "Next": "ScaleFailed"
        }
      ]
    },
    "FindMatchingNodeGroup": {
      "Type": "Map",
      "Comment": "Iterate over node groups to find one matching NodeSelector and/or Tolerations",
      "ItemsPath": "$.NodeGroupsList.Nodegroups",
      "MaxConcurrency": 5,
      "ItemSelector": {
        "ClusterName.$": "$.ClusterName",
        "NodeGroupName.$": "$$.Map.Item.Value",
        "NodeSelector.$": "$.NodeSelector",
        "Tolerations.$": "$.Tolerations",
        "DestinationAccount.$": "$.DestinationAccount"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "DescribeNodeGroup",
        "States": {
          "DescribeNodeGroup": {
            "Type": "Task",
            "Comment": "Get node group details including labels and taints",
            "Resource": "arn:aws:states:::aws-sdk:eks:describeNodegroup",
            "Parameters": {
              "ClusterName.$": "$.ClusterName",
              "NodegroupName.$": "$.NodeGroupName"
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccount.RoleArn"
            },
            "ResultPath": "$.NodeGroupDetails",
            "Next": "CheckMatch",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.DescribeError",
                "Next": "NodeGroupNotMatched"
              }
            ]
          },
          "CheckMatch": {
            "Type": "Pass",
            "Comment": "Check if node group matches NodeSelector (labels) and/or Tolerations (taints) using JSONata - case-insensitive effect comparison",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.input, ( $labels := $states.input.NodeGroupDetails.Nodegroup.Labels; $taints := $states.input.NodeGroupDetails.Nodegroup.Taints; $nodeSelector := $states.input.NodeSelector; $tolerations := $states.input.Tolerations; $nodegroupName := $states.input.NodeGroupName; $asgName := $states.input.NodeGroupDetails.Nodegroup.Resources.AutoScalingGroups[0].Name; $hasNodeSelector := $exists($nodeSelector) and $count($keys($nodeSelector)) > 0; $hasTolerations := $exists($tolerations) and $count($tolerations) > 0; $normalizeEffect := function($e) { $uppercase($join($split($e, '_'), '')) }; $labelsMatch := $hasNodeSelector ? ($count($filter($keys($nodeSelector), function($key) { $labels.($key) = $nodeSelector.($key) })) = $count($keys($nodeSelector))) : true; $taintsMatch := $hasTolerations ? ($count($filter($tolerations, function($tol) { $count($filter($taints, function($taint) { $taint.Key = $tol.key and $taint.Value = $tol.value and $normalizeEffect($taint.Effect) = $normalizeEffect($tol.effect) })) > 0 })) = $count($tolerations)) : true; $finalMatch := $labelsMatch and $taintsMatch; { \"MatchResult\": ($finalMatch ? { \"Matched\": true, \"NodeGroupName\": $nodegroupName, \"AsgName\": $asgName } : { \"Matched\": false }) } )]) %}",
            "Next": "IsMatched"
          },
          "IsMatched": {
            "Type": "Choice",
            "Comment": "Check if this node group matched",
            "Choices": [
              {
                "Variable": "$.MatchResult.Matched",
                "BooleanEquals": true,
                "Next": "NodeGroupMatched"
              }
            ],
            "Default": "NodeGroupNotMatched"
          },
          "NodeGroupMatched": {
            "Type": "Pass",
            "Comment": "This node group matches the criteria",
            "Parameters": {
              "Matched": true,
              "NodeGroupName.$": "$.MatchResult.NodeGroupName",
              "AsgName.$": "$.MatchResult.AsgName"
            },
            "End": true
          },
          "NodeGroupNotMatched": {
            "Type": "Pass",
            "Comment": "This node group does not match",
            "Parameters": {
              "Matched": false
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.MapResults",
      "Next": "FilterMatchedNodeGroups",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.MapError",
          "Next": "ScaleFailed"
        }
      ]
    },
    "FilterMatchedNodeGroups": {
      "Type": "Pass",
      "Comment": "Filter to get only matched node groups - ensure array result",
      "QueryLanguage": "JSONata",
      "Output": "{% $merge([$states.input, { \"FilteredResults\": { \"MatchedNodeGroups\": [$states.input.MapResults[Matched = true]] } }]) %}",
      "Next": "CheckMatchedNodeGroups"
    },
    "CheckMatchedNodeGroups": {
      "Type": "Choice",
      "Comment": "Check if we found any matching node groups",
      "Choices": [
        {
          "Variable": "$.FilteredResults.MatchedNodeGroups[0]",
          "IsPresent": true,
          "Next": "GetAsgCurrentCapacity"
        }
      ],
      "Default": "NoMatchingNodeGroupFound"
    },
    "GetAsgCurrentCapacity": {
      "Type": "Task",
      "Comment": "Get current ASG desired capacity",
      "Resource": "arn:aws:states:::aws-sdk:autoscaling:describeAutoScalingGroups",
      "Parameters": {
        "AutoScalingGroupNames.$": "States.Array($.FilteredResults.MatchedNodeGroups[0].AsgName)"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "DesiredCapacity.$": "$.AutoScalingGroups[0].DesiredCapacity",
        "MinSize.$": "$.AutoScalingGroups[0].MinSize",
        "MaxSize.$": "$.AutoScalingGroups[0].MaxSize"
      },
      "ResultPath": "$.CurrentAsgInfo",
      "Next": "CheckMinimumCapacityProvided",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.GetAsgError",
          "Next": "ScaleFailed"
        }
      ]
    },
    "CheckMinimumCapacityProvided": {
      "Type": "Choice",
      "Comment": "Check if MinimumCapacity parameter is provided for conditional scaling",
      "Choices": [
        {
          "Variable": "$.MinimumCapacity",
          "IsPresent": true,
          "Next": "CheckIfAlreadySufficient"
        }
      ],
      "Default": "PrepareScalingInput"
    },
    "CheckIfAlreadySufficient": {
      "Type": "Choice",
      "Comment": "Check if current capacity is already sufficient",
      "Choices": [
        {
          "Variable": "$.CurrentAsgInfo.DesiredCapacity",
          "NumericGreaterThanEqualsPath": "$.MinimumCapacity",
          "Next": "CapacityAlreadySufficient"
        }
      ],
      "Default": "PrepareScalingInput"
    },
    "CapacityAlreadySufficient": {
      "Type": "Pass",
      "Comment": "Capacity is already sufficient, no scaling needed",
      "Parameters": {
        "Status": "AlreadySufficient",
        "ModuleName": "scale_nodegroup_asg",
        "NodeGroupName.$": "$.FilteredResults.MatchedNodeGroups[0].NodeGroupName",
        "AsgName.$": "$.FilteredResults.MatchedNodeGroups[0].AsgName",
        "CurrentCapacity.$": "$.CurrentAsgInfo.DesiredCapacity",
        "MinimumRequired.$": "$.MinimumCapacity",
        "Action": "No scaling required"
      },
      "Next": "ScaleSucceeded"
    },
    "PrepareScalingInput": {
      "Type": "Pass",
      "Comment": "Prepare input for ASG scaling - MinSize/MaxSize are optional",
      "QueryLanguage": "JSONata",
      "Output": "{% $merge([$states.input, { \"ScalingConfig\": $merge([{ \"AsgName\": $states.input.FilteredResults.MatchedNodeGroups[0].AsgName, \"NodeGroupName\": $states.input.FilteredResults.MatchedNodeGroups[0].NodeGroupName, \"CurrentCapacity\": $states.input.CurrentAsgInfo.DesiredCapacity, \"DesiredCapacity\": $states.input.DesiredCapacity }, $exists($states.input.MinSize) ? { \"MinSize\": $states.input.MinSize } : {}, $exists($states.input.MaxSize) ? { \"MaxSize\": $states.input.MaxSize } : {} ]) }]) %}",
      "Next": "CheckScaleDirection"
    },
    "CheckScaleDirection": {
      "Type": "Choice",
      "Comment": "Only scale UP, never scale down - skip if current capacity already sufficient",
      "Choices": [
        {
          "Variable": "$.ScalingConfig.DesiredCapacity",
          "NumericGreaterThanPath": "$.ScalingConfig.CurrentCapacity",
          "Next": "CheckMinMaxProvided"
        }
      ],
      "Default": "NoScaleDownNeeded"
    },
    "NoScaleDownNeeded": {
      "Type": "Pass",
      "Comment": "Current capacity already meets or exceeds desired - no scale-down performed",
      "Parameters": {
        "Status": "AlreadySufficient",
        "ModuleName": "scale_nodegroup_asg",
        "NodeGroupName.$": "$.ScalingConfig.NodeGroupName",
        "AsgName.$": "$.ScalingConfig.AsgName",
        "CurrentCapacity.$": "$.ScalingConfig.CurrentCapacity",
        "RequestedCapacity.$": "$.ScalingConfig.DesiredCapacity",
        "Action": "No scale-down performed"
      },
      "Next": "ScaleSucceeded"
    },
    "CheckMinMaxProvided": {
      "Type": "Choice",
      "Comment": "Check if MinSize and MaxSize are provided",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.MinSize",
              "IsPresent": true
            },
            {
              "Variable": "$.MaxSize",
              "IsPresent": true
            }
          ],
          "Next": "UpdateAutoScalingGroup"
        }
      ],
      "Default": "SetDesiredCapacity"
    },
    "UpdateAutoScalingGroup": {
      "Type": "Task",
      "Comment": "Update ASG with desired capacity, min size, and max size",
      "Resource": "arn:aws:states:::aws-sdk:autoscaling:updateAutoScalingGroup",
      "Parameters": {
        "AutoScalingGroupName.$": "$.ScalingConfig.AsgName",
        "DesiredCapacity.$": "$.ScalingConfig.DesiredCapacity",
        "MinSize.$": "$.ScalingConfig.MinSize",
        "MaxSize.$": "$.ScalingConfig.MaxSize"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.UpdateResult",
      "Next": "WaitForScaling",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.UpdateError",
          "Next": "ScaleFailed"
        }
      ]
    },
    "SetDesiredCapacity": {
      "Type": "Task",
      "Comment": "Set only desired capacity (keep existing min/max)",
      "Resource": "arn:aws:states:::aws-sdk:autoscaling:setDesiredCapacity",
      "Parameters": {
        "AutoScalingGroupName.$": "$.ScalingConfig.AsgName",
        "DesiredCapacity.$": "$.ScalingConfig.DesiredCapacity"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.SetCapacityResult",
      "Next": "WaitForScaling",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.SetCapacityError",
          "Next": "ScaleFailed"
        }
      ]
    },
    "WaitForScaling": {
      "Type": "Wait",
      "Comment": "Wait for ASG instances to launch",
      "Seconds": 30,
      "Next": "CheckAsgInstances"
    },
    "CheckAsgInstances": {
      "Type": "Task",
      "Comment": "Check how many instances are InService in the ASG",
      "Resource": "arn:aws:states:::aws-sdk:autoscaling:describeAutoScalingGroups",
      "Parameters": {
        "AutoScalingGroupNames.$": "States.Array($.ScalingConfig.AsgName)"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "DesiredCapacity.$": "$.AutoScalingGroups[0].DesiredCapacity",
        "InServiceCount.$": "States.ArrayLength($.AutoScalingGroups[0].Instances[?(@.LifecycleState=='InService')])"
      },
      "ResultPath": "$.AsgStatus",
      "Next": "IsAsgReady",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.AsgCheckError",
          "Next": "PrepareOutput"
        }
      ]
    },
    "IsAsgReady": {
      "Type": "Choice",
      "Comment": "Check if enough instances are InService (matches desired capacity)",
      "Choices": [
        {
          "Variable": "$.AsgStatus.InServiceCount",
          "NumericGreaterThanOrEqualsPath": "$.AsgStatus.DesiredCapacity",
          "Next": "WaitPodsReady"
        }
      ],
      "Default": "WaitForScaling"
    },
    "WaitPodsReady": {
      "Type": "Wait",
      "Comment": "Wait additional time for system pods (Kyverno, Karpenter, CoreDNS) to become ready after node joins",
      "Seconds": 60,
      "Next": "PrepareOutput"
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Comment": "Prepare success output",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "scale_nodegroup_asg",
        "NodeGroupName.$": "$.ScalingConfig.NodeGroupName",
        "AsgName.$": "$.ScalingConfig.AsgName",
        "DesiredCapacity.$": "$.ScalingConfig.DesiredCapacity"
      },
      "Next": "ScaleSucceeded"
    },
    "NoMatchingNodeGroupFound": {
      "Type": "Pass",
      "Comment": "No matching node group found - continue without scaling",
      "Parameters": {
        "Status": "NoMatchFound",
        "ModuleName": "scale_nodegroup_asg",
        "Message": "No node group found matching the provided criteria (NodeSelector/Tolerations). Scaling skipped."
      },
      "Next": "ScaleSucceeded"
    },
    "ScaleFailed": {
      "Type": "Fail",
      "Error": "ScalingFailed",
      "Cause": "Failed to scale the Auto Scaling Group"
    },
    "ScaleSucceeded": {
      "Type": "Succeed"
    }
  }
}
