modules/step-functions/eks/verify_and_restart_services.asl.json
{
  "Comment": "Cross-account: Verifies that EKS services are using the correct EFS subpath and restarts them if needed. Supports both public (eks:call) and private (k8s-proxy Lambda) access modes via CheckAccessMode routing on $.EKS.AccessMode.",
  "StartAt": "CheckAccessMode",
  "States": {
    "CheckAccessMode": {
      "Type": "Choice",
      "Comment": "Route to public (eks:call via GetEksClusterInfo) or private (lambda:invoke) flow based on EKS.AccessMode",
      "Choices": [
        {
          "Variable": "$.EKS.AccessMode",
          "StringEquals": "public",
          "Next": "GetEksClusterInfo"
        }
      ],
      "Default": "InitPrivateDefaults"
    },
    "InitPrivateDefaults": {
      "Type": "Pass",
      "Comment": "Inject stub EksCluster so ItemSelector paths resolve. Values are unused in private mode.",
      "Result": {
        "Cluster": {
          "Name": "unused",
          "CertificateAuthority": { "Data": "unused" },
          "Endpoint": "unused"
        }
      },
      "ResultPath": "$.EksCluster",
      "Next": "GetExpectedSubPath"
    },
    "GetEksClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eks:describeCluster",
      "Parameters": {
        "Name.$": "$.EKS.ClusterName"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.EksCluster",
      "Next": "GetExpectedSubPath",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "VerificationFailed"
        }
      ]
    },
    "GetExpectedSubPath": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Parameters": {
        "Name.$": "$.SSMParameters.EfsSubPath"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "SubPath.$": "$.Parameter.Value"
      },
      "ResultPath": "$.ExpectedSubPath",
      "Next": "VerifyServicesMap",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.SubPathError",
          "Next": "PrepareOutput"
        }
      ]
    },
    "VerifyServicesMap": {
      "Type": "Map",
      "ItemsPath": "$.EKS.Services",
      "MaxConcurrency": 3,
      "ItemSelector": {
        "AccessMode.$": "$.EKS.AccessMode",
        "ClusterName.$": "$.EksCluster.Cluster.Name",
        "CertificateAuthority.$": "$.EksCluster.Cluster.CertificateAuthority.Data",
        "Endpoint.$": "$.EksCluster.Cluster.Endpoint",
        "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
        "EksClusterName.$": "$.EKS.ClusterName",
        "Namespace.$": "$.EKS.Namespace",
        "ServiceName.$": "$$.Map.Item.Value.Name",
        "ServiceType.$": "$$.Map.Item.Value.Kind",
        "ExpectedSubPath.$": "$.ExpectedSubPath.SubPath",
        "DestinationAccount.$": "$.DestinationAccount"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "CheckAccessModeForGet",
        "States": {
          "CheckAccessModeForGet": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.AccessMode",
                "StringEquals": "public",
                "Next": "GetService"
              }
            ],
            "Default": "GetServicePrivate"
          },
          "GetService": {
            "Type": "Task",
            "Resource": "arn:aws:states:::eks:call",
            "Parameters": {
              "ClusterName.$": "$.ClusterName",
              "CertificateAuthority.$": "$.CertificateAuthority",
              "Endpoint.$": "$.Endpoint",
              "Method": "GET",
              "Path.$": "States.Format('/apis/apps/v1/namespaces/{}/{}/{}', $.Namespace, $.ServiceType, $.ServiceName)"
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccount.RoleArn"
            },
            "ResultPath": "$.ServiceDetails",
            "Next": "ExtractCurrentSubPath",
            "Catch": [
              {
                "ErrorEquals": ["EKS.404"],
                "ResultPath": "$.ServiceError",
                "Next": "ServiceNotFound"
              }
            ]
          },
          "GetServicePrivate": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName.$": "$.K8sProxyLambdaArn",
              "Payload": {
                "Action": "call",
                "ClusterName.$": "$.EKS.ClusterName",
                "Method": "GET",
                "Path.$": "States.Format('/apis/apps/v1/namespaces/{}/{}/{}', $.Namespace, $.ServiceType, $.ServiceName)"
              }
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccount.RoleArn"
            },
            "ResultSelector": {
              "ResponseBody.$": "$.Payload.ResponseBody",
              "StatusCode.$": "$.Payload.StatusCode"
            },
            "ResultPath": "$.ServiceDetails",
            "Next": "ExtractCurrentSubPath",
            "Catch": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "ResultPath": "$.ServiceError",
                "Next": "ServiceNotFound"
              }
            ]
          },
          "ExtractCurrentSubPath": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Output": "{% {\"ServiceName\": $states.input.ServiceName, \"ServiceType\": $states.input.ServiceType, \"ExpectedSubPath\": $states.input.ExpectedSubPath, \"CurrentSubPath\": $states.input.ServiceDetails.ResponseBody.spec.template.spec.containers[0].env[name='SHARED_DATA_MEDIA_SUB_PATH'].value, \"AccessMode\": $states.input.AccessMode, \"ClusterName\": $states.input.ClusterName, \"CertificateAuthority\": $states.input.CertificateAuthority, \"Endpoint\": $states.input.Endpoint, \"K8sProxyLambdaArn\": $states.input.K8sProxyLambdaArn, \"EksClusterName\": $states.input.EKS.ClusterName, \"Namespace\": $states.input.Namespace, \"DestinationAccount\": $states.input.DestinationAccount} %}",
            "Next": "DecideIfRestartNeeded"
          },
          "DecideIfRestartNeeded": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.CurrentSubPath",
                "IsPresent": false,
                "Next": "SubPathCorrect"
              },
              {
                "Variable": "$.CurrentSubPath",
                "StringEqualsPath": "$.ExpectedSubPath",
                "Next": "SubPathCorrect"
              }
            ],
            "Default": "CheckAccessModeForRestart"
          },
          "CheckAccessModeForRestart": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.AccessMode",
                "StringEquals": "public",
                "Next": "RestartService"
              }
            ],
            "Default": "RestartServicePrivate"
          },
          "RestartService": {
            "Type": "Task",
            "Resource": "arn:aws:states:::eks:call",
            "Parameters": {
              "ClusterName.$": "$.ClusterName",
              "CertificateAuthority.$": "$.CertificateAuthority",
              "Endpoint.$": "$.Endpoint",
              "Method": "PATCH",
              "Path.$": "States.Format('/apis/apps/v1/namespaces/{}/{}/{}', $.Namespace, $.ServiceType, $.ServiceName)",
              "RequestBody": {
                "spec": {
                  "template": {
                    "metadata": {
                      "annotations": {
                        "kubectl.kubernetes.io/restartedAt.$": "$$.State.EnteredTime"
                      }
                    }
                  }
                }
              }
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccount.RoleArn"
            },
            "ResultPath": "$.RestartResult",
            "Next": "WaitForRestart",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.RestartError",
                "Next": "RestartFailed"
              }
            ]
          },
          "RestartServicePrivate": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName.$": "$.K8sProxyLambdaArn",
              "Payload": {
                "Action": "call",
                "ClusterName.$": "$.EKS.ClusterName",
                "Method": "PATCH",
                "Path.$": "States.Format('/apis/apps/v1/namespaces/{}/{}/{}', $.Namespace, $.ServiceType, $.ServiceName)",
                "RequestBody": {
                  "spec": {
                    "template": {
                      "metadata": {
                        "annotations": {
                          "kubectl.kubernetes.io/restartedAt.$": "$$.State.EnteredTime"
                        }
                      }
                    }
                  }
                }
              }
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccount.RoleArn"
            },
            "ResultSelector": {
              "ResponseBody.$": "$.Payload.ResponseBody",
              "StatusCode.$": "$.Payload.StatusCode"
            },
            "ResultPath": "$.RestartResult",
            "Next": "WaitForRestart",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.RestartError",
                "Next": "RestartFailed"
              }
            ]
          },
          "WaitForRestart": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "ServiceRestarted"
          },
          "ServiceRestarted": {
            "Type": "Pass",
            "Parameters": {
              "ServiceName.$": "$.ServiceName",
              "Status": "Restarted",
              "Reason": "Subpath mismatch detected"
            },
            "End": true
          },
          "SubPathCorrect": {
            "Type": "Pass",
            "Parameters": {
              "ServiceName.$": "$.ServiceName",
              "Status": "OK",
              "Reason": "Subpath already correct"
            },
            "End": true
          },
          "ServiceNotFound": {
            "Type": "Pass",
            "Parameters": {
              "ServiceName.$": "$.ServiceName",
              "Status": "NotFound",
              "Reason": "Service does not exist"
            },
            "End": true
          },
          "RestartFailed": {
            "Type": "Pass",
            "Parameters": {
              "ServiceName.$": "$.ServiceName",
              "Status": "Failed",
              "Reason": "Restart operation failed"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.VerificationResults",
      "Next": "PrepareOutput"
    },
    "PrepareOutput": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Output": "{% { \"Status\": \"Completed\", \"ModuleName\": \"verify_and_restart_services\", \"PrimaryIdentifier\": $states.input.EKS.ClusterName, \"Summary\": { \"TotalServices\": $count($states.input.VerificationResults), \"Restarted\": $count($states.input.VerificationResults[Status='Restarted']), \"OK\": $count($states.input.VerificationResults[Status='OK']), \"NotFound\": $count($states.input.VerificationResults[Status='NotFound']), \"Failed\": $count($states.input.VerificationResults[Status='Failed']), \"RestartedServices\": $states.input.VerificationResults[Status='Restarted'].ServiceName } } %}",
      "Next": "VerificationSucceeded"
    },
    "VerificationFailed": {
      "Type": "Fail",
      "Error": "VerificationFailed",
      "Cause": "Failed to verify or restart services"
    },
    "VerificationSucceeded": {
      "Type": "Succeed"
    }
  }
}
