modules/step-functions/sync/sync_config_items.asl.json
{
  "Comment": "Sync config items (secrets/parameters) between AWS accounts - routes SM/SSM via Choice state per item",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.ConfigSync.Enabled",
              "BooleanEquals": true
            },
            {
              "Variable": "$.ConfigSync.Items",
              "IsPresent": true
            }
          ],
          "Next": "MapOverItems"
        }
      ],
      "Default": "SyncSkipped"
    },
    "MapOverItems": {
      "Type": "Map",
      "ItemsPath": "$.ConfigSync.Items",
      "ItemSelector": {
        "Item.$": "$$.Map.Item.Value",
        "SourceAccount.$": "$.ConfigSync.SourceAccount",
        "DestinationAccount.$": "$.ConfigSync.DestinationAccount"
      },
      "MaxConcurrency": 1,
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "CheckType",
        "States": {
          "CheckType": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.Item.Type",
                "StringEquals": "SecretsManager",
                "Next": "SyncSMItem"
              },
              {
                "Variable": "$.Item.Type",
                "StringEquals": "SSMParameter",
                "Next": "SyncSSMItem"
              }
            ],
            "Default": "UnsupportedType"
          },
          "SyncSMItem": {
            "Type": "Task",
            "Resource": "${SyncConfigItemsLambdaArn}",
            "End": true,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.ErrorInfo",
                "Next": "ItemFailed"
              }
            ]
          },
          "SyncSSMItem": {
            "Type": "Task",
            "Resource": "${SyncConfigItemsLambdaArn}",
            "End": true,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.ErrorInfo",
                "Next": "ItemFailed"
              }
            ]
          },
          "UnsupportedType": {
            "Type": "Pass",
            "Parameters": {
              "statusCode": 200,
              "result": {
                "status": "error",
                "source.$": "$.Item.SourcePath",
                "destination.$": "$.Item.DestinationPath",
                "type.$": "$.Item.Type",
                "message": "Unsupported item type - must be SecretsManager or SSMParameter"
              }
            },
            "End": true
          },
          "ItemFailed": {
            "Type": "Pass",
            "Parameters": {
              "statusCode": 200,
              "result": {
                "status": "error",
                "source.$": "$.Item.SourcePath",
                "destination.$": "$.Item.DestinationPath",
                "type.$": "$.Item.Type",
                "message": "Lambda execution failed (infrastructure error)"
              }
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.SyncResults",
      "Next": "PrepareOutput"
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "sync_config_items",
        "Results.$": "$.SyncResults"
      },
      "Next": "SyncSucceeded"
    },
    "SyncSkipped": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Skipped",
        "ModuleName": "sync_config_items",
        "Reason": "ConfigSync disabled or no items"
      },
      "Next": "SyncSucceeded"
    },
    "SyncSucceeded": {
      "Type": "Succeed"
    }
  }
}
