modules/step-functions/efs/check_replication_sync.asl.json
{
  "Comment": "Monitors EFS cross-account replication sync status with lazy Lambda creation. Creates context-specific Lambdas on first use, reuses them on subsequent runs. Supports optional SSM parameters for subpath configuration.",
  "StartAt": "InitializeState",
  "States": {
    "InitializeState": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Initialize state and build Lambda names. DestinationSubpathSSMParameter is optional - if absent, destination subpath defaults to source subpath (replica has same directory structure).",
      "Output": {
        "SourceFileSystemId": "{% $states.input.SourceFileSystemId %}",
        "DestinationFileSystemId": "{% $states.input.DestinationFileSystemId %}",
        "SourceAccount": "{% $states.input.SourceAccount %}",
        "DestinationAccount": "{% $states.input.DestinationAccount %}",
        "Context": "{% $states.input.Context %}",
        "LambdaConfig": "{% $states.input.LambdaConfig %}",
        "WaitSeconds": 120,
        "MaxWaitCount": 120,
        "WaitCount": 0,
        "Mode": "{% $exists($states.input.Mode) ? $states.input.Mode : 'wait' %}",
        "SourceLambdaName": "{% $states.input.LambdaConfig.SourceLambdaPrefix & '-check-flag-file-' & $states.input.Context %}",
        "DestinationLambdaName": "{% $states.input.LambdaConfig.DestinationLambdaPrefix & '-check-flag-file-' & $states.input.Context %}",
        "SourceSubpath": "",
        "DestinationSubpath": "",
        "SourceSubpathSSMParameter": "{% $exists($states.input.SourceSubpathSSMParameter) ? $states.input.SourceSubpathSSMParameter : '' %}",
        "DestinationSubpathSSMParameter": "{% $exists($states.input.DestinationSubpathSSMParameter) ? $states.input.DestinationSubpathSSMParameter : '' %}"
      },
      "Next": "CheckIfSubpathConfigured"
    },
    "CheckIfSubpathConfigured": {
      "Type": "Choice",
      "Comment": "Check if SSM parameters for subpaths are configured",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.SourceSubpathSSMParameter",
              "IsPresent": true
            },
            {
              "Not": {
                "Variable": "$.SourceSubpathSSMParameter",
                "StringEquals": ""
              }
            }
          ],
          "Next": "ReadSourceSubpathFromSSM"
        }
      ],
      "Default": "GetReplicationStatus"
    },
    "ReadSourceSubpathFromSSM": {
      "Type": "Task",
      "Comment": "Read source EFS subpath from SSM Parameter Store in source account",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Parameters": {
        "Name.$": "$.SourceSubpathSSMParameter"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultSelector": {
        "Value.$": "$.Parameter.Value"
      },
      "ResultPath": "$.SourceSubpathResult",
      "Next": "StoreSourceSubpath",
      "Catch": [
        {
          "ErrorEquals": ["Ssm.ParameterNotFoundException"],
          "ResultPath": "$.SourceSubpathError",
          "Comment": "Parameter not found, continue with empty subpath",
          "Next": "CheckIfDestinationSubpathConfigured"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.SourceSubpathError",
          "Next": "CheckIfDestinationSubpathConfigured"
        }
      ]
    },
    "StoreSourceSubpath": {
      "Type": "Pass",
      "Comment": "Store the source subpath value in state",
      "Parameters": {
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.DestinationFileSystemId",
        "SourceAccount.$": "$.SourceAccount",
        "DestinationAccount.$": "$.DestinationAccount",
        "Context.$": "$.Context",
        "LambdaConfig.$": "$.LambdaConfig",
        "WaitSeconds.$": "$.WaitSeconds",
        "MaxWaitCount.$": "$.MaxWaitCount",
        "WaitCount.$": "$.WaitCount",
        "Mode.$": "$.Mode",
        "SourceLambdaName.$": "$.SourceLambdaName",
        "DestinationLambdaName.$": "$.DestinationLambdaName",
        "SourceSubpathSSMParameter.$": "$.SourceSubpathSSMParameter",
        "DestinationSubpathSSMParameter.$": "$.DestinationSubpathSSMParameter",
        "SourceSubpath.$": "$.SourceSubpathResult.Value",
        "DestinationSubpath.$": "$.SourceSubpathResult.Value"
      },
      "Comment": "Default DestinationSubpath to source value (replica has same structure). Overridden by ReadDestinationSubpathFromSSM if configured.",
      "Next": "CheckIfDestinationSubpathConfigured"
    },
    "CheckIfDestinationSubpathConfigured": {
      "Type": "Choice",
      "Comment": "Check if destination SSM parameter for subpath is configured",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.DestinationSubpathSSMParameter",
              "IsPresent": true
            },
            {
              "Not": {
                "Variable": "$.DestinationSubpathSSMParameter",
                "StringEquals": ""
              }
            }
          ],
          "Next": "ReadDestinationSubpathFromSSM"
        }
      ],
      "Default": "GetReplicationStatus"
    },
    "ReadDestinationSubpathFromSSM": {
      "Type": "Task",
      "Comment": "Read destination EFS subpath from SSM Parameter Store in destination account",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Parameters": {
        "Name.$": "$.DestinationSubpathSSMParameter"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "Value.$": "$.Parameter.Value"
      },
      "ResultPath": "$.DestinationSubpathResult",
      "Next": "StoreDestinationSubpath",
      "Catch": [
        {
          "ErrorEquals": ["Ssm.ParameterNotFoundException"],
          "ResultPath": "$.DestinationSubpathError",
          "Comment": "Parameter not found, continue with empty subpath",
          "Next": "GetReplicationStatus"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.DestinationSubpathError",
          "Next": "GetReplicationStatus"
        }
      ]
    },
    "StoreDestinationSubpath": {
      "Type": "Pass",
      "Comment": "Store the destination subpath value in state",
      "Parameters": {
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.DestinationFileSystemId",
        "SourceAccount.$": "$.SourceAccount",
        "DestinationAccount.$": "$.DestinationAccount",
        "Context.$": "$.Context",
        "LambdaConfig.$": "$.LambdaConfig",
        "WaitSeconds.$": "$.WaitSeconds",
        "MaxWaitCount.$": "$.MaxWaitCount",
        "WaitCount.$": "$.WaitCount",
        "Mode.$": "$.Mode",
        "SourceLambdaName.$": "$.SourceLambdaName",
        "DestinationLambdaName.$": "$.DestinationLambdaName",
        "SourceSubpathSSMParameter.$": "$.SourceSubpathSSMParameter",
        "DestinationSubpathSSMParameter.$": "$.DestinationSubpathSSMParameter",
        "SourceSubpath.$": "$.SourceSubpath",
        "DestinationSubpath.$": "$.DestinationSubpathResult.Value"
      },
      "Next": "GetReplicationStatus"
    },
    "GetReplicationStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeReplicationConfigurations",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.ReplicationStatus",
      "Next": "CheckReplicationState",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "CheckFailed"
        }
      ]
    },
    "CheckReplicationState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ReplicationStatus.Replications[0].Destinations[0].Status",
          "StringEquals": "ENABLED",
          "Next": "CheckLastSyncTime"
        },
        {
          "Variable": "$.ReplicationStatus.Replications[0].Destinations[0].Status",
          "StringEquals": "ENABLING",
          "Next": "HandleEnablingState"
        },
        {
          "Variable": "$.ReplicationStatus.Replications[0].Destinations[0].Status",
          "StringEquals": "ERROR",
          "Next": "ReplicationError"
        },
        {
          "Variable": "$.ReplicationStatus.Replications[0].Destinations[0].Status",
          "StringEquals": "DELETING",
          "Next": "ReplicationError"
        }
      ],
      "Default": "WaitForReplication"
    },
    "HandleEnablingState": {
      "Type": "Choice",
      "Comment": "In check mode report status, in wait mode keep waiting",
      "Choices": [
        {
          "Variable": "$.Mode",
          "StringEquals": "check",
          "Next": "PrepareEnablingOutput"
        }
      ],
      "Default": "WaitForReplication"
    },
    "PrepareEnablingOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Enabling",
        "ModuleName": "check_replication_sync",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.DestinationFileSystemId",
        "ReplicationState.$": "$.ReplicationStatus.Replications[0].Destinations[0].Status",
        "Message": "Replication is being enabled, initial sync not yet started"
      },
      "Next": "CheckSucceeded"
    },
    "CheckLastSyncTime": {
      "Type": "Choice",
      "Comment": "Check if initial sync has completed by verifying LastReplicatedTimestamp exists",
      "Choices": [
        {
          "Variable": "$.ReplicationStatus.Replications[0].Destinations[0].LastReplicatedTimestamp",
          "IsPresent": true,
          "Next": "CheckFlagFileEnabled"
        }
      ],
      "Default": "HandleNoSyncYet"
    },
    "HandleNoSyncYet": {
      "Type": "Choice",
      "Comment": "In check mode report status, in wait mode keep waiting",
      "Choices": [
        {
          "Variable": "$.Mode",
          "StringEquals": "check",
          "Next": "PrepareNoSyncOutput"
        }
      ],
      "Default": "WaitForReplication"
    },
    "PrepareNoSyncOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Syncing",
        "ModuleName": "check_replication_sync",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.DestinationFileSystemId",
        "ReplicationState.$": "$.ReplicationStatus.Replications[0].Destinations[0].Status",
        "Message": "Initial sync in progress, no LastReplicatedTimestamp yet"
      },
      "Next": "CheckSucceeded"
    },
    "CheckFlagFileEnabled": {
      "Type": "Choice",
      "Comment": "If flag file verification is enabled, proceed with sub-SFN call",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.LambdaConfig.EnableFlagFileCheck",
              "IsPresent": true
            },
            {
              "Variable": "$.LambdaConfig.EnableFlagFileCheck",
              "BooleanEquals": true
            }
          ],
          "Next": "GenerateFlagId"
        }
      ],
      "Default": "PrepareOutputNoFlagCheck"
    },
    "PrepareOutputNoFlagCheck": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Synced",
        "ModuleName": "check_replication_sync",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.ReplicationStatus.Replications[0].Destinations[0].FileSystemId",
        "LastReplicatedTimestamp.$": "$.ReplicationStatus.Replications[0].Destinations[0].LastReplicatedTimestamp",
        "FlagFileVerified": false,
        "Message": "Replication sync confirmed via API (flag file check disabled)"
      },
      "Next": "CheckSucceeded"
    },
    "GenerateFlagId": {
      "Type": "Pass",
      "Parameters": {
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.DestinationFileSystemId",
        "SourceAccount.$": "$.SourceAccount",
        "DestinationAccount.$": "$.DestinationAccount",
        "Context.$": "$.Context",
        "LambdaConfig.$": "$.LambdaConfig",
        "SourceLambdaName.$": "$.SourceLambdaName",
        "DestinationLambdaName.$": "$.DestinationLambdaName",
        "WaitSeconds.$": "$.WaitSeconds",
        "MaxWaitCount.$": "$.MaxWaitCount",
        "WaitCount.$": "$.WaitCount",
        "Mode.$": "$.Mode",
        "ReplicationStatus.$": "$.ReplicationStatus",
        "SourceSubpath.$": "$.SourceSubpath",
        "DestinationSubpath.$": "$.DestinationSubpath",
        "FlagId.$": "States.UUID()"
      },
      "Next": "CallCheckFlagFileSync"
    },
    "CallCheckFlagFileSync": {
      "Type": "Task",
      "Comment": "Delegate flag file sync verification to CheckFlagFileSync sub-SFN",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${check_flag_file_sync_arn}",
        "Input": {
          "SourceFileSystemId.$": "$.SourceFileSystemId",
          "DestinationFileSystemId.$": "$.DestinationFileSystemId",
          "SourceAccount.$": "$.SourceAccount",
          "DestinationAccount.$": "$.DestinationAccount",
          "LambdaConfig.$": "$.LambdaConfig",
          "SourceSubpath.$": "$.SourceSubpath",
          "DestinationSubpath.$": "$.DestinationSubpath",
          "FlagId.$": "$.FlagId",
          "Context.$": "$.Context"
        },
        "Name.$": "States.Format('{}-FlagSync', $$.Execution.Name)"
      },
      "ResultSelector": {
        "SyncVerified.$": "$.Output.SyncVerified",
        "FlagId.$": "$.Output.FlagId",
        "SourceTime.$": "$.Output.SourceTime",
        "DestinationTime.$": "$.Output.DestinationTime",
        "Status.$": "$.Output.Status"
      },
      "ResultPath": "$.FlagSyncResult",
      "Next": "PrepareFlagVerifiedOutput",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.FlagSyncError",
          "Next": "PrepareOutputAfterTimeout"
        }
      ]
    },
    "PrepareFlagVerifiedOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Verified",
        "ModuleName": "check_replication_sync",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.ReplicationStatus.Replications[0].Destinations[0].FileSystemId",
        "FlagFileVerified": true,
        "FlagId.$": "$.FlagId",
        "Context.$": "$.Context",
        "SourceLambdaName.$": "$.SourceLambdaName",
        "DestinationLambdaName.$": "$.DestinationLambdaName",
        "Message": "Replication sync verified with flag file test",
        "ReplicationInfo": {
          "CreationTime.$": "$.ReplicationStatus.Replications[0].CreationTime",
          "Status.$": "$.ReplicationStatus.Replications[0].Destinations[0].Status",
          "LastReplicatedTimestamp.$": "$.ReplicationStatus.Replications[0].Destinations[0].LastReplicatedTimestamp",
          "SourceFileSystemArn.$": "$.ReplicationStatus.Replications[0].SourceFileSystemArn",
          "DestinationFileSystemArn.$": "$.ReplicationStatus.Replications[0].Destinations[0].FileSystemId"
        },
        "PropagationTiming": {
          "FlagWriteTimestamp.$": "$.FlagSyncResult.SourceTime",
          "FlagDetectedTimestamp.$": "$.FlagSyncResult.DestinationTime",
          "FlagRetryCount": 0
        },
        "SourceDirectoryListing": {},
        "DestinationDirectoryListing": {}
      },
      "Next": "CheckSucceeded"
    },
    "PrepareOutputAfterTimeout": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Timeout",
        "ModuleName": "check_replication_sync",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.DestinationFileSystemId",
        "FlagId.$": "$.FlagId",
        "Message": "Flag file verification timed out"
      },
      "Next": "CheckSucceeded"
    },
    "WaitForReplication": {
      "Type": "Wait",
      "SecondsPath": "$.WaitSeconds",
      "Next": "IncrementCounter"
    },
    "IncrementCounter": {
      "Type": "Pass",
      "Parameters": {
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.DestinationFileSystemId",
        "SourceAccount.$": "$.SourceAccount",
        "DestinationAccount.$": "$.DestinationAccount",
        "Context.$": "$.Context",
        "LambdaConfig.$": "$.LambdaConfig",
        "SourceLambdaName.$": "$.SourceLambdaName",
        "DestinationLambdaName.$": "$.DestinationLambdaName",
        "WaitSeconds.$": "$.WaitSeconds",
        "MaxWaitCount.$": "$.MaxWaitCount",
        "WaitCount.$": "States.MathAdd($.WaitCount, 1)",
        "Mode.$": "$.Mode",
        "SourceSubpathSSMParameter.$": "$.SourceSubpathSSMParameter",
        "DestinationSubpathSSMParameter.$": "$.DestinationSubpathSSMParameter",
        "SourceSubpath.$": "$.SourceSubpath",
        "DestinationSubpath.$": "$.DestinationSubpath"
      },
      "Next": "CheckTimeout"
    },
    "CheckTimeout": {
      "Type": "Choice",
      "Comment": "Check if we've exceeded maximum wait iterations",
      "Choices": [
        {
          "Variable": "$.WaitCount",
          "NumericGreaterThanPath": "$.MaxWaitCount",
          "Next": "TimeoutReached"
        }
      ],
      "Default": "GetReplicationStatus"
    },
    "TimeoutReached": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Timeout",
        "ModuleName": "check_replication_sync",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.DestinationFileSystemId",
        "WaitCount.$": "$.WaitCount",
        "Message": "Timeout waiting for replication sync"
      },
      "Next": "CheckSucceeded"
    },
    "ReplicationError": {
      "Type": "Fail",
      "Error": "ReplicationError",
      "Cause": "EFS replication is in error or deleting state"
    },
    "CheckFailed": {
      "Type": "Fail",
      "Error": "CheckFailed",
      "Cause": "Failed to check replication status"
    },
    "CheckSucceeded": {
      "Type": "Succeed"
    }
  }
}
