modules/step-functions/efs/delete_replication.asl.json
{
  "Comment": "Deletes EFS replication configuration and cleans up source policy. After deletion, the destination file system becomes Writable.",
  "StartAt": "PrepareDeletionContext",
  "States": {
    "PrepareDeletionContext": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Determine deletion mode: destination-side (cross-account or cross-region) or source-side (same account+region). Cross-account replication must be deleted from the destination side. Cross-region also requires destination-side deletion since source EFS is unreachable from the SFN region.",
      "Output": "{% ($sfnRegion := $split($states.context.StateMachine.Id, ':')[3]; $isCrossRegion := $exists($states.input.SourceAccount.Region) and $states.input.SourceAccount.Region != $sfnRegion; $isCrossAccount := $exists($states.input.SourceAccount.AccountId) and $exists($states.input.DestinationAccount.AccountId) and $states.input.SourceAccount.AccountId != $states.input.DestinationAccount.AccountId; $useDestinationSide := ($isCrossAccount or $isCrossRegion) and $exists($states.input.DestinationFileSystemId); $merge([$states.input, {'DeletionRoleArn': $useDestinationSide ? $states.input.DestinationAccount.RoleArn : $states.input.SourceAccount.RoleArn, 'DescribeFileSystemId': $useDestinationSide ? $states.input.DestinationFileSystemId : $states.input.SourceFileSystemId, 'SkipSourcePolicyCleanup': $isCrossRegion}])) %}",
      "Next": "GetReplicationConfig"
    },
    "GetReplicationConfig": {
      "Type": "Task",
      "Comment": "Check if replication configuration exists (uses destination-side credentials for cross-region)",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeReplicationConfigurations",
      "Parameters": {
        "FileSystemId.$": "$.DescribeFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.DeletionRoleArn"
      },
      "ResultPath": "$.ReplicationConfig",
      "Next": "HasReplicationConfig",
      "Catch": [
        {
          "ErrorEquals": ["Efs.ReplicationNotFoundException"],
          "ResultPath": "$.Error",
          "Next": "NoReplicationExists"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "DeleteFailed"
        }
      ]
    },
    "HasReplicationConfig": {
      "Type": "Choice",
      "Comment": "Check if replication configuration exists",
      "Choices": [
        {
          "Variable": "$.ReplicationConfig.Replications[0]",
          "IsPresent": true,
          "Next": "ExtractDestinationInfo"
        }
      ],
      "Default": "NoReplicationExists"
    },
    "ExtractDestinationInfo": {
      "Type": "Pass",
      "Comment": "Extract destination file system info before deletion",
      "Parameters": {
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "SourceAccount.$": "$.SourceAccount",
        "DestinationAccount.$": "$.DestinationAccount",
        "DestinationFileSystemId.$": "$.ReplicationConfig.Replications[0].Destinations[0].FileSystemId",
        "DestinationRegion.$": "$.ReplicationConfig.Replications[0].Destinations[0].Region",
        "ReplicationStatus.$": "$.ReplicationConfig.Replications[0].Destinations[0].Status",
        "DeleteDestinationFileSystem.$": "States.ArrayGetItem(States.Array($.DeleteDestinationFileSystem, false), 0)",
        "DeletionRoleArn.$": "$.DeletionRoleArn",
        "DescribeFileSystemId.$": "$.DescribeFileSystemId",
        "SkipSourcePolicyCleanup.$": "$.SkipSourcePolicyCleanup"
      },
      "Next": "DeleteReplicationConfig"
    },
    "DeleteReplicationConfig": {
      "Type": "Task",
      "Comment": "Delete the replication configuration (uses destination-side credentials for cross-region)",
      "Resource": "arn:aws:states:::aws-sdk:efs:deleteReplicationConfiguration",
      "Parameters": {
        "SourceFileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.DeletionRoleArn"
      },
      "ResultPath": null,
      "Next": "WaitReplicationDeleted",
      "Retry": [
        {
          "ErrorEquals": ["Efs.ReplicationNotFoundException"],
          "MaxAttempts": 0
        },
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["Efs.ReplicationNotFoundException"],
          "ResultPath": "$.Error",
          "Next": "NoReplicationExists"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "DeleteFailed"
        }
      ]
    },
    "WaitReplicationDeleted": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckReplicationDeleted"
    },
    "CheckReplicationDeleted": {
      "Type": "Task",
      "Comment": "Verify replication is deleted (uses destination-side credentials for cross-region)",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeReplicationConfigurations",
      "Parameters": {
        "FileSystemId.$": "$.DescribeFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.DeletionRoleArn"
      },
      "ResultPath": "$.CheckResult",
      "Next": "IsReplicationDeleted",
      "Catch": [
        {
          "ErrorEquals": ["Efs.ReplicationNotFoundException"],
          "ResultPath": "$.CheckError",
          "Next": "CheckSkipSourcePolicyCleanup"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CheckError",
          "Next": "CheckSkipSourcePolicyCleanup"
        }
      ]
    },
    "IsReplicationDeleted": {
      "Type": "Choice",
      "Comment": "Check if replication is fully deleted",
      "Choices": [
        {
          "Variable": "$.CheckResult.Replications[0]",
          "IsPresent": false,
          "Next": "CheckSkipSourcePolicyCleanup"
        },
        {
          "Variable": "$.CheckResult.Replications[0].Destinations[0].Status",
          "StringEquals": "DELETING",
          "Next": "WaitReplicationDeleted"
        }
      ],
      "Default": "CheckSkipSourcePolicyCleanup"
    },

    "CheckSkipSourcePolicyCleanup": {
      "Type": "Choice",
      "Comment": "Skip source policy cleanup for cross-region deletion (source EFS unreachable from this region)",
      "Choices": [
        {
          "Variable": "$.SkipSourcePolicyCleanup",
          "BooleanEquals": true,
          "Next": "ShouldDeleteDestination"
        }
      ],
      "Default": "GetSourcePolicyForCleanup"
    },
    "GetSourcePolicyForCleanup": {
      "Type": "Task",
      "Comment": "Read source EFS policy to clean up AllowReplicationWrite statement",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystemPolicy",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.SourcePolicyForCleanup",
      "Next": "CheckSourcePolicyForCleanup",
      "Catch": [
        {
          "ErrorEquals": ["Efs.PolicyNotFound"],
          "ResultPath": "$.CleanupError",
          "Comment": "No policy exists, nothing to clean up",
          "Next": "ShouldDeleteDestination"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CleanupError",
          "Comment": "Don't fail the workflow for cleanup errors",
          "Next": "ShouldDeleteDestination"
        }
      ]
    },
    "CheckSourcePolicyForCleanup": {
      "Type": "Choice",
      "Comment": "Check if source policy contains AllowReplicationWrite to clean up",
      "Choices": [
        {
          "Variable": "$.SourcePolicyForCleanup.Policy",
          "StringMatches": "*AllowReplicationWrite*",
          "Next": "ParseSourcePolicyForCleanup"
        }
      ],
      "Default": "ShouldDeleteDestination"
    },
    "ParseSourcePolicyForCleanup": {
      "Type": "Pass",
      "Comment": "Parse source policy JSON string to object for JSONata cleanup",
      "Parameters": {
        "PolicyObject.$": "States.StringToJson($.SourcePolicyForCleanup.Policy)"
      },
      "ResultPath": "$.ParsedCleanupPolicy",
      "Next": "CleanSourcePolicyJSONata"
    },
    "CleanSourcePolicyJSONata": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Remove AllowReplicationWrite statement from source policy using JSONata",
      "Assign": {
        "cleanedSourcePolicyString": "{% ($stmts := $type($states.input.ParsedCleanupPolicy.PolicyObject.Statement) = 'array' ? $states.input.ParsedCleanupPolicy.PolicyObject.Statement : [$states.input.ParsedCleanupPolicy.PolicyObject.Statement]; $filtered := $filter($stmts, function($s) { $s.Sid != 'AllowReplicationWrite' }); $string({'Version': '2012-10-17', 'Statement': $filtered})) %}",
        "cleanedPolicyEmpty": "{% ($stmts := $type($states.input.ParsedCleanupPolicy.PolicyObject.Statement) = 'array' ? $states.input.ParsedCleanupPolicy.PolicyObject.Statement : [$states.input.ParsedCleanupPolicy.PolicyObject.Statement]; $count($filter($stmts, function($s) { $s.Sid != 'AllowReplicationWrite' })) = 0) %}"
      },
      "Next": "CheckCleanedPolicyEmpty"
    },
    "CheckCleanedPolicyEmpty": {
      "Type": "Choice",
      "Comment": "If all statements were removed, delete the policy entirely instead of putting an empty one",
      "Choices": [
        {
          "Variable": "$cleanedPolicyEmpty",
          "BooleanEquals": true,
          "Next": "DeleteSourcePolicy"
        }
      ],
      "Default": "PutCleanedSourcePolicy"
    },
    "DeleteSourcePolicy": {
      "Type": "Task",
      "Comment": "Delete source EFS policy entirely (was only AllowReplicationWrite)",
      "Resource": "arn:aws:states:::aws-sdk:efs:deleteFileSystemPolicy",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "ShouldDeleteDestination",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CleanupError",
          "Comment": "Don't fail the workflow for cleanup errors",
          "Next": "ShouldDeleteDestination"
        }
      ]
    },
    "PutCleanedSourcePolicy": {
      "Type": "Task",
      "Comment": "Put the cleaned policy (without AllowReplicationWrite) back on source EFS",
      "Resource": "arn:aws:states:::aws-sdk:efs:putFileSystemPolicy",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId",
        "Policy.$": "$cleanedSourcePolicyString"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "ShouldDeleteDestination",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CleanupError",
          "Comment": "Don't fail the workflow for cleanup errors",
          "Next": "ShouldDeleteDestination"
        }
      ]
    },

    "ShouldDeleteDestination": {
      "Type": "Choice",
      "Comment": "Check if we should also delete the destination file system",
      "Choices": [
        {
          "Variable": "$.DeleteDestinationFileSystem",
          "BooleanEquals": true,
          "Next": "DeleteDestinationFileSystem"
        }
      ],
      "Default": "PrepareOutput"
    },
    "DeleteDestinationFileSystem": {
      "Type": "Task",
      "Comment": "Delete the destination EFS file system",
      "Resource": "arn:aws:states:::aws-sdk:efs:deleteFileSystem",
      "Parameters": {
        "FileSystemId.$": "$.DestinationFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "PrepareOutputWithDeletion",
      "Retry": [
        {
          "ErrorEquals": ["Efs.FileSystemInUse"],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["Efs.FileSystemNotFoundException"],
          "ResultPath": "$.DeleteDestError",
          "Next": "PrepareOutputWithDeletion"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.DeleteDestError",
          "Next": "DeleteDestinationFailed"
        }
      ]
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "delete_replication",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.DestinationFileSystemId",
        "DestinationFileSystemDeleted": false,
        "Message": "Replication configuration deleted and source policy cleaned up. Destination EFS is now writable."
      },
      "Next": "DeleteSucceeded"
    },
    "PrepareOutputWithDeletion": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "delete_replication",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.DestinationFileSystemId",
        "DestinationFileSystemDeleted": true,
        "Message": "Replication configuration, source policy cleaned up, and destination file system deleted."
      },
      "Next": "DeleteSucceeded"
    },
    "NoReplicationExists": {
      "Type": "Pass",
      "Parameters": {
        "Status": "NoReplication",
        "ModuleName": "delete_replication",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "Message": "No replication configuration found for this file system."
      },
      "Next": "DeleteSucceeded"
    },
    "DeleteDestinationFailed": {
      "Type": "Fail",
      "Error": "DeleteDestinationFailed",
      "Cause": "Replication deleted but failed to delete destination file system"
    },
    "DeleteFailed": {
      "Type": "Fail",
      "Error": "DeleteReplicationFailed",
      "Cause": "Failed to delete EFS replication configuration"
    },
    "DeleteSucceeded": {
      "Type": "Succeed"
    }
  }
}
