modules/step-functions/efs/restore_from_backup.asl.json
{
  "Comment": "Restores an EFS file system from an AWS Backup recovery point. Two modes: (1) local — same-account restore (start-restore-job directly); (2) cross-account — copy-then-restore: AWS Backup has NO direct cross-account restore, so the source recovery point is first copied into a destination-account vault (start-copy-job, source is READ-ONLY), then restored locally (start-restore-job). Mode is driven by input $.CrossAccount. Recovery point is taken from input $.RecoveryPointArn if provided, otherwise the latest COMPLETED point for the source EFS is auto-selected (its source vault is auto-discovered).",
  "StartAt": "InitCounters",
  "States": {
    "InitCounters": {
      "Type": "Pass",
      "Comment": "Bound the copy/restore polling loops to avoid infinite waits",
      "Parameters": {
        "Copy": 0,
        "Restore": 0
      },
      "ResultPath": "$.Polls",
      "Next": "GetSourceEFSInfo"
    },
    "GetSourceEFSInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {},
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.SourceFileSystems",
      "Next": "ExtractSourceEFS",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "RestoreFailed"
        }
      ]
    },
    "ExtractSourceEFS": {
      "Type": "Pass",
      "Parameters": {
        "FileSystemArn.$": "States.ArrayGetItem($.SourceFileSystems.FileSystems[?(@.Name==$.SourceEFSName)].FileSystemArn, 0)",
        "FileSystemId.$": "States.ArrayGetItem($.SourceFileSystems.FileSystems[?(@.Name==$.SourceEFSName)].FileSystemId, 0)"
      },
      "ResultPath": "$.SourceEFS",
      "Next": "HasExplicitRecoveryPoint"
    },
    "HasExplicitRecoveryPoint": {
      "Type": "Choice",
      "Comment": "Use an explicitly provided recovery point (with its vault), else auto-select the latest COMPLETED point for the source EFS.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.RecoveryPointArn", "IsPresent": true},
            {"Variable": "$.SourceVaultName", "IsPresent": true}
          ],
          "Next": "UseExplicitRecoveryPoint"
        }
      ],
      "Default": "GetLatestRecoveryPoint"
    },
    "UseExplicitRecoveryPoint": {
      "Type": "Pass",
      "Parameters": {
        "RecoveryPointArn.$": "$.RecoveryPointArn",
        "BackupVaultName.$": "$.SourceVaultName"
      },
      "ResultPath": "$.SourceRP",
      "Next": "IsCrossAccount"
    },
    "GetLatestRecoveryPoint": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:backup:listRecoveryPointsByResource",
      "Parameters": {
        "ResourceArn.$": "$.SourceEFS.FileSystemArn"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultSelector": {
        "RecoveryPointArn.$": "States.ArrayGetItem($.RecoveryPoints[?(@.Status=='COMPLETED')].RecoveryPointArn, 0)",
        "BackupVaultName.$": "States.ArrayGetItem($.RecoveryPoints[?(@.Status=='COMPLETED')].BackupVaultName, 0)"
      },
      "ResultPath": "$.SourceRP",
      "Next": "IsCrossAccount",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "RestoreFailed"
        }
      ]
    },
    "IsCrossAccount": {
      "Type": "Choice",
      "Comment": "Cross-account requires copy-then-restore; same-account restores directly from the source recovery point.",
      "Choices": [
        {
          "Variable": "$.CrossAccount",
          "BooleanEquals": true,
          "Next": "StartCopyJob"
        }
      ],
      "Default": "SetLocalRestoreRP"
    },
    "SetLocalRestoreRP": {
      "Type": "Pass",
      "Comment": "Local mode: restore straight from the source recovery point (same account).",
      "Parameters": {
        "RecoveryPointArn.$": "$.SourceRP.RecoveryPointArn"
      },
      "ResultPath": "$.RestoreRP",
      "Next": "StartRestoreJob"
    },
    "StartCopyJob": {
      "Type": "Task",
      "Comment": "Copy the source recovery point into the destination-account vault. Runs with SOURCE credentials; passes the source copy role to AWS Backup. Non-destructive on the source.",
      "Resource": "arn:aws:states:::aws-sdk:backup:startCopyJob",
      "Parameters": {
        "RecoveryPointArn.$": "$.SourceRP.RecoveryPointArn",
        "SourceBackupVaultName.$": "$.SourceRP.BackupVaultName",
        "DestinationBackupVaultArn.$": "$.DestinationVaultArn",
        "IamRoleArn.$": "$.CopyRoleArn"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.CopyJob",
      "Next": "WaitCopyDone",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 15,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "RestoreFailed"
        }
      ]
    },
    "WaitCopyDone": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "IncrementCopyPoll"
    },
    "IncrementCopyPoll": {
      "Type": "Pass",
      "Parameters": {
        "Copy.$": "States.MathAdd($.Polls.Copy, 1)",
        "Restore.$": "$.Polls.Restore"
      },
      "ResultPath": "$.Polls",
      "Next": "GetCopyStatus"
    },
    "GetCopyStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:backup:describeCopyJob",
      "Parameters": {
        "CopyJobId.$": "$.CopyJob.CopyJobId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.CopyStatus",
      "Next": "IsCopyCompleted",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CopyStatusError",
          "Next": "CheckCopyPollLimit"
        }
      ]
    },
    "IsCopyCompleted": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.CopyStatus.CopyJob.State",
          "StringEquals": "COMPLETED",
          "Next": "SetCopiedRestoreRP"
        },
        {
          "Variable": "$.CopyStatus.CopyJob.State",
          "StringEquals": "FAILED",
          "Next": "RestoreFailed"
        },
        {
          "Variable": "$.CopyStatus.CopyJob.State",
          "StringEquals": "PARTIAL",
          "Next": "RestoreFailed"
        }
      ],
      "Default": "CheckCopyPollLimit"
    },
    "CheckCopyPollLimit": {
      "Type": "Choice",
      "Comment": "Cap copy polling (60s x 480 = up to 8h) before failing.",
      "Choices": [
        {
          "Variable": "$.Polls.Copy",
          "NumericGreaterThan": 480,
          "Next": "CopyTimedOut"
        }
      ],
      "Default": "WaitCopyDone"
    },
    "CopyTimedOut": {
      "Type": "Fail",
      "Error": "CopyTimedOut",
      "Cause": "Cross-account copy job did not complete within the polling window"
    },
    "SetCopiedRestoreRP": {
      "Type": "Pass",
      "Comment": "Cross-account mode: restore from the copied recovery point now in the destination vault.",
      "Parameters": {
        "RecoveryPointArn.$": "$.CopyStatus.CopyJob.DestinationRecoveryPointArn"
      },
      "ResultPath": "$.RestoreRP",
      "Next": "StartRestoreJob"
    },
    "StartRestoreJob": {
      "Type": "Task",
      "Comment": "Restore a new EFS from the recovery point (local to the destination account). Runs with DESTINATION credentials.",
      "Resource": "arn:aws:states:::aws-sdk:backup:startRestoreJob",
      "Parameters": {
        "RecoveryPointArn.$": "$.RestoreRP.RecoveryPointArn",
        "IamRoleArn.$": "$.AWSBackupRoleArn",
        "Metadata": {
          "file-system-id.$": "$.SourceEFS.FileSystemId",
          "Encrypted.$": "$.Encrypted",
          "KmsKeyId.$": "$.KmsKeyId",
          "PerformanceMode": "generalPurpose",
          "newFileSystem.$": "$.NewFileSystem",
          "ItemsToRestore.$": "$.ItemsToRestore",
          "CreationToken.$": "States.UUID()"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.RestoreJob",
      "Next": "WaitRestoreDone",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "RestoreFailed"
        }
      ]
    },
    "WaitRestoreDone": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "IncrementRestorePoll"
    },
    "IncrementRestorePoll": {
      "Type": "Pass",
      "Parameters": {
        "Copy.$": "$.Polls.Copy",
        "Restore.$": "States.MathAdd($.Polls.Restore, 1)"
      },
      "ResultPath": "$.Polls",
      "Next": "GetRestoreStatus"
    },
    "GetRestoreStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:backup:describeRestoreJob",
      "Parameters": {
        "RestoreJobId.$": "$.RestoreJob.RestoreJobId"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.RestoreStatus",
      "Next": "IsRestoreCompleted",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.StatusError",
          "Next": "CheckRestorePollLimit"
        }
      ]
    },
    "IsRestoreCompleted": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.RestoreStatus.Status",
          "StringEquals": "COMPLETED",
          "Next": "FormatRestoredEFS"
        },
        {
          "Variable": "$.RestoreStatus.Status",
          "StringEquals": "FAILED",
          "Next": "RestoreFailed"
        },
        {
          "Variable": "$.RestoreStatus.Status",
          "StringEquals": "ABORTED",
          "Next": "RestoreFailed"
        }
      ],
      "Default": "CheckRestorePollLimit"
    },
    "CheckRestorePollLimit": {
      "Type": "Choice",
      "Comment": "Cap restore polling (30s x 480 = up to 4h) before failing.",
      "Choices": [
        {
          "Variable": "$.Polls.Restore",
          "NumericGreaterThan": 480,
          "Next": "RestoreTimedOut"
        }
      ],
      "Default": "WaitRestoreDone"
    },
    "RestoreTimedOut": {
      "Type": "Fail",
      "Error": "RestoreTimedOut",
      "Cause": "EFS restore job did not complete within the polling window"
    },
    "FormatRestoredEFS": {
      "Type": "Pass",
      "Parameters": {
        "FileSystemArn.$": "$.RestoreStatus.CreatedResourceArn",
        "FileSystemId.$": "States.ArrayGetItem(States.StringSplit($.RestoreStatus.CreatedResourceArn, '/'), 1)",
        "SourceFileSystemId.$": "$.SourceEFS.FileSystemId"
      },
      "ResultPath": "$.RestoredEFS",
      "Next": "TagRestoredEFS"
    },
    "TagRestoredEFS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:resourcegroupstaggingapi:tagResources",
      "Parameters": {
        "ResourceARNList.$": "States.Array($.RestoredEFS.FileSystemArn)",
        "Tags.$": "$.Tags"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "PrepareOutput",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.TagError",
          "Next": "PrepareOutput"
        }
      ]
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "restore_from_backup",
        "FileSystemId.$": "$.RestoredEFS.FileSystemId",
        "FileSystemArn.$": "$.RestoredEFS.FileSystemArn",
        "SourceFileSystemId.$": "$.RestoredEFS.SourceFileSystemId"
      },
      "Next": "RestoreSucceeded"
    },
    "RestoreFailed": {
      "Type": "Fail",
      "Error": "RestoreFailed",
      "Cause": "EFS restore from backup failed"
    },
    "RestoreSucceeded": {
      "Type": "Succeed"
    }
  }
}
