modules/step-functions/efs/setup_cross_account_replication.asl.json
{
  "Comment": "Sets up EFS cross-account replication with prerequisite validation. Creates destination EFS, configures policies, and establishes replication.",
  "StartAt": "GetSourceFileSystem",
  "States": {
    "GetSourceFileSystem": {
      "Type": "Task",
      "Comment": "Get source EFS information",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultSelector": {
        "FileSystemId.$": "$.FileSystems[0].FileSystemId",
        "FileSystemArn.$": "$.FileSystems[0].FileSystemArn"
      },
      "ResultPath": "$.SourceEFS",
      "Next": "CheckExistingReplication",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },
    "CheckExistingReplication": {
      "Type": "Task",
      "Comment": "Check if replication configuration already exists",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeReplicationConfigurations",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.ExistingReplication",
      "Next": "HasExistingReplication",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CheckError",
          "Next": "ValidateSourceIAMPermissions"
        }
      ]
    },
    "HasExistingReplication": {
      "Type": "Choice",
      "Comment": "Check if replication already exists",
      "Choices": [
        {
          "Variable": "$.ExistingReplication.Replications[0]",
          "IsPresent": true,
          "Next": "ReplicationAlreadyExists"
        }
      ],
      "Default": "ValidateSourceIAMPermissions"
    },
    "ReplicationAlreadyExists": {
      "Type": "Pass",
      "Parameters": {
        "Status": "AlreadyExists",
        "ModuleName": "setup_cross_account_replication",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "DestinationFileSystemId.$": "$.ExistingReplication.Replications[0].Destinations[0].FileSystemId",
        "Message": "Replication configuration already exists"
      },
      "Next": "SetupSucceeded"
    },

    "ValidateSourceIAMPermissions": {
      "Type": "Task",
      "Comment": "Validate source account role has required EFS permissions by attempting a harmless describe call",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "ValidateDestinationIAMPermissions",
      "Catch": [
        {
          "ErrorEquals": ["Efs.AccessDeniedException"],
          "ResultPath": "$.IAMError",
          "Next": "SourceIAMPermissionsFailed"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },
    "SourceIAMPermissionsFailed": {
      "Type": "Fail",
      "Error": "SourceIAMPermissionsInsufficient",
      "Cause": "Source account role lacks required EFS permissions. Please verify the role has elasticfilesystem:* permissions."
    },
    "ValidateDestinationIAMPermissions": {
      "Type": "Task",
      "Comment": "Validate destination account role has required EFS permissions",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "MaxItems": 1
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "GetSourceFileSystemPolicy",
      "Catch": [
        {
          "ErrorEquals": ["Efs.AccessDeniedException"],
          "ResultPath": "$.IAMError",
          "Next": "DestinationIAMPermissionsFailed"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },
    "DestinationIAMPermissionsFailed": {
      "Type": "Fail",
      "Error": "DestinationIAMPermissionsInsufficient",
      "Cause": "Destination account role lacks required EFS permissions. Please verify the role has elasticfilesystem:* permissions."
    },

    "GetSourceFileSystemPolicy": {
      "Type": "Task",
      "Comment": "Get current file system policy on source EFS",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystemPolicy",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.SourcePolicy",
      "Next": "CheckSourcePolicyForReplication",
      "Catch": [
        {
          "ErrorEquals": ["Efs.PolicyNotFound"],
          "ResultPath": "$.SourcePolicyNotFound",
          "Comment": "No policy exists, need to create one",
          "Next": "CreateSourceReplicationPolicy"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },
    "CheckSourcePolicyForReplication": {
      "Type": "Pass",
      "Comment": "Source has a policy - we'll update it to include replication permissions",
      "Next": "UpdateSourcePolicyForReplication"
    },
    "CreateSourceReplicationPolicy": {
      "Type": "Task",
      "Comment": "Create file system policy on source EFS allowing replication",
      "Resource": "arn:aws:states:::aws-sdk:efs:putFileSystemPolicy",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId",
        "Policy": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Sid": "AllowReplicationWrite",
              "Effect": "Allow",
              "Principal": {
                "Service": "elasticfilesystem.amazonaws.com"
              },
              "Action": [
                "elasticfilesystem:ClientMount",
                "elasticfilesystem:ClientWrite"
              ],
              "Resource.$": "$.SourceEFS.FileSystemArn",
              "Condition": {
                "Bool": {
                  "elasticfilesystem:AccessedViaMountTarget": "true"
                }
              }
            }
          ]
        }
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "CreateDestinationFileSystem",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.PolicyError",
          "Next": "SourcePolicyUpdateFailed"
        }
      ]
    },
    "UpdateSourcePolicyForReplication": {
      "Type": "Task",
      "Comment": "Update existing source file system policy to ensure replication is allowed",
      "Resource": "arn:aws:states:::aws-sdk:efs:putFileSystemPolicy",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId",
        "Policy": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Sid": "AllowReplicationWrite",
              "Effect": "Allow",
              "Principal": {
                "Service": "elasticfilesystem.amazonaws.com"
              },
              "Action": [
                "elasticfilesystem:ClientMount",
                "elasticfilesystem:ClientWrite"
              ],
              "Resource.$": "$.SourceEFS.FileSystemArn",
              "Condition": {
                "Bool": {
                  "elasticfilesystem:AccessedViaMountTarget": "true"
                }
              }
            }
          ]
        }
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "CreateDestinationFileSystem",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.PolicyError",
          "Next": "SourcePolicyUpdateFailed"
        }
      ]
    },
    "SourcePolicyUpdateFailed": {
      "Type": "Fail",
      "Error": "SourcePolicyUpdateFailed",
      "Cause": "Failed to update source EFS file system policy for replication"
    },

    "CreateDestinationFileSystem": {
      "Type": "Task",
      "Comment": "Create destination EFS with replication overwrite protection DISABLED",
      "Resource": "arn:aws:states:::aws-sdk:efs:createFileSystem",
      "Parameters": {
        "CreationToken.$": "States.UUID()",
        "PerformanceMode.$": "$.PerformanceMode",
        "Encrypted.$": "$.Encrypted",
        "KmsKeyId.$": "$.DestinationKmsKeyId",
        "Tags.$": "$.Tags"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.DestinationEFS",
      "Next": "WaitDestinationCreating",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CreateError",
          "Next": "SetupFailed"
        }
      ]
    },
    "WaitDestinationCreating": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckDestinationStatus"
    },
    "CheckDestinationStatus": {
      "Type": "Task",
      "Comment": "Check if destination EFS is available",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.DestinationEFS.FileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.DestinationStatus",
      "Next": "IsDestinationAvailable"
    },
    "IsDestinationAvailable": {
      "Type": "Choice",
      "Comment": "Check if destination EFS is in available state",
      "Choices": [
        {
          "Variable": "$.DestinationStatus.FileSystems[0].LifeCycleState",
          "StringEquals": "available",
          "Next": "DisableReplicationOverwriteProtection"
        }
      ],
      "Default": "WaitDestinationCreating"
    },

    "DisableReplicationOverwriteProtection": {
      "Type": "Task",
      "Comment": "Disable replication overwrite protection on destination EFS (required for replication target)",
      "Resource": "arn:aws:states:::aws-sdk:efs:updateFileSystemProtection",
      "Parameters": {
        "FileSystemId.$": "$.DestinationEFS.FileSystemId",
        "ReplicationOverwriteProtection": "DISABLED"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.ProtectionUpdate",
      "Next": "BuildDestinationPolicy",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ProtectionError",
          "Next": "DestinationProtectionFailed"
        }
      ]
    },
    "DestinationProtectionFailed": {
      "Type": "Fail",
      "Error": "DestinationProtectionFailed",
      "Cause": "Failed to disable replication overwrite protection on destination EFS"
    },

    "BuildDestinationPolicy": {
      "Type": "Pass",
      "Comment": "Build the destination file system policy object with cross-account permissions",
      "Parameters": {
        "PolicyObject": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Sid": "AllowCrossAccountReplication",
              "Effect": "Allow",
              "Principal": {
                "AWS.$": "States.Format('arn:aws:iam::{}:root', $.SourceAccount.AccountId)"
              },
              "Action": [
                "elasticfilesystem:DescribeFileSystems",
                "elasticfilesystem:DescribeReplicationConfigurations",
                "elasticfilesystem:CreateReplicationConfiguration",
                "elasticfilesystem:DeleteReplicationConfiguration",
                "elasticfilesystem:ClientMount",
                "elasticfilesystem:ClientWrite"
              ],
              "Resource.$": "$.DestinationEFS.FileSystemArn"
            },
            {
              "Sid": "AllowReplicationRole",
              "Effect": "Allow",
              "Principal": {
                "AWS.$": "$.ReplicationRoleArn"
              },
              "Action": [
                "elasticfilesystem:DescribeFileSystems",
                "elasticfilesystem:DescribeReplicationConfigurations",
                "elasticfilesystem:CreateReplicationConfiguration",
                "elasticfilesystem:DeleteReplicationConfiguration",
                "elasticfilesystem:ReplicationWrite"
              ],
              "Resource.$": "$.DestinationEFS.FileSystemArn"
            },
            {
              "Sid": "AllowReplicationService",
              "Effect": "Allow",
              "Principal": {
                "Service": "elasticfilesystem.amazonaws.com"
              },
              "Action": [
                "elasticfilesystem:ClientMount",
                "elasticfilesystem:ClientWrite",
                "elasticfilesystem:ReplicationWrite"
              ],
              "Resource.$": "$.DestinationEFS.FileSystemArn"
            }
          ]
        }
      },
      "ResultPath": "$.DestinationPolicyBuild",
      "Next": "CreateDestinationPolicy"
    },
    "CreateDestinationPolicy": {
      "Type": "Task",
      "Comment": "Create file system policy on destination EFS allowing cross-account replication from source",
      "Resource": "arn:aws:states:::aws-sdk:efs:putFileSystemPolicy",
      "Parameters": {
        "FileSystemId.$": "$.DestinationEFS.FileSystemId",
        "Policy.$": "States.JsonToString($.DestinationPolicyBuild.PolicyObject)"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitPolicyPropagation",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.PolicyError",
          "Next": "DestinationPolicyFailed"
        }
      ]
    },
    "DestinationPolicyFailed": {
      "Type": "Fail",
      "Error": "DestinationPolicyFailed",
      "Cause": "Failed to create file system policy on destination EFS"
    },
    "WaitPolicyPropagation": {
      "Type": "Wait",
      "Seconds": 5,
      "Comment": "Wait for policy to propagate before creating replication",
      "Next": "CreateReplicationConfiguration"
    },

    "CreateReplicationConfiguration": {
      "Type": "Task",
      "Comment": "Create the replication configuration from source to destination (use ARN and ReplicationRoleArn for cross-account)",
      "Resource": "arn:aws:states:::aws-sdk:efs:createReplicationConfiguration",
      "Parameters": {
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "Destinations": [
          {
            "Region.$": "$.DestinationRegion",
            "FileSystemId.$": "$.DestinationEFS.FileSystemArn",
            "RoleArn.$": "$.ReplicationRoleArn"
          }
        ]
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.ReplicationConfig",
      "Next": "PrepareOutput",
      "Retry": [
        {
          "ErrorEquals": ["Efs.ReplicationNotFound", "Efs.FileSystemNotFound"],
          "IntervalSeconds": 10,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ReplicationError",
          "Next": "ReplicationCreationFailed"
        }
      ]
    },
    "ReplicationCreationFailed": {
      "Type": "Fail",
      "Error": "ReplicationCreationFailed",
      "Cause": "Failed to create replication configuration. Check IAM permissions and file system policies."
    },

    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "setup_cross_account_replication",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "SourceFileSystemArn.$": "$.SourceEFS.FileSystemArn",
        "DestinationFileSystemId.$": "$.DestinationEFS.FileSystemId",
        "DestinationFileSystemArn.$": "$.DestinationEFS.FileSystemArn",
        "ReplicationOverwriteProtection": "DISABLED",
        "Message": "Cross-account EFS replication configured successfully"
      },
      "Next": "SetupSucceeded"
    },
    "SetupFailed": {
      "Type": "Fail",
      "Error": "SetupReplicationFailed",
      "Cause": "Failed to setup cross-account EFS replication"
    },
    "SetupSucceeded": {
      "Type": "Succeed"
    }
  }
}
