modules/step-functions/efs/setup_cross_account_replication.asl.json
{
  "Comment": "Sets up EFS cross-account replication with policy merge using JSONata. Creates destination EFS, merges policies (preserving existing statements), and establishes replication.",
  "StartAt": "GetSourceFileSystem",
  "States": {
    "GetSourceFileSystem": {
      "Type": "Task",
      "Comment": "Get source EFS information",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultSelector": {
        "FileSystemId.$": "$.FileSystems[0].FileSystemId",
        "FileSystemArn.$": "$.FileSystems[0].FileSystemArn"
      },
      "ResultPath": "$.SourceEFS",
      "Next": "CheckExistingReplication",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },
    "CheckExistingReplication": {
      "Type": "Task",
      "Comment": "Check if replication configuration already exists",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeReplicationConfigurations",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.ExistingReplication",
      "Next": "HasExistingReplication",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CheckError",
          "Next": "ValidateSourceIAMPermissions"
        }
      ]
    },
    "HasExistingReplication": {
      "Type": "Choice",
      "Comment": "Check if replication already exists",
      "Choices": [
        {
          "Variable": "$.ExistingReplication.Replications[0]",
          "IsPresent": true,
          "Next": "ExtractExistingReplication"
        }
      ],
      "Default": "ValidateSourceIAMPermissions"
    },
    "ExtractExistingReplication": {
      "Type": "Pass",
      "Comment": "Extract destination info from existing replication config for validation",
      "Parameters": {
        "DestFileSystemId.$": "$.ExistingReplication.Replications[0].Destinations[0].FileSystemId",
        "DestRegion.$": "$.ExistingReplication.Replications[0].Destinations[0].Region",
        "ReplicationStatus.$": "$.ExistingReplication.Replications[0].Destinations[0].Status"
      },
      "ResultPath": "$.ExistingDest",
      "Next": "IsReplicationUsable"
    },
    "IsReplicationUsable": {
      "Type": "Choice",
      "Comment": "Check if existing replication is in a usable state (ENABLED or ENABLING)",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.ExistingDest.ReplicationStatus",
              "StringEquals": "ENABLED"
            },
            {
              "Variable": "$.ExistingDest.ReplicationStatus",
              "StringEquals": "ENABLING"
            }
          ],
          "Next": "CheckReplicationRegion"
        }
      ],
      "Default": "ExistingReplicationNotUsable"
    },
    "CheckReplicationRegion": {
      "Type": "Choice",
      "Comment": "Verify existing replication destination region matches expected region",
      "Choices": [
        {
          "Variable": "$.ExistingDest.DestRegion",
          "StringEqualsPath": "$.DestinationRegion",
          "Next": "VerifyDestinationAccess"
        }
      ],
      "Default": "ExistingReplicationMismatch"
    },
    "VerifyDestinationAccess": {
      "Type": "Task",
      "Comment": "Verify destination EFS is accessible from destination account and get its ARN",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.ExistingDest.DestFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "FileSystemId.$": "$.FileSystems[0].FileSystemId",
        "FileSystemArn.$": "$.FileSystems[0].FileSystemArn"
      },
      "ResultPath": "$.VerifiedDestination",
      "Next": "PrepareExistingOutput",
      "Catch": [
        {
          "ErrorEquals": ["Efs.FileSystemNotFoundException", "Efs.AccessDeniedException"],
          "ResultPath": "$.VerifyError",
          "Next": "ExistingReplicationMismatch"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.VerifyError",
          "Next": "ExistingReplicationMismatch"
        }
      ]
    },
    "PrepareExistingOutput": {
      "Type": "Pass",
      "Comment": "Return existing replication info in same format as new setup for orchestrator compatibility",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "setup_cross_account_replication",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "SourceFileSystemArn.$": "$.SourceEFS.FileSystemArn",
        "DestinationFileSystemId.$": "$.VerifiedDestination.FileSystemId",
        "DestinationFileSystemArn.$": "$.VerifiedDestination.FileSystemArn",
        "ReplicationStatus.$": "$.ExistingDest.ReplicationStatus",
        "ReplicationOverwriteProtection": "DISABLED",
        "Message": "Using existing replication configuration"
      },
      "Next": "SetupSucceeded"
    },
    "ExistingReplicationNotUsable": {
      "Type": "Fail",
      "Error": "ExistingReplicationNotUsable",
      "Cause": "Existing replication is not in ENABLED or ENABLING state. Delete it before setting up new replication."
    },
    "ExistingReplicationMismatch": {
      "Type": "Fail",
      "Error": "ExistingReplicationMismatch",
      "Cause": "Existing replication destination does not match expected region or account. Delete existing replication first."
    },

    "ValidateSourceIAMPermissions": {
      "Type": "Task",
      "Comment": "Validate source account role has required EFS permissions",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "ValidateDestinationIAMPermissions",
      "Catch": [
        {
          "ErrorEquals": ["Efs.AccessDeniedException"],
          "ResultPath": "$.IAMError",
          "Next": "SourceIAMPermissionsFailed"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },
    "SourceIAMPermissionsFailed": {
      "Type": "Fail",
      "Error": "SourceIAMPermissionsInsufficient",
      "Cause": "Source account role lacks required EFS permissions. Please verify the role has elasticfilesystem:* permissions."
    },
    "ValidateDestinationIAMPermissions": {
      "Type": "Task",
      "Comment": "Validate destination account role has required EFS permissions",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "MaxItems": 1
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "GetSourceFileSystemPolicy",
      "Catch": [
        {
          "ErrorEquals": ["Efs.AccessDeniedException"],
          "ResultPath": "$.IAMError",
          "Next": "DestinationIAMPermissionsFailed"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },
    "DestinationIAMPermissionsFailed": {
      "Type": "Fail",
      "Error": "DestinationIAMPermissionsInsufficient",
      "Cause": "Destination account role lacks required EFS permissions. Please verify the role has elasticfilesystem:* permissions."
    },

    "GetSourceFileSystemPolicy": {
      "Type": "Task",
      "Comment": "Get current file system policy on source EFS",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystemPolicy",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.SourcePolicy",
      "Next": "CheckSourcePolicyHasReplicationStatement",
      "Catch": [
        {
          "ErrorEquals": ["Efs.PolicyNotFound"],
          "ResultPath": "$.SourcePolicyNotFound",
          "Comment": "No policy exists - default allow all, replication works without it",
          "Next": "SkipSourcePolicyUpdate"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },
    "CheckSourcePolicyHasReplicationStatement": {
      "Type": "Choice",
      "Comment": "Check if source policy already contains AllowReplicationWrite statement",
      "Choices": [
        {
          "Variable": "$.SourcePolicy.Policy",
          "StringMatches": "*AllowReplicationWrite*",
          "Next": "SkipSourcePolicyUpdate"
        }
      ],
      "Default": "ParseSourcePolicy"
    },
    "ParseSourcePolicy": {
      "Type": "Pass",
      "Comment": "Parse source policy JSON string to object for JSONata manipulation",
      "Parameters": {
        "PolicyObject.$": "States.StringToJson($.SourcePolicy.Policy)"
      },
      "ResultPath": "$.ParsedSourcePolicy",
      "Next": "MergeSourcePolicyJSONata"
    },
    "MergeSourcePolicyJSONata": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Merge AllowReplicationWrite into existing source policy using JSONata",
      "Assign": {
        "mergedSourcePolicyString": "{% ($stmts := $type($states.input.ParsedSourcePolicy.PolicyObject.Statement) = 'array' ? $states.input.ParsedSourcePolicy.PolicyObject.Statement : [$states.input.ParsedSourcePolicy.PolicyObject.Statement]; $filtered := $filter($stmts, function($s) { $not($s.Sid = 'AllowReplicationWrite') }); $newStmt := {'Sid': 'AllowReplicationWrite', 'Effect': 'Allow', 'Principal': {'Service': 'elasticfilesystem.amazonaws.com'}, 'Action': ['elasticfilesystem:ClientMount', 'elasticfilesystem:ClientWrite'], 'Resource': $states.input.SourceEFS.FileSystemArn, 'Condition': {'Bool': {'elasticfilesystem:AccessedViaMountTarget': 'true'}}}; $string({'Version': '2012-10-17', 'Statement': $append($filtered, [$newStmt])})) %}"
      },
      "Next": "UpdateSourcePolicyMerged"
    },
    "UpdateSourcePolicyMerged": {
      "Type": "Task",
      "Comment": "Put the merged policy back on the source EFS",
      "Resource": "arn:aws:states:::aws-sdk:efs:putFileSystemPolicy",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId",
        "Policy.$": "$mergedSourcePolicyString"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "SkipSourcePolicyUpdate",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.PolicyError",
          "Next": "SourcePolicyUpdateFailed"
        }
      ]
    },
    "SourcePolicyUpdateFailed": {
      "Type": "Fail",
      "Error": "SourcePolicyUpdateFailed",
      "Cause": "Failed to update source EFS file system policy for replication"
    },
    "SkipSourcePolicyUpdate": {
      "Type": "Pass",
      "Comment": "Source policy either already has the statement, was merged, or no policy exists (default allow all)",
      "Next": "CheckExistingTargetEFS"
    },

    "CheckExistingTargetEFS": {
      "Type": "Choice",
      "Comment": "Check if ExistingTargetFileSystemId was provided to use its policy as base",
      "Choices": [
        {
          "Variable": "$.ExistingTargetFileSystemId",
          "IsPresent": true,
          "Next": "GetExistingTargetPolicy"
        }
      ],
      "Default": "SetEmptyBasePolicy"
    },
    "GetExistingTargetPolicy": {
      "Type": "Task",
      "Comment": "Read the policy from the existing target EFS to use as base for the new destination",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystemPolicy",
      "Parameters": {
        "FileSystemId.$": "$.ExistingTargetFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "Policy.$": "$.Policy"
      },
      "ResultPath": "$.ExistingTargetPolicy",
      "Next": "StoreExistingTargetBasePolicy",
      "Catch": [
        {
          "ErrorEquals": ["Efs.PolicyNotFound"],
          "ResultPath": "$.TargetPolicyNotFound",
          "Next": "SetEmptyBasePolicy"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.TargetPolicyError",
          "Next": "SetEmptyBasePolicy"
        }
      ]
    },
    "StoreExistingTargetBasePolicy": {
      "Type": "Pass",
      "Comment": "Store the existing target policy as base for destination merge",
      "Parameters": {
        "Policy.$": "$.ExistingTargetPolicy.Policy"
      },
      "ResultPath": "$.BasePolicyForDestination",
      "Next": "CreateDestinationFileSystem"
    },
    "SetEmptyBasePolicy": {
      "Type": "Pass",
      "Comment": "No existing target policy - use empty base",
      "Result": {
        "Policy": null
      },
      "ResultPath": "$.BasePolicyForDestination",
      "Next": "CreateDestinationFileSystem"
    },

    "CreateDestinationFileSystem": {
      "Type": "Task",
      "Comment": "Create destination EFS (tags applied separately)",
      "Resource": "arn:aws:states:::aws-sdk:efs:createFileSystem",
      "Parameters": {
        "CreationToken.$": "States.UUID()",
        "PerformanceMode.$": "$.PerformanceMode",
        "Encrypted.$": "$.Encrypted",
        "KmsKeyId.$": "$.DestinationKmsKeyId"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.DestinationEFS",
      "Next": "TagDestinationFileSystem",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CreateError",
          "Next": "SetupFailed"
        }
      ]
    },
    "TagDestinationFileSystem": {
      "Type": "Task",
      "Comment": "Tag destination EFS using resourcegroupstaggingapi (accepts map format)",
      "Resource": "arn:aws:states:::aws-sdk:resourcegroupstaggingapi:tagResources",
      "Parameters": {
        "ResourceARNList.$": "States.Array($.DestinationEFS.FileSystemArn)",
        "Tags.$": "$.Tags"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.TagResult",
      "Next": "WaitDestinationCreating",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.TagError",
          "Next": "WaitDestinationCreating"
        }
      ]
    },
    "WaitDestinationCreating": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckDestinationStatus"
    },
    "CheckDestinationStatus": {
      "Type": "Task",
      "Comment": "Check if destination EFS is available",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.DestinationEFS.FileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.DestinationStatus",
      "Next": "IsDestinationAvailable"
    },
    "IsDestinationAvailable": {
      "Type": "Choice",
      "Comment": "Check if destination EFS is in available state",
      "Choices": [
        {
          "Variable": "$.DestinationStatus.FileSystems[0].LifeCycleState",
          "StringEquals": "available",
          "Next": "DisableReplicationOverwriteProtection"
        }
      ],
      "Default": "WaitDestinationCreating"
    },

    "DisableReplicationOverwriteProtection": {
      "Type": "Task",
      "Comment": "Disable replication overwrite protection on destination EFS (required for replication target)",
      "Resource": "arn:aws:states:::aws-sdk:efs:updateFileSystemProtection",
      "Parameters": {
        "FileSystemId.$": "$.DestinationEFS.FileSystemId",
        "ReplicationOverwriteProtection": "DISABLED"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.ProtectionUpdate",
      "Next": "CheckHasBasePolicy",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ProtectionError",
          "Next": "DestinationProtectionFailed"
        }
      ]
    },
    "DestinationProtectionFailed": {
      "Type": "Fail",
      "Error": "DestinationProtectionFailed",
      "Cause": "Failed to disable replication overwrite protection on destination EFS"
    },

    "CheckHasBasePolicy": {
      "Type": "Choice",
      "Comment": "Check if we have a base policy from existing target to merge with",
      "Choices": [
        {
          "Variable": "$.BasePolicyForDestination.Policy",
          "IsNull": true,
          "Next": "BuildDestPolicyFromScratch"
        }
      ],
      "Default": "ParseBasePolicy"
    },
    "ParseBasePolicy": {
      "Type": "Pass",
      "Comment": "Parse base policy JSON string to object for JSONata manipulation",
      "Parameters": {
        "PolicyObject.$": "States.StringToJson($.BasePolicyForDestination.Policy)"
      },
      "ResultPath": "$.ParsedBasePolicy",
      "Next": "MergeDestPolicyWithBase"
    },
    "MergeDestPolicyWithBase": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Merge base policy with 3 replication statements using JSONata, filtering out any existing replication Sids",
      "Assign": {
        "mergedDestPolicyString": "{% ($base := $type($states.input.ParsedBasePolicy.PolicyObject.Statement) = 'array' ? $states.input.ParsedBasePolicy.PolicyObject.Statement : [$states.input.ParsedBasePolicy.PolicyObject.Statement]; $filtered := $filter($base, function($s) { $not($s.Sid = 'AllowCrossAccountReplication') and $not($s.Sid = 'AllowReplicationRole') and $not($s.Sid = 'AllowReplicationService') }); $destArn := $states.input.DestinationEFS.FileSystemArn; $srcRoot := 'arn:aws:iam::' & $string($states.input.SourceAccount.AccountId) & ':root'; $replRole := $states.input.ReplicationRoleArn; $repl := [{'Sid': 'AllowCrossAccountReplication', 'Effect': 'Allow', 'Principal': {'AWS': $srcRoot}, 'Action': ['elasticfilesystem:DescribeFileSystems', 'elasticfilesystem:DescribeReplicationConfigurations', 'elasticfilesystem:CreateReplicationConfiguration', 'elasticfilesystem:DeleteReplicationConfiguration', 'elasticfilesystem:ClientMount', 'elasticfilesystem:ClientWrite'], 'Resource': $destArn}, {'Sid': 'AllowReplicationRole', 'Effect': 'Allow', 'Principal': {'AWS': $replRole}, 'Action': ['elasticfilesystem:DescribeFileSystems', 'elasticfilesystem:DescribeReplicationConfigurations', 'elasticfilesystem:CreateReplicationConfiguration', 'elasticfilesystem:DeleteReplicationConfiguration', 'elasticfilesystem:ReplicationWrite'], 'Resource': $destArn}, {'Sid': 'AllowReplicationService', 'Effect': 'Allow', 'Principal': {'Service': 'elasticfilesystem.amazonaws.com'}, 'Action': ['elasticfilesystem:ClientMount', 'elasticfilesystem:ClientWrite', 'elasticfilesystem:ReplicationWrite'], 'Resource': $destArn}]; $raw := $string({'Version': '2012-10-17', 'Statement': $append($filtered, $repl)}); $oldFsId := $states.input.ExistingTargetFileSystemId; $oldFsId ? $replace($raw, $oldFsId, $states.input.DestinationEFS.FileSystemId) : $raw) %}"
      },
      "Next": "CreateDestinationPolicy"
    },
    "BuildDestPolicyFromScratch": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Build destination policy from scratch with only the 3 replication statements",
      "Assign": {
        "mergedDestPolicyString": "{% ($destArn := $states.input.DestinationEFS.FileSystemArn; $srcRoot := 'arn:aws:iam::' & $string($states.input.SourceAccount.AccountId) & ':root'; $replRole := $states.input.ReplicationRoleArn; $string({'Version': '2012-10-17', 'Statement': [{'Sid': 'AllowCrossAccountReplication', 'Effect': 'Allow', 'Principal': {'AWS': $srcRoot}, 'Action': ['elasticfilesystem:DescribeFileSystems', 'elasticfilesystem:DescribeReplicationConfigurations', 'elasticfilesystem:CreateReplicationConfiguration', 'elasticfilesystem:DeleteReplicationConfiguration', 'elasticfilesystem:ClientMount', 'elasticfilesystem:ClientWrite'], 'Resource': $destArn}, {'Sid': 'AllowReplicationRole', 'Effect': 'Allow', 'Principal': {'AWS': $replRole}, 'Action': ['elasticfilesystem:DescribeFileSystems', 'elasticfilesystem:DescribeReplicationConfigurations', 'elasticfilesystem:CreateReplicationConfiguration', 'elasticfilesystem:DeleteReplicationConfiguration', 'elasticfilesystem:ReplicationWrite'], 'Resource': $destArn}, {'Sid': 'AllowReplicationService', 'Effect': 'Allow', 'Principal': {'Service': 'elasticfilesystem.amazonaws.com'}, 'Action': ['elasticfilesystem:ClientMount', 'elasticfilesystem:ClientWrite', 'elasticfilesystem:ReplicationWrite'], 'Resource': $destArn}]})) %}"
      },
      "Next": "CreateDestinationPolicy"
    },
    "CreateDestinationPolicy": {
      "Type": "Task",
      "Comment": "Put the merged policy on the destination EFS",
      "Resource": "arn:aws:states:::aws-sdk:efs:putFileSystemPolicy",
      "Parameters": {
        "FileSystemId.$": "$.DestinationEFS.FileSystemId",
        "Policy.$": "$mergedDestPolicyString"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "WaitPolicyPropagation",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.PolicyError",
          "Next": "DestinationPolicyFailed"
        }
      ]
    },
    "DestinationPolicyFailed": {
      "Type": "Fail",
      "Error": "DestinationPolicyFailed",
      "Cause": "Failed to create file system policy on destination EFS"
    },
    "WaitPolicyPropagation": {
      "Type": "Wait",
      "Seconds": 5,
      "Comment": "Wait for policy to propagate before creating replication",
      "Next": "CreateReplicationConfiguration"
    },

    "CreateReplicationConfiguration": {
      "Type": "Task",
      "Comment": "Create the replication configuration from source to destination (use ARN and ReplicationRoleArn for cross-account)",
      "Resource": "arn:aws:states:::aws-sdk:efs:createReplicationConfiguration",
      "Parameters": {
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "Destinations": [
          {
            "Region.$": "$.DestinationRegion",
            "FileSystemId.$": "$.DestinationEFS.FileSystemArn",
            "RoleArn.$": "$.ReplicationRoleArn"
          }
        ]
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.ReplicationConfig",
      "Next": "PrepareOutput",
      "Retry": [
        {
          "ErrorEquals": ["Efs.ReplicationNotFound", "Efs.FileSystemNotFound"],
          "IntervalSeconds": 10,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ReplicationError",
          "Next": "ReplicationCreationFailed"
        }
      ]
    },
    "ReplicationCreationFailed": {
      "Type": "Fail",
      "Error": "ReplicationCreationFailed",
      "Cause": "Failed to create replication configuration. Check IAM permissions and file system policies."
    },

    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "setup_cross_account_replication",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "SourceFileSystemArn.$": "$.SourceEFS.FileSystemArn",
        "DestinationFileSystemId.$": "$.DestinationEFS.FileSystemId",
        "DestinationFileSystemArn.$": "$.DestinationEFS.FileSystemArn",
        "ReplicationOverwriteProtection": "DISABLED",
        "Message": "Cross-account EFS replication configured successfully with merged policies"
      },
      "Next": "SetupSucceeded"
    },
    "SetupFailed": {
      "Type": "Fail",
      "Error": "SetupReplicationFailed",
      "Cause": "Failed to setup cross-account EFS replication"
    },
    "SetupSucceeded": {
      "Type": "Succeed"
    }
  }
}
