modules/step-functions/efs/setup_cross_account_replication.asl.json
{
  "Comment": "Sets up EFS cross-account replication. Uses existing destination EFS (DestinationFileSystemId) or creates a new one. Copies pod-access policy from ExistingFileSystemId (or applies defaults with CsiDriverRoleArn) before adding replication policies. Skips replication policy adds if already present. Policies managed by Terraform by default (UpdateSourcePolicy/UpdateDestinationPolicy opt-in). Supports cross-region via Lambda proxy (ProxyLambdaArn + SourceAccount.Region).",
  "StartAt": "CheckProxyForGetSource",
  "States": {
    "CheckProxyForGetSource": {
      "Type": "Choice",
      "QueryLanguage": "JSONata",
      "Comment": "Route to Lambda proxy if source EFS is in a different region than the SFN",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.ProxyLambdaArn) and $exists($states.input.SourceAccount.Region) and $states.input.SourceAccount.Region != $split($states.context.StateMachine.Id, ':')[3] %}",
          "Next": "GetSourceFileSystemViaProxy"
        }
      ],
      "Default": "GetSourceFileSystem"
    },
    "GetSourceFileSystemViaProxy": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Get source EFS information via Lambda proxy (cross-region)",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "{% $states.input.ProxyLambdaArn %}",
        "Payload": {
          "Service": "efs",
          "Action": "describe_file_systems",
          "Region": "{% $states.input.SourceAccount.Region %}",
          "RoleArn": "{% $states.input.SourceAccount.RoleArn %}",
          "Parameters": {
            "FileSystemId": "{% $states.input.SourceFileSystemId %}"
          }
        }
      },
      "Output": "{% $merge([$states.input, {'SourceEFS': {'FileSystemId': $states.result.Payload.FileSystems[0].FileSystemId, 'FileSystemArn': $states.result.Payload.FileSystems[0].FileSystemArn}}]) %}",
      "Next": "CheckProxyForCheckExistingReplication",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Output": "{% $merge([$states.input, {'Error': $states.errorOutput}]) %}",
          "Next": "SetupFailed"
        }
      ]
    },
    "GetSourceFileSystem": {
      "Type": "Task",
      "Comment": "Get source EFS information",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultSelector": {
        "FileSystemId.$": "$.FileSystems[0].FileSystemId",
        "FileSystemArn.$": "$.FileSystems[0].FileSystemArn"
      },
      "ResultPath": "$.SourceEFS",
      "Next": "CheckProxyForCheckExistingReplication",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },

    "CheckProxyForCheckExistingReplication": {
      "Type": "Choice",
      "QueryLanguage": "JSONata",
      "Comment": "Route to Lambda proxy for checking existing replication if cross-region",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.ProxyLambdaArn) and $exists($states.input.SourceAccount.Region) and $states.input.SourceAccount.Region != $split($states.context.StateMachine.Id, ':')[3] %}",
          "Next": "CheckExistingReplicationViaProxy"
        }
      ],
      "Default": "CheckExistingReplication"
    },
    "CheckExistingReplicationViaProxy": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Check if replication configuration already exists via Lambda proxy (cross-region)",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "{% $states.input.ProxyLambdaArn %}",
        "Payload": {
          "Service": "efs",
          "Action": "describe_replication_configurations",
          "Region": "{% $states.input.SourceAccount.Region %}",
          "RoleArn": "{% $states.input.SourceAccount.RoleArn %}",
          "Parameters": {
            "FileSystemId": "{% $states.input.SourceFileSystemId %}"
          }
        }
      },
      "Output": "{% $merge([$states.input, {'ExistingReplication': $states.result.Payload}]) %}",
      "Next": "HasExistingReplication",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Output": "{% $merge([$states.input, {'CheckError': $states.errorOutput}]) %}",
          "Next": "CheckProxyForValidateSource"
        }
      ]
    },
    "CheckExistingReplication": {
      "Type": "Task",
      "Comment": "Check if replication configuration already exists",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeReplicationConfigurations",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.ExistingReplication",
      "Next": "HasExistingReplication",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CheckError",
          "Next": "CheckProxyForValidateSource"
        }
      ]
    },
    "HasExistingReplication": {
      "Type": "Choice",
      "Comment": "Check if replication already exists",
      "Choices": [
        {
          "Variable": "$.ExistingReplication.Replications[0]",
          "IsPresent": true,
          "Next": "ExtractExistingReplication"
        }
      ],
      "Default": "CheckProxyForValidateSource"
    },
    "ExtractExistingReplication": {
      "Type": "Pass",
      "Comment": "Extract destination info from existing replication config for validation",
      "Parameters": {
        "DestFileSystemId.$": "$.ExistingReplication.Replications[0].Destinations[0].FileSystemId",
        "DestRegion.$": "$.ExistingReplication.Replications[0].Destinations[0].Region",
        "ReplicationStatus.$": "$.ExistingReplication.Replications[0].Destinations[0].Status"
      },
      "ResultPath": "$.ExistingDest",
      "Next": "IsReplicationUsable"
    },
    "IsReplicationUsable": {
      "Type": "Choice",
      "Comment": "Check if existing replication is in a usable state (ENABLED or ENABLING)",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.ExistingDest.ReplicationStatus",
              "StringEquals": "ENABLED"
            },
            {
              "Variable": "$.ExistingDest.ReplicationStatus",
              "StringEquals": "ENABLING"
            }
          ],
          "Next": "CheckReplicationRegion"
        }
      ],
      "Default": "ExistingReplicationNotUsable"
    },
    "CheckReplicationRegion": {
      "Type": "Choice",
      "Comment": "Verify existing replication destination region matches expected region",
      "Choices": [
        {
          "Variable": "$.ExistingDest.DestRegion",
          "StringEqualsPath": "$.DestinationRegion",
          "Next": "VerifyDestinationAccess"
        }
      ],
      "Default": "ExistingReplicationMismatch"
    },
    "VerifyDestinationAccess": {
      "Type": "Task",
      "Comment": "Verify destination EFS is accessible from destination account and get its ARN",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.ExistingDest.DestFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "FileSystemId.$": "$.FileSystems[0].FileSystemId",
        "FileSystemArn.$": "$.FileSystems[0].FileSystemArn"
      },
      "ResultPath": "$.VerifiedDestination",
      "Next": "EnsureCrossAccountPolicyOnExisting",
      "Catch": [
        {
          "ErrorEquals": ["Efs.FileSystemNotFoundException", "Efs.AccessDeniedException"],
          "ResultPath": "$.VerifyError",
          "Next": "ExistingReplicationMismatch"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.VerifyError",
          "Next": "ExistingReplicationMismatch"
        }
      ]
    },
    "EnsureCrossAccountPolicyOnExisting": {
      "Type": "Choice",
      "Comment": "For existing replication, ensure cross-account management policy exists on source EFS (needed for delete). Only if cross-account and UpdateSourcePolicy is true.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.UpdateSourcePolicy", "IsPresent": true},
            {"Variable": "$.UpdateSourcePolicy", "BooleanEquals": true},
            {
              "Not": {
                "Variable": "$.SourceAccount.AccountId",
                "StringEqualsPath": "$.DestinationAccount.AccountId"
              }
            }
          ],
          "Next": "CallCrossAccountPolicyOnExisting"
        }
      ],
      "Default": "PrepareExistingOutput"
    },
    "CallCrossAccountPolicyOnExisting": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Add AllowCrossAccountReplicationManagement policy to source EFS for existing replication",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${manage_filesystem_policy_arn}",
        "Input": {
          "FileSystemId": "{% $states.input.SourceFileSystemId %}",
          "Account": "{% $states.input.SourceAccount %}",
          "Action": "ADD",
          "PolicyStatement": {
            "Sid": "AllowCrossAccountReplicationManagement",
            "Effect": "Allow",
            "Principal": {
              "AWS": "{% 'arn:aws:iam::' & $states.input.DestinationAccount.AccountId & ':root' %}"
            },
            "Action": [
              "elasticfilesystem:CreateReplicationConfiguration",
              "elasticfilesystem:DeleteReplicationConfiguration",
              "elasticfilesystem:DescribeReplicationConfigurations"
            ],
            "Resource": "{% $states.input.SourceEFS.FileSystemArn %}"
          }
        },
        "Name": "{% $states.context.Execution.Name & '-ExistCrossAcctPol' %}"
      },
      "Output": "{% $states.input %}",
      "Next": "PrepareExistingOutput",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Output": "{% $merge([$states.input, {'CrossAccountPolicyError': $states.errorOutput}]) %}",
          "Next": "PrepareExistingOutput"
        }
      ]
    },
    "PrepareExistingOutput": {
      "Type": "Pass",
      "Comment": "Return existing replication info in same format as new setup for orchestrator compatibility",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "setup_cross_account_replication",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "SourceFileSystemArn.$": "$.SourceEFS.FileSystemArn",
        "DestinationFileSystemId.$": "$.VerifiedDestination.FileSystemId",
        "DestinationFileSystemArn.$": "$.VerifiedDestination.FileSystemArn",
        "ReplicationStatus.$": "$.ExistingDest.ReplicationStatus",
        "ReplicationOverwriteProtection": "DISABLED",
        "Message": "Using existing replication configuration"
      },
      "Next": "SetupSucceeded"
    },
    "ExistingReplicationNotUsable": {
      "Type": "Fail",
      "Error": "ExistingReplicationNotUsable",
      "Cause": "Existing replication is not in ENABLED or ENABLING state. Delete it before setting up new replication."
    },
    "ExistingReplicationMismatch": {
      "Type": "Fail",
      "Error": "ExistingReplicationMismatch",
      "Cause": "Existing replication destination does not match expected region or account. Delete existing replication first."
    },

    "CheckProxyForValidateSource": {
      "Type": "Choice",
      "QueryLanguage": "JSONata",
      "Comment": "Route to Lambda proxy for source IAM validation if cross-region",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.ProxyLambdaArn) and $exists($states.input.SourceAccount.Region) and $states.input.SourceAccount.Region != $split($states.context.StateMachine.Id, ':')[3] %}",
          "Next": "ValidateSourceIAMPermissionsViaProxy"
        }
      ],
      "Default": "ValidateSourceIAMPermissions"
    },
    "ValidateSourceIAMPermissionsViaProxy": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Validate source account role has required EFS permissions via Lambda proxy (cross-region)",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "{% $states.input.ProxyLambdaArn %}",
        "Payload": {
          "Service": "efs",
          "Action": "describe_file_systems",
          "Region": "{% $states.input.SourceAccount.Region %}",
          "RoleArn": "{% $states.input.SourceAccount.RoleArn %}",
          "Parameters": {
            "FileSystemId": "{% $states.input.SourceFileSystemId %}"
          }
        }
      },
      "Output": "{% $states.input %}",
      "Next": "ValidateDestinationIAMPermissions",
      "Catch": [
        {
          "ErrorEquals": ["Efs.AccessDeniedException", "AccessDeniedException"],
          "Output": "{% $merge([$states.input, {'IAMError': $states.errorOutput}]) %}",
          "Next": "SourceIAMPermissionsFailed"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Output": "{% $merge([$states.input, {'Error': $states.errorOutput}]) %}",
          "Next": "SetupFailed"
        }
      ]
    },
    "ValidateSourceIAMPermissions": {
      "Type": "Task",
      "Comment": "Validate source account role has required EFS permissions",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.SourceFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "ValidateDestinationIAMPermissions",
      "Catch": [
        {
          "ErrorEquals": ["Efs.AccessDeniedException"],
          "ResultPath": "$.IAMError",
          "Next": "SourceIAMPermissionsFailed"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },
    "SourceIAMPermissionsFailed": {
      "Type": "Fail",
      "Error": "SourceIAMPermissionsInsufficient",
      "Cause": "Source account role lacks required EFS permissions. Please verify the role has elasticfilesystem:* permissions."
    },
    "ValidateDestinationIAMPermissions": {
      "Type": "Task",
      "Comment": "Validate destination account role has required EFS permissions",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "MaxItems": 1
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": null,
      "Next": "ShouldUpdateSourcePolicy",
      "Catch": [
        {
          "ErrorEquals": ["Efs.AccessDeniedException"],
          "ResultPath": "$.IAMError",
          "Next": "DestinationIAMPermissionsFailed"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },
    "DestinationIAMPermissionsFailed": {
      "Type": "Fail",
      "Error": "DestinationIAMPermissionsInsufficient",
      "Cause": "Destination account role lacks required EFS permissions. Please verify the role has elasticfilesystem:* permissions."
    },

    "ShouldUpdateSourcePolicy": {
      "Type": "Choice",
      "Comment": "Skip source policy update unless explicitly requested (default: managed by Terraform)",
      "Choices": [
        {
          "And": [
            {"Variable": "$.UpdateSourcePolicy", "IsPresent": true},
            {"Variable": "$.UpdateSourcePolicy", "BooleanEquals": true}
          ],
          "Next": "CallPreserveClientAccessPolicy"
        }
      ],
      "Default": "ShouldCreateDestinationEFS"
    },
    "CallPreserveClientAccessPolicy": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Preserve normal client access when creating a file system policy on an EFS that had none. Without this, adding replication-only statements replaces the default full-access policy and breaks NFS mounts for pods.",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${manage_filesystem_policy_arn}",
        "Input": {
          "FileSystemId": "{% $states.input.SourceFileSystemId %}",
          "Account": "{% $states.input.SourceAccount %}",
          "Action": "ADD",
          "PolicyStatement": {
            "Sid": "AllowClientAccessViaMountTarget",
            "Effect": "Allow",
            "Principal": {"AWS": "*"},
            "Action": [
              "elasticfilesystem:ClientMount",
              "elasticfilesystem:ClientWrite",
              "elasticfilesystem:ClientRootAccess"
            ],
            "Resource": "{% $states.input.SourceEFS.FileSystemArn %}",
            "Condition": {
              "Bool": {
                "elasticfilesystem:AccessedViaMountTarget": "true"
              }
            }
          }
        },
        "Name": "{% $states.context.Execution.Name & '-SrcClientAccess' %}"
      },
      "Output": "{% $states.input %}",
      "Next": "CallUpdateSourcePolicy",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Output": "{% $merge([$states.input, {'PolicyError': $states.errorOutput}]) %}",
          "Next": "SourcePolicyUpdateFailed"
        }
      ]
    },
    "CallUpdateSourcePolicy": {
      "Type": "Task",
      "Comment": "Add AllowReplicationWrite policy to source EFS (EFS service data replication)",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${manage_filesystem_policy_arn}",
        "Input": {
          "FileSystemId.$": "$.SourceFileSystemId",
          "Account.$": "$.SourceAccount",
          "Action": "ADD",
          "PolicyStatement": {
            "Sid": "AllowReplicationWrite",
            "Effect": "Allow",
            "Principal": {
              "Service": "elasticfilesystem.amazonaws.com"
            },
            "Action": [
              "elasticfilesystem:ClientMount",
              "elasticfilesystem:ClientWrite"
            ],
            "Resource.$": "$.SourceEFS.FileSystemArn",
            "Condition": {
              "Bool": {
                "elasticfilesystem:AccessedViaMountTarget": "true"
              }
            }
          }
        },
        "Name.$": "States.Format('{}-SrcPolicy', $$.Execution.Name)"
      },
      "ResultSelector": {
        "FileSystemId.$": "$.Output.FileSystemId",
        "PolicyApplied.$": "$.Output.PolicyApplied",
        "Status.$": "$.Output.Status"
      },
      "ResultPath": "$.SourcePolicyResult",
      "Next": "CallUpdateSourcePolicyCrossAccount",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.PolicyError",
          "Next": "SourcePolicyUpdateFailed"
        }
      ]
    },
    "CallUpdateSourcePolicyCrossAccount": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Add AllowCrossAccountReplicationManagement policy to source EFS (allows destination account to create/delete/describe replication)",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${manage_filesystem_policy_arn}",
        "Input": {
          "FileSystemId": "{% $states.input.SourceFileSystemId %}",
          "Account": "{% $states.input.SourceAccount %}",
          "Action": "ADD",
          "PolicyStatement": {
            "Sid": "AllowCrossAccountReplicationManagement",
            "Effect": "Allow",
            "Principal": {
              "AWS": "{% 'arn:aws:iam::' & $states.input.DestinationAccount.AccountId & ':root' %}"
            },
            "Action": [
              "elasticfilesystem:CreateReplicationConfiguration",
              "elasticfilesystem:DeleteReplicationConfiguration",
              "elasticfilesystem:DescribeReplicationConfigurations"
            ],
            "Resource": "{% $states.input.SourceEFS.FileSystemArn %}"
          }
        },
        "Name": "{% $states.context.Execution.Name & '-SrcPolyCrossAcct' %}"
      },
      "Output": "{% $states.input %}",
      "Next": "ShouldCreateDestinationEFS",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Output": "{% $merge([$states.input, {'PolicyError': $states.errorOutput}]) %}",
          "Next": "SourcePolicyUpdateFailed"
        }
      ]
    },
    "SourcePolicyUpdateFailed": {
      "Type": "Fail",
      "Error": "SourcePolicyUpdateFailed",
      "Cause": "Failed to update source EFS file system policy for replication"
    },

    "ShouldCreateDestinationEFS": {
      "Type": "Choice",
      "Comment": "If CreateDestinationEFS is false, use existing DestinationFileSystemId; otherwise create a new one (default)",
      "Choices": [
        {
          "Variable": "$.CreateDestinationEFS",
          "BooleanEquals": false,
          "Next": "GetExistingDestinationEFS"
        }
      ],
      "Default": "CreateDestinationFileSystem"
    },
    "GetExistingDestinationEFS": {
      "Type": "Task",
      "Comment": "Describe the existing destination EFS to get its ARN",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.DestinationFileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "FileSystemId.$": "$.FileSystems[0].FileSystemId",
        "FileSystemArn.$": "$.FileSystems[0].FileSystemArn"
      },
      "ResultPath": "$.DestinationEFS",
      "Next": "DisableReplicationOverwriteProtection",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "SetupFailed"
        }
      ]
    },

    "CreateDestinationFileSystem": {
      "Type": "Task",
      "Comment": "Create destination EFS (tags applied separately)",
      "Resource": "arn:aws:states:::aws-sdk:efs:createFileSystem",
      "Parameters": {
        "CreationToken.$": "States.UUID()",
        "PerformanceMode.$": "$.PerformanceMode",
        "Encrypted.$": "$.Encrypted",
        "KmsKeyId.$": "$.DestinationKmsKeyId"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.DestinationEFS",
      "Next": "TagDestinationFileSystem",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.CreateError",
          "Next": "SetupFailed"
        }
      ]
    },
    "TagDestinationFileSystem": {
      "Type": "Task",
      "Comment": "Tag destination EFS using resourcegroupstaggingapi (accepts map format)",
      "Resource": "arn:aws:states:::aws-sdk:resourcegroupstaggingapi:tagResources",
      "Parameters": {
        "ResourceARNList.$": "States.Array($.DestinationEFS.FileSystemArn)",
        "Tags.$": "$.Tags"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.TagResult",
      "Next": "WaitDestinationCreating",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.TagError",
          "Next": "WaitDestinationCreating"
        }
      ]
    },
    "WaitDestinationCreating": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckDestinationStatus"
    },
    "CheckDestinationStatus": {
      "Type": "Task",
      "Comment": "Check if destination EFS is available",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Parameters": {
        "FileSystemId.$": "$.DestinationEFS.FileSystemId"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.DestinationStatus",
      "Next": "IsDestinationAvailable"
    },
    "IsDestinationAvailable": {
      "Type": "Choice",
      "Comment": "Check if destination EFS is in available state",
      "Choices": [
        {
          "Variable": "$.DestinationStatus.FileSystems[0].LifeCycleState",
          "StringEquals": "available",
          "Next": "DisableReplicationOverwriteProtection"
        }
      ],
      "Default": "WaitDestinationCreating"
    },

    "DisableReplicationOverwriteProtection": {
      "Type": "Task",
      "Comment": "Disable replication overwrite protection on destination EFS (required for replication target)",
      "Resource": "arn:aws:states:::aws-sdk:efs:updateFileSystemProtection",
      "Parameters": {
        "FileSystemId.$": "$.DestinationEFS.FileSystemId",
        "ReplicationOverwriteProtection": "DISABLED"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.ProtectionUpdate",
      "Next": "ShouldSetDestinationPolicy",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ProtectionError",
          "Next": "DestinationProtectionFailed"
        }
      ]
    },
    "DestinationProtectionFailed": {
      "Type": "Fail",
      "Error": "DestinationProtectionFailed",
      "Cause": "Failed to disable replication overwrite protection on destination EFS"
    },

    "ShouldSetDestinationPolicy": {
      "Type": "Choice",
      "Comment": "Set policy on new EFS (always), on existing EFS only if UpdateDestinationPolicy=true (default: managed by Terraform)",
      "Choices": [
        {
          "And": [
            {"Variable": "$.CreateDestinationEFS", "BooleanEquals": false},
            {"Variable": "$.UpdateDestinationPolicy", "IsPresent": true},
            {"Variable": "$.UpdateDestinationPolicy", "BooleanEquals": true}
          ],
          "Next": "ResolveExistingFileSystem"
        },
        {
          "Variable": "$.CreateDestinationEFS",
          "BooleanEquals": false,
          "Next": "WaitPolicyPropagation"
        }
      ],
      "Default": "ResolveExistingFileSystem"
    },
    "ResolveExistingFileSystem": {
      "Type": "Choice",
      "QueryLanguage": "JSONata",
      "Comment": "If ExistingFileSystemName is provided, resolve it to an ID. If ExistingFileSystemId is already set, skip resolution.",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.ExistingFileSystemId) and $states.input.ExistingFileSystemId != '' %}",
          "Next": "CallCopyPodAccessPolicy"
        },
        {
          "Condition": "{% $exists($states.input.ExistingFileSystemName) and $states.input.ExistingFileSystemName != '' %}",
          "Next": "LookupExistingFileSystemByName"
        }
      ],
      "Default": "CallCopyPodAccessPolicy"
    },
    "LookupExistingFileSystemByName": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "List all EFS in destination account and find the one matching ExistingFileSystemName by Name tag",
      "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
      "Arguments": {},
      "Credentials": {
        "RoleArn": "{% $states.input.DestinationAccount.RoleArn %}"
      },
      "Output": "{% ($match := $filter($states.result.FileSystems, function($fs) { $fs.Name = $states.input.ExistingFileSystemName and $fs.FileSystemId != $states.input.DestinationEFS.FileSystemId }); $oldest := $sort($match, function($a, $b) { $a.CreationTime < $b.CreationTime }); $count($oldest) > 0 ? $merge([$states.input, {'ExistingFileSystemId': $oldest[0].FileSystemId}]) : $states.input) %}",
      "Next": "CallCopyPodAccessPolicy",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Output": "{% $states.input %}",
          "Comment": "If lookup fails, continue without ExistingFileSystemId — defaults will be applied",
          "Next": "CallCopyPodAccessPolicy"
        }
      ]
    },
    "CallCopyPodAccessPolicy": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Copy policy from existing EFS (ExistingFileSystemId, resolved from Name if needed) to destination EFS, or apply defaults. Must run BEFORE replication policies so pods can mount the EFS. Returns list of Sids applied.",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${copy_filesystem_policy_arn}",
        "Input": {
          "SourceFileSystemId": "{% $exists($states.input.ExistingFileSystemId) ? $states.input.ExistingFileSystemId : '' %}",
          "DestinationFileSystemId": "{% $states.input.DestinationEFS.FileSystemId %}",
          "DestinationFileSystemArn": "{% $states.input.DestinationEFS.FileSystemArn %}",
          "Account": "{% $states.input.DestinationAccount %}",
          "CsiDriverRoleArn": "{% $states.input.CsiDriverRoleArn %}"
        },
        "Name": "{% $states.context.Execution.Name & '-CopyPolicy' %}"
      },
      "Output": "{% $merge([$states.input, {'CopiedPolicyResult': $states.result.Output}]) %}",
      "Next": "CheckReplicationPoliciesAlreadyPresent",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Output": "{% $merge([$states.input, {'PolicyError': $states.errorOutput}]) %}",
          "Next": "DestinationPolicyFailed"
        }
      ]
    },
    "CheckReplicationPoliciesAlreadyPresent": {
      "Type": "Choice",
      "QueryLanguage": "JSONata",
      "Comment": "Skip replication policy adds if the copied policy already contains AllowCrossAccountReplication (indicates all replication statements were already present on the source EFS)",
      "Choices": [
        {
          "Condition": "{% 'AllowCrossAccountReplication' in $states.input.CopiedPolicyResult.Statements %}",
          "Next": "WaitPolicyPropagation"
        }
      ],
      "Default": "CallAddDestCrossAccountPolicy"
    },
    "CallAddDestCrossAccountPolicy": {
      "Type": "Task",
      "Comment": "Add AllowCrossAccountReplication statement to destination EFS via ManageFileSystemPolicy sub-SFN",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${manage_filesystem_policy_arn}",
        "Input": {
          "FileSystemId.$": "$.DestinationEFS.FileSystemId",
          "Account.$": "$.DestinationAccount",
          "Action": "ADD",
          "PolicyStatement": {
            "Sid": "AllowCrossAccountReplication",
            "Effect": "Allow",
            "Principal": {
              "AWS.$": "States.Format('arn:aws:iam::{}:root', $.SourceAccount.AccountId)"
            },
            "Action": [
              "elasticfilesystem:DescribeFileSystems",
              "elasticfilesystem:DescribeReplicationConfigurations",
              "elasticfilesystem:CreateReplicationConfiguration",
              "elasticfilesystem:DeleteReplicationConfiguration",
              "elasticfilesystem:ClientMount",
              "elasticfilesystem:ClientWrite"
            ],
            "Resource.$": "$.DestinationEFS.FileSystemArn"
          }
        },
        "Name.$": "States.Format('{}-DstPolicy1', $$.Execution.Name)"
      },
      "ResultPath": "$.DestPolicyResult1",
      "Next": "CallAddDestReplicationRolePolicy",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.PolicyError",
          "Next": "DestinationPolicyFailed"
        }
      ]
    },
    "CallAddDestReplicationRolePolicy": {
      "Type": "Task",
      "Comment": "Add AllowReplicationRole statement to destination EFS via ManageFileSystemPolicy sub-SFN",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${manage_filesystem_policy_arn}",
        "Input": {
          "FileSystemId.$": "$.DestinationEFS.FileSystemId",
          "Account.$": "$.DestinationAccount",
          "Action": "ADD",
          "PolicyStatement": {
            "Sid": "AllowReplicationRole",
            "Effect": "Allow",
            "Principal": {
              "AWS.$": "$.ReplicationRoleArn"
            },
            "Action": [
              "elasticfilesystem:DescribeFileSystems",
              "elasticfilesystem:DescribeReplicationConfigurations",
              "elasticfilesystem:CreateReplicationConfiguration",
              "elasticfilesystem:DeleteReplicationConfiguration",
              "elasticfilesystem:ReplicationWrite"
            ],
            "Resource.$": "$.DestinationEFS.FileSystemArn"
          }
        },
        "Name.$": "States.Format('{}-DstPolicy2', $$.Execution.Name)"
      },
      "ResultPath": "$.DestPolicyResult2",
      "Next": "CallAddDestReplicationServicePolicy",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.PolicyError",
          "Next": "DestinationPolicyFailed"
        }
      ]
    },
    "CallAddDestReplicationServicePolicy": {
      "Type": "Task",
      "Comment": "Add AllowReplicationService statement to destination EFS via ManageFileSystemPolicy sub-SFN",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${manage_filesystem_policy_arn}",
        "Input": {
          "FileSystemId.$": "$.DestinationEFS.FileSystemId",
          "Account.$": "$.DestinationAccount",
          "Action": "ADD",
          "PolicyStatement": {
            "Sid": "AllowReplicationService",
            "Effect": "Allow",
            "Principal": {
              "Service": "elasticfilesystem.amazonaws.com"
            },
            "Action": [
              "elasticfilesystem:ClientMount",
              "elasticfilesystem:ClientWrite",
              "elasticfilesystem:ReplicationWrite"
            ],
            "Resource.$": "$.DestinationEFS.FileSystemArn"
          }
        },
        "Name.$": "States.Format('{}-DstPolicy3', $$.Execution.Name)"
      },
      "ResultPath": "$.DestPolicyResult3",
      "Next": "WaitPolicyPropagation",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.PolicyError",
          "Next": "DestinationPolicyFailed"
        }
      ]
    },
    "DestinationPolicyFailed": {
      "Type": "Fail",
      "Error": "DestinationPolicyFailed",
      "Cause": "Failed to create file system policy on destination EFS"
    },
    "WaitPolicyPropagation": {
      "Type": "Wait",
      "Seconds": 5,
      "Comment": "Wait for policy to propagate before creating replication",
      "Next": "CheckProxyForCreateReplication"
    },

    "CheckProxyForCreateReplication": {
      "Type": "Choice",
      "QueryLanguage": "JSONata",
      "Comment": "Route to Lambda proxy for creating replication if cross-region",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.ProxyLambdaArn) and $exists($states.input.SourceAccount.Region) and $states.input.SourceAccount.Region != $split($states.context.StateMachine.Id, ':')[3] %}",
          "Next": "CreateReplicationConfigurationViaProxy"
        }
      ],
      "Default": "CreateReplicationConfiguration"
    },
    "CreateReplicationConfigurationViaProxy": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Create the replication configuration via Lambda proxy (cross-region: source EFS is in a different region)",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "{% $states.input.ProxyLambdaArn %}",
        "Payload": {
          "Service": "efs",
          "Action": "create_replication_configuration",
          "Region": "{% $states.input.SourceAccount.Region %}",
          "RoleArn": "{% $states.input.SourceAccount.RoleArn %}",
          "Parameters": {
            "SourceFileSystemId": "{% $states.input.SourceFileSystemId %}",
            "Destinations": [
              {
                "Region": "{% $states.input.DestinationRegion %}",
                "FileSystemId": "{% $states.input.DestinationEFS.FileSystemArn %}",
                "RoleArn": "{% $states.input.ReplicationRoleArn %}"
              }
            ]
          }
        }
      },
      "Output": "{% $merge([$states.input, {'ReplicationConfig': $states.result.Payload}]) %}",
      "Next": "PrepareOutput",
      "Retry": [
        {
          "ErrorEquals": ["ReplicationNotFound", "FileSystemNotFound", "Efs.ReplicationNotFound", "Efs.FileSystemNotFound"],
          "IntervalSeconds": 10,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Output": "{% $merge([$states.input, {'ReplicationError': $states.errorOutput}]) %}",
          "Next": "ReplicationCreationFailed"
        }
      ]
    },
    "CreateReplicationConfiguration": {
      "Type": "Task",
      "Comment": "Create the replication configuration from source to destination (use ARN and ReplicationRoleArn for cross-account)",
      "Resource": "arn:aws:states:::aws-sdk:efs:createReplicationConfiguration",
      "Parameters": {
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "Destinations": [
          {
            "Region.$": "$.DestinationRegion",
            "FileSystemId.$": "$.DestinationEFS.FileSystemArn",
            "RoleArn.$": "$.ReplicationRoleArn"
          }
        ]
      },
      "Credentials": {
        "RoleArn.$": "$.SourceAccount.RoleArn"
      },
      "ResultPath": "$.ReplicationConfig",
      "Next": "PrepareOutput",
      "Retry": [
        {
          "ErrorEquals": ["Efs.ReplicationNotFound", "Efs.FileSystemNotFound"],
          "IntervalSeconds": 10,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ReplicationError",
          "Next": "ReplicationCreationFailed"
        }
      ]
    },
    "ReplicationCreationFailed": {
      "Type": "Fail",
      "Error": "ReplicationCreationFailed",
      "Cause": "Failed to create replication configuration. Check IAM permissions and file system policies."
    },

    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "setup_cross_account_replication",
        "SourceFileSystemId.$": "$.SourceFileSystemId",
        "SourceFileSystemArn.$": "$.SourceEFS.FileSystemArn",
        "DestinationFileSystemId.$": "$.DestinationEFS.FileSystemId",
        "DestinationFileSystemArn.$": "$.DestinationEFS.FileSystemArn",
        "ReplicationOverwriteProtection": "DISABLED",
        "Message": "Cross-account EFS replication configured successfully"
      },
      "Next": "SetupSucceeded"
    },
    "SetupFailed": {
      "Type": "Fail",
      "Error": "SetupReplicationFailed",
      "Cause": "Failed to setup cross-account EFS replication"
    },
    "SetupSucceeded": {
      "Type": "Succeed"
    }
  }
}
