modules/step-functions/utils/run_archive_job.asl.json
{
  "Comment": "Runs archive Kubernetes job. Supports both public (eks:runJob.sync) and private (k8s-proxy Lambda) access modes.",
  "StartAt": "GetClusterInfo",
  "States": {
    "GetClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "Endpoint.$": "$.DbClusters[0].Endpoint",
        "MasterUserSecret.$": "$.DbClusters[0].MasterUserSecret"
      },
      "ResultPath": "$.DbClusterInfo",
      "Next": "EnsureNodegroupCapacity",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Error",
          "Next": "ArchiveFailed"
        }
      ]
    },
    "EnsureNodegroupCapacity": {
      "Type": "Task",
      "Comment": "Ensure node group has sufficient capacity before running archive job",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.ScaleNodegroupAsg",
        "Input": {
          "ClusterName.$": "$.EKS.ClusterName",
          "Tolerations.$": "$.EKS.Tolerations",
          "MinimumCapacity.$": "$.EKS.Scaling.MinimumCapacity",
          "DesiredCapacity.$": "$.EKS.Scaling.TargetCapacity",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.EnsureNodegroupResult",
      "Next": "GetDatabaseCredentials",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.EnsureNodegroupError",
          "Next": "GetDatabaseCredentials"
        }
      ]
    },
    "GetDatabaseCredentials": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "Parameters": {
        "SecretId.$": "$.DbClusterInfo.MasterUserSecret.SecretArn"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.SecretValue",
      "Next": "ParseSecretString",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Error",
          "Next": "ArchiveFailed"
        }
      ]
    },
    "ParseSecretString": {
      "Type": "Pass",
      "Parameters": {
        "ParsedSecret.$": "States.StringToJson($.SecretValue.SecretString)"
      },
      "ResultPath": "$.ParsedSecretResult",
      "Next": "BuildArchiveEnv"
    },
    "BuildArchiveEnv": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Build the archive container env + securityContext from ArchiveJob toggles. S3Sync (default true) keeps the legacy dump+media S3 archive; OciBuild (default false) adds OCI image build (buildah->ECR). Backward compatible: an input without S3Sync/OciBuild/Oci behaves exactly as before.",
      "Output": "{% ( $aj := $states.input.EKS.ArchiveJob; $s3 := $exists($aj.S3Sync) ? $aj.S3Sync : true; $oci := $exists($aj.OciBuild) ? $aj.OciBuild : false; $base := [ {'name':'TZ','value':'Europe/Paris'}, {'name':'MYSQL_HOST','value':$states.input.DbClusterInfo.Endpoint}, {'name':'MYSQL_USER','value':$states.input.ParsedSecretResult.ParsedSecret.username}, {'name':'MYSQL_PASSWORD','value':$states.input.ParsedSecretResult.ParsedSecret.password}, {'name':'MYSQL_DATABASE','value':$states.input.Database.MySQLOperations.DatabaseName}, {'name':'SHARED_FOLDER','value':'/refresh'}, {'name':'SHARED_MEDIA_FOLDER','value':'/shared-data-media'}, {'name':'SCRATCH_DIR','value':'/scratch'} ]; $media := $exists($aj.MediaFolder) ? [{'name':'MEDIAFOLDER','value':$aj.MediaFolder}] : []; $s3env := $s3 ? [ {'name':'S3_SYNC','value':'true'}, {'name':'S3_BUCKET','value':$aj.S3Bucket}, {'name':'S3_PREFIX','value':$aj.S3Prefix} ] : []; $ocienv := $oci ? [ {'name':'OCI_BUILD','value':'true'}, {'name':'OCI_ECR_REPO','value':$aj.Oci.EcrRepo}, {'name':'OCI_IMAGE_TAG','value':$aj.Oci.ImageTag}, {'name':'OCI_BASE_IMAGE','value':$aj.Oci.BaseImage}, {'name':'OCI_MYSQL_VERSION','value':$aj.Oci.MysqlVersion}, {'name':'AWS_REGION','value':($exists($aj.Oci.Region) ? $aj.Oci.Region : 'eu-central-1')}, {'name':'OCI_MEDIA','value':($exists($aj.Oci.Media) ? $string($aj.Oci.Media) : 'false')}, {'name':'OCI_MEDIA_REPO','value':($exists($aj.Oci.MediaRepo) ? $aj.Oci.MediaRepo : '')} ] : []; $secctx := $oci ? ($exists($aj.Oci.SecurityContext) ? $aj.Oci.SecurityContext : {'privileged': true}) : {}; $merge([$states.input, {'ArchiveEnv': $append($append($append($base, $media), $s3env), $ocienv), 'ArchiveSecCtx': $secctx}]) ) %}",
      "Next": "CheckAccessModeForJob"
    },
    "CheckAccessModeForJob": {
      "Type": "Choice",
      "Comment": "Route to public (eks:runJob.sync) or private (k8s-proxy Lambda) job lifecycle based on EKS access mode",
      "Choices": [
        {
          "Variable": "$.EKS.AccessMode",
          "StringEquals": "public",
          "Next": "GetEksClusterInfo"
        }
      ],
      "Default": "CreateArchiveJob"
    },
    "GetEksClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eks:describeCluster",
      "Parameters": {
        "Name.$": "$.EKS.ClusterName"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "RunKubernetesJob",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Error",
          "Next": "ArchiveFailed"
        }
      ]
    },
    "RunKubernetesJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:runJob.sync",
      "Parameters": {
        "ClusterName.$": "$.ClusterInfo.Cluster.Name",
        "CertificateAuthority.$": "$.ClusterInfo.Cluster.CertificateAuthority.Data",
        "Endpoint.$": "$.ClusterInfo.Cluster.Endpoint",
        "Namespace.$": "$.EKS.Namespace",
        "Job": {
          "apiVersion": "batch/v1",
          "kind": "Job",
          "metadata": {
            "name.$": "States.Format('refresh-archive-{}', $.ExecutionName)",
            "namespace.$": "$.EKS.Namespace"
          },
          "spec": {
            "template": {
              "metadata": {
                "name": "refresh-archive"
              },
              "spec": {
                "serviceAccountName.$": "$.EKS.ArchiveJob.ServiceAccount",
                "nodeSelector.$": "$.EKS.NodeSelector",
                "tolerations.$": "$.EKS.Tolerations",
                "volumes": [
                  {
                    "name": "shared-data",
                    "persistentVolumeClaim": {
                      "claimName.$": "$.EKS.ArchiveJob.PvcName"
                    }
                  },
                  {
                    "name": "shared-data-media",
                    "persistentVolumeClaim": {
                      "claimName.$": "$.EfsPvcName"
                    }
                  },
                  {
                    "name": "scratch",
                    "emptyDir": {}
                  }
                ],
                "containers": [
                  {
                    "name": "mysql-archive",
                    "image.$": "$.EKS.ArchiveJob.JobImage",
                    "imagePullPolicy": "Always",
                    "volumeMounts": [
                      {
                        "name": "shared-data",
                        "mountPath": "/refresh",
                        "subPath.$": "States.Format('refresh-mysqldump-{}-{}', $.EKS.Namespace, $.ExecutionName)"
                      },
                      {
                        "name": "shared-data-media",
                        "mountPath": "/shared-data-media",
                        "subPath.$": "$.EfsSubPath"
                      },
                      {
                        "name": "scratch",
                        "mountPath": "/scratch"
                      }
                    ],
                    "env.$": "$.ArchiveEnv",
                    "securityContext.$": "$.ArchiveSecCtx"
                  }
                ],
                "restartPolicy": "Never"
              }
            }
          }
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.JobResult",
      "Next": "PrepareOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Error",
          "Next": "ArchiveFailed"
        }
      ]
    },
    "CreateArchiveJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "createJob",
          "ClusterName.$": "$.EKS.ClusterName",
          "Namespace.$": "$.EKS.Namespace",
          "Job": {
            "apiVersion": "batch/v1",
            "kind": "Job",
            "metadata": {
              "name.$": "States.Format('refresh-archive-{}', $.ExecutionName)",
              "namespace.$": "$.EKS.Namespace"
            },
            "spec": {
              "template": {
                "metadata": {
                  "name": "refresh-archive"
                },
                "spec": {
                  "serviceAccountName.$": "$.EKS.ArchiveJob.ServiceAccount",
                  "nodeSelector.$": "$.EKS.NodeSelector",
                  "tolerations.$": "$.EKS.Tolerations",
                  "volumes": [
                    {
                      "name": "shared-data",
                      "persistentVolumeClaim": {
                        "claimName.$": "$.EKS.ArchiveJob.PvcName"
                      }
                    },
                    {
                      "name": "shared-data-media",
                      "persistentVolumeClaim": {
                        "claimName.$": "$.EfsPvcName"
                      }
                    },
                    {
                      "name": "scratch",
                      "emptyDir": {}
                    }
                  ],
                  "containers": [
                    {
                      "name": "mysql-archive",
                      "image.$": "$.EKS.ArchiveJob.JobImage",
                      "imagePullPolicy": "Always",
                      "volumeMounts": [
                        {
                          "name": "shared-data",
                          "mountPath": "/refresh",
                          "subPath.$": "States.Format('refresh-mysqldump-{}-{}', $.EKS.Namespace, $.ExecutionName)"
                        },
                        {
                          "name": "shared-data-media",
                          "mountPath": "/shared-data-media",
                          "subPath.$": "$.EfsSubPath"
                        },
                        {
                          "name": "scratch",
                          "mountPath": "/scratch"
                        }
                      ],
                      "env.$": "$.ArchiveEnv",
                      "securityContext.$": "$.ArchiveSecCtx"
                    }
                  ],
                  "restartPolicy": "Never"
                }
              }
            }
          }
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultSelector": {
        "JobName.$": "$.Payload.JobName",
        "Namespace.$": "$.Payload.Namespace",
        "ClusterName.$": "$.Payload.ClusterName"
      },
      "ResultPath": "$.JobInfo",
      "Next": "WaitForArchiveJob",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Error",
          "Next": "ArchiveFailed"
        }
      ]
    },
    "WaitForArchiveJob": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "CheckArchiveJobStatus"
    },
    "CheckArchiveJobStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "getJobStatus",
          "ClusterName.$": "$.JobInfo.ClusterName",
          "Namespace.$": "$.JobInfo.Namespace",
          "JobName.$": "$.JobInfo.JobName"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultSelector": {
        "Status.$": "$.Payload.Status",
        "JobName.$": "$.Payload.JobName",
        "Message.$": "$.Payload.Message"
      },
      "ResultPath": "$.JobStatus",
      "Next": "ArchiveJobStatusChoice",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Error",
          "Next": "DeleteArchiveJobOnError"
        }
      ]
    },
    "ArchiveJobStatusChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.JobStatus.Status",
          "StringEquals": "Complete",
          "Next": "DeleteArchiveJob"
        },
        {
          "Variable": "$.JobStatus.Status",
          "StringEquals": "Failed",
          "Next": "DeleteArchiveJobOnError"
        }
      ],
      "Default": "WaitForArchiveJob"
    },
    "DeleteArchiveJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "deleteJob",
          "ClusterName.$": "$.JobInfo.ClusterName",
          "Namespace.$": "$.JobInfo.Namespace",
          "JobName.$": "$.JobInfo.JobName"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": null,
      "Next": "PrepareOutput"
    },
    "DeleteArchiveJobOnError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "deleteJob",
          "ClusterName.$": "$.JobInfo.ClusterName",
          "Namespace.$": "$.JobInfo.Namespace",
          "JobName.$": "$.JobInfo.JobName"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": null,
      "Next": "ArchiveJobFailed"
    },
    "ArchiveJobFailed": {
      "Type": "Fail",
      "Error": "ArchiveJobFailed",
      "Cause": "The archive K8s job failed or could not be monitored."
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "run_archive_job",
        "EksClusterName.$": "$.EKS.ClusterName"
      },
      "Next": "ArchiveSucceeded"
    },
    "ArchiveFailed": {
      "Type": "Fail",
      "Error": "ArchiveJobFailed",
      "Cause": "Failed to run archive job"
    },
    "ArchiveSucceeded": {
      "Type": "Succeed"
    }
  }
}
