modules/step-functions/utils/tag_resources.asl.json
{
  "Comment": "Tags a list of AWS resources in destination account, merging source tags with config tags",
  "StartAt": "CheckSourceTags",
  "States": {
    "CheckSourceTags": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.SourceTagList",
          "IsPresent": true,
          "Next": "MergeTags"
        }
      ],
      "Default": "PrepareTagsFromConfig"
    },
    "PrepareTagsFromConfig": {
      "Type": "Pass",
      "Comment": "Use ConfigTags directly when no source tags",
      "Parameters": {
        "ResourceARNList.$": "$.ResourceARNList",
        "Tags.$": "$.ConfigTags",
        "DestinationAccount.$": "$.DestinationAccount"
      },
      "Next": "TagResources"
    },
    "MergeTags": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Merge source tags with config tags, config tags take precedence. SourceTagList is a list of {Key,Value} (resource describe format); convert to a {key:value} map (required by tagResources) before merging.",
      "Output": {
        "ResourceARNList": "{% $states.input.ResourceARNList %}",
        "Tags": "{% $merge([$states.input.SourceTagList{Key: Value}, $states.input.ConfigTags]) %}",
        "DestinationAccount": "{% $states.input.DestinationAccount %}"
      },
      "Next": "TagResources"
    },
    "TagResources": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:resourcegroupstaggingapi:tagResources",
      "Parameters": {
        "ResourceARNList.$": "$.ResourceARNList",
        "Tags.$": "$.Tags"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.TaggingResult",
      "Next": "PrepareOutput",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "TaggingFailed"
        }
      ]
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "tag_resources",
        "ResourceCount.$": "States.ArrayLength($.ResourceARNList)"
      },
      "Next": "TaggingSucceeded"
    },
    "TaggingFailed": {
      "Type": "Fail",
      "Error": "TaggingFailed",
      "Cause": "Failed to tag resources"
    },
    "TaggingSucceeded": {
      "Type": "Succeed"
    }
  }
}
