modules/step-functions/utils/validate_refresh_config.asl.json
{
  "Comment": "Validates refresh configuration: structure (required fields) + resources (exist and accessible). Supports cross-region validation via Lambda proxy (Database.Source.ProxyLambdaArn, EFS.Replication.ProxyLambdaArn). Always succeeds with a validation report.",
  "StartAt": "ValidateAll",
  "States": {

    "ValidateAll": {
      "Type": "Parallel",
      "Comment": "Run all validation checks in parallel across 5 categories",
      "Branches": [

        {
          "Comment": "Branch 0: Config Structure - Validate all required fields are present",
          "StartAt": "CheckAccountFields",
          "States": {
            "CheckAccountFields": {
              "Type": "Choice",
              "Comment": "Verify SourceAccount, DestinationAccount, and K8sProxyLambdaArn fields",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.SourceAccount.RoleArn", "IsPresent": true},
                    {"Variable": "$.DestinationAccount.RoleArn", "IsPresent": true},
                    {"Variable": "$.DestinationAccount.AccountId", "IsPresent": true},
                    {"Variable": "$.DestinationAccount.Region", "IsPresent": true},
                    {"Variable": "$.K8sProxyLambdaArn", "IsPresent": true}
                  ],
                  "Next": "CheckDatabaseEnabled"
                }
              ],
              "Default": "ConfigMissing_Accounts"
            },
            "ConfigMissing_Accounts": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Accounts", "Required": ["SourceAccount.RoleArn", "DestinationAccount.RoleArn", "DestinationAccount.AccountId", "DestinationAccount.Region", "K8sProxyLambdaArn"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckDatabaseEnabled": {
              "Type": "Choice",
              "Comment": "Skip DB field validation if Database.Enabled is false",
              "Choices": [
                {
                  "Variable": "$.Database.Enabled",
                  "IsPresent": false,
                  "Next": "CheckDatabaseSourceFields"
                },
                {
                  "Variable": "$.Database.Enabled",
                  "BooleanEquals": false,
                  "Next": "CheckSFNEFSConditional"
                }
              ],
              "Default": "CheckDatabaseSourceFields"
            },

            "CheckDatabaseSourceFields": {
              "Type": "Choice",
              "Comment": "Verify Database.Source fields",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Source.ClusterIdentifier", "IsPresent": true},
                    {"Variable": "$.Database.Source.RestoreType", "IsPresent": true},
                    {"Variable": "$.Database.Source.SnapshotMode", "IsPresent": true}
                  ],
                  "Next": "CheckDatabaseTargetFields"
                }
              ],
              "Default": "ConfigMissing_DBSource"
            },
            "ConfigMissing_DBSource": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Database.Source", "Required": ["Database.Source.ClusterIdentifier", "Database.Source.RestoreType", "Database.Source.SnapshotMode"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckDatabaseTargetFields": {
              "Type": "Choice",
              "Comment": "Verify Database.Target fields",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Target.ClusterIdentifier", "IsPresent": true},
                    {"Variable": "$.Database.Target.InstanceIdentifierPrefix", "IsPresent": true},
                    {"Variable": "$.Database.Target.InstanceClass", "IsPresent": true},
                    {"Variable": "$.Database.Target.Instances", "IsPresent": true},
                    {"Variable": "$.Database.Target.ServerlessConfig.MinCapacity", "IsPresent": true},
                    {"Variable": "$.Database.Target.ServerlessConfig.MaxCapacity", "IsPresent": true}
                  ],
                  "Next": "CheckDatabaseInstanceItems"
                }
              ],
              "Default": "ConfigMissing_DBTarget"
            },
            "ConfigMissing_DBTarget": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Database.Target", "Required": ["Database.Target.ClusterIdentifier", "Database.Target.InstanceIdentifierPrefix", "Database.Target.InstanceClass", "Database.Target.Instances"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckDatabaseInstanceItems": {
              "Type": "Choice",
              "QueryLanguage": "JSONata",
              "Comment": "Verify each item in Database.Target.Instances has DbInstanceClass and Engine",
              "Choices": [
                {
                  "Condition": "{% $count($states.input.Database.Target.Instances) > 0 and $count($filter($states.input.Database.Target.Instances, function($i) { $exists($i.DbInstanceClass) and $exists($i.PromotionTier) })) = $count($states.input.Database.Target.Instances) %}",
                  "Next": "CheckDatabaseNetworkFields"
                }
              ],
              "Default": "ConfigMissing_DBInstanceItems"
            },
            "ConfigMissing_DBInstanceItems": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Database.Target.Instances[]", "Required": ["DbInstanceClass", "PromotionTier"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckDatabaseNetworkFields": {
              "Type": "Choice",
              "Comment": "Verify Database.Network and Parameters fields (KmsKeyId is optional for unencrypted clusters)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Network.SubnetGroupName", "IsPresent": true},
                    {"Variable": "$.Database.Network.SecurityGroupIds", "IsPresent": true},
                    {"Variable": "$.Database.Parameters.ClusterParameterGroupName", "IsPresent": true},
                    {"Variable": "$.Database.Parameters.InstanceParameterGroupName", "IsPresent": true}
                  ],
                  "Next": "CheckDatabaseOptionsFields"
                }
              ],
              "Default": "ConfigMissing_DBNetwork"
            },
            "ConfigMissing_DBNetwork": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Database.Network/Parameters", "Required": ["Database.Network.SubnetGroupName", "Database.Network.SecurityGroupIds", "Database.Parameters.ClusterParameterGroupName", "Database.Parameters.InstanceParameterGroupName"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckDatabaseOptionsFields": {
              "Type": "Choice",
              "Comment": "Verify Database.Options flags exist",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Options.DeleteOldCluster", "IsPresent": true},
                    {"Variable": "$.Database.Options.RenameOldCluster", "IsPresent": true},
                    {"Variable": "$.Database.Options.RunMysqlDumpOldCluster", "IsPresent": true},
                    {"Variable": "$.Database.Options.RunMysqlImportCluster", "IsPresent": true},
                    {"Variable": "$.Database.Options.RunSqlScripts", "IsPresent": true}
                  ],
                  "Next": "CheckDatabaseAlwaysRequired"
                }
              ],
              "Default": "ConfigMissing_DBOptions"
            },
            "ConfigMissing_DBOptions": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Database.Options", "Required": ["DeleteOldCluster", "RenameOldCluster", "RunMysqlDumpOldCluster", "RunMysqlImportCluster", "RunSqlScripts"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckDatabaseAlwaysRequired": {
              "Type": "Choice",
              "Comment": "Verify fields always consumed by orchestrator (EnableMasterSecret, ConfigureS3Integration, CreateDBInstance)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Secrets.MasterUserSecretKmsKeyId", "IsPresent": true},
                    {"Variable": "$.Database.S3Integration.RoleArn", "IsPresent": true},
                    {"Variable": "$.Database.Target.Tags", "IsPresent": true}
                  ],
                  "Next": "CheckMysqlOpsConditional"
                }
              ],
              "Default": "ConfigMissing_DBAlwaysRequired"
            },
            "ConfigMissing_DBAlwaysRequired": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Database.AlwaysRequired", "Required": ["Database.Secrets.MasterUserSecretKmsKeyId", "Database.S3Integration.RoleArn", "Database.Target.Tags"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckMysqlOpsConditional": {
              "Type": "Choice",
              "Comment": "If MySQLDump or MySQLImport enabled, check MySQLOperations fields",
              "Choices": [
                {
                  "Or": [
                    {"Variable": "$.Database.Options.RunMysqlDumpOldCluster", "BooleanEquals": true},
                    {"Variable": "$.Database.Options.RunMysqlImportCluster", "BooleanEquals": true}
                  ],
                  "Next": "CheckMysqlOpsFields"
                }
              ],
              "Default": "CheckSFNUtilsFields"
            },
            "CheckMysqlOpsFields": {
              "Type": "Choice",
              "Comment": "Verify MySQLOperations fields when dump/import enabled",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.MySQLOperations.DatabaseName", "IsPresent": true},
                    {"Variable": "$.Database.MySQLOperations.EfsPvcName", "IsPresent": true},
                    {"Variable": "$.Database.MySQLOperations.DumpSubPath", "IsPresent": true},
                    {"Variable": "$.Database.MySQLOperations.TablesToDump", "IsPresent": true}
                  ],
                  "Next": "CheckEKSDumpFields"
                }
              ],
              "Default": "ConfigMissing_MySQLOps"
            },
            "ConfigMissing_MySQLOps": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Database.MySQLOperations", "Required": ["DatabaseName", "EfsPvcName", "DumpSubPath", "TablesToDump"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckEKSDumpFields": {
              "Type": "Choice",
              "Comment": "Dump/import runs on EKS - NodeSelector, Tolerations and Scaling are required",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EKS.NodeSelector", "IsPresent": true},
                    {"Variable": "$.EKS.Tolerations", "IsPresent": true},
                    {"Variable": "$.EKS.Scaling.MinimumCapacity", "IsPresent": true},
                    {"Variable": "$.EKS.Scaling.TargetCapacity", "IsPresent": true},
                    {"Variable": "$.K8sProxyLambdaArn", "IsPresent": true}
                  ],
                  "Next": "CheckMysqlImportConditional"
                }
              ],
              "Default": "ConfigMissing_EKSDump"
            },
            "ConfigMissing_EKSDump": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EKS.DumpImport", "Required": ["EKS.NodeSelector", "EKS.Tolerations", "EKS.Scaling.MinimumCapacity", "EKS.Scaling.TargetCapacity", "K8sProxyLambdaArn"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckMysqlImportConditional": {
              "Type": "Choice",
              "Comment": "If MySQLImport enabled, check import-specific fields",
              "Choices": [
                {
                  "Variable": "$.Database.Options.RunMysqlImportCluster",
                  "BooleanEquals": true,
                  "Next": "CheckMysqlImportFields"
                }
              ],
              "Default": "CheckSqlScriptsConditional"
            },
            "CheckMysqlImportFields": {
              "Type": "Choice",
              "Comment": "Verify import-specific MySQLOperations fields",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.MySQLOperations.ImportDatabaseName", "IsPresent": true},
                    {"Variable": "$.Database.MySQLOperations.RefreshBucket", "IsPresent": true},
                    {"Variable": "$.Database.MySQLOperations.RefreshBucketPrefix", "IsPresent": true}
                  ],
                  "Next": "CheckSqlScriptsConditional"
                }
              ],
              "Default": "ConfigMissing_MySQLImport"
            },
            "ConfigMissing_MySQLImport": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Database.MySQLOperations.Import", "Required": ["ImportDatabaseName", "RefreshBucket", "RefreshBucketPrefix"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckSqlScriptsConditional": {
              "Type": "Choice",
              "Comment": "If RunSqlScripts enabled, check SqlScripts fields",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Options.RunSqlScripts", "IsPresent": true},
                    {"Variable": "$.Database.Options.RunSqlScripts", "BooleanEquals": true}
                  ],
                  "Next": "CheckSqlScriptsFields"
                }
              ],
              "Default": "CheckSecretsSyncConditional"
            },
            "CheckSqlScriptsFields": {
              "Type": "Choice",
              "Comment": "Verify SqlScripts fields",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.SqlScripts.LambdaFunctionName", "IsPresent": true},
                    {"Variable": "$.Database.SqlScripts.Bucket", "IsPresent": true},
                    {"Variable": "$.Database.SqlScripts.Prefix", "IsPresent": true}
                  ],
                  "Next": "CheckSecretsSyncConditional"
                }
              ],
              "Default": "ConfigMissing_SqlScripts"
            },
            "ConfigMissing_SqlScripts": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Database.SqlScripts", "Required": ["LambdaFunctionName", "Bucket", "Prefix"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckSecretsSyncConditional": {
              "Type": "Choice",
              "Comment": "Check for new Secrets.Sync format or legacy RotateSecrets",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Secrets.Sync.Enabled", "IsPresent": true},
                    {"Variable": "$.Database.Secrets.Sync.Enabled", "BooleanEquals": true}
                  ],
                  "Next": "CheckSecretsSyncFields"
                },
                {
                  "And": [
                    {"Variable": "$.Database.Options.RotateSecrets", "IsPresent": true},
                    {"Variable": "$.Database.Options.RotateSecrets", "BooleanEquals": true}
                  ],
                  "Next": "CheckLegacyRotateSecretsFields"
                }
              ],
              "Default": "CheckSFNUtilsFields"
            },
            "CheckSecretsSyncFields": {
              "Type": "Choice",
              "Comment": "Verify Secrets.Sync.Items is present with at least the array field",
              "Choices": [
                {
                  "Variable": "$.Database.Secrets.Sync.Items",
                  "IsPresent": true,
                  "Next": "CheckSFNUtilsFields"
                }
              ],
              "Default": "ConfigMissing_SecretsSync"
            },
            "ConfigMissing_SecretsSync": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Database.Secrets.Sync", "Required": ["Sync.Items (array of {SecretId, SourceSecretId, Username, DatabaseName})"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckLegacyRotateSecretsFields": {
              "Type": "Choice",
              "Comment": "Verify legacy RotateSecrets fields (backward compat)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Secrets.UserSecrets", "IsPresent": true},
                    {"Variable": "$.Database.Secrets.RotationLambdaName", "IsPresent": true}
                  ],
                  "Next": "CheckSFNUtilsFields"
                }
              ],
              "Default": "ConfigMissing_RotateSecrets"
            },
            "ConfigMissing_RotateSecrets": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Database.Secrets.Rotation", "Required": ["UserSecrets", "RotationLambdaName"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckSFNUtilsFields": {
              "Type": "Choice",
              "Comment": "Verify StepFunctions.Utils ARNs",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.StepFunctions.Utils.ValidateRefreshConfig", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Utils.PrepareRefresh", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Utils.Notify", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Utils.CleanupAndStop", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Utils.TagResources", "IsPresent": true}
                  ],
                  "Next": "CheckSFNDatabaseFields"
                }
              ],
              "Default": "ConfigMissing_SFNUtils"
            },
            "ConfigMissing_SFNUtils": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "StepFunctions.Utils", "Required": ["ValidateRefreshConfig", "PrepareRefresh", "Notify", "CleanupAndStop", "TagResources"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckSFNDatabaseFields": {
              "Type": "Choice",
              "Comment": "Verify StepFunctions.Database ARNs",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.StepFunctions.Database.RestoreCluster", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Database.PrepareSnapshotForRestore", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Database.CreateInstance", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Database.EnableMasterSecret", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Database.EnsureClusterAvailable", "IsPresent": true}
                  ],
                  "Next": "CheckSFNDatabaseFields2"
                }
              ],
              "Default": "ConfigMissing_SFNDatabase"
            },
            "CheckSFNDatabaseFields2": {
              "Type": "Choice",
              "Comment": "Verify remaining StepFunctions.Database ARNs",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.StepFunctions.Database.RenameCluster", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Database.DeleteCluster", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Database.StopCluster", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Database.ShareSnapshot", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Database.EnsureClusterNotExists", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Database.ConfigureS3Integration", "IsPresent": true}
                  ],
                  "Next": "CheckSFNDatabaseConditionalArns"
                }
              ],
              "Default": "ConfigMissing_SFNDatabase"
            },
            "ConfigMissing_SFNDatabase": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "StepFunctions.Database", "Required": ["RestoreCluster", "PrepareSnapshotForRestore", "CreateInstance", "EnableMasterSecret", "EnsureClusterAvailable", "RenameCluster", "DeleteCluster", "StopCluster", "ShareSnapshot", "EnsureClusterNotExists", "ConfigureS3Integration"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckSFNDatabaseConditionalArns": {
              "Type": "Choice",
              "Comment": "Check conditional SFN ARNs: dump if RunMysqlDumpOldCluster, import if RunMysqlImportCluster",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Options.RunMysqlDumpOldCluster", "BooleanEquals": true},
                    {"Variable": "$.StepFunctions.Database.RunMysqldumpOnEks", "IsPresent": false}
                  ],
                  "Next": "ConfigMissing_SFNDatabaseConditional"
                },
                {
                  "And": [
                    {"Variable": "$.Database.Options.RunMysqlImportCluster", "BooleanEquals": true},
                    {"Variable": "$.StepFunctions.Database.RunMysqlimportOnEks", "IsPresent": false}
                  ],
                  "Next": "ConfigMissing_SFNDatabaseConditional"
                }
              ],
              "Default": "CheckSFNDatabaseConditionalArns2"
            },
            "CheckSFNDatabaseConditionalArns2": {
              "Type": "Choice",
              "Comment": "Check conditional SFN ARNs: sql scripts and rotate secrets",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Options.RunSqlScripts", "IsPresent": true},
                    {"Variable": "$.Database.Options.RunSqlScripts", "BooleanEquals": true},
                    {"Variable": "$.StepFunctions.Database.RunSqlFromS3", "IsPresent": false}
                  ],
                  "Next": "ConfigMissing_SFNDatabaseConditional"
                },
                {
                  "And": [
                    {"Variable": "$.Database.Options.RotateSecrets", "IsPresent": true},
                    {"Variable": "$.Database.Options.RotateSecrets", "BooleanEquals": true},
                    {"Variable": "$.StepFunctions.Database.RotateSecrets", "IsPresent": false}
                  ],
                  "Next": "ConfigMissing_SFNDatabaseConditional"
                }
              ],
              "Default": "CheckSFNEFSConditional"
            },
            "ConfigMissing_SFNDatabaseConditional": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "StepFunctions.Database.Conditional", "Required": ["RunMysqldumpOnEks (if dump)", "RunMysqlimportOnEks (if import)", "RunSqlFromS3 (if sql)", "RotateSecrets (if rotate)"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckSFNEFSConditional": {
              "Type": "Choice",
              "Comment": "If EFS enabled, check EFS config and SFN ARNs",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.Enabled", "IsPresent": true},
                    {"Variable": "$.EFS.Enabled", "BooleanEquals": true}
                  ],
                  "Next": "CheckEFSFields"
                }
              ],
              "Default": "CheckSFNEKSConditional"
            },
            "CheckEFSFields": {
              "Type": "Choice",
              "Comment": "Verify EFS config fields (Name always required for PrepareRefresh tag extraction)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.Source.FileSystemId", "IsPresent": true},
                    {"Variable": "$.EFS.Source.Account.RoleArn", "IsPresent": true},
                    {"Variable": "$.EFS.Source.Account.AccountId", "IsPresent": true},
                    {"Variable": "$.EFS.Network.SubnetIds", "IsPresent": true},
                    {"Variable": "$.EFS.Network.SecurityGroupIds", "IsPresent": true},
                    {"Variable": "$.EFS.Name", "IsPresent": true}
                  ],
                  "Next": "CheckEFSFields2"
                }
              ],
              "Default": "ConfigMissing_EFS"
            },
            "CheckEFSFields2": {
              "Type": "Choice",
              "Comment": "Verify EFS replication fields (only for cross-account, skip for backup restore)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.Replication.DestinationRegion", "IsPresent": true},
                    {"Variable": "$.EFS.Replication.RoleArn", "IsPresent": true}
                  ],
                  "Next": "CheckEFSContextFields"
                },
                {
                  "Comment": "Backup restore mode: no Replication section, check Backup fields instead",
                  "And": [
                    {"Variable": "$.EFS.Backup.RoleArn", "IsPresent": true}
                  ],
                  "Next": "CheckEFSContextFields"
                }
              ],
              "Default": "ConfigMissing_EFS"
            },
            "CheckEFSContextFields": {
              "Type": "Choice",
              "Comment": "Verify EFS.Context and EFS.LambdaConfig (SourceEfsSubPath optional for backup restore)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.Context", "IsPresent": true},
                    {"Variable": "$.EFS.LambdaConfig", "IsPresent": true},
                    {"Variable": "$.EFS.LambdaConfig.EnableFlagFileCheck", "IsPresent": true}
                  ],
                  "Next": "CheckEFSFlagFileConditional"
                }
              ],
              "Default": "ConfigMissing_EFSContext"
            },
            "ConfigMissing_EFSContext": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EFS.Context", "Required": ["EFS.Context", "EFS.LambdaConfig", "EFS.LambdaConfig.EnableFlagFileCheck", "EFS.SSMParameters.EfsSubPath", "EFS.SSMParameters.SourceEfsSubPath"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckEFSFlagFileConditional": {
              "Type": "Choice",
              "Comment": "If EnableFlagFileCheck is true, verify Lambda prefix fields and SSM sync requirement",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.LambdaConfig.EnableFlagFileCheck", "BooleanEquals": true}
                  ],
                  "Next": "CheckEFSFlagFileFields"
                }
              ],
              "Default": "CheckEFSDestinationMode"
            },
            "CheckEFSFlagFileFields": {
              "Type": "Choice",
              "Comment": "Verify Lambda prefix fields and SyncConfigItems ARN (needed to sync SSM subpath before flag check)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.LambdaConfig.SourceLambdaPrefix", "IsPresent": true},
                    {"Variable": "$.EFS.LambdaConfig.DestinationLambdaPrefix", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Sync.SyncConfigItems", "IsPresent": true}
                  ],
                  "Next": "CheckEFSDestinationMode"
                }
              ],
              "Default": "ConfigMissing_EFSFlagFile"
            },
            "ConfigMissing_EFSFlagFile": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EFS.FlagFileCheck", "Required": ["LambdaConfig.SourceLambdaPrefix", "LambdaConfig.DestinationLambdaPrefix", "StepFunctions.Sync.SyncConfigItems (for SSM subpath sync)"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckEFSDestinationMode": {
              "Type": "Choice",
              "Comment": "If CreateDestinationEFS is false, validate DestinationFileSystemId; otherwise validate create fields",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.Replication.CreateDestinationEFS", "IsPresent": true},
                    {"Variable": "$.EFS.Replication.CreateDestinationEFS", "BooleanEquals": false}
                  ],
                  "Next": "CheckEFSExistingDestFields"
                }
              ],
              "Default": "CheckEFSNewDestFields"
            },
            "CheckEFSExistingDestFields": {
              "Type": "Choice",
              "Comment": "When using existing EFS, DestinationFileSystemId is required",
              "Choices": [
                {
                  "Variable": "$.EFS.Replication.DestinationFileSystemId",
                  "IsPresent": true,
                  "Next": "CheckEFSSSMConditional"
                }
              ],
              "Default": "ConfigMissing_EFS_ExistingDest"
            },
            "ConfigMissing_EFS_ExistingDest": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EFS", "Required": ["Replication.DestinationFileSystemId (required when CreateDestinationEFS is false)"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckEFSNewDestFields": {
              "Type": "Choice",
              "Comment": "When creating new EFS, KMS key and tags are required (Name already checked in CheckEFSFields)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.Replication.DestinationKmsKeyId", "IsPresent": true},
                    {"Variable": "$.EFS.Tags", "IsPresent": true}
                  ],
                  "Next": "CheckEFSSSMConditional"
                }
              ],
              "Default": "ConfigMissing_EFS_NewDest"
            },
            "ConfigMissing_EFS": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EFS", "Required": ["Source.FileSystemId", "Source.Account.RoleArn", "Source.Account.AccountId", "Network.SubnetIds", "Network.SecurityGroupIds", "Name", "Replication.DestinationRegion", "Replication.RoleArn"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "ConfigMissing_EFS_NewDest": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EFS.NewDestination", "Required": ["Replication.DestinationKmsKeyId", "Tags"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckEFSSSMConditional": {
              "Type": "Choice",
              "Comment": "If StoreInSSM enabled, verify SSMParameters fields",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.Options.StoreInSSM", "IsPresent": true},
                    {"Variable": "$.EFS.Options.StoreInSSM", "BooleanEquals": true}
                  ],
                  "Next": "CheckEFSSSMFields"
                }
              ],
              "Default": "CheckSFNEFSFields"
            },
            "CheckEFSSSMFields": {
              "Type": "Choice",
              "Comment": "Verify EFS SSMParameters fields when StoreInSSM enabled",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.SSMParameters.EfsId", "IsPresent": true},
                    {"Variable": "$.EFS.SSMParameters.EfsSubPath", "IsPresent": true},
                    {"Variable": "$.StepFunctions.EFS.GetSubpathAndStoreInSSM", "IsPresent": true}
                  ],
                  "Next": "CheckEFSLambdaCodeFields"
                }
              ],
              "Default": "ConfigMissing_EFSSSM"
            },
            "ConfigMissing_EFSSSM": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EFS.SSM", "Required": ["SSMParameters.EfsId", "SSMParameters.EfsSubPath", "StepFunctions.EFS.GetSubpathAndStoreInSSM"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckEFSLambdaCodeFields": {
              "Type": "Choice",
              "Comment": "Verify LambdaConfig fields needed for dynamic Lambda creation (get-efs-subpath)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.LambdaConfig.Prefix", "IsPresent": true},
                    {"Variable": "$.EFS.LambdaConfig.CodeS3Bucket", "IsPresent": true},
                    {"Variable": "$.EFS.LambdaConfig.CodeS3Key", "IsPresent": true},
                    {"Variable": "$.EFS.LambdaConfig.LambdaRoleArn", "IsPresent": true}
                  ],
                  "Next": "CheckSFNEFSFields"
                }
              ],
              "Default": "ConfigMissing_EFSLambdaCode"
            },
            "ConfigMissing_EFSLambdaCode": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EFS.LambdaConfig (StoreInSSM)", "Required": ["LambdaConfig.Prefix", "LambdaConfig.CodeS3Bucket", "LambdaConfig.CodeS3Key", "LambdaConfig.LambdaRoleArn"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckSFNEFSFields": {
              "Type": "Choice",
              "Comment": "Verify StepFunctions.EFS ARNs",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.StepFunctions.EFS.CreateFilesystem", "IsPresent": true},
                    {"Variable": "$.StepFunctions.EFS.DeleteFilesystem", "IsPresent": true},
                    {"Variable": "$.StepFunctions.EFS.SetupCrossAccountReplication", "IsPresent": true},
                    {"Variable": "$.StepFunctions.EFS.CheckReplicationSync", "IsPresent": true},
                    {"Variable": "$.StepFunctions.EFS.DeleteReplication", "IsPresent": true}
                  ],
                  "Next": "CheckSFNEKSConditional"
                }
              ],
              "Default": "ConfigMissing_SFNEFS"
            },
            "ConfigMissing_SFNEFS": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "StepFunctions.EFS", "Required": ["CreateFilesystem", "DeleteFilesystem", "SetupCrossAccountReplication", "CheckReplicationSync", "DeleteReplication"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckSFNEKSConditional": {
              "Type": "Choice",
              "Comment": "If EKS.Options.ScaleServices enabled, check services config and SFN ARNs",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EKS.Options.ScaleServices", "IsPresent": true},
                    {"Variable": "$.EKS.Options.ScaleServices", "BooleanEquals": true}
                  ],
                  "Next": "CheckEKSScaleServicesFields"
                }
              ],
              "Default": "CheckEKSManageStorageConditional"
            },
            "CheckEKSScaleServicesFields": {
              "Type": "Choice",
              "Comment": "Verify EKS fields required for ScaleServices (ClusterName, Namespace, Services, SFN ARNs)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EKS.ClusterName", "IsPresent": true},
                    {"Variable": "$.EKS.Namespace", "IsPresent": true},
                    {"Variable": "$.EKS.Services", "IsPresent": true},
                    {"Variable": "$.StepFunctions.EKS.ScaleServices", "IsPresent": true},
                    {"Variable": "$.StepFunctions.EKS.VerifyAndRestartServices", "IsPresent": true}
                  ],
                  "Next": "CheckEKSManageStorageConditional"
                }
              ],
              "Default": "ConfigMissing_EKSScaleServices"
            },
            "ConfigMissing_EKSScaleServices": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EKS.ScaleServices", "Required": ["ClusterName", "Namespace", "Services", "StepFunctions.EKS.ScaleServices", "StepFunctions.EKS.VerifyAndRestartServices"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckEKSManageStorageConditional": {
              "Type": "Choice",
              "Comment": "If EKS.Options.ManageStorage enabled, check storage config and SFN ARN",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EKS.Options.ManageStorage", "IsPresent": true},
                    {"Variable": "$.EKS.Options.ManageStorage", "BooleanEquals": true}
                  ],
                  "Next": "CheckEKSManageStorageFields"
                }
              ],
              "Default": "CheckEKSArchiveJobConditional"
            },
            "CheckEKSManageStorageFields": {
              "Type": "Choice",
              "Comment": "Verify EKS fields required for ManageStorage (ClusterName, Namespace, SFN ARN)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EKS.ClusterName", "IsPresent": true},
                    {"Variable": "$.EKS.Namespace", "IsPresent": true},
                    {"Variable": "$.EKS.Storage.PvcName", "IsPresent": true},
                    {"Variable": "$.EKS.Storage.PvName", "IsPresent": true},
                    {"Variable": "$.EKS.Storage.StorageClassName", "IsPresent": true},
                    {"Variable": "$.StepFunctions.EKS.ManageStorage", "IsPresent": true}
                  ],
                  "Next": "CheckEKSArchiveJobConditional"
                }
              ],
              "Default": "ConfigMissing_EKSManageStorage"
            },
            "ConfigMissing_EKSManageStorage": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EKS.ManageStorage", "Required": ["ClusterName", "Namespace", "EKS.Storage.PvcName", "EKS.Storage.PvName", "EKS.Storage.StorageClassName", "StepFunctions.EKS.ManageStorage"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckEKSArchiveJobConditional": {
              "Type": "Choice",
              "Comment": "If RunArchiveJob enabled, check SFN ARN",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EKS.Options.RunArchiveJob", "IsPresent": true},
                    {"Variable": "$.EKS.Options.RunArchiveJob", "BooleanEquals": true},
                    {"Variable": "$.StepFunctions.Utils.RunArchiveJob", "IsPresent": false}
                  ],
                  "Next": "ConfigMissing_EKSConditional"
                }
              ],
              "Default": "CheckEKSScalingConditional"
            },
            "ConfigMissing_EKSConditional": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EKS.Conditional", "Required": ["StepFunctions.Utils.RunArchiveJob (if RunArchiveJob=true)"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckEKSScalingConditional": {
              "Type": "Choice",
              "Comment": "If dump or import enabled, check EKS scaling fields and ScaleNodegroupAsg ARN",
              "Choices": [
                {
                  "Or": [
                    {"Variable": "$.Database.Options.RunMysqlDumpOldCluster", "BooleanEquals": true},
                    {"Variable": "$.Database.Options.RunMysqlImportCluster", "BooleanEquals": true}
                  ],
                  "Next": "CheckEKSScalingFields"
                }
              ],
              "Default": "CheckNotifyConditional"
            },
            "CheckEKSScalingFields": {
              "Type": "Choice",
              "Comment": "Verify EKS scaling fields when dump/import uses ScaleNodegroupAsg",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EKS.Scaling.MinimumCapacity", "IsPresent": true},
                    {"Variable": "$.EKS.Scaling.TargetCapacity", "IsPresent": true},
                    {"Variable": "$.StepFunctions.EKS.ScaleNodegroupAsg", "IsPresent": true}
                  ],
                  "Next": "CheckNotifyConditional"
                }
              ],
              "Default": "ConfigMissing_EKSScaling"
            },
            "ConfigMissing_EKSScaling": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "EKS.Scaling", "Required": ["Scaling.MinimumCapacity", "Scaling.TargetCapacity", "StepFunctions.EKS.ScaleNodegroupAsg"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },
            "CheckNotifyConditional": {
              "Type": "Choice",
              "Comment": "If Notifications enabled, verify DynamoDB and SNS fields",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Notifications.Enabled", "IsPresent": true},
                    {"Variable": "$.Notifications.Enabled", "BooleanEquals": true}
                  ],
                  "Next": "CheckNotifyFields"
                }
              ],
              "Default": "CheckConfigSyncConditional"
            },
            "CheckNotifyFields": {
              "Type": "Choice",
              "Comment": "Verify Notification fields when enabled",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Notifications.DynamoDB.TableName", "IsPresent": true},
                    {"Variable": "$.Notifications.SNS.TopicArn", "IsPresent": true}
                  ],
                  "Next": "CheckConfigSyncConditional"
                }
              ],
              "Default": "ConfigMissing_Notifications"
            },
            "ConfigMissing_Notifications": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "Notifications", "Required": ["DynamoDB.TableName", "SNS.TopicArn"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "CheckConfigSyncConditional": {
              "Type": "Choice",
              "Comment": "If ConfigSync enabled, verify Items array and SFN ARN",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.ConfigSync.Enabled", "IsPresent": true},
                    {"Variable": "$.ConfigSync.Enabled", "BooleanEquals": true}
                  ],
                  "Next": "CheckConfigSyncFields"
                }
              ],
              "Default": "ConfigPassed"
            },
            "CheckConfigSyncFields": {
              "Type": "Choice",
              "Comment": "Verify ConfigSync.Items exists and SFN ARN is present",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.ConfigSync.Items", "IsPresent": true},
                    {"Variable": "$.StepFunctions.Sync.SyncConfigItems", "IsPresent": true}
                  ],
                  "Next": "ConfigPassed"
                }
              ],
              "Default": "ConfigMissing_ConfigSync"
            },
            "ConfigMissing_ConfigSync": {
              "Type": "Pass",
              "Result": {"Status": "FAILED", "MissingGroup": "ConfigSync", "Required": ["ConfigSync.Items", "StepFunctions.Sync.SyncConfigItems"]},
              "ResultPath": "$.V.FailedCheck",
              "Next": "ConfigFailed"
            },

            "ConfigPassed": {
              "Type": "Pass",
              "Parameters": {
                "Category": "Config",
                "Status": "PASSED",
                "Checks": {"AllRequiredFields": {"Status": "PASSED"}}
              },
              "End": true
            },
            "ConfigFailed": {
              "Type": "Pass",
              "Parameters": {
                "Category": "Config",
                "Status": "FAILED",
                "Checks.$": "$.V"
              },
              "End": true
            }
          }
        },

        {
          "Comment": "Branch 1: IAM - Validate cross-account role assumption",
          "StartAt": "InitIAMChecks",
          "States": {
            "InitIAMChecks": {
              "Type": "Pass",
              "Result": {
                "AssumeSourceRole": {"Status": "NOT_RUN"},
                "AssumeDestinationRole": {"Status": "NOT_RUN"}
              },
              "ResultPath": "$.V",
              "Next": "CheckSourceRole"
            },
            "CheckSourceRole": {
              "Type": "Task",
              "Comment": "Verify we can assume the source account role",
              "Resource": "arn:aws:states:::aws-sdk:sts:getCallerIdentity",
              "Parameters": {},
              "Credentials": {
                "RoleArn.$": "$.SourceAccount.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED",
                "AccountId.$": "$.Account"
              },
              "ResultPath": "$.V.AssumeSourceRole",
              "Next": "CheckDestRole",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.AssumeSourceRole",
                "Next": "IAMFailed"
              }]
            },
            "CheckDestRole": {
              "Type": "Task",
              "Comment": "Verify we can assume the destination account role",
              "Resource": "arn:aws:states:::aws-sdk:sts:getCallerIdentity",
              "Parameters": {},
              "Credentials": {
                "RoleArn.$": "$.DestinationAccount.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED",
                "AccountId.$": "$.Account"
              },
              "ResultPath": "$.V.AssumeDestinationRole",
              "Next": "IAMPassed",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.AssumeDestinationRole",
                "Next": "IAMFailed"
              }]
            },
            "IAMPassed": {
              "Type": "Pass",
              "Parameters": {
                "Category": "IAM",
                "Status": "PASSED",
                "Checks.$": "$.V"
              },
              "End": true
            },
            "IAMFailed": {
              "Type": "Pass",
              "Parameters": {
                "Category": "IAM",
                "Status": "FAILED",
                "Checks.$": "$.V"
              },
              "End": true
            }
          }
        },

        {
          "Comment": "Branch 2: Database - Validate source cluster, destination network, parameters and KMS",
          "StartAt": "CheckDBEnabled_V",
          "States": {
            "CheckDBEnabled_V": {
              "Type": "Choice",
              "Comment": "Skip DB validation if Database.Enabled is false",
              "Choices": [
                {
                  "Variable": "$.Database.Enabled",
                  "IsPresent": false,
                  "Next": "InitDBChecks"
                },
                {
                  "Variable": "$.Database.Enabled",
                  "BooleanEquals": false,
                  "Next": "DBSkipped"
                }
              ],
              "Default": "InitDBChecks"
            },
            "DBSkipped": {
              "Type": "Pass",
              "Result": {"Category": "Database", "Status": "SKIPPED"},
              "End": true
            },
            "InitDBChecks": {
              "Type": "Pass",
              "Result": {
                "SourceCluster": {"Status": "NOT_RUN"},
                "DestSubnetGroup": {"Status": "NOT_RUN"},
                "DestClusterParameterGroup": {"Status": "NOT_RUN"},
                "DestInstanceParameterGroup": {"Status": "NOT_RUN"},
                "DestSecurityGroups": {"Status": "NOT_RUN"},
                "DestKmsKey": {"Status": "NOT_RUN"}
              },
              "ResultPath": "$.V",
              "Next": "CheckProxyForSourceCluster"
            },
            "CheckProxyForSourceCluster": {
              "Type": "Choice",
              "QueryLanguage": "JSONata",
              "Comment": "Route to Lambda proxy if source DB is in a different region than the SFN",
              "Choices": [
                {
                  "Condition": "{% $exists($states.input.Database.Source.ProxyLambdaArn) and $exists($states.input.SourceAccount.Region) and $states.input.SourceAccount.Region != $split($states.context.StateMachine.Id, ':')[3] %}",
                  "Next": "CheckSourceClusterViaProxy"
                }
              ],
              "Default": "CheckSourceCluster"
            },
            "CheckSourceClusterViaProxy": {
              "Type": "Task",
              "QueryLanguage": "JSONata",
              "Comment": "Verify source DB cluster exists via Lambda proxy (cross-region)",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "{% $states.input.Database.Source.ProxyLambdaArn %}",
                "Payload": {
                  "Service": "rds",
                  "Action": "describe_db_clusters",
                  "Region": "{% $states.input.SourceAccount.Region %}",
                  "RoleArn": "{% $states.input.SourceAccount.RoleArn %}",
                  "Parameters": {
                    "DBClusterIdentifier": "{% $states.input.Database.Source.ClusterIdentifier %}"
                  }
                }
              },
              "Output": "{% $merge([$states.input, {'V': $merge([$states.input.V, {'SourceCluster': {'Status': 'PASSED', 'ClusterStatus': $states.result.Payload.DBClusters[0].Status}}])}]) %}",
              "Next": "CheckDestSubnetGroup",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Output": "{% $merge([$states.input, {'V': $merge([$states.input.V, {'SourceCluster': $states.errorOutput}])}]) %}",
                "Next": "DBFailed"
              }]
            },
            "CheckSourceCluster": {
              "Type": "Task",
              "Comment": "Verify source DB cluster exists and is available",
              "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
              "Parameters": {
                "DbClusterIdentifier.$": "$.Database.Source.ClusterIdentifier"
              },
              "Credentials": {
                "RoleArn.$": "$.SourceAccount.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED",
                "ClusterStatus.$": "$.DbClusters[0].Status"
              },
              "ResultPath": "$.V.SourceCluster",
              "Next": "CheckDestSubnetGroup",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.SourceCluster",
                "Next": "DBFailed"
              }]
            },
            "CheckDestSubnetGroup": {
              "Type": "Task",
              "Comment": "Verify destination DB subnet group exists",
              "Resource": "arn:aws:states:::aws-sdk:rds:describeDBSubnetGroups",
              "Parameters": {
                "DbSubnetGroupName.$": "$.Database.Network.SubnetGroupName"
              },
              "Credentials": {
                "RoleArn.$": "$.DestinationAccount.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED"
              },
              "ResultPath": "$.V.DestSubnetGroup",
              "Next": "CheckDestClusterPG",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.DestSubnetGroup",
                "Next": "DBFailed"
              }]
            },
            "CheckDestClusterPG": {
              "Type": "Task",
              "Comment": "Verify destination cluster parameter group exists",
              "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusterParameterGroups",
              "Parameters": {
                "DbClusterParameterGroupName.$": "$.Database.Parameters.ClusterParameterGroupName"
              },
              "Credentials": {
                "RoleArn.$": "$.DestinationAccount.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED"
              },
              "ResultPath": "$.V.DestClusterParameterGroup",
              "Next": "CheckDestInstancePG",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.DestClusterParameterGroup",
                "Next": "DBFailed"
              }]
            },
            "CheckDestInstancePG": {
              "Type": "Task",
              "Comment": "Verify destination instance parameter group exists",
              "Resource": "arn:aws:states:::aws-sdk:rds:describeDBParameterGroups",
              "Parameters": {
                "DbParameterGroupName.$": "$.Database.Parameters.InstanceParameterGroupName"
              },
              "Credentials": {
                "RoleArn.$": "$.DestinationAccount.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED"
              },
              "ResultPath": "$.V.DestInstanceParameterGroup",
              "Next": "CheckDestSecurityGroups",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.DestInstanceParameterGroup",
                "Next": "DBFailed"
              }]
            },
            "CheckDestSecurityGroups": {
              "Type": "Task",
              "Comment": "Verify destination security groups exist",
              "Resource": "arn:aws:states:::aws-sdk:ec2:describeSecurityGroups",
              "Parameters": {
                "GroupIds.$": "$.Database.Network.SecurityGroupIds"
              },
              "Credentials": {
                "RoleArn.$": "$.DestinationAccount.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED"
              },
              "ResultPath": "$.V.DestSecurityGroups",
              "Next": "CheckKmsKeyPresent",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.DestSecurityGroups",
                "Next": "DBFailed"
              }]
            },
            "CheckKmsKeyPresent": {
              "Type": "Choice",
              "Comment": "Skip KMS check if Database.Secrets.KmsKeyId is not set (unencrypted clusters)",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.Database.Secrets.KmsKeyId", "IsPresent": true},
                    {"Not": {"Variable": "$.Database.Secrets.KmsKeyId", "StringEquals": ""}}
                  ],
                  "Next": "CheckDestKmsAuroraKey"
                }
              ],
              "Default": "SkipKmsCheck"
            },
            "SkipKmsCheck": {
              "Type": "Pass",
              "Result": {"Status": "NOT_RUN"},
              "ResultPath": "$.V.DestKmsKey",
              "Next": "DBPassed"
            },
            "CheckDestKmsAuroraKey": {
              "Type": "Task",
              "Comment": "Verify destination KMS key for Aurora is accessible",
              "Resource": "arn:aws:states:::aws-sdk:kms:describeKey",
              "Parameters": {
                "KeyId.$": "$.Database.Secrets.KmsKeyId"
              },
              "Credentials": {
                "RoleArn.$": "$.DestinationAccount.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED",
                "KeyState.$": "$.KeyMetadata.KeyState"
              },
              "ResultPath": "$.V.DestKmsKey",
              "Next": "DBPassed",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.DestKmsKey",
                "Next": "DBFailed"
              }]
            },
            "DBPassed": {
              "Type": "Pass",
              "Parameters": {
                "Category": "Database",
                "Status": "PASSED",
                "Checks.$": "$.V"
              },
              "End": true
            },
            "DBFailed": {
              "Type": "Pass",
              "Parameters": {
                "Category": "Database",
                "Status": "FAILED",
                "Checks.$": "$.V"
              },
              "End": true
            }
          }
        },

        {
          "Comment": "Branch 3: EFS - Validate source filesystem and destination KMS (if EFS enabled)",
          "StartAt": "CheckEFSEnabled_V",
          "States": {
            "CheckEFSEnabled_V": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.EFS.Enabled",
                  "IsPresent": false,
                  "Next": "EFSSkipped"
                },
                {
                  "Variable": "$.EFS.Enabled",
                  "BooleanEquals": false,
                  "Next": "EFSSkipped"
                }
              ],
              "Default": "InitEFSChecks"
            },
            "EFSSkipped": {
              "Type": "Pass",
              "Result": {"Category": "EFS", "Status": "SKIPPED"},
              "End": true
            },
            "InitEFSChecks": {
              "Type": "Pass",
              "Result": {
                "SourceFileSystem": {"Status": "NOT_RUN"},
                "ExistingReplication": {"Status": "NOT_RUN"},
                "DestKmsKey": {"Status": "NOT_RUN"},
                "DestinationFileSystem": {"Status": "NOT_RUN"}
              },
              "ResultPath": "$.V",
              "Next": "CheckProxyForSourceEFS"
            },
            "CheckProxyForSourceEFS": {
              "Type": "Choice",
              "QueryLanguage": "JSONata",
              "Comment": "Route to Lambda proxy if source EFS is in a different region than the SFN",
              "Choices": [
                {
                  "Condition": "{% $exists($states.input.EFS.Replication.ProxyLambdaArn) and $exists($states.input.EFS.Source.Account.Region) and $states.input.EFS.Source.Account.Region != $split($states.context.StateMachine.Id, ':')[3] %}",
                  "Next": "CheckSourceEFSViaProxy"
                }
              ],
              "Default": "CheckSourceEFS"
            },
            "CheckSourceEFSViaProxy": {
              "Type": "Task",
              "QueryLanguage": "JSONata",
              "Comment": "Verify source EFS filesystem exists via Lambda proxy (cross-region)",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "{% $states.input.EFS.Replication.ProxyLambdaArn %}",
                "Payload": {
                  "Service": "efs",
                  "Action": "describe_file_systems",
                  "Region": "{% $states.input.EFS.Source.Account.Region %}",
                  "RoleArn": "{% $states.input.EFS.Source.Account.RoleArn %}",
                  "Parameters": {
                    "FileSystemId": "{% $states.input.EFS.Source.FileSystemId %}"
                  }
                }
              },
              "Output": "{% $merge([$states.input, {'V': $merge([$states.input.V, {'SourceFileSystem': {'Status': 'PASSED', 'LifeCycleState': $states.result.Payload.FileSystems[0].LifeCycleState}}])}]) %}",
              "Next": "CheckProxyForExistingReplication",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Output": "{% $merge([$states.input, {'V': $merge([$states.input.V, {'SourceFileSystem': $states.errorOutput}])}]) %}",
                "Next": "EFSFailed"
              }]
            },
            "CheckSourceEFS": {
              "Type": "Task",
              "Comment": "Verify source EFS filesystem exists (uses EFS source account credentials for cross-account)",
              "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
              "Parameters": {
                "FileSystemId.$": "$.EFS.Source.FileSystemId"
              },
              "Credentials": {
                "RoleArn.$": "$.EFS.Source.Account.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED",
                "LifeCycleState.$": "$.FileSystems[0].LifeCycleState"
              },
              "ResultPath": "$.V.SourceFileSystem",
              "Next": "CheckProxyForExistingReplication",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.SourceFileSystem",
                "Next": "EFSFailed"
              }]
            },
            "CheckProxyForExistingReplication": {
              "Type": "Choice",
              "QueryLanguage": "JSONata",
              "Comment": "Route to Lambda proxy for checking existing replication if cross-region",
              "Choices": [
                {
                  "Condition": "{% $exists($states.input.EFS.Replication.ProxyLambdaArn) and $exists($states.input.EFS.Source.Account.Region) and $states.input.EFS.Source.Account.Region != $split($states.context.StateMachine.Id, ':')[3] %}",
                  "Next": "CheckExistingReplicationViaProxy"
                }
              ],
              "Default": "CheckExistingReplication"
            },
            "CheckExistingReplicationViaProxy": {
              "Type": "Task",
              "QueryLanguage": "JSONata",
              "Comment": "Detect existing replication on source EFS via Lambda proxy (cross-region). SUCCESS = replication exists (bad). ReplicationNotFound error = no replication (good).",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "{% $states.input.EFS.Replication.ProxyLambdaArn %}",
                "Payload": {
                  "Service": "efs",
                  "Action": "describe_replication_configurations",
                  "Region": "{% $states.input.EFS.Source.Account.Region %}",
                  "RoleArn": "{% $states.input.EFS.Source.Account.RoleArn %}",
                  "Parameters": {
                    "FileSystemId": "{% $states.input.EFS.Source.FileSystemId %}"
                  }
                }
              },
              "Output": "{% $merge([$states.input, {'V': $merge([$states.input.V, {'ExistingReplicationRaw': $states.result.Payload}])}]) %}",
              "Next": "ReplicationAlreadyExists",
              "Catch": [{
                "ErrorEquals": ["ReplicationNotFound", "ReplicationNotFoundException", "Efs.ReplicationNotFoundException", "Lambda.Unknown"],
                "Comment": "No replication found via proxy - this is the expected (happy) path. Lambda may wrap the error.",
                "Output": "{% $merge([$states.input, {'V': $merge([$states.input.V, {'ExistingReplicationRaw': $states.errorOutput}])}]) %}",
                "Next": "NoExistingReplication"
              }, {
                "ErrorEquals": ["States.ALL"],
                "Output": "{% $merge([$states.input, {'V': $merge([$states.input.V, {'ExistingReplication': $states.errorOutput}])}]) %}",
                "Next": "EFSFailed"
              }]
            },
            "CheckExistingReplication": {
              "Type": "Task",
              "Comment": "Detect existing replication on source EFS. SUCCESS = replication exists (bad). ReplicationNotFoundException = no replication (good).",
              "Resource": "arn:aws:states:::aws-sdk:efs:describeReplicationConfigurations",
              "Parameters": {
                "FileSystemId.$": "$.EFS.Source.FileSystemId"
              },
              "Credentials": {
                "RoleArn.$": "$.EFS.Source.Account.RoleArn"
              },
              "ResultPath": "$.V.ExistingReplicationRaw",
              "Next": "ReplicationAlreadyExists",
              "Catch": [{
                "ErrorEquals": ["Efs.ReplicationNotFoundException"],
                "Comment": "No replication found - this is the expected (happy) path",
                "ResultPath": "$.V.ExistingReplicationRaw",
                "Next": "NoExistingReplication"
              }, {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.ExistingReplication",
                "Next": "EFSFailed"
              }]
            },
            "ReplicationAlreadyExists": {
              "Type": "Pass",
              "Comment": "Existing replication is accepted - setup_cross_account_replication will reuse it if destination matches",
              "Result": {"Status": "PASSED", "Note": "Existing replication found - will be reused by setup step"},
              "ResultPath": "$.V.ExistingReplication",
              "Next": "CheckDestinationEFSMode"
            },
            "NoExistingReplication": {
              "Type": "Pass",
              "Result": {"Status": "PASSED"},
              "ResultPath": "$.V.ExistingReplication",
              "Next": "CheckDestinationEFSMode"
            },
            "CheckDestinationEFSMode": {
              "Type": "Choice",
              "Comment": "Route: CreateDestinationEFS=false → check existing EFS, Replication present → check replication KMS, else (backup restore) → skip to EFSPassed",
              "Choices": [{
                "And": [
                  {"Variable": "$.EFS.Replication.CreateDestinationEFS", "IsPresent": true},
                  {"Variable": "$.EFS.Replication.CreateDestinationEFS", "BooleanEquals": false}
                ],
                "Next": "CheckDestinationEFS"
              }],
              "Default": "CheckEfsKmsKeyPresent"
            },
            "CheckEfsKmsKeyPresent": {
              "Type": "Choice",
              "Comment": "Only check KMS if Replication.DestinationKmsKeyId exists (cross-account). For backup restore (mono-account), skip KMS check.",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EFS.Replication.DestinationKmsKeyId", "IsPresent": true},
                    {"Not": {"Variable": "$.EFS.Replication.DestinationKmsKeyId", "StringEquals": ""}}
                  ],
                  "Next": "CheckDestKmsEfsKey"
                }
              ],
              "Default": "EFSPassed"
            },
            "CheckDestinationEFS": {
              "Type": "Task",
              "Comment": "Verify destination EFS filesystem exists when reusing an existing one (CreateDestinationEFS=false)",
              "Resource": "arn:aws:states:::aws-sdk:efs:describeFileSystems",
              "Parameters": {
                "FileSystemId.$": "$.EFS.Replication.DestinationFileSystemId"
              },
              "Credentials": {
                "RoleArn.$": "$.DestinationAccount.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED",
                "LifeCycleState.$": "$.FileSystems[0].LifeCycleState"
              },
              "ResultPath": "$.V.DestinationFileSystem",
              "Next": "EFSPassed",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.DestinationFileSystem",
                "Next": "EFSFailed"
              }]
            },
            "CheckDestKmsEfsKey": {
              "Type": "Task",
              "Comment": "Verify destination KMS key for EFS is accessible (only when creating new EFS)",
              "Resource": "arn:aws:states:::aws-sdk:kms:describeKey",
              "Parameters": {
                "KeyId.$": "$.EFS.Replication.DestinationKmsKeyId"
              },
              "Credentials": {
                "RoleArn.$": "$.DestinationAccount.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED",
                "KeyState.$": "$.KeyMetadata.KeyState"
              },
              "ResultPath": "$.V.DestKmsKey",
              "Next": "EFSPassed",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.DestKmsKey",
                "Next": "EFSFailed"
              }]
            },
            "EFSPassed": {
              "Type": "Pass",
              "Parameters": {
                "Category": "EFS",
                "Status": "PASSED",
                "Checks.$": "$.V"
              },
              "End": true
            },
            "EFSFailed": {
              "Type": "Pass",
              "Parameters": {
                "Category": "EFS",
                "Status": "FAILED",
                "Checks.$": "$.V"
              },
              "End": true
            }
          }
        },

        {
          "Comment": "Branch 4: EKS - Validate destination cluster exists (if ScaleServices or ManageStorage enabled)",
          "StartAt": "CheckEKSEnabled_V",
          "States": {
            "CheckEKSEnabled_V": {
              "Type": "Choice",
              "Comment": "Run EKS validation if ScaleServices or ManageStorage is true",
              "Choices": [
                {
                  "And": [
                    {"Variable": "$.EKS.Options.ScaleServices", "IsPresent": true},
                    {"Variable": "$.EKS.Options.ScaleServices", "BooleanEquals": true}
                  ],
                  "Next": "InitEKSChecks"
                },
                {
                  "And": [
                    {"Variable": "$.EKS.Options.ManageStorage", "IsPresent": true},
                    {"Variable": "$.EKS.Options.ManageStorage", "BooleanEquals": true}
                  ],
                  "Next": "InitEKSChecks"
                }
              ],
              "Default": "EKSSkipped"
            },
            "EKSSkipped": {
              "Type": "Pass",
              "Result": {"Category": "EKS", "Status": "SKIPPED"},
              "End": true
            },
            "InitEKSChecks": {
              "Type": "Pass",
              "Result": {
                "DestCluster": {"Status": "NOT_RUN"}
              },
              "ResultPath": "$.V",
              "Next": "CheckDestEKSCluster"
            },
            "CheckDestEKSCluster": {
              "Type": "Task",
              "Comment": "Verify destination EKS cluster exists and is active",
              "Resource": "arn:aws:states:::aws-sdk:eks:describeCluster",
              "Parameters": {
                "Name.$": "$.EKS.ClusterName"
              },
              "Credentials": {
                "RoleArn.$": "$.DestinationAccount.RoleArn"
              },
              "ResultSelector": {
                "Status": "PASSED",
                "ClusterStatus.$": "$.Cluster.Status"
              },
              "ResultPath": "$.V.DestCluster",
              "Next": "EKSPassed",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.V.DestCluster",
                "Next": "EKSFailed"
              }]
            },
            "EKSPassed": {
              "Type": "Pass",
              "Parameters": {
                "Category": "EKS",
                "Status": "PASSED",
                "Checks.$": "$.V"
              },
              "End": true
            },
            "EKSFailed": {
              "Type": "Pass",
              "Parameters": {
                "Category": "EKS",
                "Status": "FAILED",
                "Checks.$": "$.V"
              },
              "End": true
            }
          }
        }

      ],
      "Next": "CheckAnyFailed"
    },

    "CheckAnyFailed": {
      "Type": "Choice",
      "Comment": "Check if any validation branch reported FAILED",
      "Choices": [
        {"Variable": "$[0].Status", "StringEquals": "FAILED", "Next": "ReportFailed"},
        {"Variable": "$[1].Status", "StringEquals": "FAILED", "Next": "ReportFailed"},
        {"Variable": "$[2].Status", "StringEquals": "FAILED", "Next": "ReportFailed"},
        {"Variable": "$[3].Status", "StringEquals": "FAILED", "Next": "ReportFailed"},
        {"Variable": "$[4].Status", "StringEquals": "FAILED", "Next": "ReportFailed"}
      ],
      "Default": "ReportPassed"
    },

    "ReportPassed": {
      "Type": "Pass",
      "Parameters": {
        "ValidationStatus": "PASSED",
        "Results.$": "$"
      },
      "Next": "ValidationComplete"
    },

    "ReportFailed": {
      "Type": "Pass",
      "Parameters": {
        "ValidationStatus": "FAILED",
        "Results.$": "$"
      },
      "Next": "ValidationComplete"
    },

    "ValidationComplete": {
      "Type": "Succeed"
    }
  }
}
