step-functions/checkers/k8s-secrets-sync-checker.asl.json
{
  "Comment": "Fetches K8s Secrets v2 from EKS cluster. Supports native Secrets (default) or ExternalSecrets CRDs (requires RBAC). Use UseExternalSecrets=true for CRD mode. SecretProviderType: 'csi' (secrets-store.csi.k8s.io/managed=true) or 'external-secrets' (reconcile.external-secrets.io/managed=true, default).",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Choice",
      "Comment": "Validate required parameters are present",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.Project",
              "IsPresent": true
            },
            {
              "Variable": "$.Env",
              "IsPresent": true
            },
            {
              "Variable": "$.ClusterName",
              "IsPresent": true
            },
            {
              "Variable": "$.Namespace",
              "IsPresent": true
            }
          ],
          "Next": "CheckCrossAccountAccess"
        }
      ],
      "Default": "ValidationFailed"
    },

    "ValidationFailed": {
      "Type": "Fail",
      "Error": "ValidationError",
      "Cause": "Missing required parameters: Project, Env, ClusterName, and Namespace are required"
    },

    "CheckCrossAccountAccess": {
      "Type": "Choice",
      "Comment": "Check if cross-account role assumption is needed",
      "Choices": [
        {
          "Variable": "$.CrossAccountRoleArn",
          "IsPresent": true,
          "Next": "GetClusterInfoCrossAccount"
        }
      ],
      "Default": "GetClusterInfo"
    },

    "GetClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eks:describeCluster",
      "Parameters": {
        "Name.$": "$.ClusterName"
      },
      "ResultSelector": {
        "ClusterName.$": "$.Cluster.Name",
        "Endpoint.$": "$.Cluster.Endpoint",
        "CertificateAuthority.$": "$.Cluster.CertificateAuthority.Data",
        "Status.$": "$.Cluster.Status",
        "Version.$": "$.Cluster.Version"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "CheckClusterActive",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ClusterError",
          "Next": "ClusterAccessFailed"
        }
      ]
    },

    "GetClusterInfoCrossAccount": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eks:describeCluster",
      "Credentials": {
        "RoleArn.$": "$.CrossAccountRoleArn"
      },
      "Parameters": {
        "Name.$": "$.ClusterName"
      },
      "ResultSelector": {
        "ClusterName.$": "$.Cluster.Name",
        "Endpoint.$": "$.Cluster.Endpoint",
        "CertificateAuthority.$": "$.Cluster.CertificateAuthority.Data",
        "Status.$": "$.Cluster.Status",
        "Version.$": "$.Cluster.Version"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "CheckClusterActive",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ClusterError",
          "Next": "ClusterAccessFailed"
        }
      ]
    },

    "ClusterAccessFailed": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "error": "ClusterAccessFailed",
        "message.$": "States.Format('Failed to access cluster {}: {}', $.ClusterName, $.ClusterError.Error)",
        "project.$": "$.Project",
        "env.$": "$.Env"
      },
      "Next": "SaveStateError"
    },

    "CheckClusterActive": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ClusterInfo.Status",
          "StringEquals": "ACTIVE",
          "Next": "CheckSecretsMode"
        }
      ],
      "Default": "ClusterNotActive"
    },

    "ClusterNotActive": {
      "Type": "Pass",
      "Parameters": {
        "status": "critical",
        "error": "ClusterNotActive",
        "message.$": "States.Format('Cluster {} is not ACTIVE (status: {})', $.ClusterName, $.ClusterInfo.Status)",
        "project.$": "$.Project",
        "env.$": "$.Env"
      },
      "Next": "SaveStateError"
    },

    "CheckSecretsMode": {
      "Type": "Choice",
      "Comment": "Check if ExternalSecrets mode is enabled (requires RBAC for external-secrets.io CRDs)",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.UseExternalSecrets",
              "IsPresent": true
            },
            {
              "Variable": "$.UseExternalSecrets",
              "BooleanEquals": true
            }
          ],
          "Next": "PrepareExternalSecretsApiPaths"
        }
      ],
      "Default": "PrepareNativeSecretsApiPath"
    },

    "PrepareNativeSecretsApiPath": {
      "Type": "Pass",
      "Comment": "Build API path for native K8s Secrets (default mode).",
      "Parameters": {
        "Input.$": "$",
        "ClusterInfo.$": "$.ClusterInfo",
        "SecretsPath.$": "States.Format('/api/v1/namespaces/{}/secrets', $.Namespace)",
        "Mode": "native"
      },
      "Next": "SelectSecretProvider"
    },

    "SelectSecretProvider": {
      "Type": "Choice",
      "Comment": "Select labelSelector based on SecretProviderType: 'csi' or 'external-secrets' (default)",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.Input.SecretProviderType",
              "IsPresent": true
            },
            {
              "Variable": "$.Input.SecretProviderType",
              "StringEquals": "csi"
            }
          ],
          "Next": "FetchSecretsCSI"
        }
      ],
      "Default": "FetchSecretsExternalSecrets"
    },

    "FetchSecretsExternalSecrets": {
      "Type": "Choice",
      "Comment": "Route ExternalSecrets fetch based on cross-account",
      "Choices": [
        {
          "Variable": "$.Input.CrossAccountRoleArn",
          "IsPresent": true,
          "Next": "FetchNativeSecretsCrossAccount"
        }
      ],
      "Default": "FetchNativeSecrets"
    },

    "FetchSecretsCSI": {
      "Type": "Choice",
      "Comment": "Route CSI Driver fetch based on cross-account",
      "Choices": [
        {
          "Variable": "$.Input.CrossAccountRoleArn",
          "IsPresent": true,
          "Next": "FetchNativeSecretsCSICrossAccount"
        }
      ],
      "Default": "FetchNativeSecretsCSI"
    },

    "FetchNativeSecretsCSI": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:call",
      "Parameters": {
        "ClusterName.$": "$.ClusterInfo.ClusterName",
        "CertificateAuthority.$": "$.ClusterInfo.CertificateAuthority",
        "Endpoint.$": "$.ClusterInfo.Endpoint",
        "Method": "GET",
        "Path.$": "$.SecretsPath",
        "QueryParameters": {
          "labelSelector": ["secrets-store.csi.k8s.io/managed=true"]
        }
      },
      "ResultSelector": {
        "secrets.$": "$.ResponseBody.items",
        "mode": "native",
        "dataLimitExceeded": false,
        "externalSecrets": null,
        "secretStores": null,
        "clusterSecretStores": null
      },
      "ResultPath": "$.FetchResults",
      "Next": "ProcessSecrets",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.FetchError",
          "Next": "FetchFailed"
        }
      ]
    },

    "FetchNativeSecretsCSICrossAccount": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:call",
      "Credentials": {
        "RoleArn.$": "$.Input.CrossAccountRoleArn"
      },
      "Parameters": {
        "ClusterName.$": "$.ClusterInfo.ClusterName",
        "CertificateAuthority.$": "$.ClusterInfo.CertificateAuthority",
        "Endpoint.$": "$.ClusterInfo.Endpoint",
        "Method": "GET",
        "Path.$": "$.SecretsPath",
        "QueryParameters": {
          "labelSelector": ["secrets-store.csi.k8s.io/managed=true"]
        }
      },
      "ResultSelector": {
        "secrets.$": "$.ResponseBody.items",
        "mode": "native",
        "dataLimitExceeded": false,
        "externalSecrets": null,
        "secretStores": null,
        "clusterSecretStores": null
      },
      "ResultPath": "$.FetchResults",
      "Next": "ProcessSecrets",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.FetchError",
          "Next": "FetchFailed"
        }
      ]
    },

    "FetchNativeSecrets": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:call",
      "Parameters": {
        "ClusterName.$": "$.ClusterInfo.ClusterName",
        "CertificateAuthority.$": "$.ClusterInfo.CertificateAuthority",
        "Endpoint.$": "$.ClusterInfo.Endpoint",
        "Method": "GET",
        "Path.$": "$.SecretsPath",
        "QueryParameters": {
          "labelSelector": ["reconcile.external-secrets.io/managed=true"]
        }
      },
      "ResultSelector": {
        "secrets.$": "$.ResponseBody.items",
        "mode": "native",
        "dataLimitExceeded": false,
        "externalSecrets": null,
        "secretStores": null,
        "clusterSecretStores": null
      },
      "ResultPath": "$.FetchResults",
      "Next": "ProcessSecrets",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.FetchError",
          "Next": "FetchFailed"
        }
      ]
    },

    "FetchNativeSecretsCrossAccount": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:call",
      "Credentials": {
        "RoleArn.$": "$.Input.CrossAccountRoleArn"
      },
      "Parameters": {
        "ClusterName.$": "$.ClusterInfo.ClusterName",
        "CertificateAuthority.$": "$.ClusterInfo.CertificateAuthority",
        "Endpoint.$": "$.ClusterInfo.Endpoint",
        "Method": "GET",
        "Path.$": "$.SecretsPath",
        "QueryParameters": {
          "labelSelector": ["reconcile.external-secrets.io/managed=true"]
        }
      },
      "ResultSelector": {
        "secrets.$": "$.ResponseBody.items",
        "mode": "native",
        "dataLimitExceeded": false,
        "externalSecrets": null,
        "secretStores": null,
        "clusterSecretStores": null
      },
      "ResultPath": "$.FetchResults",
      "Next": "ProcessSecrets",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.FetchError",
          "Next": "FetchFailed"
        }
      ]
    },

    "PrepareExternalSecretsApiPaths": {
      "Type": "Pass",
      "Comment": "Build API paths for ExternalSecrets CRDs (requires RBAC permissions)",
      "Parameters": {
        "Input.$": "$",
        "ClusterInfo.$": "$.ClusterInfo",
        "ExternalSecretsPath.$": "States.Format('/apis/external-secrets.io/v1beta1/namespaces/{}/externalsecrets', $.Namespace)",
        "SecretStoresPath.$": "States.Format('/apis/external-secrets.io/v1beta1/namespaces/{}/secretstores', $.Namespace)",
        "ClusterSecretStoresPath": "/apis/external-secrets.io/v1beta1/clustersecretstores",
        "Mode": "external"
      },
      "Next": "FetchAllExternalSecretResources"
    },

    "FetchAllExternalSecretResources": {
      "Type": "Parallel",
      "Comment": "Fetch ExternalSecrets, SecretStores, and ClusterSecretStores in parallel",
      "Branches": [
        {
          "StartAt": "FetchExternalSecretsChoice",
          "States": {
            "FetchExternalSecretsChoice": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Input.CrossAccountRoleArn",
                  "IsPresent": true,
                  "Next": "FetchExternalSecretsCrossAccount"
                }
              ],
              "Default": "FetchExternalSecrets"
            },
            "FetchExternalSecrets": {
              "Type": "Task",
              "Resource": "arn:aws:states:::eks:call",
              "Parameters": {
                "ClusterName.$": "$.ClusterInfo.ClusterName",
                "CertificateAuthority.$": "$.ClusterInfo.CertificateAuthority",
                "Endpoint.$": "$.ClusterInfo.Endpoint",
                "Method": "GET",
                "Path.$": "$.ExternalSecretsPath"
              },
              "ResultSelector": {
                "type": "externalSecrets",
                "items.$": "$.ResponseBody.items"
              },
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "ExternalSecretsFetchFailed"
                }
              ]
            },
            "FetchExternalSecretsCrossAccount": {
              "Type": "Task",
              "Resource": "arn:aws:states:::eks:call",
              "Credentials": {
                "RoleArn.$": "$.Input.CrossAccountRoleArn"
              },
              "Parameters": {
                "ClusterName.$": "$.ClusterInfo.ClusterName",
                "CertificateAuthority.$": "$.ClusterInfo.CertificateAuthority",
                "Endpoint.$": "$.ClusterInfo.Endpoint",
                "Method": "GET",
                "Path.$": "$.ExternalSecretsPath"
              },
              "ResultSelector": {
                "type": "externalSecrets",
                "items.$": "$.ResponseBody.items"
              },
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "ExternalSecretsFetchFailed"
                }
              ]
            },
            "ExternalSecretsFetchFailed": {
              "Type": "Pass",
              "Parameters": {
                "type": "externalSecrets",
                "items": [],
                "error.$": "$.Error.Error"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "FetchSecretStoresChoice",
          "States": {
            "FetchSecretStoresChoice": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Input.CrossAccountRoleArn",
                  "IsPresent": true,
                  "Next": "FetchSecretStoresCrossAccount"
                }
              ],
              "Default": "FetchSecretStores"
            },
            "FetchSecretStores": {
              "Type": "Task",
              "Resource": "arn:aws:states:::eks:call",
              "Parameters": {
                "ClusterName.$": "$.ClusterInfo.ClusterName",
                "CertificateAuthority.$": "$.ClusterInfo.CertificateAuthority",
                "Endpoint.$": "$.ClusterInfo.Endpoint",
                "Method": "GET",
                "Path.$": "$.SecretStoresPath"
              },
              "ResultSelector": {
                "type": "secretStores",
                "items.$": "$.ResponseBody.items"
              },
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "SecretStoresFetchFailed"
                }
              ]
            },
            "FetchSecretStoresCrossAccount": {
              "Type": "Task",
              "Resource": "arn:aws:states:::eks:call",
              "Credentials": {
                "RoleArn.$": "$.Input.CrossAccountRoleArn"
              },
              "Parameters": {
                "ClusterName.$": "$.ClusterInfo.ClusterName",
                "CertificateAuthority.$": "$.ClusterInfo.CertificateAuthority",
                "Endpoint.$": "$.ClusterInfo.Endpoint",
                "Method": "GET",
                "Path.$": "$.SecretStoresPath"
              },
              "ResultSelector": {
                "type": "secretStores",
                "items.$": "$.ResponseBody.items"
              },
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "SecretStoresFetchFailed"
                }
              ]
            },
            "SecretStoresFetchFailed": {
              "Type": "Pass",
              "Parameters": {
                "type": "secretStores",
                "items": [],
                "error.$": "$.Error.Error"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "FetchClusterSecretStoresChoice",
          "States": {
            "FetchClusterSecretStoresChoice": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Input.CrossAccountRoleArn",
                  "IsPresent": true,
                  "Next": "FetchClusterSecretStoresCrossAccount"
                }
              ],
              "Default": "FetchClusterSecretStores"
            },
            "FetchClusterSecretStores": {
              "Type": "Task",
              "Resource": "arn:aws:states:::eks:call",
              "Parameters": {
                "ClusterName.$": "$.ClusterInfo.ClusterName",
                "CertificateAuthority.$": "$.ClusterInfo.CertificateAuthority",
                "Endpoint.$": "$.ClusterInfo.Endpoint",
                "Method": "GET",
                "Path.$": "$.ClusterSecretStoresPath"
              },
              "ResultSelector": {
                "type": "clusterSecretStores",
                "items.$": "$.ResponseBody.items"
              },
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "ClusterSecretStoresFetchFailed"
                }
              ]
            },
            "FetchClusterSecretStoresCrossAccount": {
              "Type": "Task",
              "Resource": "arn:aws:states:::eks:call",
              "Credentials": {
                "RoleArn.$": "$.Input.CrossAccountRoleArn"
              },
              "Parameters": {
                "ClusterName.$": "$.ClusterInfo.ClusterName",
                "CertificateAuthority.$": "$.ClusterInfo.CertificateAuthority",
                "Endpoint.$": "$.ClusterInfo.Endpoint",
                "Method": "GET",
                "Path.$": "$.ClusterSecretStoresPath"
              },
              "ResultSelector": {
                "type": "clusterSecretStores",
                "items.$": "$.ResponseBody.items"
              },
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "ClusterSecretStoresFetchFailed"
                }
              ]
            },
            "ClusterSecretStoresFetchFailed": {
              "Type": "Pass",
              "Parameters": {
                "type": "clusterSecretStores",
                "items": [],
                "error.$": "$.Error.Error"
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.FetchResults",
      "Next": "TransformExternalSecretsResults",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.FetchError",
          "Next": "FetchFailed"
        }
      ]
    },

    "TransformExternalSecretsResults": {
      "Type": "Pass",
      "Comment": "Transform parallel results for Lambda processing",
      "Parameters": {
        "Input.$": "$.Input",
        "ClusterInfo.$": "$.ClusterInfo",
        "FetchResults": {
          "externalSecrets.$": "$.FetchResults[0].items",
          "secretStores.$": "$.FetchResults[1].items",
          "clusterSecretStores.$": "$.FetchResults[2].items",
          "mode": "external",
          "dataLimitExceeded": false,
          "secrets": null
        }
      },
      "Next": "ProcessSecrets"
    },

    "FetchFailed": {
      "Type": "Choice",
      "Comment": "Check if failure is due to data limit (too many secrets)",
      "Choices": [
        {
          "Variable": "$.FetchError.Error",
          "StringEquals": "States.DataLimitExceeded",
          "Next": "HandleDataLimitExceeded"
        }
      ],
      "Default": "FetchFailedError"
    },

    "HandleDataLimitExceeded": {
      "Type": "Pass",
      "Comment": "Handle case where secrets data exceeds Step Functions limit",
      "Parameters": {
        "Input.$": "$.Input",
        "ClusterInfo.$": "$.ClusterInfo",
        "FetchResults": {
          "secrets": [],
          "mode": "native",
          "dataLimitExceeded": true,
          "externalSecrets": null,
          "secretStores": null,
          "clusterSecretStores": null
        }
      },
      "Next": "ProcessSecrets"
    },

    "FetchFailedError": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "error": "FetchFailed",
        "message.$": "States.Format('Failed to fetch secrets from namespace {}: {}', $.Input.Namespace, $.FetchError.Error)",
        "project.$": "$.Input.Project",
        "env.$": "$.Input.Env"
      },
      "Next": "SaveStateError"
    },

    "ProcessSecrets": {
      "Type": "Task",
      "Comment": "Process secrets data using Lambda (supports both native and external modes)",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ProcessSecretsLambdaArn}",
        "Payload": {
          "mode.$": "$.FetchResults.mode",
          "secrets.$": "$.FetchResults.secrets",
          "dataLimitExceeded.$": "$.FetchResults.dataLimitExceeded",
          "externalSecrets.$": "$.FetchResults.externalSecrets",
          "secretStores.$": "$.FetchResults.secretStores",
          "clusterSecretStores.$": "$.FetchResults.clusterSecretStores",
          "namespace.$": "$.Input.Namespace",

          "cluster_name.$": "$.ClusterInfo.ClusterName",
          "project.$": "$.Input.Project",
          "env.$": "$.Input.Env"
        }
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "source.$": "$.Payload.source",
        "namespace.$": "$.Payload.namespace",
        "summary.$": "$.Payload.summary",
        "secrets.$": "$.Payload.secrets",
        "issues.$": "$.Payload.issues",
        "healthy.$": "$.Payload.healthy",
        "timestamp.$": "$.Payload.timestamp"
      },
      "ResultPath": "$.ProcessedResult",
      "Next": "PrepareStatePayload",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ProcessSecretsError",
          "Next": "ProcessSecretsFailed"
        }
      ]
    },

    "ProcessSecretsFailed": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "error": "ProcessSecretsFailed",
        "message.$": "States.Format('Failed to process secrets: {}', $.ProcessSecretsError.Error)",
        "project.$": "$.Input.Project",
        "env.$": "$.Input.Env"
      },
      "Next": "SaveStateError"
    },

    "PrepareStatePayload": {
      "Type": "Pass",
      "Parameters": {
        "project.$": "$.Input.Project",
        "env.$": "$.Input.Env",
        "category": "k8s", "check_type": "secrets",
        "payload": {
          "status.$": "$.ProcessedResult.status",
          "source.$": "$.ProcessedResult.source",
          "cluster_name.$": "$.ClusterInfo.ClusterName",
          "cluster_version.$": "$.ClusterInfo.Version",
          "namespace.$": "$.ProcessedResult.namespace",
          "summary.$": "$.ProcessedResult.summary",
          "secrets.$": "$.ProcessedResult.secrets",
          "issues.$": "$.ProcessedResult.issues",
          "healthy.$": "$.ProcessedResult.healthy",
          "timestamp.$": "$.ProcessedResult.timestamp"
        },
        "updated_by": "step-function:k8s-secrets-sync-checker"
      },
      "Next": "SaveState"
    },

    "SaveState": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SaveStateLambdaArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "state_update.$": "$.Payload"
      },
      "ResultPath": "$.SaveResult",
      "Next": "FormatSuccessResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.SaveError",
          "Next": "SaveStateFailed"
        }
      ]
    },

    "SaveStateError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SaveStateLambdaArn}",
        "Payload": {
          "project.$": "$.project",
          "env.$": "$.env",
          "category": "k8s", "check_type": "secrets",
          "payload": {
            "status.$": "$.status",
            "error.$": "$.error",
            "message.$": "$.message",
            "healthy": false
          },
          "updated_by": "step-function:k8s-secrets-sync-checker"
        }
      },
      "ResultSelector": {
        "state_update.$": "$.Payload"
      },
      "ResultPath": "$.SaveResult",
      "Next": "FormatErrorResult",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.SaveErrorFailed",
          "Next": "FinalError"
        }
      ]
    },

    "SaveStateFailed": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "error": "SaveStateFailed",
        "message.$": "States.Format('Failed to save state: {}', $.SaveError.Error)",
        "project.$": "$.project",
        "env.$": "$.env"
      },
      "Next": "FinalError"
    },

    "FormatSuccessResult": {
      "Type": "Pass",
      "Parameters": {
        "status": "success",
        "project.$": "$.project",
        "env.$": "$.env",
        "category": "k8s", "check_type": "secrets",
        "result": {
          "status.$": "$.payload.status",
          "healthy.$": "$.payload.healthy",
          "summary.$": "$.payload.summary",
          "issues_count.$": "States.ArrayLength($.payload.issues)"
        },
        "state_update.$": "$.SaveResult.state_update"
      },
      "End": true
    },

    "FormatErrorResult": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "project.$": "$.project",
        "env.$": "$.env",
        "category": "k8s", "check_type": "secrets",
        "error": {
          "type.$": "$.error",
          "message.$": "$.message"
        },
        "state_update.$": "$.SaveResult.state_update"
      },
      "End": true
    },

    "FinalError": {
      "Type": "Fail",
      "Error": "StateMachineExecutionFailed",
      "Cause": "Failed to execute k8s-secrets check and save error state"
    }
  }
}
