modules/step-functions/db/cluster_switch_sequence.asl.json
{
  "Comment": "ClusterSwitchSequence | Input: {TargetClusterIdentifier, TmpClusterIdentifier, OldClusterIdentifier, OldInstanceIdentifierPrefix, TargetInstanceIdentifierPrefix, Options: {RenameOldCluster, DeleteOldCluster}, StepFunctions: {Database: {RenameCluster, DeleteCluster, EnsureClusterNotExists, EnsureClusterAvailable}, Utils: {TagResources}}, DestinationAccount: {RoleArn}} | Output (all paths): {TargetClusterIdentifier, DbClusterArn, Status: 'SwitchComplete', SwitchCompletedAt}. Every path promotes the tmp cluster to the target name (rename) and emits DbClusterArn. RenameOldCluster/DeleteOldCluster only decide the fate of a pre-existing cluster occupying the target name; when both are false (brand-new/disposable target) there is no old cluster to swap, so this is a promotion only, not a full old<->new switch.",
  "StartAt": "CheckRenameOldClusterOption",
  "States": {
    "CheckRenameOldClusterOption": {
      "Type": "Choice",
      "Comment": "If RenameOldCluster is true, ensure old-named cluster doesn't exist then rename current target to -old",
      "Choices": [
        {
          "Variable": "$.Options.RenameOldCluster",
          "BooleanEquals": true,
          "Next": "EnsureOldClusterNotExists"
        }
      ],
      "Default": "CheckDeleteOldClusterOption"
    },
    "CheckDeleteOldClusterOption": {
      "Type": "Choice",
      "Comment": "If not renaming, optionally delete the old cluster to free the target name. If neither rename nor delete (e.g. a brand-new disposable target with no existing cluster to swap), still promote the tmp cluster to the target name so downstream always finds it and DbClusterArn is emitted.",
      "Choices": [
        {
          "Variable": "$.Options.DeleteOldCluster",
          "BooleanEquals": true,
          "Next": "DeleteOldCluster"
        }
      ],
      "Default": "EnsureTargetClusterAvailable"
    },
    "DeleteOldCluster": {
      "Type": "Task",
      "Comment": "Delete old cluster to free up target name for rename",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.DeleteCluster",
        "Input": {
          "DbClusterIdentifier.$": "$.TargetClusterIdentifier",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-DeleteOldCluster', $$.Execution.Name)"
      },
      "ResultPath": "$.DeleteOldClusterResult",
      "Next": "EnsureTargetClusterAvailable",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Error",
          "Next": "ClusterSwitchSequenceFailed"
        }
      ]
    },
    "EnsureOldClusterNotExists": {
      "Type": "Task",
      "Comment": "Ensure the -old named cluster does not exist before renaming current target to -old",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.EnsureClusterNotExists",
        "Input": {
          "DbClusterIdentifier.$": "$.OldClusterIdentifier",
          "OrchestratorExecutionName.$": "$$.Execution.Name",
          "StepFunctions.$": "$.StepFunctions",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-EnsureNoOldClstr', $$.Execution.Name)"
      },
      "ResultPath": "$.EnsureOldNotExistsResult",
      "Next": "RenameOldCluster",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.EnsureOldError",
          "Next": "EnsureTargetClusterAvailable"
        }
      ]
    },
    "RenameOldCluster": {
      "Type": "Task",
      "Comment": "Rename current target cluster to -old identifier",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.RenameCluster",
        "Input": {
          "DbClusterIdentifier.$": "$.TargetClusterIdentifier",
          "NewDbClusterIdentifier.$": "$.OldClusterIdentifier",
          "NewInstanceIdentifierPrefix.$": "$.OldInstanceIdentifierPrefix",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-RenameOldCluster', $$.Execution.Name)"
      },
      "ResultPath": "$.RenameOldResult",
      "Next": "TagOldClusterRefreshTrue",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.RenameOldError",
          "Next": "EnsureTargetClusterAvailable"
        }
      ]
    },
    "TagOldClusterRefreshTrue": {
      "Type": "Task",
      "Comment": "Tag renamed -old cluster with refresh:true so next EnsureClusterNotExists can delete it",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Utils.TagResources",
        "Input": {
          "ResourceARNList.$": "States.Array($.RenameOldResult.Output.DbClusterArn)",
          "ConfigTags": {
            "refresh": "true"
          },
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-TagOldCluster', $$.Execution.Name)"
      },
      "ResultPath": "$.TagOldClusterResult",
      "Next": "EnsureTargetClusterAvailable",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.TagOldClusterError",
          "Next": "EnsureTargetClusterAvailable"
        }
      ]
    },
    "EnsureTargetClusterAvailable": {
      "Type": "Task",
      "Comment": "Ensure target cluster is available (start if stopped) before rename",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.EnsureClusterAvailable",
        "Input": {
          "DbClusterIdentifier.$": "$.TmpClusterIdentifier",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-EnsureTargetAvail', $$.Execution.Name)"
      },
      "ResultPath": "$.EnsureTargetAvailableResult",
      "Next": "RenameNewCluster",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.EnsureTargetAvailableError",
          "Next": "RenameNewCluster"
        }
      ]
    },
    "RenameNewCluster": {
      "Type": "Task",
      "Comment": "Rename temporary cluster to target identifier",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.Database.RenameCluster",
        "Input": {
          "DbClusterIdentifier.$": "$.TmpClusterIdentifier",
          "NewDbClusterIdentifier.$": "$.TargetClusterIdentifier",
          "NewInstanceIdentifierPrefix.$": "$.TargetInstanceIdentifierPrefix",
          "DestinationAccount.$": "$.DestinationAccount"
        },
        "Name.$": "States.Format('{}-RenameNewCluster', $$.Execution.Name)"
      },
      "ResultPath": "$.RenameNewResult",
      "Next": "PrepareOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Error",
          "Next": "ClusterSwitchSequenceFailed"
        }
      ]
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Comment": "Format output with switch completion status",
      "Parameters": {
        "TargetClusterIdentifier.$": "$.TargetClusterIdentifier",
        "DbClusterArn.$": "$.RenameNewResult.Output.DbClusterArn",
        "Status": "SwitchComplete",
        "SwitchCompletedAt.$": "$$.State.EnteredTime"
      },
      "Next": "SwitchComplete"
    },
    "SwitchComplete": {
      "Type": "Succeed"
    },
    "ClusterSwitchSequenceFailed": {
      "Type": "Fail",
      "Error": "ClusterSwitchSequenceFailed",
      "Cause": "Cluster switch sequence failed during rename/delete/tag operations"
    }
  }
}
