modules/step-functions/db/prepare_snapshot_for_restore.asl.json
{
  "Comment": "Prepares a snapshot for cross-account or same-account restore. Handles snapshot copy (from automated) or creation (from cluster), and sharing with KMS grants when needed.",
  "QueryLanguage": "JSONata",
  "StartAt": "IsSameAccount",
  "States": {
    "IsSameAccount": {
      "Type": "Choice",
      "Comment": "Check if source and destination are the same account",
      "Choices": [
        {
          "Condition": "{% $states.input.SourceAccount.AccountId = $states.input.DestinationAccount.AccountId %}",
          "Next": "GetLatestSnapshotSameAccount"
        }
      ],
      "Default": "ChooseSnapshotMode"
    },

    "GetLatestSnapshotSameAccount": {
      "Type": "Task",
      "Comment": "Same account - just get the latest automated snapshot",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusterSnapshots",
      "Credentials": {
        "RoleArn": "{% $states.input.SourceAccount.RoleArn %}"
      },
      "Arguments": {
        "DbClusterIdentifier": "{% $states.input.SourceDBClusterIdentifier %}",
        "SnapshotType": "automated"
      },
      "Output": {
        "SnapshotIdentifier": "{% $states.result.DbClusterSnapshots[-1].DbClusterSnapshotIdentifier %}",
        "SnapshotArn": "{% $states.result.DbClusterSnapshots[-1].DbClusterSnapshotArn %}",
        "EngineVersion": "{% $states.result.DbClusterSnapshots[-1].EngineVersion %}",
        "SnapshotCreateTime": "{% $states.result.DbClusterSnapshots[-1].SnapshotCreateTime %}"
      },
      "Next": "PrepareOutputSameAccount",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "PrepareFailed"
      }]
    },

    "PrepareOutputSameAccount": {
      "Type": "Pass",
      "Comment": "Output for same-account scenario",
      "Output": {
        "Status": "Completed",
        "ModuleName": "prepare_snapshot_for_restore",
        "Mode": "same-account",
        "SnapshotIdentifier": "{% $states.input.SnapshotIdentifier %}",
        "SnapshotArn": "{% $states.input.SnapshotArn %}",
        "EngineVersion": "{% $states.input.EngineVersion %}",
        "SnapshotCreateTime": "{% $states.input.SnapshotCreateTime %}",
        "Shared": false
      },
      "Next": "PrepareSucceeded"
    },

    "ChooseSnapshotMode": {
      "Type": "Choice",
      "Comment": "Choose snapshot strategy: use pre-provided snapshot (cross-region), copy latest automated, or create manual",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.SourceSnapshot.SourceSnapshotArn) %}",
          "Next": "GenerateCopySnapshotId"
        },
        {
          "Condition": "{% $states.input.Mode = 'create-manual' %}",
          "Next": "GenerateManualSnapshotId"
        }
      ],
      "Default": "CheckProxyForCopyLatest"
    },

    "CheckProxyForCopyLatest": {
      "Type": "Choice",
      "Comment": "Route to Lambda proxy for cross-region snapshot discovery, or direct SDK for same-region",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.ProxyLambdaArn) and $exists($states.input.SourceAccount.Region) and $states.input.SourceAccount.Region != $split($states.context.StateMachine.Id, ':')[3] %}",
          "Next": "GetLatestSnapshotViaProxy"
        }
      ],
      "Default": "GetLatestSnapshotForCopy"
    },

    "GetLatestSnapshotViaProxy": {
      "Type": "Task",
      "Comment": "Get latest automated snapshot via Lambda proxy (cross-region: source cluster is in a different region than the SFN)",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "{% $states.input.ProxyLambdaArn %}",
        "Payload": {
          "Service": "rds",
          "Action": "describe_db_cluster_snapshots",
          "Region": "{% $states.input.SourceAccount.Region %}",
          "RoleArn": "{% $states.input.SourceAccount.RoleArn %}",
          "Parameters": {
            "DBClusterIdentifier": "{% $states.input.SourceDBClusterIdentifier %}",
            "SnapshotType": "automated"
          }
        }
      },
      "Output": {
        "SourceAccount": "{% $states.input.SourceAccount %}",
        "DestinationAccount": "{% $states.input.DestinationAccount %}",
        "SourceDBClusterIdentifier": "{% $states.input.SourceDBClusterIdentifier %}",
        "Mode": "{% $states.input.Mode %}",
        "ProxyLambdaArn": "{% $states.input.ProxyLambdaArn %}",
        "SourceSnapshot": {
          "SourceSnapshotId": "{% $states.result.Payload.DbClusterSnapshots[-1].DbClusterSnapshotIdentifier %}",
          "SourceSnapshotArn": "{% $states.result.Payload.DbClusterSnapshots[-1].DbClusterSnapshotArn %}",
          "EngineVersion": "{% $states.result.Payload.DbClusterSnapshots[-1].EngineVersion %}",
          "StorageEncrypted": "{% $states.result.Payload.DbClusterSnapshots[-1].StorageEncrypted %}",
          "KmsKeyId": "{% $states.result.Payload.DbClusterSnapshots[-1].KmsKeyId ? $states.result.Payload.DbClusterSnapshots[-1].KmsKeyId : null %}"
        }
      },
      "Next": "GenerateCopySnapshotId",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "PrepareFailed"
      }]
    },

    "CheckProxyForCreateManual": {
      "Type": "Choice",
      "Comment": "Route to Lambda proxy for cross-region manual snapshot creation, or direct SDK for same-region",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.ProxyLambdaArn) and $exists($states.input.SourceAccount.Region) and $states.input.SourceAccount.Region != $split($states.context.StateMachine.Id, ':')[3] %}",
          "Next": "CreateManualSnapshotViaProxy"
        }
      ],
      "Default": "CreateManualSnapshot"
    },

    "CreateManualSnapshotViaProxy": {
      "Type": "Task",
      "Comment": "Create manual snapshot via Lambda proxy (cross-region: source cluster is in a different region)",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "{% $states.input.ProxyLambdaArn %}",
        "Payload": {
          "Service": "rds",
          "Action": "create_db_cluster_snapshot",
          "Region": "{% $states.input.SourceAccount.Region %}",
          "RoleArn": "{% $states.input.SourceAccount.RoleArn %}",
          "Parameters": {
            "DBClusterIdentifier": "{% $states.input.SourceDBClusterIdentifier %}",
            "DBClusterSnapshotIdentifier": "{% $states.input.ManualSnapshotParams.TargetSnapshotId %}",
            "Tags": [
              { "Key": "CreatedBy", "Value": "RefreshOrchestrator" },
              { "Key": "Purpose", "Value": "CrossRegionRefresh" },
              { "Key": "SourceCluster", "Value": "{% $states.input.SourceDBClusterIdentifier %}" },
              { "Key": "CreatedAt", "Value": "{% $states.context.State.EnteredTime %}" }
            ]
          }
        }
      },
      "Output": "{% $merge([$states.input, {'ManualSnapshot': {'SnapshotArn': $states.result.Payload.DbClusterSnapshot.DbClusterSnapshotArn, 'SnapshotIdentifier': $states.result.Payload.DbClusterSnapshot.DbClusterSnapshotIdentifier, 'Status': $states.result.Payload.DbClusterSnapshot.Status, 'EngineVersion': $states.result.Payload.DbClusterSnapshot.EngineVersion, 'StorageEncrypted': $states.result.Payload.DbClusterSnapshot.StorageEncrypted, 'KmsKeyId': $states.result.Payload.DbClusterSnapshot.KmsKeyId ? $states.result.Payload.DbClusterSnapshot.KmsKeyId : null}}]) %}",
      "Next": "EnsureManualSnapshotAvailable",
      "Catch": [
        {
          "ErrorEquals": ["DBClusterSnapshotAlreadyExistsFault"],
          "Output": "{% $states.input %}",
          "Next": "GetExistingManualSnapshotViaProxy"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PrepareFailed"
        }
      ]
    },

    "GetExistingManualSnapshotViaProxy": {
      "Type": "Task",
      "Comment": "Get existing manual snapshot via Lambda proxy (cross-region)",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "{% $states.input.ProxyLambdaArn %}",
        "Payload": {
          "Service": "rds",
          "Action": "describe_db_cluster_snapshots",
          "Region": "{% $states.input.SourceAccount.Region %}",
          "RoleArn": "{% $states.input.SourceAccount.RoleArn %}",
          "Parameters": {
            "DBClusterSnapshotIdentifier": "{% $states.input.ManualSnapshotParams.TargetSnapshotId %}"
          }
        }
      },
      "Output": "{% $merge([$states.input, {'ManualSnapshot': {'SnapshotArn': $states.result.Payload.DbClusterSnapshots[0].DbClusterSnapshotArn, 'SnapshotIdentifier': $states.result.Payload.DbClusterSnapshots[0].DbClusterSnapshotIdentifier, 'Status': $states.result.Payload.DbClusterSnapshots[0].Status, 'EngineVersion': $states.result.Payload.DbClusterSnapshots[0].EngineVersion, 'StorageEncrypted': $states.result.Payload.DbClusterSnapshots[0].StorageEncrypted, 'KmsKeyId': $states.result.Payload.DbClusterSnapshots[0].KmsKeyId ? $states.result.Payload.DbClusterSnapshots[0].KmsKeyId : null}}]) %}",
      "Next": "EnsureManualSnapshotAvailable"
    },

    "GenerateManualSnapshotId": {
      "Type": "Pass",
      "Comment": "Generate unique ID for the manual snapshot",
      "Output": "{% $merge([$states.input, {'ManualSnapshotParams': {'TargetSnapshotId': 'refresh-manual-' & $substringAfter($states.context.Execution.Name, ':') }}]) %}",
      "Next": "CheckProxyForCreateManual"
    },

    "GetLatestSnapshotForCopy": {
      "Type": "Task",
      "Comment": "Get latest automated snapshot to copy",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusterSnapshots",
      "Credentials": {
        "RoleArn": "{% $states.input.SourceAccount.RoleArn %}"
      },
      "Arguments": {
        "DbClusterIdentifier": "{% $states.input.SourceDBClusterIdentifier %}",
        "SnapshotType": "automated"
      },
      "Output": {
        "SourceAccount": "{% $states.input.SourceAccount %}",
        "DestinationAccount": "{% $states.input.DestinationAccount %}",
        "SourceDBClusterIdentifier": "{% $states.input.SourceDBClusterIdentifier %}",
        "Mode": "{% $states.input.Mode %}",
        "SourceSnapshot": {
          "SourceSnapshotId": "{% $states.result.DbClusterSnapshots[-1].DbClusterSnapshotIdentifier %}",
          "SourceSnapshotArn": "{% $states.result.DbClusterSnapshots[-1].DbClusterSnapshotArn %}",
          "EngineVersion": "{% $states.result.DbClusterSnapshots[-1].EngineVersion %}",
          "StorageEncrypted": "{% $states.result.DbClusterSnapshots[-1].StorageEncrypted %}",
          "KmsKeyId": "{% $states.result.DbClusterSnapshots[-1].KmsKeyId ? $states.result.DbClusterSnapshots[-1].KmsKeyId : null %}"
        }
      },
      "Next": "GenerateCopySnapshotId",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "PrepareFailed"
      }]
    },

    "GenerateCopySnapshotId": {
      "Type": "Pass",
      "Comment": "Generate unique ID for the copied snapshot",
      "Output": "{% $merge([$states.input, {'CopyParams': {'TargetSnapshotId': 'refresh-copy-' & $substringAfter($states.context.Execution.Name, ':') }}]) %}",
      "Next": "CopySnapshot"
    },

    "CopySnapshot": {
      "Type": "Task",
      "Comment": "Copy automated snapshot to manual snapshot (required for sharing)",
      "Resource": "arn:aws:states:::aws-sdk:rds:copyDBClusterSnapshot",
      "Credentials": {
        "RoleArn": "{% $states.input.SourceAccount.RoleArn %}"
      },
      "Arguments": {
        "SourceDBClusterSnapshotIdentifier": "{% $states.input.SourceSnapshot.SourceSnapshotArn %}",
        "TargetDBClusterSnapshotIdentifier": "{% $states.input.CopyParams.TargetSnapshotId %}",
        "CopyTags": true,
        "Tags": [
          {
            "Key": "CreatedBy",
            "Value": "RefreshOrchestrator"
          },
          {
            "Key": "Purpose",
            "Value": "CrossAccountRefresh"
          },
          {
            "Key": "SourceSnapshot",
            "Value": "{% $states.input.SourceSnapshot.SourceSnapshotId %}"
          },
          {
            "Key": "CreatedAt",
            "Value": "{% $states.context.State.EnteredTime %}"
          }
        ]
      },
      "Output": "{% $merge([$states.input, {'CopiedSnapshot': {'SnapshotArn': $states.result.DbClusterSnapshot.DbClusterSnapshotArn, 'SnapshotIdentifier': $states.result.DbClusterSnapshot.DbClusterSnapshotIdentifier, 'Status': $states.result.DbClusterSnapshot.Status}}]) %}",
      "Next": "EnsureCopySnapshotAvailable",
      "Catch": [
        {
          "ErrorEquals": ["Rds.DBClusterSnapshotAlreadyExistsFault"],
          "Output": "{% $states.input %}",
          "Next": "GetExistingCopiedSnapshot"
        },
        {
          "ErrorEquals": ["Rds.RdsException"],
          "Comment": "Handles 'snapshot X has already been copied to snapshot Y' - find the existing copy by SourceSnapshot tag",
          "Output": "{% $states.input %}",
          "Next": "FindExistingCopyBySource"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PrepareFailed"
        }
      ]
    },

    "GetExistingCopiedSnapshot": {
      "Type": "Task",
      "Comment": "Get existing copied snapshot if it already exists",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusterSnapshots",
      "Credentials": {
        "RoleArn": "{% $states.input.SourceAccount.RoleArn %}"
      },
      "Arguments": {
        "DbClusterSnapshotIdentifier": "{% $states.input.CopyParams.TargetSnapshotId %}"
      },
      "Output": "{% $merge([$states.input, {'CopiedSnapshot': {'SnapshotArn': $states.result.DbClusterSnapshots[0].DbClusterSnapshotArn, 'SnapshotIdentifier': $states.result.DbClusterSnapshots[0].DbClusterSnapshotIdentifier, 'Status': $states.result.DbClusterSnapshots[0].Status}}]) %}",
      "Next": "EnsureCopySnapshotAvailable"
    },

    "FindExistingCopyBySource": {
      "Type": "Task",
      "Comment": "Find existing manual snapshot that was already copied from the same source automated snapshot (by SourceSnapshot tag)",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusterSnapshots",
      "Credentials": {
        "RoleArn": "{% $states.input.SourceAccount.RoleArn %}"
      },
      "Arguments": {
        "DbClusterIdentifier": "{% $states.input.SourceDBClusterIdentifier %}",
        "SnapshotType": "manual"
      },
      "Output": "{% ( $src := $states.input.SourceSnapshot.SourceSnapshotId; $match := $states.result.DbClusterSnapshots[TagList[Key='SourceSnapshot'].Value = $src][-1]; $match ? $merge([$states.input, {'CopiedSnapshot': {'SnapshotArn': $match.DbClusterSnapshotArn, 'SnapshotIdentifier': $match.DbClusterSnapshotIdentifier, 'Status': $match.Status}}]) : $merge([$states.input, {'CopiedSnapshot': null}]) ) %}",
      "Next": "CheckExistingCopyFound",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "PrepareFailed"
      }]
    },

    "CheckExistingCopyFound": {
      "Type": "Choice",
      "Comment": "Check if an existing copy was found by SourceSnapshot tag",
      "Choices": [
        {
          "Condition": "{% $states.input.CopiedSnapshot != null %}",
          "Next": "EnsureCopySnapshotAvailable"
        }
      ],
      "Default": "PrepareFailed"
    },

    "EnsureCopySnapshotAvailable": {
      "Type": "Task",
      "Comment": "Wait for copied snapshot to become available via EnsureSnapshotAvailable sub-SFN",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${ensure_snapshot_available_arn}",
        "Input": {
          "SnapshotIdentifier": "{% $states.input.CopiedSnapshot.SnapshotIdentifier ? $states.input.CopiedSnapshot.SnapshotIdentifier : $states.input.CopyParams.TargetSnapshotId %}",
          "Account": {
            "RoleArn": "{% $states.input.SourceAccount.RoleArn %}"
          }
        },
        "Name": "{% 'EnsureCopy-' & $substringAfter($states.context.Execution.Name, ':') %}"
      },
      "Output": "{% $merge([$states.input, {'CopiedSnapshot': {'SnapshotArn': $states.result.Output.SnapshotArn, 'SnapshotIdentifier': $states.result.Output.SnapshotIdentifier, 'Status': $states.result.Output.Status}}]) %}",
      "Next": "PrepareSnapshotInfoFromCopy",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "PrepareFailed"
      }]
    },

    "PrepareSnapshotInfoFromCopy": {
      "Type": "Pass",
      "Comment": "Prepare snapshot info from copied snapshot",
      "Output": "{% $merge([$states.input, {'PreparedSnapshot': {'SnapshotIdentifier': $states.input.CopiedSnapshot.SnapshotIdentifier, 'SnapshotArn': $states.input.CopiedSnapshot.SnapshotArn, 'EngineVersion': $states.input.SourceSnapshot.EngineVersion, 'StorageEncrypted': $states.input.SourceSnapshot.StorageEncrypted, 'KmsKeyId': $states.input.SourceSnapshot.KmsKeyId, 'Mode': 'copy-latest'}}]) %}",
      "Next": "IsSnapshotEncrypted"
    },

    "CreateManualSnapshot": {
      "Type": "Task",
      "Comment": "Create a new manual snapshot from the source cluster",
      "Resource": "arn:aws:states:::aws-sdk:rds:createDBClusterSnapshot",
      "Credentials": {
        "RoleArn": "{% $states.input.SourceAccount.RoleArn %}"
      },
      "Arguments": {
        "DbClusterIdentifier": "{% $states.input.SourceDBClusterIdentifier %}",
        "DbClusterSnapshotIdentifier": "{% $states.input.ManualSnapshotParams.TargetSnapshotId %}",
        "Tags": [
          {
            "Key": "CreatedBy",
            "Value": "RefreshOrchestrator"
          },
          {
            "Key": "Purpose",
            "Value": "CrossAccountRefresh"
          },
          {
            "Key": "SourceCluster",
            "Value": "{% $states.input.SourceDBClusterIdentifier %}"
          },
          {
            "Key": "CreatedAt",
            "Value": "{% $states.context.State.EnteredTime %}"
          }
        ]
      },
      "Output": "{% $merge([$states.input, {'ManualSnapshot': {'SnapshotArn': $states.result.DbClusterSnapshot.DbClusterSnapshotArn, 'SnapshotIdentifier': $states.result.DbClusterSnapshot.DbClusterSnapshotIdentifier, 'Status': $states.result.DbClusterSnapshot.Status, 'EngineVersion': $states.result.DbClusterSnapshot.EngineVersion, 'StorageEncrypted': $states.result.DbClusterSnapshot.StorageEncrypted, 'KmsKeyId': $states.result.DbClusterSnapshot.KmsKeyId ? $states.result.DbClusterSnapshot.KmsKeyId : null}}]) %}",
      "Next": "EnsureManualSnapshotAvailable",
      "Catch": [
        {
          "ErrorEquals": ["Rds.DBClusterSnapshotAlreadyExistsFault"],
          "Output": "{% $states.input %}",
          "Next": "GetExistingManualSnapshot"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PrepareFailed"
        }
      ]
    },

    "GetExistingManualSnapshot": {
      "Type": "Task",
      "Comment": "Get existing manual snapshot if it already exists",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusterSnapshots",
      "Credentials": {
        "RoleArn": "{% $states.input.SourceAccount.RoleArn %}"
      },
      "Arguments": {
        "DbClusterSnapshotIdentifier": "{% $states.input.ManualSnapshotParams.TargetSnapshotId %}"
      },
      "Output": "{% $merge([$states.input, {'ManualSnapshot': {'SnapshotArn': $states.result.DbClusterSnapshots[0].DbClusterSnapshotArn, 'SnapshotIdentifier': $states.result.DbClusterSnapshots[0].DbClusterSnapshotIdentifier, 'Status': $states.result.DbClusterSnapshots[0].Status, 'EngineVersion': $states.result.DbClusterSnapshots[0].EngineVersion, 'StorageEncrypted': $states.result.DbClusterSnapshots[0].StorageEncrypted, 'KmsKeyId': $states.result.DbClusterSnapshots[0].KmsKeyId ? $states.result.DbClusterSnapshots[0].KmsKeyId : null}}]) %}",
      "Next": "EnsureManualSnapshotAvailable"
    },

    "EnsureManualSnapshotAvailable": {
      "Type": "Task",
      "Comment": "Wait for manual snapshot to become available via EnsureSnapshotAvailable sub-SFN",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${ensure_snapshot_available_arn}",
        "Input": "{% $merge([{'SnapshotIdentifier': $states.input.ManualSnapshot.SnapshotIdentifier, 'Account': {'RoleArn': $states.input.SourceAccount.RoleArn}}, $exists($states.input.ProxyLambdaArn) and $exists($states.input.SourceAccount.Region) ? {'ProxyLambdaArn': $states.input.ProxyLambdaArn, 'SourceRegion': $states.input.SourceAccount.Region} : {}]) %}",
        "Name": "{% 'EnsureManual-' & $substringAfter($states.context.Execution.Name, ':') %}"
      },
      "Output": "{% $merge([$states.input, {'ManualSnapshot': $merge([$states.input.ManualSnapshot, {'Status': $states.result.Output.Status, 'SnapshotArn': $states.result.Output.SnapshotArn}])}]) %}",
      "Next": "PrepareSnapshotInfoFromManual",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "PrepareFailed"
      }]
    },

    "PrepareSnapshotInfoFromManual": {
      "Type": "Pass",
      "Comment": "Prepare snapshot info from manual snapshot",
      "Output": "{% $merge([$states.input, {'PreparedSnapshot': {'SnapshotIdentifier': $states.input.ManualSnapshot.SnapshotIdentifier, 'SnapshotArn': $states.input.ManualSnapshot.SnapshotArn, 'EngineVersion': $states.input.ManualSnapshot.EngineVersion, 'StorageEncrypted': $states.input.ManualSnapshot.StorageEncrypted, 'KmsKeyId': $states.input.ManualSnapshot.KmsKeyId, 'Mode': 'create-manual'}}]) %}",
      "Next": "CheckCrossRegionAfterManual"
    },

    "CheckCrossRegionAfterManual": {
      "Type": "Choice",
      "Comment": "For cross-region manual snapshots, route through copy flow to bring snapshot to destination region",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.SourceAccount.Region) and $states.input.SourceAccount.Region != $split($states.context.StateMachine.Id, ':')[3] %}",
          "Next": "PrepareManualSnapshotForCrossRegionCopy"
        }
      ],
      "Default": "IsSnapshotEncrypted"
    },

    "PrepareManualSnapshotForCrossRegionCopy": {
      "Type": "Pass",
      "Comment": "Map manual snapshot info to SourceSnapshot format for the cross-region copy flow",
      "Output": "{% $merge([$states.input, {'SourceSnapshot': {'SourceSnapshotId': $states.input.ManualSnapshot.SnapshotIdentifier, 'SourceSnapshotArn': $states.input.ManualSnapshot.SnapshotArn, 'EngineVersion': $states.input.ManualSnapshot.EngineVersion, 'StorageEncrypted': $states.input.ManualSnapshot.StorageEncrypted, 'KmsKeyId': $states.input.ManualSnapshot.KmsKeyId}}]) %}",
      "Next": "GenerateCopySnapshotId"
    },

    "IsSnapshotEncrypted": {
      "Type": "Choice",
      "Comment": "Check if KMS grant is needed for encrypted snapshots",
      "Choices": [
        {
          "Condition": "{% $states.input.PreparedSnapshot.StorageEncrypted = true %}",
          "Next": "CreateKMSGrant"
        }
      ],
      "Default": "ShareSnapshot"
    },

    "CreateKMSGrant": {
      "Type": "Task",
      "Comment": "Create KMS grant for destination account to decrypt snapshot",
      "Resource": "arn:aws:states:::aws-sdk:kms:createGrant",
      "Credentials": {
        "RoleArn": "{% $states.input.SourceAccount.RoleArn %}"
      },
      "Arguments": {
        "KeyId": "{% $states.input.PreparedSnapshot.KmsKeyId %}",
        "GranteePrincipal": "{% $states.input.DestinationAccount.RoleArn %}",
        "Operations": [
          "Decrypt",
          "CreateGrant",
          "DescribeKey",
          "GenerateDataKey",
          "GenerateDataKeyWithoutPlaintext",
          "ReEncryptFrom",
          "ReEncryptTo"
        ]
      },
      "Output": "{% $merge([$states.input, {'KmsGrant': {'GrantId': $states.result.GrantId, 'GrantToken': $states.result.GrantToken}}]) %}",
      "Next": "ShareSnapshot",
      "Catch": [
        {
          "ErrorEquals": ["Kms.AlreadyExistsException"],
          "Comment": "Grant already exists, continue",
          "Output": "{% $states.input %}",
          "Next": "ShareSnapshot"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PrepareFailed"
        }
      ]
    },

    "ShareSnapshot": {
      "Type": "Task",
      "Comment": "Share snapshot with destination account",
      "Resource": "arn:aws:states:::aws-sdk:rds:modifyDBClusterSnapshotAttribute",
      "Credentials": {
        "RoleArn": "{% $states.input.SourceAccount.RoleArn %}"
      },
      "Arguments": {
        "DbClusterSnapshotIdentifier": "{% $states.input.PreparedSnapshot.SnapshotIdentifier %}",
        "AttributeName": "restore",
        "ValuesToAdd": ["{% $states.input.DestinationAccount.AccountId %}"]
      },
      "Output": "{% $merge([$states.input, {'ShareResult': $states.result}]) %}",
      "Next": "WaitSharePropagation",
      "Retry": [
        {
          "ErrorEquals": ["Rds.InvalidDBClusterSnapshotStateFault"],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "PrepareFailed"
      }]
    },

    "WaitSharePropagation": {
      "Type": "Wait",
      "Seconds": 10,
      "Comment": "Wait for snapshot sharing to propagate",
      "Next": "VerifySnapshotVisibleInDestination"
    },

    "VerifySnapshotVisibleInDestination": {
      "Type": "Task",
      "Comment": "Verify snapshot is visible in destination account",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusterSnapshots",
      "Credentials": {
        "RoleArn": "{% $states.input.DestinationAccount.RoleArn %}"
      },
      "Arguments": {
        "DbClusterSnapshotIdentifier": "{% $states.input.PreparedSnapshot.SnapshotArn %}",
        "IncludeShared": true
      },
      "Output": "{% $merge([$states.input, {'Verification': {'Visible': true, 'SnapshotArn': $states.result.DbClusterSnapshots[0].DbClusterSnapshotArn}}]) %}",
      "Next": "GenerateCopySnapshotId",
      "Retry": [
        {
          "ErrorEquals": ["Rds.DBClusterSnapshotNotFoundFault"],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 1.5,
          "Comment": "Retry if snapshot not yet visible"
        }
      ],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Output": "{% $states.input %}",
        "Next": "PrepareOutputCrossAccountWithWarning"
      }]
    },

    "PrepareOutputCrossAccountWithWarning": {
      "Type": "Pass",
      "Comment": "Output when verification failed but sharing succeeded",
      "Output": {
        "Status": "CompletedWithWarning",
        "ModuleName": "prepare_snapshot_for_restore",
        "Mode": "{% $states.input.PreparedSnapshot.Mode %}",
        "SnapshotIdentifier": "{% $states.input.PreparedSnapshot.SnapshotIdentifier %}",
        "SnapshotArn": "{% $states.input.PreparedSnapshot.SnapshotArn %}",
        "EngineVersion": "{% $states.input.PreparedSnapshot.EngineVersion %}",
        "Shared": true,
        "SharedWith": "{% $states.input.DestinationAccount.AccountId %}",
        "Warning": "Snapshot shared but verification in destination account failed - may still work"
      },
      "Next": "PrepareSucceeded"
    },

    "PrepareFailed": {
      "Type": "Fail",
      "Error": "PrepareSnapshotFailed",
      "Cause": "Failed to prepare snapshot for restore"
    },

    "PrepareSucceeded": {
      "Type": "Succeed"
    }
  }
}
