modules/step-functions/db/restore_cluster.asl.json
{
  "Comment": "Restore an RDS/Aurora cluster from snapshot or point-in-time. Uses prepare_snapshot_for_restore for same-account or cross-account snapshot preparation (copy + share).",
  "StartAt": "CheckExistingRestoreCluster",
  "States": {
    "CheckExistingRestoreCluster": {
      "Type": "Task",
      "Comment": "Check if a -restore cluster already exists from a previous incomplete refresh",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier"
      },
      "ResultPath": "$.ExistingRestoreCluster",
      "Next": "DeleteExistingRestoreInstances",
      "Catch": [
        {
          "ErrorEquals": ["Rds.DBClusterNotFoundFault", "Rds.DbClusterNotFoundException"],
          "ResultPath": null,
          "Next": "ChooseRestoreType"
        }
      ]
    },
    "DeleteExistingRestoreInstances": {
      "Type": "Map",
      "Comment": "Delete all instances in the leftover -restore cluster before deleting the cluster itself",
      "ItemsPath": "$.ExistingRestoreCluster.DbClusters[0].DbClusterMembers",
      "ItemSelector": {
        "DbInstanceIdentifier.$": "$$.Map.Item.Value.DbInstanceIdentifier",
        "DestinationAccount.$": "$.DestinationAccount"
      },
      "ItemProcessor": {
        "ProcessorConfig": { "Mode": "INLINE" },
        "StartAt": "DeleteRestoreInstance",
        "States": {
          "DeleteRestoreInstance": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:deleteDBInstance",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccount.RoleArn"
            },
            "Parameters": {
              "DbInstanceIdentifier.$": "$.DbInstanceIdentifier",
              "SkipFinalSnapshot": true,
              "DeleteAutomatedBackups": false
            },
            "ResultPath": null,
            "Next": "WaitRestoreInstanceDeletion",
            "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "WaitRestoreInstanceDeletion" }]
          },
          "WaitRestoreInstanceDeletion": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "CheckRestoreInstanceDeletion"
          },
          "CheckRestoreInstanceDeletion": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:describeDBInstances",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccount.RoleArn"
            },
            "Parameters": {
              "DbInstanceIdentifier.$": "$.DbInstanceIdentifier"
            },
            "ResultPath": "$.InstanceCheck",
            "Next": "WaitRestoreInstanceDeletion",
            "Catch": [
              {
                "ErrorEquals": ["Rds.DBInstanceNotFoundFault", "Rds.DbInstanceNotFoundException"],
                "Next": "RestoreInstanceDeleted"
              }
            ]
          },
          "RestoreInstanceDeleted": {
            "Type": "Succeed"
          }
        }
      },
      "ResultPath": "$.DeleteInstancesResult",
      "Next": "DeleteExistingRestoreCluster",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error.DeleteRestoreInstances",
          "Next": "DeleteExistingRestoreCluster"
        }
      ]
    },
    "DeleteExistingRestoreCluster": {
      "Type": "Task",
      "Comment": "Delete the existing -restore cluster after its instances have been removed",
      "Resource": "arn:aws:states:::aws-sdk:rds:deleteDBCluster",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier",
        "SkipFinalSnapshot": true
      },
      "ResultPath": null,
      "Next": "WaitRestoreClusterDeleted",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error.DeleteRestoreCluster",
          "Next": "ChooseRestoreType"
        }
      ]
    },
    "WaitRestoreClusterDeleted": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckRestoreClusterDeleted"
    },
    "CheckRestoreClusterDeleted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier"
      },
      "ResultPath": "$.RestoreClusterCheck",
      "Next": "WaitRestoreClusterDeleted",
      "Catch": [
        {
          "ErrorEquals": ["Rds.DBClusterNotFoundFault", "Rds.DbClusterNotFoundException"],
          "ResultPath": null,
          "Next": "ChooseRestoreType"
        }
      ]
    },
    "ChooseRestoreType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.RestoreType",
          "StringEquals": "from-snapshot",
          "Next": "SetDefaultSnapshotMode"
        },
        {
          "Variable": "$.RestoreType",
          "StringEquals": "point-in-time",
          "Next": "ChoosePointInTimeMethod"
        },
        {
          "Variable": "$.RestoreType",
          "StringEquals": "fast-clone",
          "Next": "RestoreClusterFastClone"
        }
      ],
      "Default": "InvalidRestoreType"
    },
    "ChoosePointInTimeMethod": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.UseLatestRestorableTime",
          "BooleanEquals": true,
          "Next": "RestoreClusterToPointInTime"
        }
      ],
      "Default": "RestoreClusterToSpecificTime"
    },
    "SetDefaultSnapshotMode": {
      "Type": "Pass",
      "Comment": "Set default SnapshotMode to copy-latest if not provided",
      "Parameters": {
        "SnapshotMode": "copy-latest"
      },
      "ResultPath": "$.Defaults",
      "Next": "PrepareSnapshot"
    },
    "PrepareSnapshot": {
      "Type": "Task",
      "Comment": "Call prepare_snapshot_for_restore to handle same-account or cross-account snapshot preparation",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.PrepareSnapshotStateMachineArn",
        "Input": {
          "SourceAccount.$": "$.SourceAccount",
          "DestinationAccount.$": "$.DestinationAccount",
          "SourceDBClusterIdentifier.$": "$.SourceDBClusterIdentifier",
          "Mode.$": "States.ArrayGetItem(States.Array($.SnapshotMode, $.Defaults.SnapshotMode), 0)"
        }
      },
      "ResultSelector": {
        "SnapshotIdentifier.$": "$.Output.SnapshotIdentifier",
        "SnapshotArn.$": "$.Output.SnapshotArn",
        "EngineVersion.$": "$.Output.EngineVersion",
        "Shared.$": "$.Output.Shared"
      },
      "ResultPath": "$.SnapshotInfo",
      "Next": "IsServerless",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.Error.PrepareSnapshot",
        "Next": "RestoreFailed"
      }]
    },
    "IsServerless": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DbInstanceClass",
          "StringEquals": "db.serverless",
          "Next": "RestoreServerlessClusterFromSnapshot"
        }
      ],
      "Default": "RestoreStandardClusterFromSnapshot"
    },
    "RestoreStandardClusterFromSnapshot": {
      "Type": "Task",
      "Comment": "Restore cluster from shared snapshot in destination account",
      "Resource": "arn:aws:states:::aws-sdk:rds:restoreDBClusterFromSnapshot",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier",
        "SnapshotIdentifier.$": "$.SnapshotInfo.SnapshotArn",
        "Engine": "aurora-mysql",
        "EngineVersion.$": "$.SnapshotInfo.EngineVersion",
        "DbSubnetGroupName.$": "$.DbSubnetGroupName",
        "VpcSecurityGroupIds.$": "$.VpcSecurityGroupIds",
        "DbClusterParameterGroupName.$": "$.DbClusterParameterGroupName",
        "KmsKeyId.$": "$.KmsKeyId",
        "CopyTagsToSnapshot": true,
        "EnableIAMDatabaseAuthentication": "False",
        "EnableCloudwatchLogsExports": [
          "audit",
          "error",
          "general",
          "slowquery"
        ],
        "DeletionProtection": false
      },
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Next": "WaitClusterRestore",
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["Rds.SnapshotNotFoundFault"],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "RestoreFailed" }]
    },
    "RestoreServerlessClusterFromSnapshot": {
      "Type": "Task",
      "Comment": "Restore serverless cluster from shared snapshot in destination account",
      "Resource": "arn:aws:states:::aws-sdk:rds:restoreDBClusterFromSnapshot",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier",
        "SnapshotIdentifier.$": "$.SnapshotInfo.SnapshotArn",
        "Engine": "aurora-mysql",
        "EngineVersion.$": "$.SnapshotInfo.EngineVersion",
        "DbSubnetGroupName.$": "$.DbSubnetGroupName",
        "VpcSecurityGroupIds.$": "$.VpcSecurityGroupIds",
        "DbClusterParameterGroupName.$": "$.DbClusterParameterGroupName",
        "KmsKeyId.$": "$.KmsKeyId",
        "ServerlessV2ScalingConfiguration": {
          "MinCapacity.$": "$.AuroraServerlessMinCapacity",
          "MaxCapacity.$": "$.AuroraServerlessMaxCapacity"
        },
        "CopyTagsToSnapshot": true,
        "EnableIAMDatabaseAuthentication": false,
        "EnableCloudwatchLogsExports": [
          "audit",
          "error",
          "general",
          "slowquery"
        ],
        "DeletionProtection": false
      },
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Next": "WaitClusterRestore",
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["Rds.SnapshotNotFoundFault"],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "RestoreFailed" }]
    },
    "RestoreClusterToPointInTime": {
      "Type": "Task",
      "Comment": "Point-in-time restore within destination account (not cross-account)",
      "Resource": "arn:aws:states:::aws-sdk:rds:restoreDBClusterToPointInTime",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "SourceDBClusterIdentifier.$": "$.SourceDBClusterIdentifier",
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier",
        "RestoreType": "full-copy",
        "UseLatestRestorableTime": true,
        "DbSubnetGroupName.$": "$.DbSubnetGroupName",
        "VpcSecurityGroupIds.$": "$.VpcSecurityGroupIds",
        "DbClusterParameterGroupName.$": "$.DbClusterParameterGroupName",
        "Port.$": "$.Port",
        "KmsKeyId.$": "$.KmsKeyId",
        "CopyTagsToSnapshot": true,
        "EnableIAMDatabaseAuthentication": "False",
        "EnableCloudwatchLogsExports": [
          "audit",
          "error",
          "general",
          "slowquery"
        ],
        "DeletionProtection": false
      },
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Next": "WaitClusterRestore",
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["Rds.SnapshotNotFoundFault"],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "RestoreFailed" }]
    },
    "RestoreClusterToSpecificTime": {
      "Type": "Task",
      "Comment": "Point-in-time restore to specific time within destination account",
      "Resource": "arn:aws:states:::aws-sdk:rds:restoreDBClusterToPointInTime",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "SourceDBClusterIdentifier.$": "$.SourceDBClusterIdentifier",
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier",
        "RestoreType": "full-copy",
        "RestoreToTime.$": "$.RestoreToTime",
        "DbSubnetGroupName.$": "$.DbSubnetGroupName",
        "VpcSecurityGroupIds.$": "$.VpcSecurityGroupIds",
        "DbClusterParameterGroupName.$": "$.DbClusterParameterGroupName",
        "Port.$": "$.Port",
        "KmsKeyId.$": "$.KmsKeyId",
        "CopyTagsToSnapshot": true,
        "EnableIAMDatabaseAuthentication": false,
        "EnableCloudwatchLogsExports": [
          "audit",
          "error",
          "general",
          "slowquery"
        ],
        "DeletionProtection": false
      },
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Next": "WaitClusterRestore",
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["Rds.SnapshotNotFoundFault"],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "RestoreFailed" }]
    },
    "RestoreClusterFastClone": {
      "Type": "Task",
      "Comment": "Fast clone within destination account",
      "Resource": "arn:aws:states:::aws-sdk:rds:restoreDBClusterToPointInTime",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "SourceDBClusterIdentifier.$": "$.SourceDBClusterIdentifier",
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier",
        "RestoreType": "copy-on-write",
        "UseLatestRestorableTime": true,
        "DbSubnetGroupName.$": "$.DbSubnetGroupName",
        "VpcSecurityGroupIds.$": "$.VpcSecurityGroupIds",
        "DbClusterParameterGroupName.$": "$.DbClusterParameterGroupName",
        "Port.$": "$.Port",
        "KmsKeyId.$": "$.KmsKeyId",
        "CopyTagsToSnapshot": true,
        "EnableIAMDatabaseAuthentication": false,
        "EnableCloudwatchLogsExports": [
          "audit",
          "error",
          "general",
          "slowquery"
        ],
        "DeletionProtection": false
      },
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Next": "WaitClusterRestore",
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["Rds.SnapshotNotFoundFault"],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "RestoreFailed" }]
    },
    "WaitClusterRestore": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckClusterStatus"
    },
    "CheckClusterStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": { "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier" },
      "ResultPath": "$.ClusterStatus",
      "Next": "IsClusterAvailable"
    },
    "IsClusterAvailable": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ClusterStatus.DbClusters[0].Status",
          "StringEquals": "available",
          "Next": "PrepareOutput"
        }
      ],
      "Default": "WaitClusterRestore"
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "restore_cluster",
        "PrimaryIdentifier.$": "$.TmpDbClusterIdentifier",
        "SnapshotUsed.$": "$.SnapshotInfo.SnapshotIdentifier",
        "CrossAccountShared.$": "$.SnapshotInfo.Shared"
      },
      "Next": "RestoreSucceeded"
    },
    "InvalidRestoreType": {
      "Type": "Fail",
      "Error": "InvalidRestoreType",
      "Cause": "The 'RestoreType' parameter must be 'from-snapshot', 'point-in-time', or 'fast-clone'."
    },
    "RestoreFailed": {
      "Type": "Fail",
      "Error": "RestoreFailed",
      "Cause": "The database cluster restore process failed."
    },
    "RestoreSucceeded": {
      "Type": "Succeed"
    }
  }
}
