modules/step-functions/db/restore_cluster.asl.json
{
  "Comment": "Restore an RDS/Aurora cluster from snapshot or point-in-time. Uses prepare_snapshot_for_restore for same-account or cross-account snapshot preparation (copy + share).",
  "StartAt": "CheckExistingRestoreCluster",
  "States": {
    "CheckExistingRestoreCluster": {
      "Type": "Task",
      "Comment": "Check if a -restore cluster already exists from a previous incomplete refresh",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier"
      },
      "ResultPath": "$.ExistingRestoreCluster",
      "Next": "DeleteExistingRestoreInstances",
      "Catch": [
        {
          "ErrorEquals": [
            "Rds.DBClusterNotFoundFault",
            "Rds.DbClusterNotFoundException"
          ],
          "ResultPath": null,
          "Next": "ChooseRestoreType"
        }
      ]
    },
    "DeleteExistingRestoreInstances": {
      "Type": "Map",
      "Comment": "Delete all instances in the leftover -restore cluster before deleting the cluster itself",
      "ItemsPath": "$.ExistingRestoreCluster.DbClusters[0].DbClusterMembers",
      "ItemSelector": {
        "DbInstanceIdentifier.$": "$$.Map.Item.Value.DbInstanceIdentifier",
        "DestinationAccount.$": "$.DestinationAccount"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "DeleteRestoreInstance",
        "States": {
          "DeleteRestoreInstance": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:deleteDBInstance",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccount.RoleArn"
            },
            "Parameters": {
              "DbInstanceIdentifier.$": "$.DbInstanceIdentifier",
              "SkipFinalSnapshot": true,
              "DeleteAutomatedBackups": false
            },
            "ResultPath": null,
            "Next": "WaitRestoreInstanceDeletion",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.error",
                "Next": "WaitRestoreInstanceDeletion"
              }
            ]
          },
          "WaitRestoreInstanceDeletion": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "CheckRestoreInstanceDeletion"
          },
          "CheckRestoreInstanceDeletion": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:describeDBInstances",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccount.RoleArn"
            },
            "Parameters": {
              "DbInstanceIdentifier.$": "$.DbInstanceIdentifier"
            },
            "ResultPath": "$.InstanceCheck",
            "Next": "WaitRestoreInstanceDeletion",
            "Catch": [
              {
                "ErrorEquals": [
                  "Rds.DBInstanceNotFoundFault",
                  "Rds.DbInstanceNotFoundException"
                ],
                "Next": "RestoreInstanceDeleted"
              }
            ]
          },
          "RestoreInstanceDeleted": {
            "Type": "Succeed"
          }
        }
      },
      "ResultPath": "$.DeleteInstancesResult",
      "Next": "DeleteExistingRestoreCluster",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Error.DeleteRestoreInstances",
          "Next": "DeleteExistingRestoreCluster"
        }
      ]
    },
    "DeleteExistingRestoreCluster": {
      "Type": "Task",
      "Comment": "Delete the existing -restore cluster after its instances have been removed",
      "Resource": "arn:aws:states:::aws-sdk:rds:deleteDBCluster",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier",
        "SkipFinalSnapshot": true
      },
      "ResultPath": null,
      "Next": "WaitRestoreClusterDeleted",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.Error.DeleteRestoreCluster",
          "Next": "ChooseRestoreType"
        }
      ]
    },
    "WaitRestoreClusterDeleted": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckRestoreClusterDeleted"
    },
    "CheckRestoreClusterDeleted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier"
      },
      "ResultPath": "$.RestoreClusterCheck",
      "Next": "WaitRestoreClusterDeleted",
      "Catch": [
        {
          "ErrorEquals": [
            "Rds.DBClusterNotFoundFault",
            "Rds.DbClusterNotFoundException"
          ],
          "ResultPath": null,
          "Next": "ChooseRestoreType"
        }
      ]
    },
    "ChooseRestoreType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.RestoreType",
          "StringEquals": "from-snapshot",
          "Next": "SetDefaultSnapshotMode"
        },
        {
          "Variable": "$.RestoreType",
          "StringEquals": "point-in-time",
          "Next": "ChoosePointInTimeMethod"
        },
        {
          "Variable": "$.RestoreType",
          "StringEquals": "fast-clone",
          "Next": "RestoreClusterFastClone"
        }
      ],
      "Default": "InvalidRestoreType"
    },
    "ChoosePointInTimeMethod": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.UseLatestRestorableTime",
          "BooleanEquals": true,
          "Next": "RestoreClusterToPointInTime"
        }
      ],
      "Default": "RestoreClusterToSpecificTime"
    },
    "SetDefaultSnapshotMode": {
      "Type": "Pass",
      "Comment": "Set default SnapshotMode to copy-latest if not provided",
      "Parameters": {
        "SnapshotMode": "copy-latest"
      },
      "ResultPath": "$.Defaults",
      "Next": "PrepareSnapshot"
    },
    "PrepareSnapshot": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Call prepare_snapshot_for_restore to handle same-account or cross-account snapshot preparation. Uses $merge to conditionally include optional fields (SourceSnapshot, ProxyLambdaArn).",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "{% $states.input.PrepareSnapshotStateMachineArn %}",
        "Input": "{% $merge([{'SourceAccount': $states.input.SourceAccount, 'DestinationAccount': $states.input.DestinationAccount, 'SourceDBClusterIdentifier': $states.input.SourceDBClusterIdentifier, 'Mode': $states.input.SnapshotMode ? $states.input.SnapshotMode : 'copy-latest'}, $exists($states.input.SourceSnapshot) ? {'SourceSnapshot': $states.input.SourceSnapshot} : {}, $exists($states.input.ProxyLambdaArn) ? {'ProxyLambdaArn': $states.input.ProxyLambdaArn} : {}]) %}"
      },
      "Output": "{% $merge([$states.input, {'SnapshotInfo': {'SnapshotIdentifier': $states.result.Output.SnapshotIdentifier, 'SnapshotArn': $states.result.Output.SnapshotArn, 'EngineVersion': $states.result.Output.EngineVersion, 'Shared': $states.result.Output.Shared}}]) %}",
      "Next": "IsServerless",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Output": "{% $merge([$states.input, {'Error': {'PrepareSnapshot': $states.errorOutput}}]) %}",
          "Next": "RestoreFailed"
        }
      ]
    },
    "IsServerless": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DbInstanceClass",
          "StringEquals": "db.serverless",
          "Next": "RestoreServerlessClusterFromSnapshot"
        }
      ],
      "Default": "RestoreStandardClusterFromSnapshot"
    },
    "RestoreStandardClusterFromSnapshot": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Restore cluster from shared snapshot in destination account",
      "Resource": "arn:aws:states:::aws-sdk:rds:restoreDBClusterFromSnapshot",
      "Credentials": {
        "RoleArn": "{% $states.input.DestinationAccount.RoleArn %}"
      },
      "Arguments": "{% $merge([{'DbClusterIdentifier': $states.input.TmpDbClusterIdentifier, 'SnapshotIdentifier': $states.input.SnapshotInfo.SnapshotArn, 'Engine': 'aurora-mysql', 'EngineVersion': $states.input.SnapshotInfo.EngineVersion, 'DbSubnetGroupName': $states.input.DbSubnetGroupName, 'VpcSecurityGroupIds': $states.input.VpcSecurityGroupIds, 'DbClusterParameterGroupName': $states.input.DbClusterParameterGroupName, 'CopyTagsToSnapshot': true, 'EnableIAMDatabaseAuthentication': 'False', 'EnableCloudwatchLogsExports': ['audit','error','general','slowquery'], 'DeletionProtection': false}, $exists($states.input.KmsKeyId) and $states.input.KmsKeyId != '' and $states.input.KmsKeyId != null ? {'KmsKeyId': $states.input.KmsKeyId} : {}]) %}",
      "Output": "{% $states.input %}",
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Next": "WaitClusterRestore",
      "Retry": [
        {
          "ErrorEquals": [
            "Rds.SnapshotNotFoundFault"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "RestoreFailed"
        }
      ]
    },
    "RestoreServerlessClusterFromSnapshot": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Restore serverless cluster from shared snapshot in destination account",
      "Resource": "arn:aws:states:::aws-sdk:rds:restoreDBClusterFromSnapshot",
      "Credentials": {
        "RoleArn": "{% $states.input.DestinationAccount.RoleArn %}"
      },
      "Arguments": "{% $merge([{'DbClusterIdentifier': $states.input.TmpDbClusterIdentifier, 'SnapshotIdentifier': $states.input.SnapshotInfo.SnapshotArn, 'Engine': 'aurora-mysql', 'EngineVersion': $states.input.SnapshotInfo.EngineVersion, 'DbSubnetGroupName': $states.input.DbSubnetGroupName, 'VpcSecurityGroupIds': $states.input.VpcSecurityGroupIds, 'DbClusterParameterGroupName': $states.input.DbClusterParameterGroupName, 'ServerlessV2ScalingConfiguration': {'MinCapacity': $states.input.AuroraServerlessMinCapacity, 'MaxCapacity': $states.input.AuroraServerlessMaxCapacity}, 'CopyTagsToSnapshot': true, 'EnableIAMDatabaseAuthentication': false, 'EnableCloudwatchLogsExports': ['audit','error','general','slowquery'], 'DeletionProtection': false}, $exists($states.input.KmsKeyId) and $states.input.KmsKeyId != '' and $states.input.KmsKeyId != null ? {'KmsKeyId': $states.input.KmsKeyId} : {}]) %}",
      "Output": "{% $states.input %}",
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Next": "WaitClusterRestore",
      "Retry": [
        {
          "ErrorEquals": [
            "Rds.SnapshotNotFoundFault"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "RestoreFailed"
        }
      ]
    },
    "RestoreClusterToPointInTime": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Point-in-time restore within destination account (not cross-account)",
      "Resource": "arn:aws:states:::aws-sdk:rds:restoreDBClusterToPointInTime",
      "Credentials": {
        "RoleArn": "{% $states.input.DestinationAccount.RoleArn %}"
      },
      "Arguments": "{% $merge([{'SourceDBClusterIdentifier': $states.input.SourceDBClusterIdentifier, 'DbClusterIdentifier': $states.input.TmpDbClusterIdentifier, 'RestoreType': 'full-copy', 'UseLatestRestorableTime': true, 'DbSubnetGroupName': $states.input.DbSubnetGroupName, 'VpcSecurityGroupIds': $states.input.VpcSecurityGroupIds, 'DbClusterParameterGroupName': $states.input.DbClusterParameterGroupName, 'Port': $states.input.Port, 'CopyTagsToSnapshot': true, 'EnableIAMDatabaseAuthentication': false, 'EnableCloudwatchLogsExports': ['audit','error','general','slowquery'], 'DeletionProtection': false}, $exists($states.input.KmsKeyId) and $states.input.KmsKeyId != '' and $states.input.KmsKeyId != null ? {'KmsKeyId': $states.input.KmsKeyId} : {}]) %}",
      "Output": "{% $states.input %}",
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Next": "WaitClusterRestore",
      "Retry": [
        {
          "ErrorEquals": [
            "Rds.SnapshotNotFoundFault"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "RestoreFailed"
        }
      ]
    },
    "RestoreClusterToSpecificTime": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Point-in-time restore to specific time within destination account",
      "Resource": "arn:aws:states:::aws-sdk:rds:restoreDBClusterToPointInTime",
      "Credentials": {
        "RoleArn": "{% $states.input.DestinationAccount.RoleArn %}"
      },
      "Arguments": "{% $merge([{'SourceDBClusterIdentifier': $states.input.SourceDBClusterIdentifier, 'DbClusterIdentifier': $states.input.TmpDbClusterIdentifier, 'RestoreType': 'full-copy', 'RestoreToTime': $states.input.RestoreToTime, 'DbSubnetGroupName': $states.input.DbSubnetGroupName, 'VpcSecurityGroupIds': $states.input.VpcSecurityGroupIds, 'DbClusterParameterGroupName': $states.input.DbClusterParameterGroupName, 'Port': $states.input.Port, 'CopyTagsToSnapshot': true, 'EnableIAMDatabaseAuthentication': false, 'EnableCloudwatchLogsExports': ['audit','error','general','slowquery'], 'DeletionProtection': false}, $exists($states.input.KmsKeyId) and $states.input.KmsKeyId != '' and $states.input.KmsKeyId != null ? {'KmsKeyId': $states.input.KmsKeyId} : {}]) %}",
      "Output": "{% $states.input %}",
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Next": "WaitClusterRestore",
      "Retry": [
        {
          "ErrorEquals": [
            "Rds.SnapshotNotFoundFault"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "RestoreFailed"
        }
      ]
    },
    "RestoreClusterFastClone": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Fast clone within destination account",
      "Resource": "arn:aws:states:::aws-sdk:rds:restoreDBClusterToPointInTime",
      "Credentials": {
        "RoleArn": "{% $states.input.DestinationAccount.RoleArn %}"
      },
      "Arguments": "{% $merge([{'SourceDBClusterIdentifier': $states.input.SourceDBClusterIdentifier, 'DbClusterIdentifier': $states.input.TmpDbClusterIdentifier, 'RestoreType': 'copy-on-write', 'UseLatestRestorableTime': true, 'DbSubnetGroupName': $states.input.DbSubnetGroupName, 'VpcSecurityGroupIds': $states.input.VpcSecurityGroupIds, 'DbClusterParameterGroupName': $states.input.DbClusterParameterGroupName, 'Port': $states.input.Port, 'CopyTagsToSnapshot': true, 'EnableIAMDatabaseAuthentication': false, 'EnableCloudwatchLogsExports': ['audit','error','general','slowquery'], 'DeletionProtection': false}, $exists($states.input.KmsKeyId) and $states.input.KmsKeyId != '' and $states.input.KmsKeyId != null ? {'KmsKeyId': $states.input.KmsKeyId} : {}]) %}",
      "Output": "{% $states.input %}",
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Next": "WaitClusterRestore",
      "Retry": [
        {
          "ErrorEquals": [
            "Rds.SnapshotNotFoundFault"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "RestoreFailed"
        }
      ]
    },
    "WaitClusterRestore": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckClusterStatus"
    },
    "CheckClusterStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier"
      },
      "ResultPath": "$.ClusterStatus",
      "Next": "IsClusterAvailable"
    },
    "IsClusterAvailable": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ClusterStatus.DbClusters[0].Status",
          "StringEquals": "available",
          "Next": "CheckModifyClusterSettings"
        }
      ],
      "Default": "WaitClusterRestore"
    },
    "CheckModifyClusterSettings": {
      "Type": "Choice",
      "Comment": "Apply post-restore cluster settings if ClusterSettings is provided in input",
      "Choices": [
        {
          "Variable": "$.ClusterSettings",
          "IsPresent": true,
          "Next": "ModifyClusterSettings"
        }
      ],
      "Default": "CheckTagCluster"
    },
    "ModifyClusterSettings": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Apply cluster settings (backup retention, maintenance windows, performance insights, cloudwatch logs) that cannot be set at restore time",
      "Resource": "arn:aws:states:::aws-sdk:rds:modifyDBCluster",
      "Credentials": {
        "RoleArn": "{% $states.input.DestinationAccount.RoleArn %}"
      },
      "Arguments": "{% ( $settings := $states.input.ClusterSettings; $params := {'DbClusterIdentifier': $states.input.TmpDbClusterIdentifier, 'ApplyImmediately': true}; $params := $exists($settings.BackupRetentionPeriod) ? $merge([$params, {'BackupRetentionPeriod': $settings.BackupRetentionPeriod}]) : $params; $params := $exists($settings.PreferredBackupWindow) ? $merge([$params, {'PreferredBackupWindow': $settings.PreferredBackupWindow}]) : $params; $params := $exists($settings.PreferredMaintenanceWindow) ? $merge([$params, {'PreferredMaintenanceWindow': $settings.PreferredMaintenanceWindow}]) : $params; $params := $exists($settings.EnablePerformanceInsights) ? $merge([$params, {'EnablePerformanceInsights': $settings.EnablePerformanceInsights}]) : $params; $params := $exists($settings.PerformanceInsightsKMSKeyId) and $settings.EnablePerformanceInsights ? $merge([$params, {'PerformanceInsightsKMSKeyId': $settings.PerformanceInsightsKMSKeyId}]) : $params; $params := $exists($settings.CloudwatchLogsExports) ? $merge([$params, {'CloudwatchLogsExportConfiguration': {'DisableLogTypes': ['audit', 'error', 'general', 'slowquery'], 'EnableLogTypes': $settings.CloudwatchLogsExports}}]) : $params; $params ) %}",
      "Output": "{% $states.input %}",
      "Next": "WaitModifyComplete",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Output": "{% $merge([$states.input, {'ModifyError': $states.errorOutput}]) %}",
          "Comment": "Don't fail the restore for modify errors - settings can be applied later via IaC",
          "Next": "CheckTagCluster"
        }
      ]
    },
    "WaitModifyComplete": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "CheckModifyStatus"
    },
    "CheckModifyStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.TmpDbClusterIdentifier"
      },
      "ResultPath": "$.ModifyCheckResult",
      "Next": "IsModifyComplete",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.ModifyCheckError",
          "Next": "CheckTagCluster"
        }
      ]
    },
    "IsModifyComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ModifyCheckResult.DbClusters[0].Status",
          "StringEquals": "available",
          "Next": "CheckTagCluster"
        }
      ],
      "Default": "WaitModifyComplete"
    },
    "CheckTagCluster": {
      "Type": "Choice",
      "QueryLanguage": "JSONata",
      "Comment": "Tag restored cluster with destination tags if provided. Overrides source (PRD) tags with destination (PPD/STG) values to prevent Terraform drift.",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.Tags) and $type($states.input.Tags) = 'object' and $count($keys($states.input.Tags)) > 0 %}",
          "Next": "TagRestoredCluster"
        }
      ],
      "Default": "PrepareOutput"
    },
    "TagRestoredCluster": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Apply destination tags to restored cluster. Non-blocking: continues to PrepareOutput on error.",
      "Resource": "arn:aws:states:::aws-sdk:rds:addTagsToResource",
      "Credentials": {
        "RoleArn": "{% $states.input.DestinationAccount.RoleArn %}"
      },
      "Arguments": {
        "ResourceName": "{% 'arn:aws:rds:' & $split($states.context.StateMachine.Id, ':')[3] & ':' & $states.input.DestinationAccount.AccountId & ':cluster:' & $states.input.TmpDbClusterIdentifier %}",
        "Tags": "{% $each($states.input.Tags, function($v, $k) { {'Key': $k, 'Value': $v} }) %}"
      },
      "Output": "{% $states.input %}",
      "Next": "PrepareOutput",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Output": "{% $merge([$states.input, {'TagError': $states.errorOutput}]) %}",
          "Comment": "Non-blocking: tag errors do not fail the restore",
          "Next": "PrepareOutput"
        }
      ]
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "restore_cluster",
        "PrimaryIdentifier.$": "$.TmpDbClusterIdentifier",
        "SnapshotUsed.$": "$.SnapshotInfo.SnapshotIdentifier",
        "CrossAccountShared.$": "$.SnapshotInfo.Shared"
      },
      "Next": "RestoreSucceeded"
    },
    "InvalidRestoreType": {
      "Type": "Fail",
      "Error": "InvalidRestoreType",
      "Cause": "The 'RestoreType' parameter must be 'from-snapshot', 'point-in-time', or 'fast-clone'."
    },
    "RestoreFailed": {
      "Type": "Fail",
      "Error": "RestoreFailed",
      "Cause": "The database cluster restore process failed."
    },
    "RestoreSucceeded": {
      "Type": "Succeed"
    }
  }
}
