modules/step-functions/db/rotate_secrets.asl.json
{
  "Comment": "Syncs database user secrets from source to destination with endpoint update. Optionally rotates passwords via Lambda. Input: {DbClusterIdentifier, DatabaseUsersSecrets[], Rotate?, RotationLambdaName?, KmsKeyId?, Region?, DestinationAccount}",
  "StartAt": "PrepareContext",
  "States": {
    "PrepareContext": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Build context with optional RotationLambdaARN (only if Rotate=true and RotationLambdaName provided)",
      "Output": "{% $merge([$states.input, {'Rotate': $exists($states.input.Rotate) ? $states.input.Rotate : false}, $exists($states.input.RotationLambdaName) and $states.input.RotationLambdaName != '' and $exists($states.input.Region) ? {'RotationLambdaARN': 'arn:aws:lambda:' & $states.input.Region & ':' & $states.input.DestinationAccount.AccountId & ':function:' & $states.input.RotationLambdaName} : {}]) %}",
      "Next": "GetClusterEndpoint"
    },
    "GetClusterEndpoint": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier"
      },
      "ResultSelector": {
        "Endpoint.$": "$.DbClusters[0].Endpoint",
        "ReaderEndpoint.$": "$.DbClusters[0].ReaderEndpoint",
        "Port.$": "$.DbClusters[0].Port",
        "Engine.$": "$.DbClusters[0].Engine",
        "MasterUsername.$": "$.DbClusters[0].MasterUsername",
        "MasterUserSecret.$": "$.DbClusters[0].MasterUserSecret"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "SyncUserSecretsMap",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.ClusterError",
        "Next": "SyncFailed"
      }]
    },
    "SyncUserSecretsMap": {
      "Type": "Map",
      "QueryLanguage": "JSONata",
      "Items": "{% $states.input.DatabaseUsersSecrets %}",
      "MaxConcurrency": 1,
      "ItemSelector": "{% $merge([{'SecretId': $states.context.Map.Item.Value.SecretId, 'SourceSecretId': $states.context.Map.Item.Value.SourceSecretId, 'Username': $states.context.Map.Item.Value.Username, 'Rotate': $states.input.Rotate, 'ClusterEndpoint': $states.input.ClusterInfo.Endpoint, 'ReaderEndpoint': $states.input.ClusterInfo.ReaderEndpoint, 'ClusterPort': $states.input.ClusterInfo.Port, 'Engine': $states.input.ClusterInfo.Engine, 'DbClusterIdentifier': $states.input.DbClusterIdentifier, 'DatabaseName': $states.context.Map.Item.Value.DatabaseName, 'JdbcOptions': 'useSSL=true&requireSSL=true', 'DestinationAccountRoleArn': $states.input.DestinationAccount.RoleArn, 'SourceAccountRoleArn': $states.input.SourceAccount.RoleArn}, $exists($states.input.KmsKeyId) ? {'KmsKeyId': $states.input.KmsKeyId} : {}, $exists($states.input.RotationLambdaARN) ? {'RotationLambdaARN': $states.input.RotationLambdaARN} : {'RotationLambdaARN': ''}, $exists($states.input.ClusterInfo.MasterUserSecret.SecretArn) ? {'MasterArn': $states.input.ClusterInfo.MasterUserSecret.SecretArn} : {'MasterArn': ''}]) %}",
      "ItemProcessor": {
        "ProcessorConfig": { "Mode": "INLINE" },
        "StartAt": "GetSourceSecretValue",
        "States": {
          "GetSourceSecretValue": {
            "Type": "Task",
            "Comment": "Read source secret (PROD) to get current password",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
            "Credentials": {
              "RoleArn.$": "$.SourceAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SourceSecretId"
            },
            "ResultPath": "$.SourceSecret",
            "Next": "GetTargetSecretValue",
            "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "SyncForItemFailed" }]
          },
          "GetTargetSecretValue": {
            "Type": "Task",
            "Comment": "Read destination secret to check if it exists",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SecretId"
            },
            "ResultPath": "$.TargetSecret",
            "Next": "ParseSourceSecret",
            "Catch": [
              {
                "ErrorEquals": ["SecretsManager.ResourceNotFoundException"],
                "Next": "PrepareNewSecret"
              }
            ]
          },
          "ParseSourceSecret": {
            "Type": "Pass",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "SourceSecretParsed.$": "States.StringToJson($.SourceSecret.SecretString)",
              "ClusterEndpoint.$": "$.ClusterEndpoint",
              "ReaderEndpoint.$": "$.ReaderEndpoint",
              "ClusterPort.$": "$.ClusterPort",
              "Engine.$": "$.Engine",
              "MasterArn.$": "$.MasterArn",
              "DbClusterIdentifier.$": "$.DbClusterIdentifier",
              "DatabaseName.$": "$.DatabaseName",
              "JdbcOptions.$": "$.JdbcOptions",
              "Rotate.$": "$.Rotate",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "UpdateSecretWithEndpoint"
          },
          "UpdateSecretWithEndpoint": {
            "Type": "Pass",
            "Comment": "Rebuild secret: password from source, endpoints from destination cluster",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "UpdatedSecret": {
                "username.$": "$.SourceSecretParsed.username",
                "password.$": "$.SourceSecretParsed.password",
                "engine.$": "$.Engine",
                "host.$": "$.ClusterEndpoint",
                "host_ro.$": "$.ReaderEndpoint",
                "port.$": "$.ClusterPort",
                "dbname.$": "$.DatabaseName",
                "jdbcUrl.$": "States.Format('jdbc:mysql://{}/{}?{}', $.ClusterEndpoint, $.DatabaseName, $.JdbcOptions)",
                "jdbcReadOnlyUrl.$": "States.Format('jdbc:mysql://{}/{}?{}', $.ReaderEndpoint, $.DatabaseName, $.JdbcOptions)",
                "masterarn.$": "$.MasterArn",
                "dbClusterIdentifier.$": "$.DbClusterIdentifier"
              },
              "Rotate.$": "$.Rotate",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "StringifySecret"
          },
          "StringifySecret": {
            "Type": "Pass",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "UpdatedSecretString.$": "States.JsonToString($.UpdatedSecret)",
              "Rotate.$": "$.Rotate",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "UpdateSecret"
          },
          "UpdateSecret": {
            "Type": "Task",
            "Comment": "Write synced secret to destination",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:putSecretValue",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "SecretString.$": "$.UpdatedSecretString"
            },
            "ResultPath": null,
            "Next": "CheckRotateOption",
            "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "SyncForItemFailed" }]
          },
          "CheckRotateOption": {
            "Type": "Choice",
            "Comment": "Only call rotation Lambda if Rotate=true and RotationLambdaARN is set",
            "Choices": [
              {
                "And": [
                  { "Variable": "$.Rotate", "BooleanEquals": true },
                  { "Variable": "$.RotationLambdaARN", "IsPresent": true },
                  { "Not": { "Variable": "$.RotationLambdaARN", "StringEquals": "" } }
                ],
                "Next": "RotateSecret"
              }
            ],
            "Default": "ItemComplete"
          },
          "RotateSecret": {
            "Type": "Task",
            "Comment": "Trigger password rotation via Lambda (generates new password in DB + secret)",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:rotateSecret",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "RotateImmediately": true
            },
            "Next": "ItemComplete"
          },
          "PrepareNewSecret": {
            "Type": "Pass",
            "Comment": "Secret doesn't exist yet - create it",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "SourceSecretParsed.$": "States.StringToJson($.SourceSecret.SecretString)",
              "ClusterEndpoint.$": "$.ClusterEndpoint",
              "ReaderEndpoint.$": "$.ReaderEndpoint",
              "ClusterPort.$": "$.ClusterPort",
              "Engine.$": "$.Engine",
              "MasterArn.$": "$.MasterArn",
              "DbClusterIdentifier.$": "$.DbClusterIdentifier",
              "DatabaseName.$": "$.DatabaseName",
              "JdbcOptions.$": "$.JdbcOptions",
              "KmsKeyId.$": "$.KmsKeyId",
              "Rotate.$": "$.Rotate",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "BuildNewSecret"
          },
          "BuildNewSecret": {
            "Type": "Pass",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "NewSecret": {
                "username.$": "$.SourceSecretParsed.username",
                "password.$": "$.SourceSecretParsed.password",
                "engine.$": "$.Engine",
                "host.$": "$.ClusterEndpoint",
                "host_ro.$": "$.ReaderEndpoint",
                "port.$": "$.ClusterPort",
                "dbname.$": "$.DatabaseName",
                "jdbcUrl.$": "States.Format('jdbc:mysql://{}/{}?{}', $.ClusterEndpoint, $.DatabaseName, $.JdbcOptions)",
                "jdbcReadOnlyUrl.$": "States.Format('jdbc:mysql://{}/{}?{}', $.ReaderEndpoint, $.DatabaseName, $.JdbcOptions)",
                "masterarn.$": "$.MasterArn",
                "dbClusterIdentifier.$": "$.DbClusterIdentifier"
              },
              "KmsKeyId.$": "$.KmsKeyId",
              "Rotate.$": "$.Rotate",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "StringifyNewSecret"
          },
          "StringifyNewSecret": {
            "Type": "Pass",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "NewSecretString.$": "States.JsonToString($.NewSecret)",
              "KmsKeyId.$": "$.KmsKeyId",
              "Rotate.$": "$.Rotate",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "CreateSecret"
          },
          "CreateSecret": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:createSecret",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "Name.$": "$.SecretId",
              "SecretString.$": "$.NewSecretString",
              "KmsKeyId.$": "$.KmsKeyId"
            },
            "ResultPath": null,
            "Next": "CheckRotateOption",
            "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "SyncForItemFailed" }]
          },
          "ItemComplete": {
            "Type": "Succeed"
          },
          "SyncForItemFailed": {
            "Type": "Fail",
            "Error": "SyncForItemFailed"
          }
        }
      },
      "Next": "PrepareOutput",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "SyncFailed" }],
      "ResultPath": "$.MapResult"
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "rotate_secrets",
        "PrimaryIdentifier.$": "$.DbClusterIdentifier"
      },
      "Next": "SyncSucceeded"
    },
    "SyncFailed": {
      "Type": "Fail",
      "Error": "SecretSyncFailed",
      "Cause": "The secret sync/rotation process failed for one or more secrets."
    },
    "SyncSucceeded": {
      "Type": "Succeed"
    }
  }
}
