modules/step-functions/db/rotate_secrets.asl.json
{
  "Comment": "Syncs database user secrets from source to destination with endpoint update. Optionally rotates passwords via Lambda and refreshes K8s ExternalSecrets. Input: {DbClusterIdentifier, DatabaseUsersSecrets[], Rotate?, RotationLambdaName?, KmsKeyId?, Region?, SourceAccount, DestinationAccount, RefreshExternalSecrets?, K8sProxyLambdaArn?, EKS?}",
  "StartAt": "PrepareContext",
  "States": {
    "PrepareContext": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Build context with optional RotationLambdaARN (only if Rotate=true and RotationLambdaName provided)",
      "Output": "{% $merge([$states.input, {'Rotate': $exists($states.input.Rotate) ? $states.input.Rotate : false}, $exists($states.input.RotationLambdaName) and $states.input.RotationLambdaName != '' and $exists($states.input.Region) ? {'RotationLambdaARN': 'arn:aws:lambda:' & $states.input.Region & ':' & $states.input.DestinationAccount.AccountId & ':function:' & $states.input.RotationLambdaName} : {}]) %}",
      "Next": "GetClusterEndpoint"
    },
    "GetClusterEndpoint": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier"
      },
      "ResultSelector": {
        "Endpoint.$": "$.DbClusters[0].Endpoint",
        "ReaderEndpoint.$": "$.DbClusters[0].ReaderEndpoint",
        "Port.$": "$.DbClusters[0].Port",
        "Engine.$": "$.DbClusters[0].Engine",
        "MasterUsername.$": "$.DbClusters[0].MasterUsername",
        "MasterUserSecret.$": "$.DbClusters[0].MasterUserSecret"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "SyncUserSecretsMap",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.ClusterError",
          "Next": "SyncFailed"
        }
      ]
    },
    "SyncUserSecretsMap": {
      "Type": "Map",
      "QueryLanguage": "JSONata",
      "Items": "{% $states.input.DatabaseUsersSecrets %}",
      "MaxConcurrency": 1,
      "ItemSelector": "{% $merge([{'SecretId': $states.context.Map.Item.Value.SecretId, 'SourceSecretId': $states.context.Map.Item.Value.SourceSecretId, 'Username': $states.context.Map.Item.Value.Username, 'Rotate': $states.input.Rotate, 'ClusterEndpoint': $states.input.ClusterInfo.Endpoint, 'ReaderEndpoint': $states.input.ClusterInfo.ReaderEndpoint, 'ClusterPort': $states.input.ClusterInfo.Port, 'Engine': $states.input.ClusterInfo.Engine, 'DbClusterIdentifier': $states.input.DbClusterIdentifier, 'DatabaseName': $states.context.Map.Item.Value.DatabaseName, 'JdbcOptions': 'useSSL=true&requireSSL=true', 'DestinationAccountRoleArn': $states.input.DestinationAccount.RoleArn, 'SourceAccountRoleArn': $states.input.SourceAccount.RoleArn, 'RefreshExternalSecrets': $exists($states.input.RefreshExternalSecrets) ? $states.input.RefreshExternalSecrets : false}, $exists($states.context.Map.Item.Value.ExternalSecretName) and $states.context.Map.Item.Value.ExternalSecretName != '' ? {'ExternalSecretName': $states.context.Map.Item.Value.ExternalSecretName} : {}, $exists($states.input.K8sProxyLambdaArn) ? {'K8sProxyLambdaArn': $states.input.K8sProxyLambdaArn} : {}, $exists($states.input.EKS.ClusterName) ? {'EksClusterName': $states.input.EKS.ClusterName, 'EksNamespace': $states.input.EKS.Namespace} : {}, $exists($states.input.KmsKeyId) ? {'KmsKeyId': $states.input.KmsKeyId} : {}, $exists($states.input.RotationLambdaARN) ? {'RotationLambdaARN': $states.input.RotationLambdaARN} : {'RotationLambdaARN': ''}, $exists($states.input.ClusterInfo.MasterUserSecret.SecretArn) ? {'MasterArn': $states.input.ClusterInfo.MasterUserSecret.SecretArn} : {'MasterArn': ''}]) %}",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "GetSourceSecretValue",
        "States": {
          "GetSourceSecretValue": {
            "Type": "Task",
            "Comment": "Read source secret (PROD) to get current password",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
            "Credentials": {
              "RoleArn.$": "$.SourceAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SourceSecretId"
            },
            "ResultPath": "$.SourceSecret",
            "Next": "GetTargetSecretValue",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "SyncForItemFailed"
              }
            ],
            "QueryLanguage": "JSONPath"
          },
          "GetTargetSecretValue": {
            "Type": "Task",
            "Comment": "Read destination secret to check if it exists",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SecretId"
            },
            "ResultPath": "$.TargetSecret",
            "Next": "ParseSourceSecret",
            "Catch": [
              {
                "ErrorEquals": [
                  "SecretsManager.ResourceNotFoundException"
                ],
                "Next": "PrepareNewSecret"
              }
            ],
            "QueryLanguage": "JSONPath"
          },
          "ParseSourceSecret": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.input, {'SourceSecretParsed': $parse($states.input.SourceSecret.SecretString)}]) %}",
            "Next": "UpdateSecretWithEndpoint"
          },
          "UpdateSecretWithEndpoint": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Comment": "Rebuild secret: password from source, endpoints from destination cluster",
            "Output": "{% $merge([$states.input, {'UpdatedSecret': {'username': $states.input.SourceSecretParsed.username, 'password': $states.input.SourceSecretParsed.password, 'engine': $states.input.Engine, 'host': $states.input.ClusterEndpoint, 'host_ro': $states.input.ReaderEndpoint, 'port': $states.input.ClusterPort, 'dbname': $states.input.DatabaseName, 'jdbcUrl': 'jdbc:mysql://' & $states.input.ClusterEndpoint & '/' & $states.input.DatabaseName & '?' & $states.input.JdbcOptions, 'jdbcReadOnlyUrl': 'jdbc:mysql://' & $states.input.ReaderEndpoint & '/' & $states.input.DatabaseName & '?' & $states.input.JdbcOptions, 'masterarn': $states.input.MasterArn, 'dbClusterIdentifier': $states.input.DbClusterIdentifier}}]) %}",
            "Next": "StringifySecret"
          },
          "StringifySecret": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.input, {'UpdatedSecretString': $string($states.input.UpdatedSecret)}]) %}",
            "Next": "UpdateSecret"
          },
          "UpdateSecret": {
            "Type": "Task",
            "Comment": "Write synced secret to destination",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:putSecretValue",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "SecretString.$": "$.UpdatedSecretString"
            },
            "ResultPath": null,
            "Next": "CheckRotateOption",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "SyncForItemFailed"
              }
            ],
            "QueryLanguage": "JSONPath"
          },
          "CheckRotateOption": {
            "Type": "Choice",
            "Comment": "Only call rotation Lambda if Rotate=true and RotationLambdaARN is set",
            "Choices": [
              {
                "And": [
                  {
                    "Variable": "$.Rotate",
                    "BooleanEquals": true
                  },
                  {
                    "Variable": "$.RotationLambdaARN",
                    "IsPresent": true
                  },
                  {
                    "Not": {
                      "Variable": "$.RotationLambdaARN",
                      "StringEquals": ""
                    }
                  }
                ],
                "Next": "RotateSecret"
              }
            ],
            "Default": "CheckRefreshExternalSecret"
          },
          "RotateSecret": {
            "Type": "Task",
            "Comment": "Trigger password rotation via Lambda (generates new password in DB + secret)",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:rotateSecret",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "RotateImmediately": true
            },
            "ResultPath": null,
            "Next": "CheckRefreshExternalSecret",
            "QueryLanguage": "JSONPath"
          },
          "CheckRefreshExternalSecret": {
            "Type": "Choice",
            "Comment": "Annotate ExternalSecret in K8s if RefreshExternalSecrets=true and ExternalSecretName is set",
            "Choices": [
              {
                "And": [
                  {
                    "Variable": "$.RefreshExternalSecrets",
                    "BooleanEquals": true
                  },
                  {
                    "Variable": "$.ExternalSecretName",
                    "IsPresent": true
                  },
                  {
                    "Variable": "$.K8sProxyLambdaArn",
                    "IsPresent": true
                  },
                  {
                    "Variable": "$.EksClusterName",
                    "IsPresent": true
                  }
                ],
                "Next": "AnnotateExternalSecret"
              }
            ],
            "Default": "ItemComplete"
          },
          "AnnotateExternalSecret": {
            "Type": "Task",
            "Comment": "PATCH ExternalSecret to force immediate reconciliation from Secrets Manager",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName.$": "$.K8sProxyLambdaArn",
              "Payload": {
                "Action": "call",
                "ClusterName.$": "$.EksClusterName",
                "Method": "PATCH",
                "Path.$": "States.Format('/apis/external-secrets.io/v1/namespaces/{}/externalsecrets/{}', $.EksNamespace, $.ExternalSecretName)",
                "RequestBody": {
                  "metadata": {
                    "annotations": {
                      "force-sync": "refresh-orchestrator"
                    }
                  }
                },
                "ContentType": "application/merge-patch+json"
              }
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": null,
            "Next": "ItemComplete",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": null,
                "Comment": "Non-blocking: continue even if annotation fails",
                "Next": "ItemComplete"
              }
            ],
            "QueryLanguage": "JSONPath"
          },
          "PrepareNewSecret": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Comment": "Secret doesn't exist yet - parse source and create it",
            "Output": "{% $merge([$states.input, {'SourceSecretParsed': $parse($states.input.SourceSecret.SecretString)}]) %}",
            "Next": "BuildNewSecret"
          },
          "BuildNewSecret": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.input, {'NewSecret': {'username': $states.input.SourceSecretParsed.username, 'password': $states.input.SourceSecretParsed.password, 'engine': $states.input.Engine, 'host': $states.input.ClusterEndpoint, 'host_ro': $states.input.ReaderEndpoint, 'port': $states.input.ClusterPort, 'dbname': $states.input.DatabaseName, 'jdbcUrl': 'jdbc:mysql://' & $states.input.ClusterEndpoint & '/' & $states.input.DatabaseName & '?' & $states.input.JdbcOptions, 'jdbcReadOnlyUrl': 'jdbc:mysql://' & $states.input.ReaderEndpoint & '/' & $states.input.DatabaseName & '?' & $states.input.JdbcOptions, 'masterarn': $states.input.MasterArn, 'dbClusterIdentifier': $states.input.DbClusterIdentifier}}]) %}",
            "Next": "StringifyNewSecret"
          },
          "StringifyNewSecret": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.input, {'NewSecretString': $string($states.input.NewSecret)}]) %}",
            "Next": "CreateSecret"
          },
          "CreateSecret": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:createSecret",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "Name.$": "$.SecretId",
              "SecretString.$": "$.NewSecretString",
              "KmsKeyId.$": "$.KmsKeyId"
            },
            "ResultPath": null,
            "Next": "CheckRotateOption",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "SyncForItemFailed"
              }
            ],
            "QueryLanguage": "JSONPath"
          },
          "ItemComplete": {
            "Type": "Succeed"
          },
          "SyncForItemFailed": {
            "Type": "Fail",
            "Error": "SyncForItemFailed"
          }
        }
      },
      "Output": "{% $states.input %}",
      "Next": "PrepareOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Output": "{% $merge([$states.input, {'MapError': $states.errorOutput}]) %}",
          "Next": "SyncFailed"
        }
      ]
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "rotate_secrets",
        "PrimaryIdentifier.$": "$.DbClusterIdentifier"
      },
      "Next": "SyncSucceeded"
    },
    "SyncFailed": {
      "Type": "Fail",
      "Error": "SecretSyncFailed",
      "Cause": "The secret sync/rotation process failed for one or more secrets."
    },
    "SyncSucceeded": {
      "Type": "Succeed"
    }
  }
}
