modules/step-functions/db/run_mysqldump_on_eks.asl.json
{
  "Comment": "Cross-account version: Runs a mysqldump command for a list of tables in an EKS job, saving the output to EFS. Supports both public (eks:runJob.sync) and private (k8s-proxy Lambda) access modes.",
  "StartAt": "InitDefaults",
  "States": {
    "InitDefaults": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Default CleanupJobs to true if not provided",
      "Output": "{% $merge([$states.input, {'CleanupJobs': $exists($states.input.CleanupJobs) ? $states.input.CleanupJobs : false}]) %}",
      "Next": "EnsureClusterAvailable"
    },
    "EnsureClusterAvailable": {
      "Type": "Task",
      "Comment": "Ensure cluster is started and available before mysqldump",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "Name.$": "States.Format('{}-EnsureClusterAvailable-Dump', $.OrchestratorExecutionName)",
        "StateMachineArn.$": "$.StepFunctions.Database.EnsureClusterAvailable",
        "Input": {
          "DbClusterIdentifier.$": "$.DbClusterIdentifier",
          "OrchestratorExecutionName.$": "$.OrchestratorExecutionName",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.EnsureClusterResult",
      "Next": "GetClusterInfo",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.EnsureClusterError",
          "Next": "DumpFailed"
        }
      ]
    },
    "GetClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier"
      },
      "ResultSelector": {
        "Status.$": "$.DbClusters[0].Status",
        "Endpoint.$": "$.DbClusters[0].Endpoint",
        "MasterUserSecret.$": "$.DbClusters[0].MasterUserSecret"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "EnsureNodegroupCapacity",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "DumpFailed" }]
    },
    "EnsureNodegroupCapacity": {
      "Type": "Task",
      "Comment": "Ensure node group has sufficient capacity before running mysqldump",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.ScaleNodegroupAsg",
        "Input": {
          "ClusterName.$": "$.EKS.ClusterName",
          "NodeSelector.$": "$.EKS.NodeSelector",
          "Tolerations.$": "$.EKS.Tolerations",
          "MinimumCapacity.$": "$.EKS.Scaling.MinimumCapacity",
          "DesiredCapacity.$": "$.EKS.Scaling.TargetCapacity",
          "OrchestratorExecutionName.$": "$.OrchestratorExecutionName",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.EnsureNodegroupResult",
      "Next": "CheckAccessMode",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.EnsureNodegroupError",
          "Next": "CheckAccessMode"
        }
      ]
    },
    "CheckAccessMode": {
      "Type": "Choice",
      "Comment": "Route to GetEksClusterInfo for public mode, skip to InitPrivateDefaults for private mode",
      "Choices": [
        {
          "Variable": "$.EKS.AccessMode",
          "StringEquals": "public",
          "Next": "GetEksClusterInfo"
        }
      ],
      "Default": "InitPrivateDefaults"
    },
    "GetEksClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eks:describeCluster",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "Name.$": "$.EKS.ClusterName"
      },
      "ResultPath": "$.EksCluster",
      "Next": "GetDbSecretValue",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "DumpFailed" }]
    },
    "InitPrivateDefaults": {
      "Type": "Pass",
      "Comment": "Inject stub EksCluster data so Map ItemSelector paths resolve in private mode (values never used)",
      "Result": {
        "Cluster": {
          "Name": "unused",
          "CertificateAuthority": { "Data": "unused" },
          "Endpoint": "unused"
        }
      },
      "ResultPath": "$.EksCluster",
      "Next": "GetDbSecretValue"
    },
    "GetDbSecretValue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "SecretId.$": "$.ClusterInfo.MasterUserSecret.SecretArn"
      },
      "ResultPath": "$.DbSecret",
      "Next": "FormatSecretString",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "DumpFailed" }]
    },
    "FormatSecretString": {
      "Type": "Pass",
      "Parameters": {
        "SecretString.$": "States.StringToJson($.DbSecret.SecretString)"
      },
      "ResultPath": "$.DbSecret",
      "Next": "DumpTablesMap"
    },
    "DumpTablesMap": {
      "Type": "Map",
      "ItemsPath": "$.TablesToDump",
      "MaxConcurrency": 2,
      "ItemSelector": {
        "AccessMode.$": "$.EKS.AccessMode",
        "EksCluster.$": "$.EksCluster",
        "K8sProxyLambdaArn.$": "$.K8sProxyLambdaArn",
        "ClusterName.$": "$.EKS.ClusterName",
        "DestinationAccountRoleArn.$": "$.DestinationAccount.RoleArn",
        "Namespace.$": "$.EKS.Namespace",
        "EksNodeSelector.$": "$.EKS.NodeSelector",
        "EksTolerations.$": "$.EKS.Tolerations",
        "EfsPvcName.$": "$.EfsPvcName",
        "DumpSubPath.$": "$.DumpSubPath",
        "DbEndpoint.$": "$.ClusterInfo.Endpoint",
        "DbUsername.$": "$.DbSecret.SecretString.username",
        "DbPassword.$": "$.DbSecret.SecretString.password",
        "DatabaseName.$": "$$.Map.Item.Value.Database",
        "TableName.$": "$$.Map.Item.Value.Table",
        "JobIndex.$": "$$.Map.Item.Index",
        "OrchestratorExecutionName.$": "$.OrchestratorExecutionName",
        "CleanupJobs.$": "$.CleanupJobs"
      },
      "ItemProcessor": {
        "ProcessorConfig": { "Mode": "INLINE" },
        "StartAt": "CheckAccessModeForDump",
        "States": {
          "CheckAccessModeForDump": {
            "Type": "Choice",
            "Comment": "Route to public eks:runJob.sync or private lambda:invoke job lifecycle",
            "Choices": [
              {
                "Variable": "$.AccessMode",
                "StringEquals": "public",
                "Next": "RunEksJobForTable"
              }
            ],
            "Default": "CreateDumpJob"
          },
          "RunEksJobForTable": {
            "Type": "Task",
            "Resource": "arn:aws:states:::eks:runJob.sync",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "ClusterName.$": "$.EksCluster.Cluster.Name",
              "CertificateAuthority.$": "$.EksCluster.Cluster.CertificateAuthority.Data",
              "Endpoint.$": "$.EksCluster.Cluster.Endpoint",
              "Namespace.$": "$.Namespace",
              "Job": {
                "apiVersion": "batch/v1",
                "kind": "Job",
                "metadata": {
                  "name.$": "States.Format('mysqldump-{}-{}', $.OrchestratorExecutionName, $.JobIndex)"
                },
                "spec": {
                  "ttlSecondsAfterFinished": 86400,
                  "template": {
                    "spec": {
                      "serviceAccountName": "refresh",
                      "nodeSelector.$": "$.EksNodeSelector",
                      "tolerations.$": "$.EksTolerations",
                      "volumes": [{
                        "name": "shared-data",
                        "persistentVolumeClaim": { "claimName.$": "$.EfsPvcName" }
                      }],
                      "containers": [{
                        "name": "mysqldump",
                        "image": "kamorion/mysql-s3:mysql8",
                        "imagePullPolicy": "Always",
                        "command": ["/dump.sh"],
                        "volumeMounts": [{
                          "name": "shared-data",
                          "mountPath": "/refresh",
                          "subPath.$": "$.DumpSubPath"
                        }],
                        "env": [
                          { "name": "TZ", "value": "Europe/Paris" },
                          { "name": "MYSQL_HOST", "value.$": "$.DbEndpoint" },
                          { "name": "MYSQL_USER", "value.$": "$.DbUsername" },
                          { "name": "MYSQL_PASSWORD", "value.$": "$.DbPassword" },
                          { "name": "MYSQL_DATABASE", "value.$": "$.DatabaseName" },
                          { "name": "MYSQL_TABLE", "value.$": "$.TableName" },
                          { "name": "LOCAL_DIR", "value": "/refresh" }
                        ]
                      }],
                      "restartPolicy": "Never"
                    }
                  }
                }
              }
            },
            "End": true
          },
          "CreateDumpJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName.$": "$.K8sProxyLambdaArn",
              "Payload": {
                "Action": "createJob",
                "ClusterName.$": "$.ClusterName",
                "Namespace.$": "$.Namespace",
                "Job": {
                  "apiVersion": "batch/v1",
                  "kind": "Job",
                  "metadata": {
                    "name.$": "States.Format('mysqldump-{}-{}', $.OrchestratorExecutionName, $.JobIndex)"
                  },
                  "spec": {
                    "template": {
                      "spec": {
                        "serviceAccountName": "refresh",
                        "nodeSelector.$": "$.EksNodeSelector",
                        "tolerations.$": "$.EksTolerations",
                        "volumes": [{
                          "name": "shared-data",
                          "persistentVolumeClaim": { "claimName.$": "$.EfsPvcName" }
                        }],
                        "containers": [{
                          "name": "mysqldump",
                          "image": "kamorion/mysql-s3:mysql8",
                          "imagePullPolicy": "Always",
                          "command": ["/dump.sh"],
                          "volumeMounts": [{
                            "name": "shared-data",
                            "mountPath": "/refresh",
                            "subPath.$": "$.DumpSubPath"
                          }],
                          "env": [
                            { "name": "TZ", "value": "Europe/Paris" },
                            { "name": "MYSQL_HOST", "value.$": "$.DbEndpoint" },
                            { "name": "MYSQL_USER", "value.$": "$.DbUsername" },
                            { "name": "MYSQL_PASSWORD", "value.$": "$.DbPassword" },
                            { "name": "MYSQL_DATABASE", "value.$": "$.DatabaseName" },
                            { "name": "MYSQL_TABLE", "value.$": "$.TableName" },
                            { "name": "LOCAL_DIR", "value": "/refresh" }
                          ]
                        }],
                        "restartPolicy": "Never"
                      }
                    }
                  }
                }
              }
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "ResultSelector": {
              "JobName.$": "$.Payload.JobName",
              "Namespace.$": "$.Payload.Namespace",
              "ClusterName.$": "$.Payload.ClusterName"
            },
            "ResultPath": "$.JobInfo",
            "Next": "WaitForDumpJob",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.CreateJobError",
                "Next": "DumpJobFailed"
              }
            ]
          },
          "WaitForDumpJob": {
            "Type": "Wait",
            "Seconds": 15,
            "Next": "CheckDumpJobStatus"
          },
          "CheckDumpJobStatus": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName.$": "$.K8sProxyLambdaArn",
              "Payload": {
                "Action": "getJobStatus",
                "ClusterName.$": "$.JobInfo.ClusterName",
                "Namespace.$": "$.JobInfo.Namespace",
                "JobName.$": "$.JobInfo.JobName"
              }
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "ResultSelector": {
              "Status.$": "$.Payload.Status",
              "JobName.$": "$.Payload.JobName",
              "Message.$": "$.Payload.Message"
            },
            "ResultPath": "$.JobStatus",
            "Next": "DumpJobStatusChoice",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.CheckStatusError",
                "Next": "DeleteDumpJobOnError"
              }
            ]
          },
          "DumpJobStatusChoice": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.JobStatus.Status",
                "StringEquals": "Complete",
                "Next": "CheckCleanupJobsFlag"
              },
              {
                "Variable": "$.JobStatus.Status",
                "StringEquals": "Failed",
                "Next": "DeleteDumpJobOnError"
              }
            ],
            "Default": "WaitForDumpJob"
          },
          "CheckCleanupJobsFlag": {
            "Type": "Choice",
            "Comment": "Delete job after completion unless CleanupJobs is explicitly false (TTL 24h as safety net)",
            "Choices": [
              {
                "Variable": "$.CleanupJobs",
                "BooleanEquals": false,
                "Next": "DumpJobKept"
              }
            ],
            "Default": "DeleteDumpJob"
          },
          "DumpJobKept": {
            "Type": "Pass",
            "Comment": "Job kept for inspection (TTL will clean up after 24h)",
            "End": true
          },
          "DeleteDumpJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName.$": "$.K8sProxyLambdaArn",
              "Payload": {
                "Action": "deleteJob",
                "ClusterName.$": "$.JobInfo.ClusterName",
                "Namespace.$": "$.JobInfo.Namespace",
                "JobName.$": "$.JobInfo.JobName"
              }
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "ResultPath": null,
            "End": true
          },
          "DeleteDumpJobOnError": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName.$": "$.K8sProxyLambdaArn",
              "Payload": {
                "Action": "deleteJob",
                "ClusterName.$": "$.JobInfo.ClusterName",
                "Namespace.$": "$.JobInfo.Namespace",
                "JobName.$": "$.JobInfo.JobName"
              }
            },
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "ResultPath": null,
            "Next": "DumpJobFailed"
          },
          "DumpJobFailed": {
            "Type": "Fail",
            "Error": "DumpJobFailed",
            "Cause": "The mysqldump K8s job failed or could not be monitored."
          }
        }
      },
      "Next": "PrepareOutput",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "DumpFailed" }],
      "ResultPath": "$.MapResult"
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "run_mysqldump_on_eks",
        "PrimaryIdentifier.$": "$.EKS.ClusterName"
      },
      "Next": "DumpSucceeded"
    },
    "DumpFailed": {
      "Type": "Fail",
      "Error": "DumpFailed",
      "Cause": "The mysqldump EKS job process failed."
    },
    "DumpSucceeded": {
      "Type": "Succeed"
    }
  }
}
