modules/step-functions/db/run_mysqlimport_on_eks.asl.json
{
  "Comment": "Cross-account version: Runs a mysqlimport command in an EKS job, reading the data from EFS. Supports both public (eks:runJob.sync) and private (k8s-proxy Lambda) access modes.",
  "StartAt": "InitDefaults",
  "States": {
    "InitDefaults": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Comment": "Default CleanupJobs to true if not provided",
      "Output": "{% $merge([$states.input, {'CleanupJobs': $exists($states.input.CleanupJobs) ? $states.input.CleanupJobs : false}]) %}",
      "Next": "EnsureClusterAvailable"
    },
    "EnsureClusterAvailable": {
      "Type": "Task",
      "Comment": "Ensure cluster is started and available before mysqlimport",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "Name.$": "States.Format('{}-EnsureClusterAvailable-Import', $.OrchestratorExecutionName)",
        "StateMachineArn.$": "$.StepFunctions.Database.EnsureClusterAvailable",
        "Input": {
          "DbClusterIdentifier.$": "$.DbClusterIdentifier",
          "OrchestratorExecutionName.$": "$.OrchestratorExecutionName",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.EnsureClusterResult",
      "Next": "GetClusterInfo",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.EnsureClusterError",
          "Next": "ImportFailed"
        }
      ]
    },
    "GetClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier"
      },
      "ResultSelector": {
        "Status.$": "$.DbClusters[0].Status",
        "Endpoint.$": "$.DbClusters[0].Endpoint",
        "MasterUserSecret.$": "$.DbClusters[0].MasterUserSecret"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "EnsureNodegroupCapacity",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ImportFailed"
        }
      ]
    },
    "EnsureNodegroupCapacity": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Comment": "Ensure node group has sufficient capacity before running mysqlimport. Passes MinSize/MaxSize when present (needed for nodegroups with max=0).",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "{% $states.input.StepFunctions.EKS.ScaleNodegroupAsg %}",
        "Input": "{% $merge([{'ClusterName': $states.input.EKS.ClusterName, 'NodeSelector': $states.input.EKS.NodeSelector, 'Tolerations': $states.input.EKS.Tolerations, 'MinimumCapacity': $states.input.EKS.Scaling.MinimumCapacity, 'DesiredCapacity': $states.input.EKS.Scaling.TargetCapacity, 'OrchestratorExecutionName': $states.input.OrchestratorExecutionName, 'DestinationAccount': $states.input.DestinationAccount}, $exists($states.input.EKS.Scaling.NodegroupName) ? {'NodegroupName': $states.input.EKS.Scaling.NodegroupName} : {}, $exists($states.input.EKS.Scaling.MinSize) ? {'MinSize': $states.input.EKS.Scaling.MinSize} : {}, $exists($states.input.EKS.Scaling.MaxSize) ? {'MaxSize': $states.input.EKS.Scaling.MaxSize} : {}]) %}",
        "Name": "{% $states.input.OrchestratorExecutionName & '-EnsureNodegroupCapacity-Import' %}"
      },
      "Output": "{% $states.input %}",
      "Next": "CheckAccessMode",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Output": "{% $merge([$states.input, {'EnsureNodegroupError': $states.errorOutput}]) %}",
          "Next": "CheckAccessMode"
        }
      ]
    },
    "CheckAccessMode": {
      "Type": "Choice",
      "Comment": "Route to GetEksClusterInfo for public mode, skip to GetDbSecretValue for private mode",
      "Choices": [
        {
          "Variable": "$.EKS.AccessMode",
          "StringEquals": "public",
          "Next": "GetEksClusterInfo"
        }
      ],
      "Default": "GetDbSecretValue"
    },
    "GetEksClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eks:describeCluster",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "Name.$": "$.EKS.ClusterName"
      },
      "ResultPath": "$.EksCluster",
      "Next": "GetDbSecretValue",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ImportFailed"
        }
      ]
    },
    "GetDbSecretValue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "SecretId.$": "$.ClusterInfo.MasterUserSecret.SecretArn"
      },
      "ResultPath": "$.DbSecret",
      "Next": "FormatSecretString",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ImportFailed"
        }
      ]
    },
    "FormatSecretString": {
      "Type": "Pass",
      "Parameters": {
        "SecretString.$": "States.StringToJson($.DbSecret.SecretString)"
      },
      "ResultPath": "$.DbSecret",
      "Next": "CheckAccessModeForImport"
    },
    "CheckAccessModeForImport": {
      "Type": "Choice",
      "Comment": "Route to public eks:runJob.sync or private lambda:invoke job lifecycle",
      "Choices": [
        {
          "Variable": "$.EKS.AccessMode",
          "StringEquals": "public",
          "Next": "RunEksJobForImport"
        }
      ],
      "Default": "CreateImportJob"
    },
    "RunEksJobForImport": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:runJob.sync",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "ClusterName.$": "$.EksCluster.Cluster.Name",
        "CertificateAuthority.$": "$.EksCluster.Cluster.CertificateAuthority.Data",
        "Endpoint.$": "$.EksCluster.Cluster.Endpoint",
        "Namespace.$": "$.EKS.Namespace",
        "Job": {
          "apiVersion": "batch/v1",
          "kind": "Job",
          "metadata": {
            "name.$": "States.Format('mysqlimport-{}', $.OrchestratorExecutionName)"
          },
          "spec": {
            "ttlSecondsAfterFinished": 86400,
            "template": {
              "spec": {
                "serviceAccountName": "refresh",
                "nodeSelector.$": "$.EKS.NodeSelector",
                "tolerations.$": "$.EKS.Tolerations",
                "volumes": [
                  {
                    "name": "shared-data",
                    "persistentVolumeClaim": {
                      "claimName.$": "$.EfsPvcName"
                    }
                  }
                ],
                "containers": [
                  {
                    "name": "mysqlimport",
                    "image": "kamorion/mysql-s3:mysql8",
                    "imagePullPolicy": "Always",
                    "command": [
                      "/import.sh"
                    ],
                    "volumeMounts": [
                      {
                        "name": "shared-data",
                        "mountPath": "/refresh",
                        "subPath.$": "$.DumpSubPath"
                      }
                    ],
                    "env": [
                      {
                        "name": "TZ",
                        "value": "Europe/Paris"
                      },
                      {
                        "name": "MYSQL_HOST",
                        "value.$": "$.ClusterInfo.Endpoint"
                      },
                      {
                        "name": "MYSQL_USER",
                        "value.$": "$.DbSecret.SecretString.username"
                      },
                      {
                        "name": "MYSQL_PASSWORD",
                        "value.$": "$.DbSecret.SecretString.password"
                      },
                      {
                        "name": "MYSQL_DATABASE",
                        "value.$": "$.DatabaseName"
                      },
                      {
                        "name": "LOCAL_DIR",
                        "value": "/refresh"
                      },
                      {
                        "name": "S3_SYNC",
                        "value": "true"
                      },
                      {
                        "name": "S3_BUCKET",
                        "value.$": "$.RefreshBucket"
                      },
                      {
                        "name": "S3_PREFIX",
                        "value.$": "$.RefreshBucketPrefix"
                      }
                    ]
                  }
                ],
                "restartPolicy": "Never"
              }
            }
          }
        }
      },
      "ResultPath": null,
      "Next": "PrepareOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ImportFailed"
        }
      ]
    },
    "CreateImportJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "createJob",
                "EksRoleArn.$": "$.EKS.Account.RoleArn",
          "ClusterName.$": "$.EKS.ClusterName",
          "Namespace.$": "$.EKS.Namespace",
          "Job": {
            "apiVersion": "batch/v1",
            "kind": "Job",
            "metadata": {
              "name.$": "States.Format('mysqlimport-{}', $.OrchestratorExecutionName)"
            },
            "spec": {
              "template": {
                "spec": {
                  "serviceAccountName": "refresh",
                  "nodeSelector.$": "$.EKS.NodeSelector",
                  "tolerations.$": "$.EKS.Tolerations",
                  "volumes": [
                    {
                      "name": "shared-data",
                      "persistentVolumeClaim": {
                        "claimName.$": "$.EfsPvcName"
                      }
                    }
                  ],
                  "containers": [
                    {
                      "name": "mysqlimport",
                      "image": "kamorion/mysql-s3:mysql8",
                      "imagePullPolicy": "Always",
                      "command": [
                        "/import.sh"
                      ],
                      "volumeMounts": [
                        {
                          "name": "shared-data",
                          "mountPath": "/refresh",
                          "subPath.$": "$.DumpSubPath"
                        }
                      ],
                      "env": [
                        {
                          "name": "TZ",
                          "value": "Europe/Paris"
                        },
                        {
                          "name": "MYSQL_HOST",
                          "value.$": "$.ClusterInfo.Endpoint"
                        },
                        {
                          "name": "MYSQL_USER",
                          "value.$": "$.DbSecret.SecretString.username"
                        },
                        {
                          "name": "MYSQL_PASSWORD",
                          "value.$": "$.DbSecret.SecretString.password"
                        },
                        {
                          "name": "MYSQL_DATABASE",
                          "value.$": "$.DatabaseName"
                        },
                        {
                          "name": "LOCAL_DIR",
                          "value": "/refresh"
                        },
                        {
                          "name": "S3_SYNC",
                          "value": "true"
                        },
                        {
                          "name": "S3_BUCKET",
                          "value.$": "$.RefreshBucket"
                        },
                        {
                          "name": "S3_PREFIX",
                          "value.$": "$.RefreshBucketPrefix"
                        }
                      ]
                    }
                  ],
                  "restartPolicy": "Never"
                }
              }
            }
          }
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "RuntimeError"
          ],
          "Comment": "Retry K8s API errors (webhook timeout, node not ready, etc.)",
          "IntervalSeconds": 30,
          "MaxAttempts": 6,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultSelector": {
        "JobName.$": "$.Payload.JobName",
        "Namespace.$": "$.Payload.Namespace",
        "ClusterName.$": "$.Payload.ClusterName"
      },
      "ResultPath": "$.JobInfo",
      "Next": "WaitForImportJob",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.CreateJobError",
          "Next": "ImportFailed"
        }
      ]
    },
    "WaitForImportJob": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "CheckImportJobStatus"
    },
    "CheckImportJobStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "getJobStatus",
                "EksRoleArn.$": "$.EKS.Account.RoleArn",
          "ClusterName.$": "$.JobInfo.ClusterName",
          "Namespace.$": "$.JobInfo.Namespace",
          "JobName.$": "$.JobInfo.JobName"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultSelector": {
        "Status.$": "$.Payload.Status",
        "JobName.$": "$.Payload.JobName",
        "Message.$": "$.Payload.Message"
      },
      "ResultPath": "$.JobStatus",
      "Next": "ImportJobStatusChoice",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.CheckStatusError",
          "Next": "DeleteImportJobOnError"
        }
      ]
    },
    "ImportJobStatusChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.JobStatus.Status",
          "StringEquals": "Complete",
          "Next": "CheckSkipDeletion"
        },
        {
          "Variable": "$.JobStatus.Status",
          "StringEquals": "Failed",
          "Next": "DeleteImportJobOnError"
        }
      ],
      "Default": "WaitForImportJob"
    },
    "CheckSkipDeletion": {
      "Type": "Choice",
      "Comment": "Delete job after completion unless CleanupJobs is explicitly false (TTL 24h as safety net)",
      "Choices": [
        {
          "Variable": "$.CleanupJobs",
          "BooleanEquals": false,
          "Next": "PrepareOutput"
        }
      ],
      "Default": "DeleteImportJob"
    },
    "DeleteImportJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.K8sProxyLambdaArn",
        "Payload": {
          "Action": "deleteJob",
                "EksRoleArn.$": "$.EKS.Account.RoleArn",
          "ClusterName.$": "$.JobInfo.ClusterName",
          "Namespace.$": "$.JobInfo.Namespace",
          "JobName.$": "$.JobInfo.JobName"
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": null,
      "Next": "PrepareOutput"
    },
    "DeleteImportJobOnError": {
      "Type": "Pass",
      "Comment": "Job kept on error for log inspection (TTL 24h as safety net)",
      "Next": "ImportJobFailed"
    },
    "ImportJobFailed": {
      "Type": "Fail",
      "Error": "ImportJobFailed",
      "Cause": "The mysqlimport K8s job failed or could not be monitored."
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "run_mysqlimport_on_eks",
        "PrimaryIdentifier.$": "$.EKS.ClusterName"
      },
      "Next": "ImportSucceeded"
    },
    "ImportFailed": {
      "Type": "Fail",
      "Error": "ImportFailed",
      "Cause": "The mysqlimport EKS job process failed."
    },
    "ImportSucceeded": {
      "Type": "Succeed"
    }
  }
}
